// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;

$mypage-address-small-name: 'mypage-address-small';
$mypage-address-small-x: 236px;
$mypage-address-small-y: 34px;
$mypage-address-small-offset-x: -236px;
$mypage-address-small-offset-y: -34px;
$mypage-address-small-width: 24px;
$mypage-address-small-height: 24px;
$mypage-address-small-total-width: 266px;
$mypage-address-small-total-height: 260px;
$mypage-address-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-address-small: (236px, 34px, -236px, -34px, 24px, 24px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'address-small', );
$mypage-answer-name: 'mypage-answer';
$mypage-answer-x: 88px;
$mypage-answer-y: 158px;
$mypage-answer-offset-x: -88px;
$mypage-answer-offset-y: -158px;
$mypage-answer-width: 16px;
$mypage-answer-height: 16px;
$mypage-answer-total-width: 266px;
$mypage-answer-total-height: 260px;
$mypage-answer-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-answer: (88px, 158px, -88px, -158px, 16px, 16px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'answer', );
$mypage-arrow-right-step-name: 'mypage-arrow-right-step';
$mypage-arrow-right-step-x: 252px;
$mypage-arrow-right-step-y: 212px;
$mypage-arrow-right-step-offset-x: -252px;
$mypage-arrow-right-step-offset-y: -212px;
$mypage-arrow-right-step-width: 8px;
$mypage-arrow-right-step-height: 20px;
$mypage-arrow-right-step-total-width: 266px;
$mypage-arrow-right-step-total-height: 260px;
$mypage-arrow-right-step-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-arrow-right-step: (252px, 212px, -252px, -212px, 8px, 20px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'arrow-right-step', );
$mypage-badge-small-name: 'mypage-badge-small';
$mypage-badge-small-x: 236px;
$mypage-badge-small-y: 62px;
$mypage-badge-small-offset-x: -236px;
$mypage-badge-small-offset-y: -62px;
$mypage-badge-small-width: 24px;
$mypage-badge-small-height: 24px;
$mypage-badge-small-total-width: 266px;
$mypage-badge-small-total-height: 260px;
$mypage-badge-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-badge-small: (236px, 62px, -236px, -62px, 24px, 24px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'badge-small', );
$mypage-badge-white-name: 'mypage-badge-white';
$mypage-badge-white-x: 158px;
$mypage-badge-white-y: 120px;
$mypage-badge-white-offset-x: -158px;
$mypage-badge-white-offset-y: -120px;
$mypage-badge-white-width: 30px;
$mypage-badge-white-height: 30px;
$mypage-badge-white-total-width: 266px;
$mypage-badge-white-total-height: 260px;
$mypage-badge-white-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-badge-white: (158px, 120px, -158px, -120px, 30px, 30px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'badge-white', );
$mypage-badgebook-small-name: 'mypage-badgebook-small';
$mypage-badgebook-small-x: 236px;
$mypage-badgebook-small-y: 90px;
$mypage-badgebook-small-offset-x: -236px;
$mypage-badgebook-small-offset-y: -90px;
$mypage-badgebook-small-width: 24px;
$mypage-badgebook-small-height: 24px;
$mypage-badgebook-small-total-width: 266px;
$mypage-badgebook-small-total-height: 260px;
$mypage-badgebook-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-badgebook-small: (236px, 90px, -236px, -90px, 24px, 24px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'badgebook-small', );
$mypage-benefit-small-name: 'mypage-benefit-small';
$mypage-benefit-small-x: 236px;
$mypage-benefit-small-y: 118px;
$mypage-benefit-small-offset-x: -236px;
$mypage-benefit-small-offset-y: -118px;
$mypage-benefit-small-width: 24px;
$mypage-benefit-small-height: 24px;
$mypage-benefit-small-total-width: 266px;
$mypage-benefit-small-total-height: 260px;
$mypage-benefit-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-benefit-small: (236px, 118px, -236px, -118px, 24px, 24px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'benefit-small', );
$mypage-birth-small-name: 'mypage-birth-small';
$mypage-birth-small-x: 236px;
$mypage-birth-small-y: 146px;
$mypage-birth-small-offset-x: -236px;
$mypage-birth-small-offset-y: -146px;
$mypage-birth-small-width: 24px;
$mypage-birth-small-height: 24px;
$mypage-birth-small-total-width: 266px;
$mypage-birth-small-total-height: 260px;
$mypage-birth-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-birth-small: (236px, 146px, -236px, -146px, 24px, 24px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'birth-small', );
$mypage-birth-white-name: 'mypage-birth-white';
$mypage-birth-white-x: 118px;
$mypage-birth-white-y: 84px;
$mypage-birth-white-offset-x: -118px;
$mypage-birth-white-offset-y: -84px;
$mypage-birth-white-width: 30px;
$mypage-birth-white-height: 30px;
$mypage-birth-white-total-width: 266px;
$mypage-birth-white-total-height: 260px;
$mypage-birth-white-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-birth-white: (118px, 84px, -118px, -84px, 30px, 30px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'birth-white', );
$mypage-cart-name: 'mypage-cart';
$mypage-cart-x: 202px;
$mypage-cart-y: 0px;
$mypage-cart-offset-x: -202px;
$mypage-cart-offset-y: 0px;
$mypage-cart-width: 30px;
$mypage-cart-height: 30px;
$mypage-cart-total-width: 266px;
$mypage-cart-total-height: 260px;
$mypage-cart-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-cart: (202px, 0px, -202px, 0px, 30px, 30px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'cart', );
$mypage-claim-small-name: 'mypage-claim-small';
$mypage-claim-small-x: 236px;
$mypage-claim-small-y: 174px;
$mypage-claim-small-offset-x: -236px;
$mypage-claim-small-offset-y: -174px;
$mypage-claim-small-width: 24px;
$mypage-claim-small-height: 24px;
$mypage-claim-small-total-width: 266px;
$mypage-claim-small-total-height: 260px;
$mypage-claim-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-claim-small: (236px, 174px, -236px, -174px, 24px, 24px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'claim-small', );
$mypage-claim-white-name: 'mypage-claim-white';
$mypage-claim-white-x: 202px;
$mypage-claim-white-y: 34px;
$mypage-claim-white-offset-x: -202px;
$mypage-claim-white-offset-y: -34px;
$mypage-claim-white-width: 30px;
$mypage-claim-white-height: 30px;
$mypage-claim-white-total-width: 266px;
$mypage-claim-white-total-height: 260px;
$mypage-claim-white-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-claim-white: (202px, 34px, -202px, -34px, 30px, 30px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'claim-white', );
$mypage-coin-small-name: 'mypage-coin-small';
$mypage-coin-small-x: 74px;
$mypage-coin-small-y: 128px;
$mypage-coin-small-offset-x: -74px;
$mypage-coin-small-offset-y: -128px;
$mypage-coin-small-width: 24px;
$mypage-coin-small-height: 24px;
$mypage-coin-small-total-width: 266px;
$mypage-coin-small-total-height: 260px;
$mypage-coin-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-coin-small: (74px, 128px, -74px, -128px, 24px, 24px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'coin-small', );
$mypage-coin-white-name: 'mypage-coin-white';
$mypage-coin-white-x: 202px;
$mypage-coin-white-y: 68px;
$mypage-coin-white-offset-x: -202px;
$mypage-coin-white-offset-y: -68px;
$mypage-coin-white-width: 30px;
$mypage-coin-white-height: 30px;
$mypage-coin-white-total-width: 266px;
$mypage-coin-white-total-height: 260px;
$mypage-coin-white-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-coin-white: (202px, 68px, -202px, -68px, 30px, 30px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'coin-white', );
$mypage-coupon-large-name: 'mypage-coupon-large';
$mypage-coupon-large-x: 158px;
$mypage-coupon-large-y: 44px;
$mypage-coupon-large-offset-x: -158px;
$mypage-coupon-large-offset-y: -44px;
$mypage-coupon-large-width: 34px;
$mypage-coupon-large-height: 34px;
$mypage-coupon-large-total-width: 266px;
$mypage-coupon-large-total-height: 260px;
$mypage-coupon-large-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-coupon-large: (158px, 44px, -158px, -44px, 34px, 34px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'coupon-large', );
$mypage-coupon-small-name: 'mypage-coupon-small';
$mypage-coupon-small-x: 102px;
$mypage-coupon-small-y: 128px;
$mypage-coupon-small-offset-x: -102px;
$mypage-coupon-small-offset-y: -128px;
$mypage-coupon-small-width: 24px;
$mypage-coupon-small-height: 24px;
$mypage-coupon-small-total-width: 266px;
$mypage-coupon-small-total-height: 260px;
$mypage-coupon-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-coupon-small: (102px, 128px, -102px, -128px, 24px, 24px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'coupon-small', );
$mypage-coupon-white-name: 'mypage-coupon-white';
$mypage-coupon-white-x: 202px;
$mypage-coupon-white-y: 102px;
$mypage-coupon-white-offset-x: -202px;
$mypage-coupon-white-offset-y: -102px;
$mypage-coupon-white-width: 30px;
$mypage-coupon-white-height: 30px;
$mypage-coupon-white-total-width: 266px;
$mypage-coupon-white-total-height: 260px;
$mypage-coupon-white-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-coupon-white: (202px, 102px, -202px, -102px, 30px, 30px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'coupon-white', );
$mypage-delivery-small-name: 'mypage-delivery-small';
$mypage-delivery-small-x: 130px;
$mypage-delivery-small-y: 128px;
$mypage-delivery-small-offset-x: -130px;
$mypage-delivery-small-offset-y: -128px;
$mypage-delivery-small-width: 24px;
$mypage-delivery-small-height: 24px;
$mypage-delivery-small-total-width: 266px;
$mypage-delivery-small-total-height: 260px;
$mypage-delivery-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-delivery-small: (130px, 128px, -130px, -128px, 24px, 24px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'delivery-small', );
$mypage-gift-white-name: 'mypage-gift-white';
$mypage-gift-white-x: 202px;
$mypage-gift-white-y: 136px;
$mypage-gift-white-offset-x: -202px;
$mypage-gift-white-offset-y: -136px;
$mypage-gift-white-width: 30px;
$mypage-gift-white-height: 30px;
$mypage-gift-white-total-width: 266px;
$mypage-gift-white-total-height: 260px;
$mypage-gift-white-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-gift-white: (202px, 136px, -202px, -136px, 30px, 30px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'gift-white', );
$mypage-infomation-small-name: 'mypage-infomation-small';
$mypage-infomation-small-x: 204px;
$mypage-infomation-small-y: 178px;
$mypage-infomation-small-offset-x: -204px;
$mypage-infomation-small-offset-y: -178px;
$mypage-infomation-small-width: 24px;
$mypage-infomation-small-height: 24px;
$mypage-infomation-small-total-width: 266px;
$mypage-infomation-small-total-height: 260px;
$mypage-infomation-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-infomation-small: (204px, 178px, -204px, -178px, 24px, 24px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'infomation-small', );
$mypage-lfmembers-name: 'mypage-lfmembers';
$mypage-lfmembers-x: 0px;
$mypage-lfmembers-y: 158px;
$mypage-lfmembers-offset-x: 0px;
$mypage-lfmembers-offset-y: -158px;
$mypage-lfmembers-width: 84px;
$mypage-lfmembers-height: 16px;
$mypage-lfmembers-total-width: 266px;
$mypage-lfmembers-total-height: 260px;
$mypage-lfmembers-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-lfmembers: (0px, 158px, 0px, -158px, 84px, 16px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'lfmembers', );
$mypage-listsearch-small-name: 'mypage-listsearch-small';
$mypage-listsearch-small-x: 0px;
$mypage-listsearch-small-y: 212px;
$mypage-listsearch-small-offset-x: 0px;
$mypage-listsearch-small-offset-y: -212px;
$mypage-listsearch-small-width: 24px;
$mypage-listsearch-small-height: 24px;
$mypage-listsearch-small-total-width: 266px;
$mypage-listsearch-small-total-height: 260px;
$mypage-listsearch-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-listsearch-small: (0px, 212px, 0px, -212px, 24px, 24px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'listsearch-small', );
$mypage-lock-name: 'mypage-lock';
$mypage-lock-x: 108px;
$mypage-lock-y: 158px;
$mypage-lock-offset-x: -108px;
$mypage-lock-offset-y: -158px;
$mypage-lock-width: 16px;
$mypage-lock-height: 16px;
$mypage-lock-total-width: 266px;
$mypage-lock-total-height: 260px;
$mypage-lock-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-lock: (108px, 158px, -108px, -158px, 16px, 16px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'lock', );
$mypage-mileage-large-name: 'mypage-mileage-large';
$mypage-mileage-large-x: 158px;
$mypage-mileage-large-y: 82px;
$mypage-mileage-large-offset-x: -158px;
$mypage-mileage-large-offset-y: -82px;
$mypage-mileage-large-width: 34px;
$mypage-mileage-large-height: 34px;
$mypage-mileage-large-total-width: 266px;
$mypage-mileage-large-total-height: 260px;
$mypage-mileage-large-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-mileage-large: (158px, 82px, -158px, -82px, 34px, 34px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'mileage-large', );
$mypage-mileage-small-name: 'mypage-mileage-small';
$mypage-mileage-small-x: 28px;
$mypage-mileage-small-y: 212px;
$mypage-mileage-small-offset-x: -28px;
$mypage-mileage-small-offset-y: -212px;
$mypage-mileage-small-width: 24px;
$mypage-mileage-small-height: 24px;
$mypage-mileage-small-total-width: 266px;
$mypage-mileage-small-total-height: 260px;
$mypage-mileage-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-mileage-small: (28px, 212px, -28px, -212px, 24px, 24px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'mileage-small', );
$mypage-mileage-x-small-name: 'mypage-mileage-x-small';
$mypage-mileage-x-small-x: 24px;
$mypage-mileage-x-small-y: 240px;
$mypage-mileage-x-small-offset-x: -24px;
$mypage-mileage-x-small-offset-y: -240px;
$mypage-mileage-x-small-width: 20px;
$mypage-mileage-x-small-height: 20px;
$mypage-mileage-x-small-total-width: 266px;
$mypage-mileage-x-small-total-height: 260px;
$mypage-mileage-x-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-mileage-x-small: (24px, 240px, -24px, -240px, 20px, 20px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'mileage-x-small', );
$mypage-mileage-x-small-white-name: 'mypage-mileage-x-small-white';
$mypage-mileage-x-small-white-x: 0px;
$mypage-mileage-x-small-white-y: 240px;
$mypage-mileage-x-small-white-offset-x: 0px;
$mypage-mileage-x-small-white-offset-y: -240px;
$mypage-mileage-x-small-white-width: 20px;
$mypage-mileage-x-small-white-height: 20px;
$mypage-mileage-x-small-white-total-width: 266px;
$mypage-mileage-x-small-white-total-height: 260px;
$mypage-mileage-x-small-white-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-mileage-x-small-white: (0px, 240px, 0px, -240px, 20px, 20px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'mileage-x-small-white', );
$mypage-myinfo-small-name: 'mypage-myinfo-small';
$mypage-myinfo-small-x: 56px;
$mypage-myinfo-small-y: 212px;
$mypage-myinfo-small-offset-x: -56px;
$mypage-myinfo-small-offset-y: -212px;
$mypage-myinfo-small-width: 24px;
$mypage-myinfo-small-height: 24px;
$mypage-myinfo-small-total-width: 266px;
$mypage-myinfo-small-total-height: 260px;
$mypage-myinfo-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-myinfo-small: (56px, 212px, -56px, -212px, 24px, 24px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'myinfo-small', );
$mypage-no-mileage-name: 'mypage-no-mileage';
$mypage-no-mileage-x: 0px;
$mypage-no-mileage-y: 0px;
$mypage-no-mileage-offset-x: 0px;
$mypage-no-mileage-offset-y: 0px;
$mypage-no-mileage-width: 80px;
$mypage-no-mileage-height: 80px;
$mypage-no-mileage-total-width: 266px;
$mypage-no-mileage-total-height: 260px;
$mypage-no-mileage-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-no-mileage: (0px, 0px, 0px, 0px, 80px, 80px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'no-mileage', );
$mypage-plus-name: 'mypage-plus';
$mypage-plus-x: 128px;
$mypage-plus-y: 158px;
$mypage-plus-offset-x: -128px;
$mypage-plus-offset-y: -158px;
$mypage-plus-width: 14px;
$mypage-plus-height: 14px;
$mypage-plus-total-width: 266px;
$mypage-plus-total-height: 260px;
$mypage-plus-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-plus: (128px, 158px, -128px, -158px, 14px, 14px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'plus', );
$mypage-plus-round-name: 'mypage-plus-round';
$mypage-plus-round-x: 146px;
$mypage-plus-round-y: 158px;
$mypage-plus-round-offset-x: -146px;
$mypage-plus-round-offset-y: -158px;
$mypage-plus-round-width: 12px;
$mypage-plus-round-height: 12px;
$mypage-plus-round-total-width: 266px;
$mypage-plus-round-total-height: 260px;
$mypage-plus-round-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-plus-round: (146px, 158px, -146px, -158px, 12px, 12px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'plus-round', );
$mypage-push-name: 'mypage-push';
$mypage-push-x: 0px;
$mypage-push-y: 178px;
$mypage-push-offset-x: 0px;
$mypage-push-offset-y: -178px;
$mypage-push-width: 30px;
$mypage-push-height: 30px;
$mypage-push-total-width: 266px;
$mypage-push-total-height: 260px;
$mypage-push-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-push: (0px, 178px, 0px, -178px, 30px, 30px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'push', );
$mypage-push-small-name: 'mypage-push-small';
$mypage-push-small-x: 84px;
$mypage-push-small-y: 212px;
$mypage-push-small-offset-x: -84px;
$mypage-push-small-offset-y: -212px;
$mypage-push-small-width: 24px;
$mypage-push-small-height: 24px;
$mypage-push-small-total-width: 266px;
$mypage-push-small-total-height: 260px;
$mypage-push-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-push-small: (84px, 212px, -84px, -212px, 24px, 24px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'push-small', );
$mypage-qna-name: 'mypage-qna';
$mypage-qna-x: 34px;
$mypage-qna-y: 178px;
$mypage-qna-offset-x: -34px;
$mypage-qna-offset-y: -178px;
$mypage-qna-width: 30px;
$mypage-qna-height: 30px;
$mypage-qna-total-width: 266px;
$mypage-qna-total-height: 260px;
$mypage-qna-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-qna: (34px, 178px, -34px, -178px, 30px, 30px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'qna', );
$mypage-qna-small-name: 'mypage-qna-small';
$mypage-qna-small-x: 112px;
$mypage-qna-small-y: 212px;
$mypage-qna-small-offset-x: -112px;
$mypage-qna-small-offset-y: -212px;
$mypage-qna-small-width: 24px;
$mypage-qna-small-height: 24px;
$mypage-qna-small-total-width: 266px;
$mypage-qna-small-total-height: 260px;
$mypage-qna-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-qna-small: (112px, 212px, -112px, -212px, 24px, 24px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'qna-small', );
$mypage-recent-name: 'mypage-recent';
$mypage-recent-x: 68px;
$mypage-recent-y: 178px;
$mypage-recent-offset-x: -68px;
$mypage-recent-offset-y: -178px;
$mypage-recent-width: 30px;
$mypage-recent-height: 30px;
$mypage-recent-total-width: 266px;
$mypage-recent-total-height: 260px;
$mypage-recent-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-recent: (68px, 178px, -68px, -178px, 30px, 30px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'recent', );
$mypage-recent-small-name: 'mypage-recent-small';
$mypage-recent-small-x: 140px;
$mypage-recent-small-y: 212px;
$mypage-recent-small-offset-x: -140px;
$mypage-recent-small-offset-y: -212px;
$mypage-recent-small-width: 24px;
$mypage-recent-small-height: 24px;
$mypage-recent-small-total-width: 266px;
$mypage-recent-small-total-height: 260px;
$mypage-recent-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-recent-small: (140px, 212px, -140px, -212px, 24px, 24px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'recent-small', );
$mypage-recent-x-large-name: 'mypage-recent-x-large';
$mypage-recent-x-large-x: 84px;
$mypage-recent-x-large-y: 0px;
$mypage-recent-x-large-offset-x: -84px;
$mypage-recent-x-large-offset-y: 0px;
$mypage-recent-x-large-width: 70px;
$mypage-recent-x-large-height: 70px;
$mypage-recent-x-large-total-width: 266px;
$mypage-recent-x-large-total-height: 260px;
$mypage-recent-x-large-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-recent-x-large: (84px, 0px, -84px, 0px, 70px, 70px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'recent-x-large', );
$mypage-repair-small-name: 'mypage-repair-small';
$mypage-repair-small-x: 168px;
$mypage-repair-small-y: 212px;
$mypage-repair-small-offset-x: -168px;
$mypage-repair-small-offset-y: -212px;
$mypage-repair-small-width: 24px;
$mypage-repair-small-height: 24px;
$mypage-repair-small-total-width: 266px;
$mypage-repair-small-total-height: 260px;
$mypage-repair-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-repair-small: (168px, 212px, -168px, -212px, 24px, 24px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'repair-small', );
$mypage-repair-white-name: 'mypage-repair-white';
$mypage-repair-white-x: 102px;
$mypage-repair-white-y: 178px;
$mypage-repair-white-offset-x: -102px;
$mypage-repair-white-offset-y: -178px;
$mypage-repair-white-width: 30px;
$mypage-repair-white-height: 30px;
$mypage-repair-white-total-width: 266px;
$mypage-repair-white-total-height: 260px;
$mypage-repair-white-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-repair-white: (102px, 178px, -102px, -178px, 30px, 30px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'repair-white', );
$mypage-review-name: 'mypage-review';
$mypage-review-x: 136px;
$mypage-review-y: 178px;
$mypage-review-offset-x: -136px;
$mypage-review-offset-y: -178px;
$mypage-review-width: 30px;
$mypage-review-height: 30px;
$mypage-review-total-width: 266px;
$mypage-review-total-height: 260px;
$mypage-review-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-review: (136px, 178px, -136px, -178px, 30px, 30px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'review', );
$mypage-review-small-name: 'mypage-review-small';
$mypage-review-small-x: 196px;
$mypage-review-small-y: 212px;
$mypage-review-small-offset-x: -196px;
$mypage-review-small-offset-y: -212px;
$mypage-review-small-width: 24px;
$mypage-review-small-height: 24px;
$mypage-review-small-total-width: 266px;
$mypage-review-small-total-height: 260px;
$mypage-review-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-review-small: (196px, 212px, -196px, -212px, 24px, 24px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'review-small', );
$mypage-review-star-name: 'mypage-review-star';
$mypage-review-star-x: 158px;
$mypage-review-star-y: 0px;
$mypage-review-star-offset-x: -158px;
$mypage-review-star-offset-y: 0px;
$mypage-review-star-width: 40px;
$mypage-review-star-height: 40px;
$mypage-review-star-total-width: 266px;
$mypage-review-star-total-height: 260px;
$mypage-review-star-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-review-star: (158px, 0px, -158px, 0px, 40px, 40px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'review-star', );
$mypage-review-star-active-name: 'mypage-review-star-active';
$mypage-review-star-active-x: 74px;
$mypage-review-star-active-y: 84px;
$mypage-review-star-active-offset-x: -74px;
$mypage-review-star-active-offset-y: -84px;
$mypage-review-star-active-width: 40px;
$mypage-review-star-active-height: 40px;
$mypage-review-star-active-total-width: 266px;
$mypage-review-star-active-total-height: 260px;
$mypage-review-star-active-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-review-star-active: (74px, 84px, -74px, -84px, 40px, 40px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'review-star-active', );
$mypage-super-coupon-white-name: 'mypage-super-coupon-white';
$mypage-super-coupon-white-x: 170px;
$mypage-super-coupon-white-y: 178px;
$mypage-super-coupon-white-offset-x: -170px;
$mypage-super-coupon-white-offset-y: -178px;
$mypage-super-coupon-white-width: 30px;
$mypage-super-coupon-white-height: 30px;
$mypage-super-coupon-white-total-width: 266px;
$mypage-super-coupon-white-total-height: 260px;
$mypage-super-coupon-white-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-super-coupon-white: (170px, 178px, -170px, -178px, 30px, 30px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'super-coupon-white', );
$mypage-wish-name: 'mypage-wish';
$mypage-wish-x: 236px;
$mypage-wish-y: 0px;
$mypage-wish-offset-x: -236px;
$mypage-wish-offset-y: 0px;
$mypage-wish-width: 30px;
$mypage-wish-height: 30px;
$mypage-wish-total-width: 266px;
$mypage-wish-total-height: 260px;
$mypage-wish-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-wish: (236px, 0px, -236px, 0px, 30px, 30px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'wish', );
$mypage-wish-small-name: 'mypage-wish-small';
$mypage-wish-small-x: 224px;
$mypage-wish-small-y: 212px;
$mypage-wish-small-offset-x: -224px;
$mypage-wish-small-offset-y: -212px;
$mypage-wish-small-width: 24px;
$mypage-wish-small-height: 24px;
$mypage-wish-small-total-width: 266px;
$mypage-wish-small-total-height: 260px;
$mypage-wish-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-wish-small: (224px, 212px, -224px, -212px, 24px, 24px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'wish-small', );
$mypage-wish-x-large-name: 'mypage-wish-x-large';
$mypage-wish-x-large-x: 0px;
$mypage-wish-x-large-y: 84px;
$mypage-wish-x-large-offset-x: 0px;
$mypage-wish-x-large-offset-y: -84px;
$mypage-wish-x-large-width: 70px;
$mypage-wish-x-large-height: 70px;
$mypage-wish-x-large-total-width: 266px;
$mypage-wish-x-large-total-height: 260px;
$mypage-wish-x-large-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-wish-x-large: (0px, 84px, 0px, -84px, 70px, 70px, 266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', 'wish-x-large', );
$sprite-mypage-width: 266px;
$sprite-mypage-height: 260px;
$sprite-mypage-image: '/cmsstatic/asset/images/sprite-mypage.png';
$sprite-mypage-sprites: ($mypage-address-small, $mypage-answer, $mypage-arrow-right-step, $mypage-badge-small, $mypage-badge-white, $mypage-badgebook-small, $mypage-benefit-small, $mypage-birth-small, $mypage-birth-white, $mypage-cart, $mypage-claim-small, $mypage-claim-white, $mypage-coin-small, $mypage-coin-white, $mypage-coupon-large, $mypage-coupon-small, $mypage-coupon-white, $mypage-delivery-small, $mypage-gift-white, $mypage-infomation-small, $mypage-lfmembers, $mypage-listsearch-small, $mypage-lock, $mypage-mileage-large, $mypage-mileage-small, $mypage-mileage-x-small, $mypage-mileage-x-small-white, $mypage-myinfo-small, $mypage-no-mileage, $mypage-plus, $mypage-plus-round, $mypage-push, $mypage-push-small, $mypage-qna, $mypage-qna-small, $mypage-recent, $mypage-recent-small, $mypage-recent-x-large, $mypage-repair-small, $mypage-repair-white, $mypage-review, $mypage-review-small, $mypage-review-star, $mypage-review-star-active, $mypage-super-coupon-white, $mypage-wish, $mypage-wish-small, $mypage-wish-x-large, );
$sprite-mypage: (266px, 260px, '/cmsstatic/asset/images/sprite-mypage.png', $sprite-mypage-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite-size($sprite) {
  $sprite-width: nth($sprite, 7);
  $sprite-height: nth($sprite, 8);
  background-size: $sprite-width $sprite-height;
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  @include sprite-size($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  .sprite-mypage {
    background-image: url('/cmsstatic/asset/images/sprite-mypage.png');
    background-size: 266px 260px;
  }
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .sprite-mypage-#{$sprite-name} {
      @include sprite-position($sprite);
      @include sprite-width($sprite);
      @include sprite-height($sprite);
    }
  }
}
