// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;

$common-answer-name: 'common-answer';
$common-answer-x: 331px;
$common-answer-y: 184px;
$common-answer-offset-x: -331px;
$common-answer-offset-y: -184px;
$common-answer-width: 16px;
$common-answer-height: 16px;
$common-answer-total-width: 351px;
$common-answer-total-height: 346px;
$common-answer-image: '/cmsstatic/asset/images/sprite-common.png';
$common-answer: (331px, 184px, -331px, -184px, 16px, 16px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'answer', );
$common-arrow-down-accordion-name: 'common-arrow-down-accordion';
$common-arrow-down-accordion-x: 32px;
$common-arrow-down-accordion-y: 318px;
$common-arrow-down-accordion-offset-x: -32px;
$common-arrow-down-accordion-offset-y: -318px;
$common-arrow-down-accordion-width: 10px;
$common-arrow-down-accordion-height: 10px;
$common-arrow-down-accordion-total-width: 351px;
$common-arrow-down-accordion-total-height: 346px;
$common-arrow-down-accordion-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-down-accordion: (32px, 318px, -32px, -318px, 10px, 10px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-down-accordion', );
$common-arrow-down-accordion-large-name: 'common-arrow-down-accordion-large';
$common-arrow-down-accordion-large-x: 297px;
$common-arrow-down-accordion-large-y: 193px;
$common-arrow-down-accordion-large-offset-x: -297px;
$common-arrow-down-accordion-large-offset-y: -193px;
$common-arrow-down-accordion-large-width: 20px;
$common-arrow-down-accordion-large-height: 20px;
$common-arrow-down-accordion-large-total-width: 351px;
$common-arrow-down-accordion-large-total-height: 346px;
$common-arrow-down-accordion-large-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-down-accordion-large: (297px, 193px, -297px, -193px, 20px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-down-accordion-large', );
$common-arrow-down-dropdown-name: 'common-arrow-down-dropdown';
$common-arrow-down-dropdown-x: 46px;
$common-arrow-down-dropdown-y: 318px;
$common-arrow-down-dropdown-offset-x: -46px;
$common-arrow-down-dropdown-offset-y: -318px;
$common-arrow-down-dropdown-width: 10px;
$common-arrow-down-dropdown-height: 10px;
$common-arrow-down-dropdown-total-width: 351px;
$common-arrow-down-dropdown-total-height: 346px;
$common-arrow-down-dropdown-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-down-dropdown: (46px, 318px, -46px, -318px, 10px, 10px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-down-dropdown', );
$common-arrow-down-dropdown-small-name: 'common-arrow-down-dropdown-small';
$common-arrow-down-dropdown-small-x: 212px;
$common-arrow-down-dropdown-small-y: 74px;
$common-arrow-down-dropdown-small-offset-x: -212px;
$common-arrow-down-dropdown-small-offset-y: -74px;
$common-arrow-down-dropdown-small-width: 10px;
$common-arrow-down-dropdown-small-height: 6px;
$common-arrow-down-dropdown-small-total-width: 351px;
$common-arrow-down-dropdown-small-total-height: 346px;
$common-arrow-down-dropdown-small-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-down-dropdown-small: (212px, 74px, -212px, -74px, 10px, 6px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-down-dropdown-small', );
$common-arrow-down-selectbox-name: 'common-arrow-down-selectbox';
$common-arrow-down-selectbox-x: 60px;
$common-arrow-down-selectbox-y: 318px;
$common-arrow-down-selectbox-offset-x: -60px;
$common-arrow-down-selectbox-offset-y: -318px;
$common-arrow-down-selectbox-width: 10px;
$common-arrow-down-selectbox-height: 10px;
$common-arrow-down-selectbox-total-width: 351px;
$common-arrow-down-selectbox-total-height: 346px;
$common-arrow-down-selectbox-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-down-selectbox: (60px, 318px, -60px, -318px, 10px, 10px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-down-selectbox', );
$common-arrow-left-nav-back-name: 'common-arrow-left-nav-back';
$common-arrow-left-nav-back-x: 297px;
$common-arrow-left-nav-back-y: 217px;
$common-arrow-left-nav-back-offset-x: -297px;
$common-arrow-left-nav-back-offset-y: -217px;
$common-arrow-left-nav-back-width: 20px;
$common-arrow-left-nav-back-height: 20px;
$common-arrow-left-nav-back-total-width: 351px;
$common-arrow-left-nav-back-total-height: 346px;
$common-arrow-left-nav-back-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-left-nav-back: (297px, 217px, -297px, -217px, 20px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-left-nav-back', );
$common-arrow-left-round-name: 'common-arrow-left-round';
$common-arrow-left-round-x: 331px;
$common-arrow-left-round-y: 118px;
$common-arrow-left-round-offset-x: -331px;
$common-arrow-left-round-offset-y: -118px;
$common-arrow-left-round-width: 18px;
$common-arrow-left-round-height: 18px;
$common-arrow-left-round-total-width: 351px;
$common-arrow-left-round-total-height: 346px;
$common-arrow-left-round-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-left-round: (331px, 118px, -331px, -118px, 18px, 18px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-left-round', );
$common-arrow-left-round-black-name: 'common-arrow-left-round-black';
$common-arrow-left-round-black-x: 331px;
$common-arrow-left-round-black-y: 96px;
$common-arrow-left-round-black-offset-x: -331px;
$common-arrow-left-round-black-offset-y: -96px;
$common-arrow-left-round-black-width: 18px;
$common-arrow-left-round-black-height: 18px;
$common-arrow-left-round-black-total-width: 351px;
$common-arrow-left-round-black-total-height: 346px;
$common-arrow-left-round-black-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-left-round-black: (331px, 96px, -331px, -96px, 18px, 18px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-left-round-black', );
$common-arrow-left-swiper-name: 'common-arrow-left-swiper';
$common-arrow-left-swiper-x: 212px;
$common-arrow-left-swiper-y: 84px;
$common-arrow-left-swiper-offset-x: -212px;
$common-arrow-left-swiper-offset-y: -84px;
$common-arrow-left-swiper-width: 30px;
$common-arrow-left-swiper-height: 30px;
$common-arrow-left-swiper-total-width: 351px;
$common-arrow-left-swiper-total-height: 346px;
$common-arrow-left-swiper-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-left-swiper: (212px, 84px, -212px, -84px, 30px, 30px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-left-swiper', );
$common-arrow-left-swiper-small-name: 'common-arrow-left-swiper-small';
$common-arrow-left-swiper-small-x: 297px;
$common-arrow-left-swiper-small-y: 241px;
$common-arrow-left-swiper-small-offset-x: -297px;
$common-arrow-left-swiper-small-offset-y: -241px;
$common-arrow-left-swiper-small-width: 20px;
$common-arrow-left-swiper-small-height: 20px;
$common-arrow-left-swiper-small-total-width: 351px;
$common-arrow-left-swiper-small-total-height: 346px;
$common-arrow-left-swiper-small-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-left-swiper-small: (297px, 241px, -297px, -241px, 20px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-left-swiper-small', );
$common-arrow-left-swiper-transparent-name: 'common-arrow-left-swiper-transparent';
$common-arrow-left-swiper-transparent-x: 212px;
$common-arrow-left-swiper-transparent-y: 40px;
$common-arrow-left-swiper-transparent-offset-x: -212px;
$common-arrow-left-swiper-transparent-offset-y: -40px;
$common-arrow-left-swiper-transparent-width: 30px;
$common-arrow-left-swiper-transparent-height: 30px;
$common-arrow-left-swiper-transparent-total-width: 351px;
$common-arrow-left-swiper-transparent-total-height: 346px;
$common-arrow-left-swiper-transparent-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-left-swiper-transparent: (212px, 40px, -212px, -40px, 30px, 30px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-left-swiper-transparent', );
$common-arrow-right-link-name: 'common-arrow-right-link';
$common-arrow-right-link-x: 272px;
$common-arrow-right-link-y: 260px;
$common-arrow-right-link-offset-x: -272px;
$common-arrow-right-link-offset-y: -260px;
$common-arrow-right-link-width: 20px;
$common-arrow-right-link-height: 20px;
$common-arrow-right-link-total-width: 351px;
$common-arrow-right-link-total-height: 346px;
$common-arrow-right-link-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-right-link: (272px, 260px, -272px, -260px, 20px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-right-link', );
$common-arrow-right-link-over-name: 'common-arrow-right-link-over';
$common-arrow-right-link-over-x: 297px;
$common-arrow-right-link-over-y: 265px;
$common-arrow-right-link-over-offset-x: -297px;
$common-arrow-right-link-over-offset-y: -265px;
$common-arrow-right-link-over-width: 20px;
$common-arrow-right-link-over-height: 20px;
$common-arrow-right-link-over-total-width: 351px;
$common-arrow-right-link-over-total-height: 346px;
$common-arrow-right-link-over-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-right-link-over: (297px, 265px, -297px, -265px, 20px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-right-link-over', );
$common-arrow-right-round-name: 'common-arrow-right-round';
$common-arrow-right-round-x: 331px;
$common-arrow-right-round-y: 162px;
$common-arrow-right-round-offset-x: -331px;
$common-arrow-right-round-offset-y: -162px;
$common-arrow-right-round-width: 18px;
$common-arrow-right-round-height: 18px;
$common-arrow-right-round-total-width: 351px;
$common-arrow-right-round-total-height: 346px;
$common-arrow-right-round-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-right-round: (331px, 162px, -331px, -162px, 18px, 18px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-right-round', );
$common-arrow-right-round-black-name: 'common-arrow-right-round-black';
$common-arrow-right-round-black-x: 331px;
$common-arrow-right-round-black-y: 140px;
$common-arrow-right-round-black-offset-x: -331px;
$common-arrow-right-round-black-offset-y: -140px;
$common-arrow-right-round-black-width: 18px;
$common-arrow-right-round-black-height: 18px;
$common-arrow-right-round-black-total-width: 351px;
$common-arrow-right-round-black-total-height: 346px;
$common-arrow-right-round-black-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-right-round-black: (331px, 140px, -331px, -140px, 18px, 18px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-right-round-black', );
$common-arrow-right-swiper-name: 'common-arrow-right-swiper';
$common-arrow-right-swiper-x: 122px;
$common-arrow-right-swiper-y: 216px;
$common-arrow-right-swiper-offset-x: -122px;
$common-arrow-right-swiper-offset-y: -216px;
$common-arrow-right-swiper-width: 30px;
$common-arrow-right-swiper-height: 30px;
$common-arrow-right-swiper-total-width: 351px;
$common-arrow-right-swiper-total-height: 346px;
$common-arrow-right-swiper-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-right-swiper: (122px, 216px, -122px, -216px, 30px, 30px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-right-swiper', );
$common-arrow-right-swiper-small-name: 'common-arrow-right-swiper-small';
$common-arrow-right-swiper-small-x: 0px;
$common-arrow-right-swiper-small-y: 294px;
$common-arrow-right-swiper-small-offset-x: 0px;
$common-arrow-right-swiper-small-offset-y: -294px;
$common-arrow-right-swiper-small-width: 20px;
$common-arrow-right-swiper-small-height: 20px;
$common-arrow-right-swiper-small-total-width: 351px;
$common-arrow-right-swiper-small-total-height: 346px;
$common-arrow-right-swiper-small-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-right-swiper-small: (0px, 294px, 0px, -294px, 20px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-right-swiper-small', );
$common-arrow-right-swiper-transparent-name: 'common-arrow-right-swiper-transparent';
$common-arrow-right-swiper-transparent-x: 88px;
$common-arrow-right-swiper-transparent-y: 216px;
$common-arrow-right-swiper-transparent-offset-x: -88px;
$common-arrow-right-swiper-transparent-offset-y: -216px;
$common-arrow-right-swiper-transparent-width: 30px;
$common-arrow-right-swiper-transparent-height: 30px;
$common-arrow-right-swiper-transparent-total-width: 351px;
$common-arrow-right-swiper-transparent-total-height: 346px;
$common-arrow-right-swiper-transparent-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-right-swiper-transparent: (88px, 216px, -88px, -216px, 30px, 30px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-right-swiper-transparent', );
$common-arrow-up-dropdown-small-name: 'common-arrow-up-dropdown-small';
$common-arrow-up-dropdown-small-x: 226px;
$common-arrow-up-dropdown-small-y: 74px;
$common-arrow-up-dropdown-small-offset-x: -226px;
$common-arrow-up-dropdown-small-offset-y: -74px;
$common-arrow-up-dropdown-small-width: 10px;
$common-arrow-up-dropdown-small-height: 6px;
$common-arrow-up-dropdown-small-total-width: 351px;
$common-arrow-up-dropdown-small-total-height: 346px;
$common-arrow-up-dropdown-small-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-up-dropdown-small: (226px, 74px, -226px, -74px, 10px, 6px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-up-dropdown-small', );
$common-arrow-up-search-name: 'common-arrow-up-search';
$common-arrow-up-search-x: 24px;
$common-arrow-up-search-y: 294px;
$common-arrow-up-search-offset-x: -24px;
$common-arrow-up-search-offset-y: -294px;
$common-arrow-up-search-width: 20px;
$common-arrow-up-search-height: 20px;
$common-arrow-up-search-total-width: 351px;
$common-arrow-up-search-total-height: 346px;
$common-arrow-up-search-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-up-search: (24px, 294px, -24px, -294px, 20px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-up-search', );
$common-back-name: 'common-back';
$common-back-x: 297px;
$common-back-y: 120px;
$common-back-offset-x: -297px;
$common-back-offset-y: -120px;
$common-back-width: 26px;
$common-back-height: 20px;
$common-back-total-width: 351px;
$common-back-total-height: 346px;
$common-back-image: '/cmsstatic/asset/images/sprite-common.png';
$common-back: (297px, 120px, -297px, -120px, 26px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'back', );
$common-bell-name: 'common-bell';
$common-bell-x: 297px;
$common-bell-y: 34px;
$common-bell-offset-x: -297px;
$common-bell-offset-y: -34px;
$common-bell-width: 26px;
$common-bell-height: 26px;
$common-bell-total-width: 351px;
$common-bell-total-height: 346px;
$common-bell-image: '/cmsstatic/asset/images/sprite-common.png';
$common-bell: (297px, 34px, -297px, -34px, 26px, 26px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'bell', );
$common-block-end-name: 'common-block-end';
$common-block-end-x: 297px;
$common-block-end-y: 168px;
$common-block-end-offset-x: -297px;
$common-block-end-offset-y: -168px;
$common-block-end-width: 21px;
$common-block-end-height: 21px;
$common-block-end-total-width: 351px;
$common-block-end-total-height: 346px;
$common-block-end-image: '/cmsstatic/asset/images/sprite-common.png';
$common-block-end: (297px, 168px, -297px, -168px, 21px, 21px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'block-end', );
$common-block-start-name: 'common-block-start';
$common-block-start-x: 48px;
$common-block-start-y: 294px;
$common-block-start-offset-x: -48px;
$common-block-start-offset-y: -294px;
$common-block-start-width: 20px;
$common-block-start-height: 20px;
$common-block-start-total-width: 351px;
$common-block-start-total-height: 346px;
$common-block-start-image: '/cmsstatic/asset/images/sprite-common.png';
$common-block-start: (48px, 294px, -48px, -294px, 20px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'block-start', );
$common-cart-plus-name: 'common-cart-plus';
$common-cart-plus-x: 156px;
$common-cart-plus-y: 216px;
$common-cart-plus-offset-x: -156px;
$common-cart-plus-offset-y: -216px;
$common-cart-plus-width: 30px;
$common-cart-plus-height: 30px;
$common-cart-plus-total-width: 351px;
$common-cart-plus-total-height: 346px;
$common-cart-plus-image: '/cmsstatic/asset/images/sprite-common.png';
$common-cart-plus: (156px, 216px, -156px, -216px, 30px, 30px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'cart-plus', );
$common-checkbox-name: 'common-checkbox';
$common-checkbox-x: 144px;
$common-checkbox-y: 294px;
$common-checkbox-offset-x: -144px;
$common-checkbox-offset-y: -294px;
$common-checkbox-width: 20px;
$common-checkbox-height: 20px;
$common-checkbox-total-width: 351px;
$common-checkbox-total-height: 346px;
$common-checkbox-image: '/cmsstatic/asset/images/sprite-common.png';
$common-checkbox: (144px, 294px, -144px, -294px, 20px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'checkbox', );
$common-checkbox-on-name: 'common-checkbox-on';
$common-checkbox-on-x: 72px;
$common-checkbox-on-y: 294px;
$common-checkbox-on-offset-x: -72px;
$common-checkbox-on-offset-y: -294px;
$common-checkbox-on-width: 20px;
$common-checkbox-on-height: 20px;
$common-checkbox-on-total-width: 351px;
$common-checkbox-on-total-height: 346px;
$common-checkbox-on-image: '/cmsstatic/asset/images/sprite-common.png';
$common-checkbox-on: (72px, 294px, -72px, -294px, 20px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'checkbox-on', );
$common-checkbox-plain-name: 'common-checkbox-plain';
$common-checkbox-plain-x: 120px;
$common-checkbox-plain-y: 294px;
$common-checkbox-plain-offset-x: -120px;
$common-checkbox-plain-offset-y: -294px;
$common-checkbox-plain-width: 20px;
$common-checkbox-plain-height: 20px;
$common-checkbox-plain-total-width: 351px;
$common-checkbox-plain-total-height: 346px;
$common-checkbox-plain-image: '/cmsstatic/asset/images/sprite-common.png';
$common-checkbox-plain: (120px, 294px, -120px, -294px, 20px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'checkbox-plain', );
$common-checkbox-plain-on-name: 'common-checkbox-plain-on';
$common-checkbox-plain-on-x: 96px;
$common-checkbox-plain-on-y: 294px;
$common-checkbox-plain-on-offset-x: -96px;
$common-checkbox-plain-on-offset-y: -294px;
$common-checkbox-plain-on-width: 20px;
$common-checkbox-plain-on-height: 20px;
$common-checkbox-plain-on-total-width: 351px;
$common-checkbox-plain-on-total-height: 346px;
$common-checkbox-plain-on-image: '/cmsstatic/asset/images/sprite-common.png';
$common-checkbox-plain-on: (96px, 294px, -96px, -294px, 20px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'checkbox-plain-on', );
$common-checkbox-small-name: 'common-checkbox-small';
$common-checkbox-small-x: 208px;
$common-checkbox-small-y: 192px;
$common-checkbox-small-offset-x: -208px;
$common-checkbox-small-offset-y: -192px;
$common-checkbox-small-width: 14px;
$common-checkbox-small-height: 14px;
$common-checkbox-small-total-width: 351px;
$common-checkbox-small-total-height: 346px;
$common-checkbox-small-image: '/cmsstatic/asset/images/sprite-common.png';
$common-checkbox-small: (208px, 192px, -208px, -192px, 14px, 14px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'checkbox-small', );
$common-checkbox-small-2-name: 'common-checkbox-small-2';
$common-checkbox-small-2-x: 331px;
$common-checkbox-small-2-y: 282px;
$common-checkbox-small-2-offset-x: -331px;
$common-checkbox-small-2-offset-y: -282px;
$common-checkbox-small-2-width: 14px;
$common-checkbox-small-2-height: 14px;
$common-checkbox-small-2-total-width: 351px;
$common-checkbox-small-2-total-height: 346px;
$common-checkbox-small-2-image: '/cmsstatic/asset/images/sprite-common.png';
$common-checkbox-small-2: (331px, 282px, -331px, -282px, 14px, 14px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'checkbox-small-2', );
$common-checkbox-small-2-on-name: 'common-checkbox-small-2-on';
$common-checkbox-small-2-on-x: 331px;
$common-checkbox-small-2-on-y: 264px;
$common-checkbox-small-2-on-offset-x: -331px;
$common-checkbox-small-2-on-offset-y: -264px;
$common-checkbox-small-2-on-width: 14px;
$common-checkbox-small-2-on-height: 14px;
$common-checkbox-small-2-on-total-width: 351px;
$common-checkbox-small-2-on-total-height: 346px;
$common-checkbox-small-2-on-image: '/cmsstatic/asset/images/sprite-common.png';
$common-checkbox-small-2-on: (331px, 264px, -331px, -264px, 14px, 14px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'checkbox-small-2-on', );
$common-checkbox-small-on-name: 'common-checkbox-small-on';
$common-checkbox-small-on-x: 331px;
$common-checkbox-small-on-y: 300px;
$common-checkbox-small-on-offset-x: -331px;
$common-checkbox-small-on-offset-y: -300px;
$common-checkbox-small-on-width: 14px;
$common-checkbox-small-on-height: 14px;
$common-checkbox-small-on-total-width: 351px;
$common-checkbox-small-on-total-height: 346px;
$common-checkbox-small-on-image: '/cmsstatic/asset/images/sprite-common.png';
$common-checkbox-small-on: (331px, 300px, -331px, -300px, 14px, 14px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'checkbox-small-on', );
$common-clear-name: 'common-clear';
$common-clear-x: 168px;
$common-clear-y: 294px;
$common-clear-offset-x: -168px;
$common-clear-offset-y: -294px;
$common-clear-width: 20px;
$common-clear-height: 20px;
$common-clear-total-width: 351px;
$common-clear-total-height: 346px;
$common-clear-image: '/cmsstatic/asset/images/sprite-common.png';
$common-clear: (168px, 294px, -168px, -294px, 20px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'clear', );
$common-clear-large-name: 'common-clear-large';
$common-clear-large-x: 168px;
$common-clear-large-y: 40px;
$common-clear-large-offset-x: -168px;
$common-clear-large-offset-y: -40px;
$common-clear-large-width: 40px;
$common-clear-large-height: 40px;
$common-clear-large-total-width: 351px;
$common-clear-large-total-height: 346px;
$common-clear-large-image: '/cmsstatic/asset/images/sprite-common.png';
$common-clear-large: (168px, 40px, -168px, -40px, 40px, 40px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'clear-large', );
$common-clock-name: 'common-clock';
$common-clock-x: 331px;
$common-clock-y: 204px;
$common-clock-offset-x: -331px;
$common-clock-offset-y: -204px;
$common-clock-width: 16px;
$common-clock-height: 16px;
$common-clock-total-width: 351px;
$common-clock-total-height: 346px;
$common-clock-image: '/cmsstatic/asset/images/sprite-common.png';
$common-clock: (331px, 204px, -331px, -204px, 16px, 16px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'clock', );
$common-close-layer-name: 'common-close-layer';
$common-close-layer-x: 168px;
$common-close-layer-y: 84px;
$common-close-layer-offset-x: -168px;
$common-close-layer-offset-y: -84px;
$common-close-layer-width: 40px;
$common-close-layer-height: 40px;
$common-close-layer-total-width: 351px;
$common-close-layer-total-height: 346px;
$common-close-layer-image: '/cmsstatic/asset/images/sprite-common.png';
$common-close-layer: (168px, 84px, -168px, -84px, 40px, 40px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'close-layer', );
$common-close-layer-small-name: 'common-close-layer-small';
$common-close-layer-small-x: 0px;
$common-close-layer-small-y: 318px;
$common-close-layer-small-offset-x: 0px;
$common-close-layer-small-offset-y: -318px;
$common-close-layer-small-width: 12px;
$common-close-layer-small-height: 12px;
$common-close-layer-small-total-width: 351px;
$common-close-layer-small-total-height: 346px;
$common-close-layer-small-image: '/cmsstatic/asset/images/sprite-common.png';
$common-close-layer-small: (0px, 318px, 0px, -318px, 12px, 12px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'close-layer-small', );
$common-close-layer-white-name: 'common-close-layer-white';
$common-close-layer-white-x: 190px;
$common-close-layer-white-y: 216px;
$common-close-layer-white-offset-x: -190px;
$common-close-layer-white-offset-y: -216px;
$common-close-layer-white-width: 30px;
$common-close-layer-white-height: 30px;
$common-close-layer-white-total-width: 351px;
$common-close-layer-white-total-height: 346px;
$common-close-layer-white-image: '/cmsstatic/asset/images/sprite-common.png';
$common-close-layer-white: (190px, 216px, -190px, -216px, 30px, 30px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'close-layer-white', );
$common-coordinate-name: 'common-coordinate';
$common-coordinate-x: 224px;
$common-coordinate-y: 216px;
$common-coordinate-offset-x: -224px;
$common-coordinate-offset-y: -216px;
$common-coordinate-width: 30px;
$common-coordinate-height: 30px;
$common-coordinate-total-width: 351px;
$common-coordinate-total-height: 346px;
$common-coordinate-image: '/cmsstatic/asset/images/sprite-common.png';
$common-coordinate: (224px, 216px, -224px, -216px, 30px, 30px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'coordinate', );
$common-delete-list-name: 'common-delete-list';
$common-delete-list-x: 16px;
$common-delete-list-y: 318px;
$common-delete-list-offset-x: -16px;
$common-delete-list-offset-y: -318px;
$common-delete-list-width: 12px;
$common-delete-list-height: 12px;
$common-delete-list-total-width: 351px;
$common-delete-list-total-height: 346px;
$common-delete-list-image: '/cmsstatic/asset/images/sprite-common.png';
$common-delete-list: (16px, 318px, -16px, -318px, 12px, 12px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'delete-list', );
$common-dropdown-arrow-right-name: 'common-dropdown-arrow-right';
$common-dropdown-arrow-right-x: 0px;
$common-dropdown-arrow-right-y: 334px;
$common-dropdown-arrow-right-offset-x: 0px;
$common-dropdown-arrow-right-offset-y: -334px;
$common-dropdown-arrow-right-width: 7px;
$common-dropdown-arrow-right-height: 12px;
$common-dropdown-arrow-right-total-width: 351px;
$common-dropdown-arrow-right-total-height: 346px;
$common-dropdown-arrow-right-image: '/cmsstatic/asset/images/sprite-common.png';
$common-dropdown-arrow-right: (0px, 334px, 0px, -334px, 7px, 12px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'dropdown-arrow-right', );
$common-eye-name: 'common-eye';
$common-eye-x: 0px;
$common-eye-y: 260px;
$common-eye-offset-x: 0px;
$common-eye-offset-y: -260px;
$common-eye-width: 30px;
$common-eye-height: 30px;
$common-eye-total-width: 351px;
$common-eye-total-height: 346px;
$common-eye-image: '/cmsstatic/asset/images/sprite-common.png';
$common-eye: (0px, 260px, 0px, -260px, 30px, 30px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'eye', );
$common-eye-close-name: 'common-eye-close';
$common-eye-close-x: 258px;
$common-eye-close-y: 216px;
$common-eye-close-offset-x: -258px;
$common-eye-close-offset-y: -216px;
$common-eye-close-width: 30px;
$common-eye-close-height: 30px;
$common-eye-close-total-width: 351px;
$common-eye-close-total-height: 346px;
$common-eye-close-image: '/cmsstatic/asset/images/sprite-common.png';
$common-eye-close: (258px, 216px, -258px, -216px, 30px, 30px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'eye-close', );
$common-filter-name: 'common-filter';
$common-filter-x: 253px;
$common-filter-y: 176px;
$common-filter-offset-x: -253px;
$common-filter-offset-y: -176px;
$common-filter-width: 32px;
$common-filter-height: 32px;
$common-filter-total-width: 351px;
$common-filter-total-height: 346px;
$common-filter-image: '/cmsstatic/asset/images/sprite-common.png';
$common-filter: (253px, 176px, -253px, -176px, 32px, 32px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'filter', );
$common-heart-name: 'common-heart';
$common-heart-x: 136px;
$common-heart-y: 260px;
$common-heart-offset-x: -136px;
$common-heart-offset-y: -260px;
$common-heart-width: 30px;
$common-heart-height: 30px;
$common-heart-total-width: 351px;
$common-heart-total-height: 346px;
$common-heart-image: '/cmsstatic/asset/images/sprite-common.png';
$common-heart: (136px, 260px, -136px, -260px, 30px, 30px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'heart', );
$common-heart-minus-name: 'common-heart-minus';
$common-heart-minus-x: 34px;
$common-heart-minus-y: 260px;
$common-heart-minus-offset-x: -34px;
$common-heart-minus-offset-y: -260px;
$common-heart-minus-width: 30px;
$common-heart-minus-height: 30px;
$common-heart-minus-total-width: 351px;
$common-heart-minus-total-height: 346px;
$common-heart-minus-image: '/cmsstatic/asset/images/sprite-common.png';
$common-heart-minus: (34px, 260px, -34px, -260px, 30px, 30px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'heart-minus', );
$common-heart-on-name: 'common-heart-on';
$common-heart-on-x: 68px;
$common-heart-on-y: 260px;
$common-heart-on-offset-x: -68px;
$common-heart-on-offset-y: -260px;
$common-heart-on-width: 30px;
$common-heart-on-height: 30px;
$common-heart-on-total-width: 351px;
$common-heart-on-total-height: 346px;
$common-heart-on-image: '/cmsstatic/asset/images/sprite-common.png';
$common-heart-on: (68px, 260px, -68px, -260px, 30px, 30px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'heart-on', );
$common-heart-plus-name: 'common-heart-plus';
$common-heart-plus-x: 102px;
$common-heart-plus-y: 260px;
$common-heart-plus-offset-x: -102px;
$common-heart-plus-offset-y: -260px;
$common-heart-plus-width: 30px;
$common-heart-plus-height: 30px;
$common-heart-plus-total-width: 351px;
$common-heart-plus-total-height: 346px;
$common-heart-plus-image: '/cmsstatic/asset/images/sprite-common.png';
$common-heart-plus: (102px, 260px, -102px, -260px, 30px, 30px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'heart-plus', );
$common-icon-back-name: 'common-icon-back';
$common-icon-back-x: 297px;
$common-icon-back-y: 144px;
$common-icon-back-offset-x: -297px;
$common-icon-back-offset-y: -144px;
$common-icon-back-width: 26px;
$common-icon-back-height: 20px;
$common-icon-back-total-width: 351px;
$common-icon-back-total-height: 346px;
$common-icon-back-image: '/cmsstatic/asset/images/sprite-common.png';
$common-icon-back: (297px, 144px, -297px, -144px, 26px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'icon-back', );
$common-icon-close-small-name: 'common-icon-close-small';
$common-icon-close-small-x: 226px;
$common-icon-close-small-y: 192px;
$common-icon-close-small-offset-x: -226px;
$common-icon-close-small-offset-y: -192px;
$common-icon-close-small-width: 14px;
$common-icon-close-small-height: 14px;
$common-icon-close-small-total-width: 351px;
$common-icon-close-small-total-height: 346px;
$common-icon-close-small-image: '/cmsstatic/asset/images/sprite-common.png';
$common-icon-close-small: (226px, 192px, -226px, -192px, 14px, 14px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'icon-close-small', );
$common-icon-like-name: 'common-icon-like';
$common-icon-like-x: 216px;
$common-icon-like-y: 294px;
$common-icon-like-offset-x: -216px;
$common-icon-like-offset-y: -294px;
$common-icon-like-width: 20px;
$common-icon-like-height: 20px;
$common-icon-like-total-width: 351px;
$common-icon-like-total-height: 346px;
$common-icon-like-image: '/cmsstatic/asset/images/sprite-common.png';
$common-icon-like: (216px, 294px, -216px, -294px, 20px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'icon-like', );
$common-icon-like-on-name: 'common-icon-like-on';
$common-icon-like-on-x: 192px;
$common-icon-like-on-y: 294px;
$common-icon-like-on-offset-x: -192px;
$common-icon-like-on-offset-y: -294px;
$common-icon-like-on-width: 20px;
$common-icon-like-on-height: 20px;
$common-icon-like-on-total-width: 351px;
$common-icon-like-on-total-height: 346px;
$common-icon-like-on-image: '/cmsstatic/asset/images/sprite-common.png';
$common-icon-like-on: (192px, 294px, -192px, -294px, 20px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'icon-like-on', );
$common-icon-photo-name: 'common-icon-photo';
$common-icon-photo-x: 240px;
$common-icon-photo-y: 294px;
$common-icon-photo-offset-x: -240px;
$common-icon-photo-offset-y: -294px;
$common-icon-photo-width: 20px;
$common-icon-photo-height: 20px;
$common-icon-photo-total-width: 351px;
$common-icon-photo-total-height: 346px;
$common-icon-photo-image: '/cmsstatic/asset/images/sprite-common.png';
$common-icon-photo: (240px, 294px, -240px, -294px, 20px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'icon-photo', );
$common-landing-small-black-name: 'common-landing-small-black';
$common-landing-small-black-x: 74px;
$common-landing-small-black-y: 318px;
$common-landing-small-black-offset-x: -74px;
$common-landing-small-black-offset-y: -318px;
$common-landing-small-black-width: 10px;
$common-landing-small-black-height: 10px;
$common-landing-small-black-total-width: 351px;
$common-landing-small-black-total-height: 346px;
$common-landing-small-black-image: '/cmsstatic/asset/images/sprite-common.png';
$common-landing-small-black: (74px, 318px, -74px, -318px, 10px, 10px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'landing-small-black', );
$common-landing-small-grey-name: 'common-landing-small-grey';
$common-landing-small-grey-x: 88px;
$common-landing-small-grey-y: 318px;
$common-landing-small-grey-offset-x: -88px;
$common-landing-small-grey-offset-y: -318px;
$common-landing-small-grey-width: 10px;
$common-landing-small-grey-height: 10px;
$common-landing-small-grey-total-width: 351px;
$common-landing-small-grey-total-height: 346px;
$common-landing-small-grey-image: '/cmsstatic/asset/images/sprite-common.png';
$common-landing-small-grey: (88px, 318px, -88px, -318px, 10px, 10px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'landing-small-grey', );
$common-landing-small-orange-name: 'common-landing-small-orange';
$common-landing-small-orange-x: 102px;
$common-landing-small-orange-y: 318px;
$common-landing-small-orange-offset-x: -102px;
$common-landing-small-orange-offset-y: -318px;
$common-landing-small-orange-width: 10px;
$common-landing-small-orange-height: 10px;
$common-landing-small-orange-total-width: 351px;
$common-landing-small-orange-total-height: 346px;
$common-landing-small-orange-image: '/cmsstatic/asset/images/sprite-common.png';
$common-landing-small-orange: (102px, 318px, -102px, -318px, 10px, 10px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'landing-small-orange', );
$common-landing-small-white-name: 'common-landing-small-white';
$common-landing-small-white-x: 116px;
$common-landing-small-white-y: 318px;
$common-landing-small-white-offset-x: -116px;
$common-landing-small-white-offset-y: -318px;
$common-landing-small-white-width: 10px;
$common-landing-small-white-height: 10px;
$common-landing-small-white-total-width: 351px;
$common-landing-small-white-total-height: 346px;
$common-landing-small-white-image: '/cmsstatic/asset/images/sprite-common.png';
$common-landing-small-white: (116px, 318px, -116px, -318px, 10px, 10px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'landing-small-white', );
$common-landing-xb-name: 'common-landing-xb';
$common-landing-xb-x: 208px;
$common-landing-xb-y: 168px;
$common-landing-xb-offset-x: -208px;
$common-landing-xb-offset-y: -168px;
$common-landing-xb-width: 36px;
$common-landing-xb-height: 10px;
$common-landing-xb-total-width: 351px;
$common-landing-xb-total-height: 346px;
$common-landing-xb-image: '/cmsstatic/asset/images/sprite-common.png';
$common-landing-xb: (208px, 168px, -208px, -168px, 36px, 10px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'landing-xb', );
$common-landing-xsmall-black-name: 'common-landing-xsmall-black';
$common-landing-xsmall-black-x: 130px;
$common-landing-xsmall-black-y: 318px;
$common-landing-xsmall-black-offset-x: -130px;
$common-landing-xsmall-black-offset-y: -318px;
$common-landing-xsmall-black-width: 10px;
$common-landing-xsmall-black-height: 10px;
$common-landing-xsmall-black-total-width: 351px;
$common-landing-xsmall-black-total-height: 346px;
$common-landing-xsmall-black-image: '/cmsstatic/asset/images/sprite-common.png';
$common-landing-xsmall-black: (130px, 318px, -130px, -318px, 10px, 10px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'landing-xsmall-black', );
$common-lock-name: 'common-lock';
$common-lock-x: 331px;
$common-lock-y: 224px;
$common-lock-offset-x: -331px;
$common-lock-offset-y: -224px;
$common-lock-width: 16px;
$common-lock-height: 16px;
$common-lock-total-width: 351px;
$common-lock-total-height: 346px;
$common-lock-image: '/cmsstatic/asset/images/sprite-common.png';
$common-lock: (331px, 224px, -331px, -224px, 16px, 16px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'lock', );
$common-logo-footer-name: 'common-logo-footer';
$common-logo-footer-x: 168px;
$common-logo-footer-y: 0px;
$common-logo-footer-offset-x: -168px;
$common-logo-footer-offset-y: 0px;
$common-logo-footer-width: 81px;
$common-logo-footer-height: 36px;
$common-logo-footer-total-width: 351px;
$common-logo-footer-total-height: 346px;
$common-logo-footer-image: '/cmsstatic/asset/images/sprite-common.png';
$common-logo-footer: (168px, 0px, -168px, 0px, 81px, 36px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'logo-footer', );
$common-no-history-name: 'common-no-history';
$common-no-history-x: 0px;
$common-no-history-y: 0px;
$common-no-history-offset-x: 0px;
$common-no-history-offset-y: 0px;
$common-no-history-width: 80px;
$common-no-history-height: 80px;
$common-no-history-total-width: 351px;
$common-no-history-total-height: 346px;
$common-no-history-image: '/cmsstatic/asset/images/sprite-common.png';
$common-no-history: (0px, 0px, 0px, 0px, 80px, 80px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'no-history', );
$common-no-photo-review-name: 'common-no-photo-review';
$common-no-photo-review-x: 84px;
$common-no-photo-review-y: 0px;
$common-no-photo-review-offset-x: -84px;
$common-no-photo-review-offset-y: 0px;
$common-no-photo-review-width: 80px;
$common-no-photo-review-height: 80px;
$common-no-photo-review-total-width: 351px;
$common-no-photo-review-total-height: 346px;
$common-no-photo-review-image: '/cmsstatic/asset/images/sprite-common.png';
$common-no-photo-review: (84px, 0px, -84px, 0px, 80px, 80px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'no-photo-review', );
$common-no-qna-name: 'common-no-qna';
$common-no-qna-x: 0px;
$common-no-qna-y: 84px;
$common-no-qna-offset-x: 0px;
$common-no-qna-offset-y: -84px;
$common-no-qna-width: 80px;
$common-no-qna-height: 80px;
$common-no-qna-total-width: 351px;
$common-no-qna-total-height: 346px;
$common-no-qna-image: '/cmsstatic/asset/images/sprite-common.png';
$common-no-qna: (0px, 84px, 0px, -84px, 80px, 80px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'no-qna', );
$common-no-review-name: 'common-no-review';
$common-no-review-x: 84px;
$common-no-review-y: 84px;
$common-no-review-offset-x: -84px;
$common-no-review-offset-y: -84px;
$common-no-review-width: 80px;
$common-no-review-height: 80px;
$common-no-review-total-width: 351px;
$common-no-review-total-height: 346px;
$common-no-review-image: '/cmsstatic/asset/images/sprite-common.png';
$common-no-review: (84px, 84px, -84px, -84px, 80px, 80px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'no-review', );
$common-question-name: 'common-question';
$common-question-x: 264px;
$common-question-y: 294px;
$common-question-offset-x: -264px;
$common-question-offset-y: -294px;
$common-question-width: 20px;
$common-question-height: 20px;
$common-question-total-width: 351px;
$common-question-total-height: 346px;
$common-question-image: '/cmsstatic/asset/images/sprite-common.png';
$common-question: (264px, 294px, -264px, -294px, 20px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'question', );
$common-question-large-name: 'common-question-large';
$common-question-large-x: 297px;
$common-question-large-y: 64px;
$common-question-large-offset-x: -297px;
$common-question-large-offset-y: -64px;
$common-question-large-width: 24px;
$common-question-large-height: 24px;
$common-question-large-total-width: 351px;
$common-question-large-total-height: 346px;
$common-question-large-image: '/cmsstatic/asset/images/sprite-common.png';
$common-question-large: (297px, 64px, -297px, -64px, 24px, 24px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'question-large', );
$common-question-small-name: 'common-question-small';
$common-question-small-x: 331px;
$common-question-small-y: 244px;
$common-question-small-offset-x: -331px;
$common-question-small-offset-y: -244px;
$common-question-small-width: 16px;
$common-question-small-height: 16px;
$common-question-small-total-width: 351px;
$common-question-small-total-height: 346px;
$common-question-small-image: '/cmsstatic/asset/images/sprite-common.png';
$common-question-small: (331px, 244px, -331px, -244px, 16px, 16px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'question-small', );
$common-radio-name: 'common-radio';
$common-radio-x: 331px;
$common-radio-y: 0px;
$common-radio-offset-x: -331px;
$common-radio-offset-y: 0px;
$common-radio-width: 20px;
$common-radio-height: 20px;
$common-radio-total-width: 351px;
$common-radio-total-height: 346px;
$common-radio-image: '/cmsstatic/asset/images/sprite-common.png';
$common-radio: (331px, 0px, -331px, 0px, 20px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'radio', );
$common-radio-large-name: 'common-radio-large';
$common-radio-large-x: 204px;
$common-radio-large-y: 260px;
$common-radio-large-offset-x: -204px;
$common-radio-large-offset-y: -260px;
$common-radio-large-width: 30px;
$common-radio-large-height: 30px;
$common-radio-large-total-width: 351px;
$common-radio-large-total-height: 346px;
$common-radio-large-image: '/cmsstatic/asset/images/sprite-common.png';
$common-radio-large: (204px, 260px, -204px, -260px, 30px, 30px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'radio-large', );
$common-radio-large-on-name: 'common-radio-large-on';
$common-radio-large-on-x: 170px;
$common-radio-large-on-y: 260px;
$common-radio-large-on-offset-x: -170px;
$common-radio-large-on-offset-y: -260px;
$common-radio-large-on-width: 30px;
$common-radio-large-on-height: 30px;
$common-radio-large-on-total-width: 351px;
$common-radio-large-on-total-height: 346px;
$common-radio-large-on-image: '/cmsstatic/asset/images/sprite-common.png';
$common-radio-large-on: (170px, 260px, -170px, -260px, 30px, 30px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'radio-large-on', );
$common-radio-on-name: 'common-radio-on';
$common-radio-on-x: 288px;
$common-radio-on-y: 294px;
$common-radio-on-offset-x: -288px;
$common-radio-on-offset-y: -294px;
$common-radio-on-width: 20px;
$common-radio-on-height: 20px;
$common-radio-on-total-width: 351px;
$common-radio-on-total-height: 346px;
$common-radio-on-image: '/cmsstatic/asset/images/sprite-common.png';
$common-radio-on: (288px, 294px, -288px, -294px, 20px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'radio-on', );
$common-remove-name: 'common-remove';
$common-remove-x: 312px;
$common-remove-y: 294px;
$common-remove-offset-x: -312px;
$common-remove-offset-y: -294px;
$common-remove-width: 14px;
$common-remove-height: 14px;
$common-remove-total-width: 351px;
$common-remove-total-height: 346px;
$common-remove-image: '/cmsstatic/asset/images/sprite-common.png';
$common-remove: (312px, 294px, -312px, -294px, 14px, 14px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'remove', );
$common-reset-name: 'common-reset';
$common-reset-x: 331px;
$common-reset-y: 24px;
$common-reset-offset-x: -331px;
$common-reset-offset-y: -24px;
$common-reset-width: 20px;
$common-reset-height: 20px;
$common-reset-total-width: 351px;
$common-reset-total-height: 346px;
$common-reset-image: '/cmsstatic/asset/images/sprite-common.png';
$common-reset: (331px, 24px, -331px, -24px, 20px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'reset', );
$common-rocation-info-name: 'common-rocation-info';
$common-rocation-info-x: 331px;
$common-rocation-info-y: 48px;
$common-rocation-info-offset-x: -331px;
$common-rocation-info-offset-y: -48px;
$common-rocation-info-width: 20px;
$common-rocation-info-height: 20px;
$common-rocation-info-total-width: 351px;
$common-rocation-info-total-height: 346px;
$common-rocation-info-image: '/cmsstatic/asset/images/sprite-common.png';
$common-rocation-info: (331px, 48px, -331px, -48px, 20px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'rocation-info', );
$common-search-name: 'common-search';
$common-search-x: 297px;
$common-search-y: 92px;
$common-search-offset-x: -297px;
$common-search-offset-y: -92px;
$common-search-width: 24px;
$common-search-height: 24px;
$common-search-total-width: 351px;
$common-search-total-height: 346px;
$common-search-image: '/cmsstatic/asset/images/sprite-common.png';
$common-search: (297px, 92px, -297px, -92px, 24px, 24px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'search', );
$common-search-large-name: 'common-search-large';
$common-search-large-x: 253px;
$common-search-large-y: 0px;
$common-search-large-offset-x: -253px;
$common-search-large-offset-y: 0px;
$common-search-large-width: 40px;
$common-search-large-height: 40px;
$common-search-large-total-width: 351px;
$common-search-large-total-height: 346px;
$common-search-large-image: '/cmsstatic/asset/images/sprite-common.png';
$common-search-large: (253px, 0px, -253px, 0px, 40px, 40px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'search-large', );
$common-share-name: 'common-share';
$common-share-x: 238px;
$common-share-y: 260px;
$common-share-offset-x: -238px;
$common-share-offset-y: -260px;
$common-share-width: 30px;
$common-share-height: 30px;
$common-share-total-width: 351px;
$common-share-total-height: 346px;
$common-share-image: '/cmsstatic/asset/images/sprite-common.png';
$common-share: (238px, 260px, -238px, -260px, 30px, 30px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'share', );
$common-sns-facebook-name: 'common-sns-facebook';
$common-sns-facebook-x: 253px;
$common-sns-facebook-y: 44px;
$common-sns-facebook-offset-x: -253px;
$common-sns-facebook-offset-y: -44px;
$common-sns-facebook-width: 40px;
$common-sns-facebook-height: 40px;
$common-sns-facebook-total-width: 351px;
$common-sns-facebook-total-height: 346px;
$common-sns-facebook-image: '/cmsstatic/asset/images/sprite-common.png';
$common-sns-facebook: (253px, 44px, -253px, -44px, 40px, 40px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'sns-facebook', );
$common-sns-insta-name: 'common-sns-insta';
$common-sns-insta-x: 253px;
$common-sns-insta-y: 88px;
$common-sns-insta-offset-x: -253px;
$common-sns-insta-offset-y: -88px;
$common-sns-insta-width: 40px;
$common-sns-insta-height: 40px;
$common-sns-insta-total-width: 351px;
$common-sns-insta-total-height: 346px;
$common-sns-insta-image: '/cmsstatic/asset/images/sprite-common.png';
$common-sns-insta: (253px, 88px, -253px, -88px, 40px, 40px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'sns-insta', );
$common-sns-kakao-name: 'common-sns-kakao';
$common-sns-kakao-x: 253px;
$common-sns-kakao-y: 132px;
$common-sns-kakao-offset-x: -253px;
$common-sns-kakao-offset-y: -132px;
$common-sns-kakao-width: 40px;
$common-sns-kakao-height: 40px;
$common-sns-kakao-total-width: 351px;
$common-sns-kakao-total-height: 346px;
$common-sns-kakao-image: '/cmsstatic/asset/images/sprite-common.png';
$common-sns-kakao: (253px, 132px, -253px, -132px, 40px, 40px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'sns-kakao', );
$common-sns-youtube-name: 'common-sns-youtube';
$common-sns-youtube-x: 0px;
$common-sns-youtube-y: 216px;
$common-sns-youtube-offset-x: 0px;
$common-sns-youtube-offset-y: -216px;
$common-sns-youtube-width: 40px;
$common-sns-youtube-height: 40px;
$common-sns-youtube-total-width: 351px;
$common-sns-youtube-total-height: 346px;
$common-sns-youtube-image: '/cmsstatic/asset/images/sprite-common.png';
$common-sns-youtube: (0px, 216px, 0px, -216px, 40px, 40px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'sns-youtube', );
$common-star-name: 'common-star';
$common-star-x: 168px;
$common-star-y: 148px;
$common-star-offset-x: -168px;
$common-star-offset-y: -148px;
$common-star-width: 80px;
$common-star-height: 16px;
$common-star-total-width: 351px;
$common-star-total-height: 346px;
$common-star-image: '/cmsstatic/asset/images/sprite-common.png';
$common-star: (168px, 148px, -168px, -148px, 80px, 16px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'star', );
$common-star-large-name: 'common-star-large';
$common-star-large-x: 0px;
$common-star-large-y: 192px;
$common-star-large-offset-x: 0px;
$common-star-large-offset-y: -192px;
$common-star-large-width: 130px;
$common-star-large-height: 20px;
$common-star-large-total-width: 351px;
$common-star-large-total-height: 346px;
$common-star-large-image: '/cmsstatic/asset/images/sprite-common.png';
$common-star-large: (0px, 192px, 0px, -192px, 130px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'star-large', );
$common-star-large-on-name: 'common-star-large-on';
$common-star-large-on-x: 0px;
$common-star-large-on-y: 168px;
$common-star-large-on-offset-x: 0px;
$common-star-large-on-offset-y: -168px;
$common-star-large-on-width: 130px;
$common-star-large-on-height: 20px;
$common-star-large-on-total-width: 351px;
$common-star-large-on-total-height: 346px;
$common-star-large-on-image: '/cmsstatic/asset/images/sprite-common.png';
$common-star-large-on: (0px, 168px, 0px, -168px, 130px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'star-large-on', );
$common-star-on-name: 'common-star-on';
$common-star-on-x: 168px;
$common-star-on-y: 128px;
$common-star-on-offset-x: -168px;
$common-star-on-offset-y: -128px;
$common-star-on-width: 80px;
$common-star-on-height: 16px;
$common-star-on-total-width: 351px;
$common-star-on-total-height: 346px;
$common-star-on-image: '/cmsstatic/asset/images/sprite-common.png';
$common-star-on: (168px, 128px, -168px, -128px, 80px, 16px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'star-on', );
$common-star-small-name: 'common-star-small';
$common-star-small-x: 134px;
$common-star-small-y: 192px;
$common-star-small-offset-x: -134px;
$common-star-small-offset-y: -192px;
$common-star-small-width: 70px;
$common-star-small-height: 14px;
$common-star-small-total-width: 351px;
$common-star-small-total-height: 346px;
$common-star-small-image: '/cmsstatic/asset/images/sprite-common.png';
$common-star-small: (134px, 192px, -134px, -192px, 70px, 14px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'star-small', );
$common-star-small-on-name: 'common-star-small-on';
$common-star-small-on-x: 134px;
$common-star-small-on-y: 168px;
$common-star-small-on-offset-x: -134px;
$common-star-small-on-offset-y: -168px;
$common-star-small-on-width: 70px;
$common-star-small-on-height: 14px;
$common-star-small-on-total-width: 351px;
$common-star-small-on-total-height: 346px;
$common-star-small-on-image: '/cmsstatic/asset/images/sprite-common.png';
$common-star-small-on: (134px, 168px, -134px, -168px, 70px, 14px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'star-small-on', );
$common-tel-name: 'common-tel';
$common-tel-x: 331px;
$common-tel-y: 72px;
$common-tel-offset-x: -331px;
$common-tel-offset-y: -72px;
$common-tel-width: 20px;
$common-tel-height: 20px;
$common-tel-total-width: 351px;
$common-tel-total-height: 346px;
$common-tel-image: '/cmsstatic/asset/images/sprite-common.png';
$common-tel: (331px, 72px, -331px, -72px, 20px, 20px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'tel', );
$common-time-truck-name: 'common-time-truck';
$common-time-truck-x: 297px;
$common-time-truck-y: 0px;
$common-time-truck-offset-x: -297px;
$common-time-truck-offset-y: 0px;
$common-time-truck-width: 30px;
$common-time-truck-height: 30px;
$common-time-truck-total-width: 351px;
$common-time-truck-total-height: 346px;
$common-time-truck-image: '/cmsstatic/asset/images/sprite-common.png';
$common-time-truck: (297px, 0px, -297px, 0px, 30px, 30px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'time-truck', );
$common-top-button-name: 'common-top-button';
$common-top-button-x: 44px;
$common-top-button-y: 216px;
$common-top-button-offset-x: -44px;
$common-top-button-offset-y: -216px;
$common-top-button-width: 40px;
$common-top-button-height: 40px;
$common-top-button-total-width: 351px;
$common-top-button-total-height: 346px;
$common-top-button-image: '/cmsstatic/asset/images/sprite-common.png';
$common-top-button: (44px, 216px, -44px, -216px, 40px, 40px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'top-button', );
$common-tree-name: 'common-tree';
$common-tree-x: 144px;
$common-tree-y: 318px;
$common-tree-offset-x: -144px;
$common-tree-offset-y: -318px;
$common-tree-width: 7px;
$common-tree-height: 7px;
$common-tree-total-width: 351px;
$common-tree-total-height: 346px;
$common-tree-image: '/cmsstatic/asset/images/sprite-common.png';
$common-tree: (144px, 318px, -144px, -318px, 7px, 7px, 351px, 346px, '/cmsstatic/asset/images/sprite-common.png', 'tree', );
$sprite-common-width: 351px;
$sprite-common-height: 346px;
$sprite-common-image: '/cmsstatic/asset/images/sprite-common.png';
$sprite-common-sprites: ($common-answer, $common-arrow-down-accordion, $common-arrow-down-accordion-large, $common-arrow-down-dropdown, $common-arrow-down-dropdown-small, $common-arrow-down-selectbox, $common-arrow-left-nav-back, $common-arrow-left-round, $common-arrow-left-round-black, $common-arrow-left-swiper, $common-arrow-left-swiper-small, $common-arrow-left-swiper-transparent, $common-arrow-right-link, $common-arrow-right-link-over, $common-arrow-right-round, $common-arrow-right-round-black, $common-arrow-right-swiper, $common-arrow-right-swiper-small, $common-arrow-right-swiper-transparent, $common-arrow-up-dropdown-small, $common-arrow-up-search, $common-back, $common-bell, $common-block-end, $common-block-start, $common-cart-plus, $common-checkbox, $common-checkbox-on, $common-checkbox-plain, $common-checkbox-plain-on, $common-checkbox-small, $common-checkbox-small-2, $common-checkbox-small-2-on, $common-checkbox-small-on, $common-clear, $common-clear-large, $common-clock, $common-close-layer, $common-close-layer-small, $common-close-layer-white, $common-coordinate, $common-delete-list, $common-dropdown-arrow-right, $common-eye, $common-eye-close, $common-filter, $common-heart, $common-heart-minus, $common-heart-on, $common-heart-plus, $common-icon-back, $common-icon-close-small, $common-icon-like, $common-icon-like-on, $common-icon-photo, $common-landing-small-black, $common-landing-small-grey, $common-landing-small-orange, $common-landing-small-white, $common-landing-xb, $common-landing-xsmall-black, $common-lock, $common-logo-footer, $common-no-history, $common-no-photo-review, $common-no-qna, $common-no-review, $common-question, $common-question-large, $common-question-small, $common-radio, $common-radio-large, $common-radio-large-on, $common-radio-on, $common-remove, $common-reset, $common-rocation-info, $common-search, $common-search-large, $common-share, $common-sns-facebook, $common-sns-insta, $common-sns-kakao, $common-sns-youtube, $common-star, $common-star-large, $common-star-large-on, $common-star-on, $common-star-small, $common-star-small-on, $common-tel, $common-time-truck, $common-top-button, $common-tree, );
$sprite-common: (351px, 346px, '/cmsstatic/asset/images/sprite-common.png', $sprite-common-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite-size($sprite) {
  $sprite-width: nth($sprite, 7);
  $sprite-height: nth($sprite, 8);
  background-size: $sprite-width $sprite-height;
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  @include sprite-size($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  .sprite-common {
    background-image: url('/cmsstatic/asset/images/sprite-common.png');
    background-size: 351px 346px;
  }
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .sprite-common-#{$sprite-name} {
      @include sprite-position($sprite);
      @include sprite-width($sprite);
      @include sprite-height($sprite);
    }
  }
}
