// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;

$order-combined-shape-name: 'order-combined-shape';
$order-combined-shape-x: 102px;
$order-combined-shape-y: 48px;
$order-combined-shape-offset-x: -102px;
$order-combined-shape-offset-y: -48px;
$order-combined-shape-width: 10px;
$order-combined-shape-height: 10px;
$order-combined-shape-total-width: 122px;
$order-combined-shape-total-height: 88px;
$order-combined-shape-image: '/cmsstatic/asset/images/sprite-order.png';
$order-combined-shape: (102px, 48px, -102px, -48px, 10px, 10px, 122px, 88px, '/cmsstatic/asset/images/sprite-order.png', 'combined-shape', );
$order-payment-1-name: 'order-payment-1';
$order-payment-1-x: 0px;
$order-payment-1-y: 68px;
$order-payment-1-offset-x: 0px;
$order-payment-1-offset-y: -68px;
$order-payment-1-width: 20px;
$order-payment-1-height: 20px;
$order-payment-1-total-width: 122px;
$order-payment-1-total-height: 88px;
$order-payment-1-image: '/cmsstatic/asset/images/sprite-order.png';
$order-payment-1: (0px, 68px, 0px, -68px, 20px, 20px, 122px, 88px, '/cmsstatic/asset/images/sprite-order.png', 'payment-1', );
$order-payment-2-name: 'order-payment-2';
$order-payment-2-x: 24px;
$order-payment-2-y: 68px;
$order-payment-2-offset-x: -24px;
$order-payment-2-offset-y: -68px;
$order-payment-2-width: 20px;
$order-payment-2-height: 20px;
$order-payment-2-total-width: 122px;
$order-payment-2-total-height: 88px;
$order-payment-2-image: '/cmsstatic/asset/images/sprite-order.png';
$order-payment-2: (24px, 68px, -24px, -68px, 20px, 20px, 122px, 88px, '/cmsstatic/asset/images/sprite-order.png', 'payment-2', );
$order-payment-3-name: 'order-payment-3';
$order-payment-3-x: 48px;
$order-payment-3-y: 68px;
$order-payment-3-offset-x: -48px;
$order-payment-3-offset-y: -68px;
$order-payment-3-width: 20px;
$order-payment-3-height: 20px;
$order-payment-3-total-width: 122px;
$order-payment-3-total-height: 88px;
$order-payment-3-image: '/cmsstatic/asset/images/sprite-order.png';
$order-payment-3: (48px, 68px, -48px, -68px, 20px, 20px, 122px, 88px, '/cmsstatic/asset/images/sprite-order.png', 'payment-3', );
$order-payment-4-name: 'order-payment-4';
$order-payment-4-x: 72px;
$order-payment-4-y: 68px;
$order-payment-4-offset-x: -72px;
$order-payment-4-offset-y: -68px;
$order-payment-4-width: 20px;
$order-payment-4-height: 20px;
$order-payment-4-total-width: 122px;
$order-payment-4-total-height: 88px;
$order-payment-4-image: '/cmsstatic/asset/images/sprite-order.png';
$order-payment-4: (72px, 68px, -72px, -68px, 20px, 20px, 122px, 88px, '/cmsstatic/asset/images/sprite-order.png', 'payment-4', );
$order-pickup-benefit-1-name: 'order-pickup-benefit-1';
$order-pickup-benefit-1-x: 0px;
$order-pickup-benefit-1-y: 0px;
$order-pickup-benefit-1-offset-x: 0px;
$order-pickup-benefit-1-offset-y: 0px;
$order-pickup-benefit-1-width: 30px;
$order-pickup-benefit-1-height: 30px;
$order-pickup-benefit-1-total-width: 122px;
$order-pickup-benefit-1-total-height: 88px;
$order-pickup-benefit-1-image: '/cmsstatic/asset/images/sprite-order.png';
$order-pickup-benefit-1: (0px, 0px, 0px, 0px, 30px, 30px, 122px, 88px, '/cmsstatic/asset/images/sprite-order.png', 'pickup-benefit-1', );
$order-pickup-benefit-2-name: 'order-pickup-benefit-2';
$order-pickup-benefit-2-x: 34px;
$order-pickup-benefit-2-y: 0px;
$order-pickup-benefit-2-offset-x: -34px;
$order-pickup-benefit-2-offset-y: 0px;
$order-pickup-benefit-2-width: 30px;
$order-pickup-benefit-2-height: 30px;
$order-pickup-benefit-2-total-width: 122px;
$order-pickup-benefit-2-total-height: 88px;
$order-pickup-benefit-2-image: '/cmsstatic/asset/images/sprite-order.png';
$order-pickup-benefit-2: (34px, 0px, -34px, 0px, 30px, 30px, 122px, 88px, '/cmsstatic/asset/images/sprite-order.png', 'pickup-benefit-2', );
$order-pickup-benefit-3-name: 'order-pickup-benefit-3';
$order-pickup-benefit-3-x: 0px;
$order-pickup-benefit-3-y: 34px;
$order-pickup-benefit-3-offset-x: 0px;
$order-pickup-benefit-3-offset-y: -34px;
$order-pickup-benefit-3-width: 30px;
$order-pickup-benefit-3-height: 30px;
$order-pickup-benefit-3-total-width: 122px;
$order-pickup-benefit-3-total-height: 88px;
$order-pickup-benefit-3-image: '/cmsstatic/asset/images/sprite-order.png';
$order-pickup-benefit-3: (0px, 34px, 0px, -34px, 30px, 30px, 122px, 88px, '/cmsstatic/asset/images/sprite-order.png', 'pickup-benefit-3', );
$order-pickup-benefit-4-name: 'order-pickup-benefit-4';
$order-pickup-benefit-4-x: 34px;
$order-pickup-benefit-4-y: 34px;
$order-pickup-benefit-4-offset-x: -34px;
$order-pickup-benefit-4-offset-y: -34px;
$order-pickup-benefit-4-width: 30px;
$order-pickup-benefit-4-height: 30px;
$order-pickup-benefit-4-total-width: 122px;
$order-pickup-benefit-4-total-height: 88px;
$order-pickup-benefit-4-image: '/cmsstatic/asset/images/sprite-order.png';
$order-pickup-benefit-4: (34px, 34px, -34px, -34px, 30px, 30px, 122px, 88px, '/cmsstatic/asset/images/sprite-order.png', 'pickup-benefit-4', );
$order-pickup-benefit-5-name: 'order-pickup-benefit-5';
$order-pickup-benefit-5-x: 68px;
$order-pickup-benefit-5-y: 0px;
$order-pickup-benefit-5-offset-x: -68px;
$order-pickup-benefit-5-offset-y: 0px;
$order-pickup-benefit-5-width: 30px;
$order-pickup-benefit-5-height: 30px;
$order-pickup-benefit-5-total-width: 122px;
$order-pickup-benefit-5-total-height: 88px;
$order-pickup-benefit-5-image: '/cmsstatic/asset/images/sprite-order.png';
$order-pickup-benefit-5: (68px, 0px, -68px, 0px, 30px, 30px, 122px, 88px, '/cmsstatic/asset/images/sprite-order.png', 'pickup-benefit-5', );
$order-pickup-benefit-6-name: 'order-pickup-benefit-6';
$order-pickup-benefit-6-x: 68px;
$order-pickup-benefit-6-y: 34px;
$order-pickup-benefit-6-offset-x: -68px;
$order-pickup-benefit-6-offset-y: -34px;
$order-pickup-benefit-6-width: 30px;
$order-pickup-benefit-6-height: 30px;
$order-pickup-benefit-6-total-width: 122px;
$order-pickup-benefit-6-total-height: 88px;
$order-pickup-benefit-6-image: '/cmsstatic/asset/images/sprite-order.png';
$order-pickup-benefit-6: (68px, 34px, -68px, -34px, 30px, 30px, 122px, 88px, '/cmsstatic/asset/images/sprite-order.png', 'pickup-benefit-6', );
$order-rocation-info-name: 'order-rocation-info';
$order-rocation-info-x: 102px;
$order-rocation-info-y: 0px;
$order-rocation-info-offset-x: -102px;
$order-rocation-info-offset-y: 0px;
$order-rocation-info-width: 20px;
$order-rocation-info-height: 20px;
$order-rocation-info-total-width: 122px;
$order-rocation-info-total-height: 88px;
$order-rocation-info-image: '/cmsstatic/asset/images/sprite-order.png';
$order-rocation-info: (102px, 0px, -102px, 0px, 20px, 20px, 122px, 88px, '/cmsstatic/asset/images/sprite-order.png', 'rocation-info', );
$order-tel-name: 'order-tel';
$order-tel-x: 102px;
$order-tel-y: 24px;
$order-tel-offset-x: -102px;
$order-tel-offset-y: -24px;
$order-tel-width: 20px;
$order-tel-height: 20px;
$order-tel-total-width: 122px;
$order-tel-total-height: 88px;
$order-tel-image: '/cmsstatic/asset/images/sprite-order.png';
$order-tel: (102px, 24px, -102px, -24px, 20px, 20px, 122px, 88px, '/cmsstatic/asset/images/sprite-order.png', 'tel', );
$sprite-order-width: 122px;
$sprite-order-height: 88px;
$sprite-order-image: '/cmsstatic/asset/images/sprite-order.png';
$sprite-order-sprites: ($order-combined-shape, $order-payment-1, $order-payment-2, $order-payment-3, $order-payment-4, $order-pickup-benefit-1, $order-pickup-benefit-2, $order-pickup-benefit-3, $order-pickup-benefit-4, $order-pickup-benefit-5, $order-pickup-benefit-6, $order-rocation-info, $order-tel, );
$sprite-order: (122px, 88px, '/cmsstatic/asset/images/sprite-order.png', $sprite-order-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite-size($sprite) {
  $sprite-width: nth($sprite, 7);
  $sprite-height: nth($sprite, 8);
  background-size: $sprite-width $sprite-height;
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  @include sprite-size($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  .sprite-order {
    background-image: url('/cmsstatic/asset/images/sprite-order.png');
    background-size: 122px 88px;
  }
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .sprite-order-#{$sprite-name} {
      @include sprite-position($sprite);
      @include sprite-width($sprite);
      @include sprite-height($sprite);
    }
  }
}
