// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;

$common-answer-name: 'common-answer';
$common-answer-x: 230px;
$common-answer-y: 192px;
$common-answer-offset-x: -230px;
$common-answer-offset-y: -192px;
$common-answer-width: 16px;
$common-answer-height: 16px;
$common-answer-total-width: 341px;
$common-answer-total-height: 314px;
$common-answer-image: '/cmsstatic/asset/images/sprite-common.png';
$common-answer: (230px, 192px, -230px, -192px, 16px, 16px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'answer', );
$common-arrow-down-accordion-name: 'common-arrow-down-accordion';
$common-arrow-down-accordion-x: 325px;
$common-arrow-down-accordion-y: 166px;
$common-arrow-down-accordion-offset-x: -325px;
$common-arrow-down-accordion-offset-y: -166px;
$common-arrow-down-accordion-width: 10px;
$common-arrow-down-accordion-height: 10px;
$common-arrow-down-accordion-total-width: 341px;
$common-arrow-down-accordion-total-height: 314px;
$common-arrow-down-accordion-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-down-accordion: (325px, 166px, -325px, -166px, 10px, 10px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-down-accordion', );
$common-arrow-down-accordion-large-name: 'common-arrow-down-accordion-large';
$common-arrow-down-accordion-large-x: 297px;
$common-arrow-down-accordion-large-y: 53px;
$common-arrow-down-accordion-large-offset-x: -297px;
$common-arrow-down-accordion-large-offset-y: -53px;
$common-arrow-down-accordion-large-width: 20px;
$common-arrow-down-accordion-large-height: 20px;
$common-arrow-down-accordion-large-total-width: 341px;
$common-arrow-down-accordion-large-total-height: 314px;
$common-arrow-down-accordion-large-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-down-accordion-large: (297px, 53px, -297px, -53px, 20px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-down-accordion-large', );
$common-arrow-down-dropdown-name: 'common-arrow-down-dropdown';
$common-arrow-down-dropdown-x: 325px;
$common-arrow-down-dropdown-y: 180px;
$common-arrow-down-dropdown-offset-x: -325px;
$common-arrow-down-dropdown-offset-y: -180px;
$common-arrow-down-dropdown-width: 10px;
$common-arrow-down-dropdown-height: 10px;
$common-arrow-down-dropdown-total-width: 341px;
$common-arrow-down-dropdown-total-height: 314px;
$common-arrow-down-dropdown-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-down-dropdown: (325px, 180px, -325px, -180px, 10px, 10px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-down-dropdown', );
$common-arrow-down-dropdown-small-name: 'common-arrow-down-dropdown-small';
$common-arrow-down-dropdown-small-x: 325px;
$common-arrow-down-dropdown-small-y: 252px;
$common-arrow-down-dropdown-small-offset-x: -325px;
$common-arrow-down-dropdown-small-offset-y: -252px;
$common-arrow-down-dropdown-small-width: 10px;
$common-arrow-down-dropdown-small-height: 6px;
$common-arrow-down-dropdown-small-total-width: 341px;
$common-arrow-down-dropdown-small-total-height: 314px;
$common-arrow-down-dropdown-small-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-down-dropdown-small: (325px, 252px, -325px, -252px, 10px, 6px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-down-dropdown-small', );
$common-arrow-down-selectbox-name: 'common-arrow-down-selectbox';
$common-arrow-down-selectbox-x: 325px;
$common-arrow-down-selectbox-y: 194px;
$common-arrow-down-selectbox-offset-x: -325px;
$common-arrow-down-selectbox-offset-y: -194px;
$common-arrow-down-selectbox-width: 10px;
$common-arrow-down-selectbox-height: 10px;
$common-arrow-down-selectbox-total-width: 341px;
$common-arrow-down-selectbox-total-height: 314px;
$common-arrow-down-selectbox-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-down-selectbox: (325px, 194px, -325px, -194px, 10px, 10px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-down-selectbox', );
$common-arrow-left-nav-back-name: 'common-arrow-left-nav-back';
$common-arrow-left-nav-back-x: 297px;
$common-arrow-left-nav-back-y: 77px;
$common-arrow-left-nav-back-offset-x: -297px;
$common-arrow-left-nav-back-offset-y: -77px;
$common-arrow-left-nav-back-width: 20px;
$common-arrow-left-nav-back-height: 20px;
$common-arrow-left-nav-back-total-width: 341px;
$common-arrow-left-nav-back-total-height: 314px;
$common-arrow-left-nav-back-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-left-nav-back: (297px, 77px, -297px, -77px, 20px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-left-nav-back', );
$common-arrow-left-swiper-name: 'common-arrow-left-swiper';
$common-arrow-left-swiper-x: 212px;
$common-arrow-left-swiper-y: 84px;
$common-arrow-left-swiper-offset-x: -212px;
$common-arrow-left-swiper-offset-y: -84px;
$common-arrow-left-swiper-width: 30px;
$common-arrow-left-swiper-height: 30px;
$common-arrow-left-swiper-total-width: 341px;
$common-arrow-left-swiper-total-height: 314px;
$common-arrow-left-swiper-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-left-swiper: (212px, 84px, -212px, -84px, 30px, 30px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-left-swiper', );
$common-arrow-left-swiper-small-name: 'common-arrow-left-swiper-small';
$common-arrow-left-swiper-small-x: 297px;
$common-arrow-left-swiper-small-y: 101px;
$common-arrow-left-swiper-small-offset-x: -297px;
$common-arrow-left-swiper-small-offset-y: -101px;
$common-arrow-left-swiper-small-width: 20px;
$common-arrow-left-swiper-small-height: 20px;
$common-arrow-left-swiper-small-total-width: 341px;
$common-arrow-left-swiper-small-total-height: 314px;
$common-arrow-left-swiper-small-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-left-swiper-small: (297px, 101px, -297px, -101px, 20px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-left-swiper-small', );
$common-arrow-left-swiper-transparent-name: 'common-arrow-left-swiper-transparent';
$common-arrow-left-swiper-transparent-x: 212px;
$common-arrow-left-swiper-transparent-y: 40px;
$common-arrow-left-swiper-transparent-offset-x: -212px;
$common-arrow-left-swiper-transparent-offset-y: -40px;
$common-arrow-left-swiper-transparent-width: 30px;
$common-arrow-left-swiper-transparent-height: 30px;
$common-arrow-left-swiper-transparent-total-width: 341px;
$common-arrow-left-swiper-transparent-total-height: 314px;
$common-arrow-left-swiper-transparent-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-left-swiper-transparent: (212px, 40px, -212px, -40px, 30px, 30px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-left-swiper-transparent', );
$common-arrow-right-link-name: 'common-arrow-right-link';
$common-arrow-right-link-x: 297px;
$common-arrow-right-link-y: 149px;
$common-arrow-right-link-offset-x: -297px;
$common-arrow-right-link-offset-y: -149px;
$common-arrow-right-link-width: 20px;
$common-arrow-right-link-height: 20px;
$common-arrow-right-link-total-width: 341px;
$common-arrow-right-link-total-height: 314px;
$common-arrow-right-link-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-right-link: (297px, 149px, -297px, -149px, 20px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-right-link', );
$common-arrow-right-link-over-name: 'common-arrow-right-link-over';
$common-arrow-right-link-over-x: 297px;
$common-arrow-right-link-over-y: 125px;
$common-arrow-right-link-over-offset-x: -297px;
$common-arrow-right-link-over-offset-y: -125px;
$common-arrow-right-link-over-width: 20px;
$common-arrow-right-link-over-height: 20px;
$common-arrow-right-link-over-total-width: 341px;
$common-arrow-right-link-over-total-height: 314px;
$common-arrow-right-link-over-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-right-link-over: (297px, 125px, -297px, -125px, 20px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-right-link-over', );
$common-arrow-right-swiper-name: 'common-arrow-right-swiper';
$common-arrow-right-swiper-x: 44px;
$common-arrow-right-swiper-y: 216px;
$common-arrow-right-swiper-offset-x: -44px;
$common-arrow-right-swiper-offset-y: -216px;
$common-arrow-right-swiper-width: 30px;
$common-arrow-right-swiper-height: 30px;
$common-arrow-right-swiper-total-width: 341px;
$common-arrow-right-swiper-total-height: 314px;
$common-arrow-right-swiper-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-right-swiper: (44px, 216px, -44px, -216px, 30px, 30px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-right-swiper', );
$common-arrow-right-swiper-small-name: 'common-arrow-right-swiper-small';
$common-arrow-right-swiper-small-x: 297px;
$common-arrow-right-swiper-small-y: 173px;
$common-arrow-right-swiper-small-offset-x: -297px;
$common-arrow-right-swiper-small-offset-y: -173px;
$common-arrow-right-swiper-small-width: 20px;
$common-arrow-right-swiper-small-height: 20px;
$common-arrow-right-swiper-small-total-width: 341px;
$common-arrow-right-swiper-small-total-height: 314px;
$common-arrow-right-swiper-small-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-right-swiper-small: (297px, 173px, -297px, -173px, 20px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-right-swiper-small', );
$common-arrow-right-swiper-transparent-name: 'common-arrow-right-swiper-transparent';
$common-arrow-right-swiper-transparent-x: 128px;
$common-arrow-right-swiper-transparent-y: 84px;
$common-arrow-right-swiper-transparent-offset-x: -128px;
$common-arrow-right-swiper-transparent-offset-y: -84px;
$common-arrow-right-swiper-transparent-width: 30px;
$common-arrow-right-swiper-transparent-height: 30px;
$common-arrow-right-swiper-transparent-total-width: 341px;
$common-arrow-right-swiper-transparent-total-height: 314px;
$common-arrow-right-swiper-transparent-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-right-swiper-transparent: (128px, 84px, -128px, -84px, 30px, 30px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-right-swiper-transparent', );
$common-arrow-up-dropdown-small-name: 'common-arrow-up-dropdown-small';
$common-arrow-up-dropdown-small-x: 325px;
$common-arrow-up-dropdown-small-y: 262px;
$common-arrow-up-dropdown-small-offset-x: -325px;
$common-arrow-up-dropdown-small-offset-y: -262px;
$common-arrow-up-dropdown-small-width: 10px;
$common-arrow-up-dropdown-small-height: 6px;
$common-arrow-up-dropdown-small-total-width: 341px;
$common-arrow-up-dropdown-small-total-height: 314px;
$common-arrow-up-dropdown-small-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-up-dropdown-small: (325px, 262px, -325px, -262px, 10px, 6px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-up-dropdown-small', );
$common-arrow-up-search-name: 'common-arrow-up-search';
$common-arrow-up-search-x: 297px;
$common-arrow-up-search-y: 197px;
$common-arrow-up-search-offset-x: -297px;
$common-arrow-up-search-offset-y: -197px;
$common-arrow-up-search-width: 20px;
$common-arrow-up-search-height: 20px;
$common-arrow-up-search-total-width: 341px;
$common-arrow-up-search-total-height: 314px;
$common-arrow-up-search-image: '/cmsstatic/asset/images/sprite-common.png';
$common-arrow-up-search: (297px, 197px, -297px, -197px, 20px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'arrow-up-search', );
$common-back-name: 'common-back';
$common-back-x: 134px;
$common-back-y: 168px;
$common-back-offset-x: -134px;
$common-back-offset-y: -168px;
$common-back-width: 26px;
$common-back-height: 20px;
$common-back-total-width: 341px;
$common-back-total-height: 314px;
$common-back-image: '/cmsstatic/asset/images/sprite-common.png';
$common-back: (134px, 168px, -134px, -168px, 26px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'back', );
$common-bell-name: 'common-bell';
$common-bell-x: 238px;
$common-bell-y: 260px;
$common-bell-offset-x: -238px;
$common-bell-offset-y: -260px;
$common-bell-width: 26px;
$common-bell-height: 26px;
$common-bell-total-width: 341px;
$common-bell-total-height: 314px;
$common-bell-image: '/cmsstatic/asset/images/sprite-common.png';
$common-bell: (238px, 260px, -238px, -260px, 26px, 26px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'bell', );
$common-block-end-name: 'common-block-end';
$common-block-end-x: 297px;
$common-block-end-y: 28px;
$common-block-end-offset-x: -297px;
$common-block-end-offset-y: -28px;
$common-block-end-width: 21px;
$common-block-end-height: 21px;
$common-block-end-total-width: 341px;
$common-block-end-total-height: 314px;
$common-block-end-image: '/cmsstatic/asset/images/sprite-common.png';
$common-block-end: (297px, 28px, -297px, -28px, 21px, 21px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'block-end', );
$common-block-start-name: 'common-block-start';
$common-block-start-x: 297px;
$common-block-start-y: 221px;
$common-block-start-offset-x: -297px;
$common-block-start-offset-y: -221px;
$common-block-start-width: 20px;
$common-block-start-height: 20px;
$common-block-start-total-width: 341px;
$common-block-start-total-height: 314px;
$common-block-start-image: '/cmsstatic/asset/images/sprite-common.png';
$common-block-start: (297px, 221px, -297px, -221px, 20px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'block-start', );
$common-cart-plus-name: 'common-cart-plus';
$common-cart-plus-x: 78px;
$common-cart-plus-y: 216px;
$common-cart-plus-offset-x: -78px;
$common-cart-plus-offset-y: -216px;
$common-cart-plus-width: 30px;
$common-cart-plus-height: 30px;
$common-cart-plus-total-width: 341px;
$common-cart-plus-total-height: 314px;
$common-cart-plus-image: '/cmsstatic/asset/images/sprite-common.png';
$common-cart-plus: (78px, 216px, -78px, -216px, 30px, 30px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'cart-plus', );
$common-checkbox-name: 'common-checkbox';
$common-checkbox-x: 218px;
$common-checkbox-y: 168px;
$common-checkbox-offset-x: -218px;
$common-checkbox-offset-y: -168px;
$common-checkbox-width: 20px;
$common-checkbox-height: 20px;
$common-checkbox-total-width: 341px;
$common-checkbox-total-height: 314px;
$common-checkbox-image: '/cmsstatic/asset/images/sprite-common.png';
$common-checkbox: (218px, 168px, -218px, -168px, 20px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'checkbox', );
$common-checkbox-on-name: 'common-checkbox-on';
$common-checkbox-on-x: 297px;
$common-checkbox-on-y: 245px;
$common-checkbox-on-offset-x: -297px;
$common-checkbox-on-offset-y: -245px;
$common-checkbox-on-width: 20px;
$common-checkbox-on-height: 20px;
$common-checkbox-on-total-width: 341px;
$common-checkbox-on-total-height: 314px;
$common-checkbox-on-image: '/cmsstatic/asset/images/sprite-common.png';
$common-checkbox-on: (297px, 245px, -297px, -245px, 20px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'checkbox-on', );
$common-checkbox-plain-name: 'common-checkbox-plain';
$common-checkbox-plain-x: 194px;
$common-checkbox-plain-y: 168px;
$common-checkbox-plain-offset-x: -194px;
$common-checkbox-plain-offset-y: -168px;
$common-checkbox-plain-width: 20px;
$common-checkbox-plain-height: 20px;
$common-checkbox-plain-total-width: 341px;
$common-checkbox-plain-total-height: 314px;
$common-checkbox-plain-image: '/cmsstatic/asset/images/sprite-common.png';
$common-checkbox-plain: (194px, 168px, -194px, -168px, 20px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'checkbox-plain', );
$common-checkbox-plain-on-name: 'common-checkbox-plain-on';
$common-checkbox-plain-on-x: 297px;
$common-checkbox-plain-on-y: 269px;
$common-checkbox-plain-on-offset-x: -297px;
$common-checkbox-plain-on-offset-y: -269px;
$common-checkbox-plain-on-width: 20px;
$common-checkbox-plain-on-height: 20px;
$common-checkbox-plain-on-total-width: 341px;
$common-checkbox-plain-on-total-height: 314px;
$common-checkbox-plain-on-image: '/cmsstatic/asset/images/sprite-common.png';
$common-checkbox-plain-on: (297px, 269px, -297px, -269px, 20px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'checkbox-plain-on', );
$common-checkbox-small-name: 'common-checkbox-small';
$common-checkbox-small-x: 325px;
$common-checkbox-small-y: 114px;
$common-checkbox-small-offset-x: -325px;
$common-checkbox-small-offset-y: -114px;
$common-checkbox-small-width: 14px;
$common-checkbox-small-height: 14px;
$common-checkbox-small-total-width: 341px;
$common-checkbox-small-total-height: 314px;
$common-checkbox-small-image: '/cmsstatic/asset/images/sprite-common.png';
$common-checkbox-small: (325px, 114px, -325px, -114px, 14px, 14px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'checkbox-small', );
$common-checkbox-small-2-name: 'common-checkbox-small-2';
$common-checkbox-small-2-x: 325px;
$common-checkbox-small-2-y: 78px;
$common-checkbox-small-2-offset-x: -325px;
$common-checkbox-small-2-offset-y: -78px;
$common-checkbox-small-2-width: 14px;
$common-checkbox-small-2-height: 14px;
$common-checkbox-small-2-total-width: 341px;
$common-checkbox-small-2-total-height: 314px;
$common-checkbox-small-2-image: '/cmsstatic/asset/images/sprite-common.png';
$common-checkbox-small-2: (325px, 78px, -325px, -78px, 14px, 14px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'checkbox-small-2', );
$common-checkbox-small-2-on-name: 'common-checkbox-small-2-on';
$common-checkbox-small-2-on-x: 325px;
$common-checkbox-small-2-on-y: 60px;
$common-checkbox-small-2-on-offset-x: -325px;
$common-checkbox-small-2-on-offset-y: -60px;
$common-checkbox-small-2-on-width: 14px;
$common-checkbox-small-2-on-height: 14px;
$common-checkbox-small-2-on-total-width: 341px;
$common-checkbox-small-2-on-total-height: 314px;
$common-checkbox-small-2-on-image: '/cmsstatic/asset/images/sprite-common.png';
$common-checkbox-small-2-on: (325px, 60px, -325px, -60px, 14px, 14px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'checkbox-small-2-on', );
$common-checkbox-small-on-name: 'common-checkbox-small-on';
$common-checkbox-small-on-x: 325px;
$common-checkbox-small-on-y: 96px;
$common-checkbox-small-on-offset-x: -325px;
$common-checkbox-small-on-offset-y: -96px;
$common-checkbox-small-on-width: 14px;
$common-checkbox-small-on-height: 14px;
$common-checkbox-small-on-total-width: 341px;
$common-checkbox-small-on-total-height: 314px;
$common-checkbox-small-on-image: '/cmsstatic/asset/images/sprite-common.png';
$common-checkbox-small-on: (325px, 96px, -325px, -96px, 14px, 14px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'checkbox-small-on', );
$common-clear-name: 'common-clear';
$common-clear-x: 134px;
$common-clear-y: 192px;
$common-clear-offset-x: -134px;
$common-clear-offset-y: -192px;
$common-clear-width: 20px;
$common-clear-height: 20px;
$common-clear-total-width: 341px;
$common-clear-total-height: 314px;
$common-clear-image: '/cmsstatic/asset/images/sprite-common.png';
$common-clear: (134px, 192px, -134px, -192px, 20px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'clear', );
$common-clear-large-name: 'common-clear-large';
$common-clear-large-x: 168px;
$common-clear-large-y: 40px;
$common-clear-large-offset-x: -168px;
$common-clear-large-offset-y: -40px;
$common-clear-large-width: 40px;
$common-clear-large-height: 40px;
$common-clear-large-total-width: 341px;
$common-clear-large-total-height: 314px;
$common-clear-large-image: '/cmsstatic/asset/images/sprite-common.png';
$common-clear-large: (168px, 40px, -168px, -40px, 40px, 40px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'clear-large', );
$common-clock-name: 'common-clock';
$common-clock-x: 325px;
$common-clock-y: 0px;
$common-clock-offset-x: -325px;
$common-clock-offset-y: 0px;
$common-clock-width: 16px;
$common-clock-height: 16px;
$common-clock-total-width: 341px;
$common-clock-total-height: 314px;
$common-clock-image: '/cmsstatic/asset/images/sprite-common.png';
$common-clock: (325px, 0px, -325px, 0px, 16px, 16px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'clock', );
$common-close-layer-name: 'common-close-layer';
$common-close-layer-x: 168px;
$common-close-layer-y: 84px;
$common-close-layer-offset-x: -168px;
$common-close-layer-offset-y: -84px;
$common-close-layer-width: 40px;
$common-close-layer-height: 40px;
$common-close-layer-total-width: 341px;
$common-close-layer-total-height: 314px;
$common-close-layer-image: '/cmsstatic/asset/images/sprite-common.png';
$common-close-layer: (168px, 84px, -168px, -84px, 40px, 40px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'close-layer', );
$common-close-layer-small-name: 'common-close-layer-small';
$common-close-layer-small-x: 325px;
$common-close-layer-small-y: 150px;
$common-close-layer-small-offset-x: -325px;
$common-close-layer-small-offset-y: -150px;
$common-close-layer-small-width: 12px;
$common-close-layer-small-height: 12px;
$common-close-layer-small-total-width: 341px;
$common-close-layer-small-total-height: 314px;
$common-close-layer-small-image: '/cmsstatic/asset/images/sprite-common.png';
$common-close-layer-small: (325px, 150px, -325px, -150px, 12px, 12px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'close-layer-small', );
$common-close-layer-white-name: 'common-close-layer-white';
$common-close-layer-white-x: 112px;
$common-close-layer-white-y: 216px;
$common-close-layer-white-offset-x: -112px;
$common-close-layer-white-offset-y: -216px;
$common-close-layer-white-width: 30px;
$common-close-layer-white-height: 30px;
$common-close-layer-white-total-width: 341px;
$common-close-layer-white-total-height: 314px;
$common-close-layer-white-image: '/cmsstatic/asset/images/sprite-common.png';
$common-close-layer-white: (112px, 216px, -112px, -216px, 30px, 30px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'close-layer-white', );
$common-coordinate-name: 'common-coordinate';
$common-coordinate-x: 146px;
$common-coordinate-y: 216px;
$common-coordinate-offset-x: -146px;
$common-coordinate-offset-y: -216px;
$common-coordinate-width: 30px;
$common-coordinate-height: 30px;
$common-coordinate-total-width: 341px;
$common-coordinate-total-height: 314px;
$common-coordinate-image: '/cmsstatic/asset/images/sprite-common.png';
$common-coordinate: (146px, 216px, -146px, -216px, 30px, 30px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'coordinate', );
$common-dropdown-arrow-right-name: 'common-dropdown-arrow-right';
$common-dropdown-arrow-right-x: 325px;
$common-dropdown-arrow-right-y: 236px;
$common-dropdown-arrow-right-offset-x: -325px;
$common-dropdown-arrow-right-offset-y: -236px;
$common-dropdown-arrow-right-width: 7px;
$common-dropdown-arrow-right-height: 12px;
$common-dropdown-arrow-right-total-width: 341px;
$common-dropdown-arrow-right-total-height: 314px;
$common-dropdown-arrow-right-image: '/cmsstatic/asset/images/sprite-common.png';
$common-dropdown-arrow-right: (325px, 236px, -325px, -236px, 7px, 12px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'dropdown-arrow-right', );
$common-eye-name: 'common-eye';
$common-eye-x: 214px;
$common-eye-y: 216px;
$common-eye-offset-x: -214px;
$common-eye-offset-y: -216px;
$common-eye-width: 30px;
$common-eye-height: 30px;
$common-eye-total-width: 341px;
$common-eye-total-height: 314px;
$common-eye-image: '/cmsstatic/asset/images/sprite-common.png';
$common-eye: (214px, 216px, -214px, -216px, 30px, 30px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'eye', );
$common-eye-close-name: 'common-eye-close';
$common-eye-close-x: 180px;
$common-eye-close-y: 216px;
$common-eye-close-offset-x: -180px;
$common-eye-close-offset-y: -216px;
$common-eye-close-width: 30px;
$common-eye-close-height: 30px;
$common-eye-close-total-width: 341px;
$common-eye-close-total-height: 314px;
$common-eye-close-image: '/cmsstatic/asset/images/sprite-common.png';
$common-eye-close: (180px, 216px, -180px, -216px, 30px, 30px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'eye-close', );
$common-filter-name: 'common-filter';
$common-filter-x: 253px;
$common-filter-y: 176px;
$common-filter-offset-x: -253px;
$common-filter-offset-y: -176px;
$common-filter-width: 32px;
$common-filter-height: 32px;
$common-filter-total-width: 341px;
$common-filter-total-height: 314px;
$common-filter-image: '/cmsstatic/asset/images/sprite-common.png';
$common-filter: (253px, 176px, -253px, -176px, 32px, 32px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'filter', );
$common-heart-name: 'common-heart';
$common-heart-x: 68px;
$common-heart-y: 260px;
$common-heart-offset-x: -68px;
$common-heart-offset-y: -260px;
$common-heart-width: 30px;
$common-heart-height: 30px;
$common-heart-total-width: 341px;
$common-heart-total-height: 314px;
$common-heart-image: '/cmsstatic/asset/images/sprite-common.png';
$common-heart: (68px, 260px, -68px, -260px, 30px, 30px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'heart', );
$common-heart-minus-name: 'common-heart-minus';
$common-heart-minus-x: 248px;
$common-heart-minus-y: 216px;
$common-heart-minus-offset-x: -248px;
$common-heart-minus-offset-y: -216px;
$common-heart-minus-width: 30px;
$common-heart-minus-height: 30px;
$common-heart-minus-total-width: 341px;
$common-heart-minus-total-height: 314px;
$common-heart-minus-image: '/cmsstatic/asset/images/sprite-common.png';
$common-heart-minus: (248px, 216px, -248px, -216px, 30px, 30px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'heart-minus', );
$common-heart-on-name: 'common-heart-on';
$common-heart-on-x: 0px;
$common-heart-on-y: 260px;
$common-heart-on-offset-x: 0px;
$common-heart-on-offset-y: -260px;
$common-heart-on-width: 30px;
$common-heart-on-height: 30px;
$common-heart-on-total-width: 341px;
$common-heart-on-total-height: 314px;
$common-heart-on-image: '/cmsstatic/asset/images/sprite-common.png';
$common-heart-on: (0px, 260px, 0px, -260px, 30px, 30px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'heart-on', );
$common-heart-plus-name: 'common-heart-plus';
$common-heart-plus-x: 34px;
$common-heart-plus-y: 260px;
$common-heart-plus-offset-x: -34px;
$common-heart-plus-offset-y: -260px;
$common-heart-plus-width: 30px;
$common-heart-plus-height: 30px;
$common-heart-plus-total-width: 341px;
$common-heart-plus-total-height: 314px;
$common-heart-plus-image: '/cmsstatic/asset/images/sprite-common.png';
$common-heart-plus: (34px, 260px, -34px, -260px, 30px, 30px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'heart-plus', );
$common-icon-back-name: 'common-icon-back';
$common-icon-back-x: 164px;
$common-icon-back-y: 168px;
$common-icon-back-offset-x: -164px;
$common-icon-back-offset-y: -168px;
$common-icon-back-width: 26px;
$common-icon-back-height: 20px;
$common-icon-back-total-width: 341px;
$common-icon-back-total-height: 314px;
$common-icon-back-image: '/cmsstatic/asset/images/sprite-common.png';
$common-icon-back: (164px, 168px, -164px, -168px, 26px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'icon-back', );
$common-landing-small-black-name: 'common-landing-small-black';
$common-landing-small-black-x: 325px;
$common-landing-small-black-y: 208px;
$common-landing-small-black-offset-x: -325px;
$common-landing-small-black-offset-y: -208px;
$common-landing-small-black-width: 10px;
$common-landing-small-black-height: 10px;
$common-landing-small-black-total-width: 341px;
$common-landing-small-black-total-height: 314px;
$common-landing-small-black-image: '/cmsstatic/asset/images/sprite-common.png';
$common-landing-small-black: (325px, 208px, -325px, -208px, 10px, 10px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'landing-small-black', );
$common-landing-small-grey-name: 'common-landing-small-grey';
$common-landing-small-grey-x: 325px;
$common-landing-small-grey-y: 222px;
$common-landing-small-grey-offset-x: -325px;
$common-landing-small-grey-offset-y: -222px;
$common-landing-small-grey-width: 10px;
$common-landing-small-grey-height: 10px;
$common-landing-small-grey-total-width: 341px;
$common-landing-small-grey-total-height: 314px;
$common-landing-small-grey-image: '/cmsstatic/asset/images/sprite-common.png';
$common-landing-small-grey: (325px, 222px, -325px, -222px, 10px, 10px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'landing-small-grey', );
$common-landing-xb-name: 'common-landing-xb';
$common-landing-xb-x: 72px;
$common-landing-xb-y: 294px;
$common-landing-xb-offset-x: -72px;
$common-landing-xb-offset-y: -294px;
$common-landing-xb-width: 36px;
$common-landing-xb-height: 10px;
$common-landing-xb-total-width: 341px;
$common-landing-xb-total-height: 314px;
$common-landing-xb-image: '/cmsstatic/asset/images/sprite-common.png';
$common-landing-xb: (72px, 294px, -72px, -294px, 36px, 10px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'landing-xb', );
$common-lock-name: 'common-lock';
$common-lock-x: 325px;
$common-lock-y: 20px;
$common-lock-offset-x: -325px;
$common-lock-offset-y: -20px;
$common-lock-width: 16px;
$common-lock-height: 16px;
$common-lock-total-width: 341px;
$common-lock-total-height: 314px;
$common-lock-image: '/cmsstatic/asset/images/sprite-common.png';
$common-lock: (325px, 20px, -325px, -20px, 16px, 16px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'lock', );
$common-logo-footer-name: 'common-logo-footer';
$common-logo-footer-x: 168px;
$common-logo-footer-y: 0px;
$common-logo-footer-offset-x: -168px;
$common-logo-footer-offset-y: 0px;
$common-logo-footer-width: 81px;
$common-logo-footer-height: 36px;
$common-logo-footer-total-width: 341px;
$common-logo-footer-total-height: 314px;
$common-logo-footer-image: '/cmsstatic/asset/images/sprite-common.png';
$common-logo-footer: (168px, 0px, -168px, 0px, 81px, 36px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'logo-footer', );
$common-no-photo-review-name: 'common-no-photo-review';
$common-no-photo-review-x: 0px;
$common-no-photo-review-y: 0px;
$common-no-photo-review-offset-x: 0px;
$common-no-photo-review-offset-y: 0px;
$common-no-photo-review-width: 80px;
$common-no-photo-review-height: 80px;
$common-no-photo-review-total-width: 341px;
$common-no-photo-review-total-height: 314px;
$common-no-photo-review-image: '/cmsstatic/asset/images/sprite-common.png';
$common-no-photo-review: (0px, 0px, 0px, 0px, 80px, 80px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'no-photo-review', );
$common-no-qna-name: 'common-no-qna';
$common-no-qna-x: 84px;
$common-no-qna-y: 0px;
$common-no-qna-offset-x: -84px;
$common-no-qna-offset-y: 0px;
$common-no-qna-width: 80px;
$common-no-qna-height: 80px;
$common-no-qna-total-width: 341px;
$common-no-qna-total-height: 314px;
$common-no-qna-image: '/cmsstatic/asset/images/sprite-common.png';
$common-no-qna: (84px, 0px, -84px, 0px, 80px, 80px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'no-qna', );
$common-no-review-name: 'common-no-review';
$common-no-review-x: 0px;
$common-no-review-y: 84px;
$common-no-review-offset-x: 0px;
$common-no-review-offset-y: -84px;
$common-no-review-width: 80px;
$common-no-review-height: 80px;
$common-no-review-total-width: 341px;
$common-no-review-total-height: 314px;
$common-no-review-image: '/cmsstatic/asset/images/sprite-common.png';
$common-no-review: (0px, 84px, 0px, -84px, 80px, 80px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'no-review', );
$common-question-name: 'common-question';
$common-question-x: 158px;
$common-question-y: 192px;
$common-question-offset-x: -158px;
$common-question-offset-y: -192px;
$common-question-width: 20px;
$common-question-height: 20px;
$common-question-total-width: 341px;
$common-question-total-height: 314px;
$common-question-image: '/cmsstatic/asset/images/sprite-common.png';
$common-question: (158px, 192px, -158px, -192px, 20px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'question', );
$common-question-large-name: 'common-question-large';
$common-question-large-x: 268px;
$common-question-large-y: 260px;
$common-question-large-offset-x: -268px;
$common-question-large-offset-y: -260px;
$common-question-large-width: 24px;
$common-question-large-height: 24px;
$common-question-large-total-width: 341px;
$common-question-large-total-height: 314px;
$common-question-large-image: '/cmsstatic/asset/images/sprite-common.png';
$common-question-large: (268px, 260px, -268px, -260px, 24px, 24px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'question-large', );
$common-question-small-name: 'common-question-small';
$common-question-small-x: 325px;
$common-question-small-y: 40px;
$common-question-small-offset-x: -325px;
$common-question-small-offset-y: -40px;
$common-question-small-width: 16px;
$common-question-small-height: 16px;
$common-question-small-total-width: 341px;
$common-question-small-total-height: 314px;
$common-question-small-image: '/cmsstatic/asset/images/sprite-common.png';
$common-question-small: (325px, 40px, -325px, -40px, 16px, 16px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'question-small', );
$common-radio-name: 'common-radio';
$common-radio-x: 206px;
$common-radio-y: 192px;
$common-radio-offset-x: -206px;
$common-radio-offset-y: -192px;
$common-radio-width: 20px;
$common-radio-height: 20px;
$common-radio-total-width: 341px;
$common-radio-total-height: 314px;
$common-radio-image: '/cmsstatic/asset/images/sprite-common.png';
$common-radio: (206px, 192px, -206px, -192px, 20px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'radio', );
$common-radio-large-name: 'common-radio-large';
$common-radio-large-x: 136px;
$common-radio-large-y: 260px;
$common-radio-large-offset-x: -136px;
$common-radio-large-offset-y: -260px;
$common-radio-large-width: 30px;
$common-radio-large-height: 30px;
$common-radio-large-total-width: 341px;
$common-radio-large-total-height: 314px;
$common-radio-large-image: '/cmsstatic/asset/images/sprite-common.png';
$common-radio-large: (136px, 260px, -136px, -260px, 30px, 30px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'radio-large', );
$common-radio-large-on-name: 'common-radio-large-on';
$common-radio-large-on-x: 102px;
$common-radio-large-on-y: 260px;
$common-radio-large-on-offset-x: -102px;
$common-radio-large-on-offset-y: -260px;
$common-radio-large-on-width: 30px;
$common-radio-large-on-height: 30px;
$common-radio-large-on-total-width: 341px;
$common-radio-large-on-total-height: 314px;
$common-radio-large-on-image: '/cmsstatic/asset/images/sprite-common.png';
$common-radio-large-on: (102px, 260px, -102px, -260px, 30px, 30px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'radio-large-on', );
$common-radio-on-name: 'common-radio-on';
$common-radio-on-x: 182px;
$common-radio-on-y: 192px;
$common-radio-on-offset-x: -182px;
$common-radio-on-offset-y: -192px;
$common-radio-on-width: 20px;
$common-radio-on-height: 20px;
$common-radio-on-total-width: 341px;
$common-radio-on-total-height: 314px;
$common-radio-on-image: '/cmsstatic/asset/images/sprite-common.png';
$common-radio-on: (182px, 192px, -182px, -192px, 20px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'radio-on', );
$common-remove-name: 'common-remove';
$common-remove-x: 325px;
$common-remove-y: 132px;
$common-remove-offset-x: -325px;
$common-remove-offset-y: -132px;
$common-remove-width: 14px;
$common-remove-height: 14px;
$common-remove-total-width: 341px;
$common-remove-total-height: 314px;
$common-remove-image: '/cmsstatic/asset/images/sprite-common.png';
$common-remove: (325px, 132px, -325px, -132px, 14px, 14px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'remove', );
$common-reset-name: 'common-reset';
$common-reset-x: 0px;
$common-reset-y: 294px;
$common-reset-offset-x: 0px;
$common-reset-offset-y: -294px;
$common-reset-width: 20px;
$common-reset-height: 20px;
$common-reset-total-width: 341px;
$common-reset-total-height: 314px;
$common-reset-image: '/cmsstatic/asset/images/sprite-common.png';
$common-reset: (0px, 294px, 0px, -294px, 20px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'reset', );
$common-rocation-info-name: 'common-rocation-info';
$common-rocation-info-x: 24px;
$common-rocation-info-y: 294px;
$common-rocation-info-offset-x: -24px;
$common-rocation-info-offset-y: -294px;
$common-rocation-info-width: 20px;
$common-rocation-info-height: 20px;
$common-rocation-info-total-width: 341px;
$common-rocation-info-total-height: 314px;
$common-rocation-info-image: '/cmsstatic/asset/images/sprite-common.png';
$common-rocation-info: (24px, 294px, -24px, -294px, 20px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'rocation-info', );
$common-search-name: 'common-search';
$common-search-x: 297px;
$common-search-y: 0px;
$common-search-offset-x: -297px;
$common-search-offset-y: 0px;
$common-search-width: 24px;
$common-search-height: 24px;
$common-search-total-width: 341px;
$common-search-total-height: 314px;
$common-search-image: '/cmsstatic/asset/images/sprite-common.png';
$common-search: (297px, 0px, -297px, 0px, 24px, 24px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'search', );
$common-search-large-name: 'common-search-large';
$common-search-large-x: 84px;
$common-search-large-y: 84px;
$common-search-large-offset-x: -84px;
$common-search-large-offset-y: -84px;
$common-search-large-width: 40px;
$common-search-large-height: 40px;
$common-search-large-total-width: 341px;
$common-search-large-total-height: 314px;
$common-search-large-image: '/cmsstatic/asset/images/sprite-common.png';
$common-search-large: (84px, 84px, -84px, -84px, 40px, 40px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'search-large', );
$common-share-name: 'common-share';
$common-share-x: 170px;
$common-share-y: 260px;
$common-share-offset-x: -170px;
$common-share-offset-y: -260px;
$common-share-width: 30px;
$common-share-height: 30px;
$common-share-total-width: 341px;
$common-share-total-height: 314px;
$common-share-image: '/cmsstatic/asset/images/sprite-common.png';
$common-share: (170px, 260px, -170px, -260px, 30px, 30px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'share', );
$common-sns-facebook-name: 'common-sns-facebook';
$common-sns-facebook-x: 253px;
$common-sns-facebook-y: 0px;
$common-sns-facebook-offset-x: -253px;
$common-sns-facebook-offset-y: 0px;
$common-sns-facebook-width: 40px;
$common-sns-facebook-height: 40px;
$common-sns-facebook-total-width: 341px;
$common-sns-facebook-total-height: 314px;
$common-sns-facebook-image: '/cmsstatic/asset/images/sprite-common.png';
$common-sns-facebook: (253px, 0px, -253px, 0px, 40px, 40px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'sns-facebook', );
$common-sns-insta-name: 'common-sns-insta';
$common-sns-insta-x: 253px;
$common-sns-insta-y: 44px;
$common-sns-insta-offset-x: -253px;
$common-sns-insta-offset-y: -44px;
$common-sns-insta-width: 40px;
$common-sns-insta-height: 40px;
$common-sns-insta-total-width: 341px;
$common-sns-insta-total-height: 314px;
$common-sns-insta-image: '/cmsstatic/asset/images/sprite-common.png';
$common-sns-insta: (253px, 44px, -253px, -44px, 40px, 40px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'sns-insta', );
$common-sns-kakao-name: 'common-sns-kakao';
$common-sns-kakao-x: 253px;
$common-sns-kakao-y: 88px;
$common-sns-kakao-offset-x: -253px;
$common-sns-kakao-offset-y: -88px;
$common-sns-kakao-width: 40px;
$common-sns-kakao-height: 40px;
$common-sns-kakao-total-width: 341px;
$common-sns-kakao-total-height: 314px;
$common-sns-kakao-image: '/cmsstatic/asset/images/sprite-common.png';
$common-sns-kakao: (253px, 88px, -253px, -88px, 40px, 40px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'sns-kakao', );
$common-sns-youtube-name: 'common-sns-youtube';
$common-sns-youtube-x: 253px;
$common-sns-youtube-y: 132px;
$common-sns-youtube-offset-x: -253px;
$common-sns-youtube-offset-y: -132px;
$common-sns-youtube-width: 40px;
$common-sns-youtube-height: 40px;
$common-sns-youtube-total-width: 341px;
$common-sns-youtube-total-height: 314px;
$common-sns-youtube-image: '/cmsstatic/asset/images/sprite-common.png';
$common-sns-youtube: (253px, 132px, -253px, -132px, 40px, 40px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'sns-youtube', );
$common-star-name: 'common-star';
$common-star-x: 168px;
$common-star-y: 148px;
$common-star-offset-x: -168px;
$common-star-offset-y: -148px;
$common-star-width: 80px;
$common-star-height: 16px;
$common-star-total-width: 341px;
$common-star-total-height: 314px;
$common-star-image: '/cmsstatic/asset/images/sprite-common.png';
$common-star: (168px, 148px, -168px, -148px, 80px, 16px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'star', );
$common-star-large-name: 'common-star-large';
$common-star-large-x: 0px;
$common-star-large-y: 192px;
$common-star-large-offset-x: 0px;
$common-star-large-offset-y: -192px;
$common-star-large-width: 130px;
$common-star-large-height: 20px;
$common-star-large-total-width: 341px;
$common-star-large-total-height: 314px;
$common-star-large-image: '/cmsstatic/asset/images/sprite-common.png';
$common-star-large: (0px, 192px, 0px, -192px, 130px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'star-large', );
$common-star-large-on-name: 'common-star-large-on';
$common-star-large-on-x: 0px;
$common-star-large-on-y: 168px;
$common-star-large-on-offset-x: 0px;
$common-star-large-on-offset-y: -168px;
$common-star-large-on-width: 130px;
$common-star-large-on-height: 20px;
$common-star-large-on-total-width: 341px;
$common-star-large-on-total-height: 314px;
$common-star-large-on-image: '/cmsstatic/asset/images/sprite-common.png';
$common-star-large-on: (0px, 168px, 0px, -168px, 130px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'star-large-on', );
$common-star-on-name: 'common-star-on';
$common-star-on-x: 168px;
$common-star-on-y: 128px;
$common-star-on-offset-x: -168px;
$common-star-on-offset-y: -128px;
$common-star-on-width: 80px;
$common-star-on-height: 16px;
$common-star-on-total-width: 341px;
$common-star-on-total-height: 314px;
$common-star-on-image: '/cmsstatic/asset/images/sprite-common.png';
$common-star-on: (168px, 128px, -168px, -128px, 80px, 16px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'star-on', );
$common-star-small-name: 'common-star-small';
$common-star-small-x: 84px;
$common-star-small-y: 146px;
$common-star-small-offset-x: -84px;
$common-star-small-offset-y: -146px;
$common-star-small-width: 70px;
$common-star-small-height: 14px;
$common-star-small-total-width: 341px;
$common-star-small-total-height: 314px;
$common-star-small-image: '/cmsstatic/asset/images/sprite-common.png';
$common-star-small: (84px, 146px, -84px, -146px, 70px, 14px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'star-small', );
$common-star-small-on-name: 'common-star-small-on';
$common-star-small-on-x: 84px;
$common-star-small-on-y: 128px;
$common-star-small-on-offset-x: -84px;
$common-star-small-on-offset-y: -128px;
$common-star-small-on-width: 70px;
$common-star-small-on-height: 14px;
$common-star-small-on-total-width: 341px;
$common-star-small-on-total-height: 314px;
$common-star-small-on-image: '/cmsstatic/asset/images/sprite-common.png';
$common-star-small-on: (84px, 128px, -84px, -128px, 70px, 14px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'star-small-on', );
$common-tel-name: 'common-tel';
$common-tel-x: 48px;
$common-tel-y: 294px;
$common-tel-offset-x: -48px;
$common-tel-offset-y: -294px;
$common-tel-width: 20px;
$common-tel-height: 20px;
$common-tel-total-width: 341px;
$common-tel-total-height: 314px;
$common-tel-image: '/cmsstatic/asset/images/sprite-common.png';
$common-tel: (48px, 294px, -48px, -294px, 20px, 20px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'tel', );
$common-time-truck-name: 'common-time-truck';
$common-time-truck-x: 204px;
$common-time-truck-y: 260px;
$common-time-truck-offset-x: -204px;
$common-time-truck-offset-y: -260px;
$common-time-truck-width: 30px;
$common-time-truck-height: 30px;
$common-time-truck-total-width: 341px;
$common-time-truck-total-height: 314px;
$common-time-truck-image: '/cmsstatic/asset/images/sprite-common.png';
$common-time-truck: (204px, 260px, -204px, -260px, 30px, 30px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'time-truck', );
$common-top-button-name: 'common-top-button';
$common-top-button-x: 0px;
$common-top-button-y: 216px;
$common-top-button-offset-x: 0px;
$common-top-button-offset-y: -216px;
$common-top-button-width: 40px;
$common-top-button-height: 40px;
$common-top-button-total-width: 341px;
$common-top-button-total-height: 314px;
$common-top-button-image: '/cmsstatic/asset/images/sprite-common.png';
$common-top-button: (0px, 216px, 0px, -216px, 40px, 40px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'top-button', );
$common-tree-name: 'common-tree';
$common-tree-x: 325px;
$common-tree-y: 272px;
$common-tree-offset-x: -325px;
$common-tree-offset-y: -272px;
$common-tree-width: 7px;
$common-tree-height: 7px;
$common-tree-total-width: 341px;
$common-tree-total-height: 314px;
$common-tree-image: '/cmsstatic/asset/images/sprite-common.png';
$common-tree: (325px, 272px, -325px, -272px, 7px, 7px, 341px, 314px, '/cmsstatic/asset/images/sprite-common.png', 'tree', );
$sprite-common-width: 341px;
$sprite-common-height: 314px;
$sprite-common-image: '/cmsstatic/asset/images/sprite-common.png';
$sprite-common-sprites: ($common-answer, $common-arrow-down-accordion, $common-arrow-down-accordion-large, $common-arrow-down-dropdown, $common-arrow-down-dropdown-small, $common-arrow-down-selectbox, $common-arrow-left-nav-back, $common-arrow-left-swiper, $common-arrow-left-swiper-small, $common-arrow-left-swiper-transparent, $common-arrow-right-link, $common-arrow-right-link-over, $common-arrow-right-swiper, $common-arrow-right-swiper-small, $common-arrow-right-swiper-transparent, $common-arrow-up-dropdown-small, $common-arrow-up-search, $common-back, $common-bell, $common-block-end, $common-block-start, $common-cart-plus, $common-checkbox, $common-checkbox-on, $common-checkbox-plain, $common-checkbox-plain-on, $common-checkbox-small, $common-checkbox-small-2, $common-checkbox-small-2-on, $common-checkbox-small-on, $common-clear, $common-clear-large, $common-clock, $common-close-layer, $common-close-layer-small, $common-close-layer-white, $common-coordinate, $common-dropdown-arrow-right, $common-eye, $common-eye-close, $common-filter, $common-heart, $common-heart-minus, $common-heart-on, $common-heart-plus, $common-icon-back, $common-landing-small-black, $common-landing-small-grey, $common-landing-xb, $common-lock, $common-logo-footer, $common-no-photo-review, $common-no-qna, $common-no-review, $common-question, $common-question-large, $common-question-small, $common-radio, $common-radio-large, $common-radio-large-on, $common-radio-on, $common-remove, $common-reset, $common-rocation-info, $common-search, $common-search-large, $common-share, $common-sns-facebook, $common-sns-insta, $common-sns-kakao, $common-sns-youtube, $common-star, $common-star-large, $common-star-large-on, $common-star-on, $common-star-small, $common-star-small-on, $common-tel, $common-time-truck, $common-top-button, $common-tree, );
$sprite-common: (341px, 314px, '/cmsstatic/asset/images/sprite-common.png', $sprite-common-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite-size($sprite) {
  $sprite-width: nth($sprite, 7);
  $sprite-height: nth($sprite, 8);
  background-size: $sprite-width $sprite-height;
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  @include sprite-size($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  .sprite-common {
    background-image: url('/cmsstatic/asset/images/sprite-common.png');
    background-size: 341px 314px;
  }
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .sprite-common-#{$sprite-name} {
      @include sprite-position($sprite);
      @include sprite-width($sprite);
      @include sprite-height($sprite);
    }
  }
}
