// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;

$mypage-address-small-name: 'mypage-address-small';
$mypage-address-small-x: 158px;
$mypage-address-small-y: 126px;
$mypage-address-small-offset-x: -158px;
$mypage-address-small-offset-y: -126px;
$mypage-address-small-width: 24px;
$mypage-address-small-height: 24px;
$mypage-address-small-total-width: 242px;
$mypage-address-small-total-height: 182px;
$mypage-address-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-address-small: (158px, 126px, -158px, -126px, 24px, 24px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'address-small', );
$mypage-arrow-right-step-name: 'mypage-arrow-right-step';
$mypage-arrow-right-step-x: 234px;
$mypage-arrow-right-step-y: 20px;
$mypage-arrow-right-step-offset-x: -234px;
$mypage-arrow-right-step-offset-y: -20px;
$mypage-arrow-right-step-width: 8px;
$mypage-arrow-right-step-height: 20px;
$mypage-arrow-right-step-total-width: 242px;
$mypage-arrow-right-step-total-height: 182px;
$mypage-arrow-right-step-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-arrow-right-step: (234px, 20px, -234px, -20px, 8px, 20px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'arrow-right-step', );
$mypage-badgebook-small-name: 'mypage-badgebook-small';
$mypage-badgebook-small-x: 186px;
$mypage-badgebook-small-y: 126px;
$mypage-badgebook-small-offset-x: -186px;
$mypage-badgebook-small-offset-y: -126px;
$mypage-badgebook-small-width: 24px;
$mypage-badgebook-small-height: 24px;
$mypage-badgebook-small-total-width: 242px;
$mypage-badgebook-small-total-height: 182px;
$mypage-badgebook-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-badgebook-small: (186px, 126px, -186px, -126px, 24px, 24px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'badgebook-small', );
$mypage-benefit-small-name: 'mypage-benefit-small';
$mypage-benefit-small-x: 214px;
$mypage-benefit-small-y: 126px;
$mypage-benefit-small-offset-x: -214px;
$mypage-benefit-small-offset-y: -126px;
$mypage-benefit-small-width: 24px;
$mypage-benefit-small-height: 24px;
$mypage-benefit-small-total-width: 242px;
$mypage-benefit-small-total-height: 182px;
$mypage-benefit-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-benefit-small: (214px, 126px, -214px, -126px, 24px, 24px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'benefit-small', );
$mypage-cart-name: 'mypage-cart';
$mypage-cart-x: 158px;
$mypage-cart-y: 58px;
$mypage-cart-offset-x: -158px;
$mypage-cart-offset-y: -58px;
$mypage-cart-width: 30px;
$mypage-cart-height: 30px;
$mypage-cart-total-width: 242px;
$mypage-cart-total-height: 182px;
$mypage-cart-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-cart: (158px, 58px, -158px, -58px, 30px, 30px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'cart', );
$mypage-claim-small-name: 'mypage-claim-small';
$mypage-claim-small-x: 74px;
$mypage-claim-small-y: 118px;
$mypage-claim-small-offset-x: -74px;
$mypage-claim-small-offset-y: -118px;
$mypage-claim-small-width: 24px;
$mypage-claim-small-height: 24px;
$mypage-claim-small-total-width: 242px;
$mypage-claim-small-total-height: 182px;
$mypage-claim-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-claim-small: (74px, 118px, -74px, -118px, 24px, 24px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'claim-small', );
$mypage-coupon-large-name: 'mypage-coupon-large';
$mypage-coupon-large-x: 158px;
$mypage-coupon-large-y: 20px;
$mypage-coupon-large-offset-x: -158px;
$mypage-coupon-large-offset-y: -20px;
$mypage-coupon-large-width: 34px;
$mypage-coupon-large-height: 34px;
$mypage-coupon-large-total-width: 242px;
$mypage-coupon-large-total-height: 182px;
$mypage-coupon-large-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-coupon-large: (158px, 20px, -158px, -20px, 34px, 34px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'coupon-large', );
$mypage-coupon-small-name: 'mypage-coupon-small';
$mypage-coupon-small-x: 102px;
$mypage-coupon-small-y: 118px;
$mypage-coupon-small-offset-x: -102px;
$mypage-coupon-small-offset-y: -118px;
$mypage-coupon-small-width: 24px;
$mypage-coupon-small-height: 24px;
$mypage-coupon-small-total-width: 242px;
$mypage-coupon-small-total-height: 182px;
$mypage-coupon-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-coupon-small: (102px, 118px, -102px, -118px, 24px, 24px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'coupon-small', );
$mypage-lfmembers-name: 'mypage-lfmembers';
$mypage-lfmembers-x: 158px;
$mypage-lfmembers-y: 0px;
$mypage-lfmembers-offset-x: -158px;
$mypage-lfmembers-offset-y: 0px;
$mypage-lfmembers-width: 84px;
$mypage-lfmembers-height: 16px;
$mypage-lfmembers-total-width: 242px;
$mypage-lfmembers-total-height: 182px;
$mypage-lfmembers-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-lfmembers: (158px, 0px, -158px, 0px, 84px, 16px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'lfmembers', );
$mypage-listsearch-small-name: 'mypage-listsearch-small';
$mypage-listsearch-small-x: 130px;
$mypage-listsearch-small-y: 118px;
$mypage-listsearch-small-offset-x: -130px;
$mypage-listsearch-small-offset-y: -118px;
$mypage-listsearch-small-width: 24px;
$mypage-listsearch-small-height: 24px;
$mypage-listsearch-small-total-width: 242px;
$mypage-listsearch-small-total-height: 182px;
$mypage-listsearch-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-listsearch-small: (130px, 118px, -130px, -118px, 24px, 24px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'listsearch-small', );
$mypage-mileage-large-name: 'mypage-mileage-large';
$mypage-mileage-large-x: 196px;
$mypage-mileage-large-y: 20px;
$mypage-mileage-large-offset-x: -196px;
$mypage-mileage-large-offset-y: -20px;
$mypage-mileage-large-width: 34px;
$mypage-mileage-large-height: 34px;
$mypage-mileage-large-total-width: 242px;
$mypage-mileage-large-total-height: 182px;
$mypage-mileage-large-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-mileage-large: (196px, 20px, -196px, -20px, 34px, 34px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'mileage-large', );
$mypage-mileage-small-name: 'mypage-mileage-small';
$mypage-mileage-small-x: 0px;
$mypage-mileage-small-y: 158px;
$mypage-mileage-small-offset-x: 0px;
$mypage-mileage-small-offset-y: -158px;
$mypage-mileage-small-width: 24px;
$mypage-mileage-small-height: 24px;
$mypage-mileage-small-total-width: 242px;
$mypage-mileage-small-total-height: 182px;
$mypage-mileage-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-mileage-small: (0px, 158px, 0px, -158px, 24px, 24px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'mileage-small', );
$mypage-myinfo-small-name: 'mypage-myinfo-small';
$mypage-myinfo-small-x: 28px;
$mypage-myinfo-small-y: 158px;
$mypage-myinfo-small-offset-x: -28px;
$mypage-myinfo-small-offset-y: -158px;
$mypage-myinfo-small-width: 24px;
$mypage-myinfo-small-height: 24px;
$mypage-myinfo-small-total-width: 242px;
$mypage-myinfo-small-total-height: 182px;
$mypage-myinfo-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-myinfo-small: (28px, 158px, -28px, -158px, 24px, 24px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'myinfo-small', );
$mypage-no-mileage-name: 'mypage-no-mileage';
$mypage-no-mileage-x: 0px;
$mypage-no-mileage-y: 0px;
$mypage-no-mileage-offset-x: 0px;
$mypage-no-mileage-offset-y: 0px;
$mypage-no-mileage-width: 80px;
$mypage-no-mileage-height: 80px;
$mypage-no-mileage-total-width: 242px;
$mypage-no-mileage-total-height: 182px;
$mypage-no-mileage-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-no-mileage: (0px, 0px, 0px, 0px, 80px, 80px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'no-mileage', );
$mypage-push-name: 'mypage-push';
$mypage-push-x: 192px;
$mypage-push-y: 58px;
$mypage-push-offset-x: -192px;
$mypage-push-offset-y: -58px;
$mypage-push-width: 30px;
$mypage-push-height: 30px;
$mypage-push-total-width: 242px;
$mypage-push-total-height: 182px;
$mypage-push-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-push: (192px, 58px, -192px, -58px, 30px, 30px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'push', );
$mypage-push-small-name: 'mypage-push-small';
$mypage-push-small-x: 56px;
$mypage-push-small-y: 158px;
$mypage-push-small-offset-x: -56px;
$mypage-push-small-offset-y: -158px;
$mypage-push-small-width: 24px;
$mypage-push-small-height: 24px;
$mypage-push-small-total-width: 242px;
$mypage-push-small-total-height: 182px;
$mypage-push-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-push-small: (56px, 158px, -56px, -158px, 24px, 24px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'push-small', );
$mypage-qna-name: 'mypage-qna';
$mypage-qna-x: 158px;
$mypage-qna-y: 92px;
$mypage-qna-offset-x: -158px;
$mypage-qna-offset-y: -92px;
$mypage-qna-width: 30px;
$mypage-qna-height: 30px;
$mypage-qna-total-width: 242px;
$mypage-qna-total-height: 182px;
$mypage-qna-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-qna: (158px, 92px, -158px, -92px, 30px, 30px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'qna', );
$mypage-qna-small-name: 'mypage-qna-small';
$mypage-qna-small-x: 84px;
$mypage-qna-small-y: 158px;
$mypage-qna-small-offset-x: -84px;
$mypage-qna-small-offset-y: -158px;
$mypage-qna-small-width: 24px;
$mypage-qna-small-height: 24px;
$mypage-qna-small-total-width: 242px;
$mypage-qna-small-total-height: 182px;
$mypage-qna-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-qna-small: (84px, 158px, -84px, -158px, 24px, 24px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'qna-small', );
$mypage-recent-name: 'mypage-recent';
$mypage-recent-x: 192px;
$mypage-recent-y: 92px;
$mypage-recent-offset-x: -192px;
$mypage-recent-offset-y: -92px;
$mypage-recent-width: 30px;
$mypage-recent-height: 30px;
$mypage-recent-total-width: 242px;
$mypage-recent-total-height: 182px;
$mypage-recent-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-recent: (192px, 92px, -192px, -92px, 30px, 30px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'recent', );
$mypage-recent-small-name: 'mypage-recent-small';
$mypage-recent-small-x: 112px;
$mypage-recent-small-y: 158px;
$mypage-recent-small-offset-x: -112px;
$mypage-recent-small-offset-y: -158px;
$mypage-recent-small-width: 24px;
$mypage-recent-small-height: 24px;
$mypage-recent-small-total-width: 242px;
$mypage-recent-small-total-height: 182px;
$mypage-recent-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-recent-small: (112px, 158px, -112px, -158px, 24px, 24px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'recent-small', );
$mypage-recent-x-large-name: 'mypage-recent-x-large';
$mypage-recent-x-large-x: 84px;
$mypage-recent-x-large-y: 0px;
$mypage-recent-x-large-offset-x: -84px;
$mypage-recent-x-large-offset-y: 0px;
$mypage-recent-x-large-width: 70px;
$mypage-recent-x-large-height: 70px;
$mypage-recent-x-large-total-width: 242px;
$mypage-recent-x-large-total-height: 182px;
$mypage-recent-x-large-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-recent-x-large: (84px, 0px, -84px, 0px, 70px, 70px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'recent-x-large', );
$mypage-review-name: 'mypage-review';
$mypage-review-x: 74px;
$mypage-review-y: 84px;
$mypage-review-offset-x: -74px;
$mypage-review-offset-y: -84px;
$mypage-review-width: 30px;
$mypage-review-height: 30px;
$mypage-review-total-width: 242px;
$mypage-review-total-height: 182px;
$mypage-review-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-review: (74px, 84px, -74px, -84px, 30px, 30px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'review', );
$mypage-review-small-name: 'mypage-review-small';
$mypage-review-small-x: 140px;
$mypage-review-small-y: 158px;
$mypage-review-small-offset-x: -140px;
$mypage-review-small-offset-y: -158px;
$mypage-review-small-width: 24px;
$mypage-review-small-height: 24px;
$mypage-review-small-total-width: 242px;
$mypage-review-small-total-height: 182px;
$mypage-review-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-review-small: (140px, 158px, -140px, -158px, 24px, 24px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'review-small', );
$mypage-wish-name: 'mypage-wish';
$mypage-wish-x: 108px;
$mypage-wish-y: 84px;
$mypage-wish-offset-x: -108px;
$mypage-wish-offset-y: -84px;
$mypage-wish-width: 30px;
$mypage-wish-height: 30px;
$mypage-wish-total-width: 242px;
$mypage-wish-total-height: 182px;
$mypage-wish-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-wish: (108px, 84px, -108px, -84px, 30px, 30px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'wish', );
$mypage-wish-small-name: 'mypage-wish-small';
$mypage-wish-small-x: 168px;
$mypage-wish-small-y: 158px;
$mypage-wish-small-offset-x: -168px;
$mypage-wish-small-offset-y: -158px;
$mypage-wish-small-width: 24px;
$mypage-wish-small-height: 24px;
$mypage-wish-small-total-width: 242px;
$mypage-wish-small-total-height: 182px;
$mypage-wish-small-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-wish-small: (168px, 158px, -168px, -158px, 24px, 24px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'wish-small', );
$mypage-wish-x-large-name: 'mypage-wish-x-large';
$mypage-wish-x-large-x: 0px;
$mypage-wish-x-large-y: 84px;
$mypage-wish-x-large-offset-x: 0px;
$mypage-wish-x-large-offset-y: -84px;
$mypage-wish-x-large-width: 70px;
$mypage-wish-x-large-height: 70px;
$mypage-wish-x-large-total-width: 242px;
$mypage-wish-x-large-total-height: 182px;
$mypage-wish-x-large-image: '/cmsstatic/asset/images/sprite-mypage.png';
$mypage-wish-x-large: (0px, 84px, 0px, -84px, 70px, 70px, 242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', 'wish-x-large', );
$sprite-mypage-width: 242px;
$sprite-mypage-height: 182px;
$sprite-mypage-image: '/cmsstatic/asset/images/sprite-mypage.png';
$sprite-mypage-sprites: ($mypage-address-small, $mypage-arrow-right-step, $mypage-badgebook-small, $mypage-benefit-small, $mypage-cart, $mypage-claim-small, $mypage-coupon-large, $mypage-coupon-small, $mypage-lfmembers, $mypage-listsearch-small, $mypage-mileage-large, $mypage-mileage-small, $mypage-myinfo-small, $mypage-no-mileage, $mypage-push, $mypage-push-small, $mypage-qna, $mypage-qna-small, $mypage-recent, $mypage-recent-small, $mypage-recent-x-large, $mypage-review, $mypage-review-small, $mypage-wish, $mypage-wish-small, $mypage-wish-x-large, );
$sprite-mypage: (242px, 182px, '/cmsstatic/asset/images/sprite-mypage.png', $sprite-mypage-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite-size($sprite) {
  $sprite-width: nth($sprite, 7);
  $sprite-height: nth($sprite, 8);
  background-size: $sprite-width $sprite-height;
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  @include sprite-size($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  .sprite-mypage {
    background-image: url('/cmsstatic/asset/images/sprite-mypage.png');
    background-size: 242px 182px;
  }
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .sprite-mypage-#{$sprite-name} {
      @include sprite-position($sprite);
      @include sprite-width($sprite);
      @include sprite-height($sprite);
    }
  }
}
