<!-- 주문 조회 -->
<div id="modalOrderSearch" class="modal modal--order-search" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <h1 class="modal__header__title">주문 조회</h1>
      <button type="button" class="modal__header__button" aria-label="닫기" data-modal-close="">
        <i class="sprite-icon sprite-common sprite-common-close-layer">닫기</i>
      </button>
    </div>
    <div class="modal__body">
      <div class="order-search">
        <!-- 탭 -->
        <div class="month-tab">
          <button type="button" class="button active">1개월</button>
          <button type="button" class="button">3개월</button>
          <button type="button" class="button">6개월</button>
          <button type="button" class="button">12개월</button>
        </div>
        <!-- //탭 -->
        <!-- 주문 리스트 -->
        <ul class="order-list">
            <li class="order-list__item">
              <div class="form-radio">
                <input type="radio" class="radio" name="orderProduct" title="주문 상품">
                <i class="icon"></i>
                <div class="order-detail">
                  <div class="order-detail__num">
                    <p class="order-num">주문번호 <em>72937594576</em></p>
                    <p class="order-date">주문일자 <em>2021.04.19</em></p>
                  </div>
                  <ul class="order-prouct-list">
                    <li class="order-product">
                      <a href="#" class="order-product__image">
                        <img src="/cmsstatic/asset/images/temp/product_80x104_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                      <div class="order-product__detail">
                        <a href="#" class="product-info">
                          <p class="product-info__brand">HAZZZYS ACC</p>
                          <p class="product-info__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                          <p class="product-info__option">
                            <span class="option">차콜그레이</span>
                            <span class="option">68 XL</span>
                            <span class="option">1개</span>
                          </p>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="order-list__item">
              <div class="form-radio">
                <input type="radio" class="radio" name="orderProduct" title="주문 상품">
                <i class="icon"></i>
                <div class="order-detail">
                  <div class="order-detail__num">
                    <p class="order-num">주문번호 <em>72937594576</em></p>
                    <p class="order-date">주문일자 <em>2021.04.19</em></p>
                  </div>
                  <ul class="order-prouct-list">
                    <li class="order-product">
                      <a href="#" class="order-product__image">
                        <img src="/cmsstatic/asset/images/temp/product_80x104_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                      <div class="order-product__detail">
                        <a href="#" class="product-info">
                          <p class="product-info__brand">HAZZZYS ACC</p>
                          <p class="product-info__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                          <p class="product-info__option">
                            <span class="option">차콜그레이</span>
                            <span class="option">68 XL</span>
                            <span class="option">1개</span>
                          </p>
                        </a>
                      </div>
                    </li>
                    <li class="order-product">
                      <a href="#" class="order-product__image">
                        <img src="/cmsstatic/asset/images/temp/product_80x104_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                      <div class="order-product__detail">
                        <a href="#" class="product-info">
                          <p class="product-info__brand">HAZZZYS ACC</p>
                          <p class="product-info__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                          <p class="product-info__option">
                            <span class="option">차콜그레이</span>
                            <span class="option">68 XL</span>
                            <span class="option">1개</span>
                          </p>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
        </ul>
        <!-- //주문 리스트 -->
        <!-- 더보기 -->
        <div class="button-more">
          <button type="button" class="button">더보기<i class="icon"></i></button>
        </div>
        <!-- 확인 -->
        <div class="button-regist">
          <button type="button" class="form-button form-button--main">확인</button>
        </div>
      </div>
    </div>
  </div>
</div>