{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--order">
  <div class="main-header">
    <h2 class="main-header__title">쇼핑백</h2>
    <button type="button" class="button main-header__btn-back" aria-label="닫기" data-sidebar-close>
      <i class="sprite-icon sprite-common sprite-common-back">닫기</i>
    </button>
  </div>
  <div class="main-content">
    <div class="empty-shoppingback">
      <p class="empty-text">쇼핑백이 비어 있어요!!</p>
      <p class="whis-text">쇼핑백에 담긴 상품은 30일동안 보관되며<br>더 오래 보관하시려면 위시리스트에 담아주세요.</p>
      <button type="button" class="form-button active">쇼핑하러 가기</button>
    </div>
  </div>
</main>
{% endblock %}

{% block modal %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/order.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/order.js"></script>
{% endblock js %}