{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--order">
  <div class="main-header">
    <h2 class="main-header__title">주문서</h2>
    <button type="button" class="button main-header__btn-back" aria-label="닫기" data-sidebar-close>
      <i class="sprite-icon sprite-common sprite-common-back">닫기</i>
    </button>
  </div>
  <div class="main-content">
    <!-- 주문서 -->
    <div class="order-wrap order-sheet">
      <div class="product-wrap">
        <!-- 주문 상품 -->
        <div class="order-product" data-accordion role="tablist">
          <div class="accordion__item active" data-accordion-item>
            <div class="accordion__title">
              <button type="button" class="button" data-tab-toggle role="tab" aria-controls="order-accordion" id="order-accordion-label">
                <span class="title">주문상품</span>
                <span class="num">(2개)</span>
              </button>
            </div>
            <!-- is-desktop 타이틀 영역 -->
            <div class="product-th">
              <span class="title-info">상품정보</span>
              <span class="title-price">상품금액</span>
            </div>
            <div class="accordion__content" data-tab-content role="tabpanel" aria-labelledby="order-accordion-label" id="order-accordion">
              <!-- 주문서 상품 리스트 -->
              <div class="product-list">
                <ul>
                  <li>
                    <div class="product-detail">
                      <div class="product-detail__thmb-img">
                        <a href="#">
                          <img src="/cmsstatic/asset/images/temp/product_80x104_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                        </a>
                      </div>
                      <div class="product-detail__detail-info">
                        <p class="brand-name">HAZZYS ACC</p>
                        <p class="product-name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                        <p class="product-opt">차콜그레이 / 68 XL / 1개</p>
                        <!-- is-mobile 일 때 가격 -->
                        <div class="price-bx">
                          <div class="product-price">
                            <span class="sale-price">680,000</span>
                            <button type="button" class="question-mark button-price-info" data-modal-open="#modalPriceDetail">가격안내</button>
                          </div>
                          <div class="real-price">
                            <del>966,000</del>
                            <span class="sale">40%</span>
                          </div>
                        </div>
                        <div class="point-delivery">
                          <p class="point-delivery__bx"><span class="tx-color-orange">1,070M</span> 적립예정</p>
                          <p class="point-delivery__bx"><span class="tx-color-orange">03/24(수)</span> 도착예정 <span class="tx-color-gray">(15시 이전 결제 시)</span></p>
                        </div>
                      </div>
                    </div>
                    <!-- is-desktop 일 때 가격 -->
                    <div class="price-bx web-price">
                      <div class="product-price">
                        <span class="sale-price">680,000</span>
                        <button type="button" class="question-mark button-price-info" data-modal-open="#modalPriceDetail">가격안내</button>
                      </div>
                      <p class="tx-family-price">패밀리 회원가 적용 중</p>
                    </div>
                  </li>
                  <li>
                    <div class="product-detail">
                      <div class="product-detail__thmb-img">
                        <a href="#">
                          <img src="/cmsstatic/asset/images/temp/product_80x104_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                        </a>
                      </div>
                      <div class="product-detail__detail-info">
                        <p class="brand-name">HAZZYS ACC</p>
                        <p class="product-name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                        <p class="product-opt">차콜그레이 / 68 XL / 1개</p>
                        <div class="price-bx">
                          <div class="product-price">
                            <span class="sale-price">680,000</span>
                            <button type="button" class="question-mark button-price-info" data-modal-open="#modalPriceDetail">가격안내</button>
                          </div>
                          <div class="real-price">
                            <del>966,000</del>
                            <span class="sale">40%</span>
                          </div>
                        </div>
                        <div class="point-delivery">
                          <p class="point-delivery__bx"><span class="tx-color-orange">1,070M</span> 적립예정</p>
                          <p class="point-delivery__bx"><span class="tx-color-orange">03/24(수)</span> 도착예정 <span class="tx-color-gray">(15시 이전 결제 시)</span></p>
                        </div>
                      </div>
                    </div>
                    <div class="price-bx web-price">
                      <div class="product-price">
                        <span class="sale-price">680,000</span>
                        <button type="button" class="question-mark button-price-info" data-modal-open="#modalPriceDetail">가격안내</button>
                      </div>
                      <p class="tx-family-price">패밀리 회원가 적용 중</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 결제 예정 금액 -->
      <div class="mnodr-total">
        <h3 class="mnodr-tit">결제 예정 금액</h3>
        <dl class="mnodr-bx">
          <dt class="mnodr-bx__tit">상품금액</dt>
          <dd class="mnodr-bx__price">344,100원</dd>
        </dl>
        <dl class="mnodr-bx">
          <dt class="mnodr-bx__tit">즉시할인</dt>
          <dd class="mnodr-bx__price">-34,410원</dd>
        </dl>
        <dl class="mnodr-bx">
          <dt class="mnodr-bx__tit">추가할인</dt>
          <dd class="mnodr-bx__price">0원</dd>
        </dl>
        <dl class="mnodr-bx">
          <dt class="mnodr-bx__tit">보유마일리지</dt>
          <dd class="mnodr-bx__price">0M</dd>
        </dl>
        <dl class="mnodr-bx">
          <dt class="mnodr-bx__tit">배송비</dt>
          <dd class="mnodr-bx__price">무료</dd>
        </dl>
        <dl class="mnodr-bx">
          <dt class="mnodr-bx__tit">적립예정</dt>
          <dd class="mnodr-bx__price">17,000M</dd>
        </dl>
        <div class="total-price">
          <dl class="mnodr-bx">
            <dt class="mnodr-bx__tit">총 결제 예정 금액</dt>
            <dd class="mnodr-bx__price">309,900원</dd>
          </dl>
          <dl class="mnodr-bx">
            <dt class="mnodr-bx__tit">제품 구입비 적용가</dt>
            <dd class="mnodr-bx__price">209,900원</dd>
          </dl>
        </div>
        <p class="coupon-mileage-text">쿠폰 및 마일리지 사용에 따라 최종 결제금액은 달라질 수 있습니다.</p>
        <div class="button-bx">
          <button type="button" class="form-button form-button--point">다음단계</button>
        </div>
      </div>
      <!-- 배송정보 입력 전 -->
      <div class="delivery-info" data-accordion role="tablist">
        <div class="accordion__item active" data-accordion-item>
          <div class="accordion__title">
            <button type="button" class="button" data-tab-toggle role="tab" aria-controls="delivery-accordion" id="delivery-accordion-label">
              <span class="title">배송정보</span>
            </button>
          </div>
          <div class="accordion__content" data-tab-content role="tabpanel" aria-labelledby="delivery-accordion-label" id="delivery-accordion">
            <!-- 배송정보 컨텐츠 -->
            <div class="tabs">
              <div class="tablist" role="tablist" aria-label="review">
                <button type="button" class="tab" role="tab" aria-selected="true" aria-controls="generalDelivery-tab" id="generalDelivery">일반 배송</button>
                <button type="button" class="tab" role="tab" aria-selected="false" aria-controls="shopPickup-tab" id="shopPickup" tabindex="-1">매장 픽업 <span class="layer-speech-bubble">2,500M 적립혜택</span></button>
              </div>
              <div class="tabpanel" tabindex="0" role="tabpanel" id="generalDelivery-tab" aria-labelledby="generalDelivery">
                <div class="delivery-link">
                  <button type="button" class="link">신규 배송지</button>
                  <button type="button" class="link" data-modal-open="#modalDeliveryList">배송지 목록</button>
                </div>
                <!-- 일반 배송 -->
                <div class="delivery-form">
                  <div class="delivery-bx-left">
                    <div class="input-block member-name">
                      <input type="text" class="form-text" placeholder="받는 분 성함을 입력해 주세요">
                    </div>
                    <div class="form-flex form-phone">
                      <span class="form-select">
                        <select class="select">
                          <option value="">010</option>
                          <option value="011">011</option>
                          <option value="016">016</option>
                        </select>
                        <i class="icon"></i>
                      </span>
                      <div class="input-block form-phone-input">
                        <input type="text" class="form-text" placeholder="-없이 숫자만 입력해 주세요">
                      </div>
                    </div>
                  </div>
                  <div class="delivery-bx-right">
                    <div class="form-flex form-address">
                      <div class="input-block form-address-inp">
                        <input type="text" class="form-text">
                      </div>
                      <div class="address-search">
                        <button type="button" class="form-button form-button--plain">주소 검색</button>
                      </div>
                    </div>
                    <div class="input-block form-address-detail">
                      <input type="text" class="form-text">
                    </div>
                    <div class="input-block form-address-detail">
                      <input type="text" class="form-text" placeholder=" 상세 주소를 입력해 주세요">
                    </div>
                    <div class="check-field basics-delivery-setting">
                      <label class="form-checkbox">
                        <input type="checkbox" class="checkbox">
                        <span class="name">기본 배송지로 설정</span>
                      </label>
                    </div>
                    <div class="delivery-requst-select">
                      <span class="form-select">
                        <select class="select" required>
                          <option value="" disabled selected>배송 요청 사항을 선택해 주세요</option>
                          <option value="부재시 경비실에 맡겨주세요.">부재시 경비실에 맡겨주세요.</option>
                          <option value="부재시, 문앞에 놓아주세요.">부재시, 문앞에 놓아주세요.</option>
                          <option value="직접 받겠습니다.">직접 받겠습니다.</option>
                          <option value="부재시, 문앞에 놓아주세요.">부재시, 문앞에 놓아주세요.</option>
                          <option value="배송전에 연락주세요.">배송전에 연락주세요.</option>
                          <option value="직접입력">직접입력</option>
                        </select>
                        <i class="icon"></i>
                      </span>
                    </div>
                    <div class="check-field">
                      <label class="form-checkbox delivery-request-save">
                        <input type="checkbox" class="checkbox">
                        <span class="name">배송 요청 사항 저장</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 매장 픽업 -->
              <div class="tabpanel" tabindex="0" role="tabpanel" id="shopPickup-tab" aria-labelledby="shopPickup" hidden>
                <div class="shop-pickup">
                  <button type="button" class="button-map-view" data-modal-open="#modalShopLocation">위치 보기</button>
                  <p class="spaceh-text-1">SPACE H 에서 여러분을 기다리고 있습니다.</p>
                  <p class="spaceh-text-2">SPACE H 헤지스 명동점에서 상품을 픽업하시면 프리미엄 서비스를 경험하실 수 있습니다.</p>
                  <div class="visit-member-info">
                    <div class="input-block info-name">
                      <input type="text" class="form-text" placeholder="방문하실 분의 이름을 입력해주세요">
                    </div>
                    <div class="form-flex info-phone">
                      <span class="form-select">
                        <select class="select">
                          <option value="">010</option>
                          <option value="011">011</option>
                          <option value="016">016</option>
                        </select>
                        <i class="icon"></i>
                      </span>
                      <div class="input-block info-phone-input">
                        <input type="text" class="form-text" placeholder="-없이 숫자만 입력해 주세요">
                      </div>
                    </div>
                  </div>
                  <div class="spaceh-pickup-benefit">
                    <h3 class="title">SPACE H 픽업 혜택</h3>
                    <ul class="pickup-benefit-list">
                      <li>
                        <i class="icon-benefit icon-benefit-1"></i>
                        <span class="text">픽업 후 추가<br>2,500M 적립</span>
                      </li>
                      <li>
                        <i class="icon-benefit icon-benefit-2"></i>
                        <span class="text">무료<br>반품/교환</span>
                      </li>
                      <li>
                        <i class="icon-benefit icon-benefit-3"></i>
                        <span class="text">무료 수선/<br>스타일링</span>
                      </li>
                      <li>
                        <i class="icon-benefit icon-benefit-4"></i>
                        <span class="text">무료<br>선물포장</span>
                      </li>
                      <li>
                        <i class="icon-benefit icon-benefit-5"></i>
                        <span class="text">온라인전용<br>상품 피팅</span>
                      </li>
                      <li>
                        <i class="icon-benefit icon-benefit-6"></i>
                        <span class="text">상품<br>클리닝</span>
                      </li>
                    </ul>
                  </div>
                  <dl class="shop-pickup-note">
                    <dt>유의 사항</dt>
                    <dd>결제완료 2~3일 후 픽업이 가능합니다.</dd>
                    <dd>매장에 주문하신 상품이 도착하면 연락처로 픽업 안내 연락을 드립니다.</dd>
                    <dd>매장 방문 후 주문내역을 직원에게 보여주시고, 상품을 픽업해주세요.</dd>
                    <dd>매장 픽업 10일 후 2,500M가 추가 적립됩니다.</dd>
                    <dd>매장 도착 후 3일 이내 미 수령 시 자동 반품됩니다.</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block modal %}
{# 가격안내 #modalPriceDetail #}
{% include "modal/order/price-detail.njk" %}
{# 주문 이용 약관 #modalOrderAgree #}
{% include "modal/order/order-agree.njk" %}
{# 매장 위치 안내 #modalShopLocation #}
{% include "modal/common/shop-location.njk" %}
{# 쿠폰변경 #modalCouponChange #}
{% include "modal/order/coupon-change.njk" %}
{# 배송지 목록 #modalDeliveryList #}
{% include "modal/common/delivery-list.njk" %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/order.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/order.js"></script>
<script>
  $(function () {
    // 배송 요청 사항 직접입력
    $('.direct-message-bx').hide();

    $('.select').change(function() {
      if($(this).val() == 'direct') {
        $('.direct-message-bx').show();
      } else {
        $('.direct-message-bx').hide();
      }
    });
  });
</script>
{% endblock js %}