{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--order">
  <div class="main-header">
    <h2 class="main-header__title">주문 레이어 팝업 목록</h2>
  </div>
  <div class="main-content">
    <style>
      .main-content > .form-button {display:block;width:80%;margin:20px auto;}
    </style>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalPriceDetail">가격안내 팝업</button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalProductOption">상품 옵션 선택 팝업</button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalOrderFail">주문 실패 재결제 팝업</button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalSoldOut">주문 실패 품절상품 팝업</button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalNoFamily">패밀리카드 미체크 팝업</button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalOrderAgree">주문 이용약관 팝업</button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalShopLocation">매장 위치안내 팝업</button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalCouponChange">쿠폰 변경 팝업</button>
  </div>
</main>
{% endblock %}

{% block modal %}
{# 가격안내 #modalPriceDetail #}
{% include "modal/order/price-detail.njk" %}
{# 상품 옵션 선택 #modalProductOption #}
{% include "modal/order/product-option.njk" %}
{# 주문 실패 재결제  #modalOrderFail #}
{% include "modal/order/order-fail.njk" %}
{# 주문 실패 품절상품 #modalSoldOut #}
{% include "modal/order/order-soldout.njk" %}
{# 패밀리카드 미선택 #modalNoFamily #}
{% include "modal/order/no-family.njk" %}
{# 주문 이용 약관 #modalOrderAgree #}
{% include "modal/order/order-agree.njk" %}
{# 매장 위치 안내 #modalShopLocation #}
{% include "modal/order/shop-location.njk" %}
{# 쿠폰변경 #modalCouponChange #}
{% include "modal/order/coupon-change.njk" %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/order.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/order.js"></script>
{% endblock js %}