// .form-input {}
@import '../sprites/sprite-common.scss';

// button
// =============================================================================
$button-height: 50px;
$button-height-small: 36px;
$button-font-size: 14px;
.form-button {
  display: inline-block;
  width: 100%;
  height: $button-height;
  line-height: $button-height - 2;
  padding: 0;
  border: 1px solid $color-line-ready;
  border-radius: 2px;
  background-color: $color-solid-ready;
  color: $color-text-white;
  font-size: $button-font-size;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: border-box;
  outline: 0;
  &:hover {
    color: $color-text-white;
  }
  &.active,
  &.form-button--main {
    background-color: $color-solid-emphasize;
    border-color: $color-line-emphasize;
  }
  &.form-button--point {
    background-color: $color-solid-point;
    border-color: $color-line-point;
  }
  &.form-button--plain {
    background-color: $color-solid-white;
    border-color: $color-line-emphasize;
    color: $color-text-emphasize;
  }
  &.form-button--small {
    height: $button-height-small;
    line-height: $button-height-small - 2;
  }
}

// Checkbox
// =============================================================================
.form-checkbox {
  display: inline-block;
  position: relative;
  .checkbox {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;

    z-index: 2;
    cursor: pointer;

    &:checked {
      + .name:before,
      + .icon {
        @include sprite-position($common-checkbox-on);
      }
      + .name {
        color: $color-text-emphasize;
      }
    }
  }
  > .name {
    display: inline-block;
    margin-top: 2px;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    color: $color-text-primary;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 10px;
      @include sprite($common-checkbox);
    }
  }
  > .icon {
    display: inline-block;
    vertical-align: middle;
    @include sprite($common-checkbox);
  }
  &--small {
    .checkbox {
      &:checked {
        + .name:before,
        + .icon {
          @include sprite-position($common-checkbox-small-on);
        }
      }
    }
    > .name {
      &:before {
        margin-right: 8px;
        @include sprite($common-checkbox-small);
      }
    }
    > .icon {
      @include sprite($common-checkbox-small);
    }
  }
  &--plain {
    .checkbox {
      &:checked {
        + .name:before,
        + .icon {
          @include sprite-position($common-checkbox-plain-on);
        }
      }
    }
    > .name {
      &:before {
        margin-right: 6px;
        @include sprite($common-checkbox-plain);
      }
    }
    > .icon {
      @include sprite($common-checkbox-plain);
    }
  }
}

// radio
// =============================================================================
.form-radio {
  display: inline-block;
  position: relative;
  .radio {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;

    z-index: 2;
    cursor: pointer;

    &:checked {
      + .name:before,
      + .icon {
        @include sprite-position($common-radio-on);
      }
      + .name {
        color: $color-text-emphasize;
      }
    }
  }
  > .name {
    display: inline-block;
    margin-top: 2px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: $color-text-primary;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 10px;
      @include sprite($common-radio);
    }
  }
  > .icon {
    display: inline-block;
    vertical-align: middle;
    @include sprite($common-radio);
  }
  &--large {
    .radio {
      &:checked {
        + .name:before,
        + .icon {
          @include sprite-position($common-radio-large-on);
        }
      }
    }
    > .name {
      &:before {
        margin-right: 8px;
        @include sprite($common-radio-large);
      }
    }
    > .icon {
      @include sprite($common-radio-large);
    }
  }
}
// radio group - 성별 선택
// =============================================================================
.form-radio-button-group {
  @include self-clear;
  .form-radio {
    float: left;
    + .form-radio {
      margin-left: 6px;
    }
    > .radio {
      &:checked {
        + .name {
          background-color: $color-solid-emphasize;
          color: $color-text-white;
        }
      }
    }
    > .name {
      border-radius: 2px;
      width: 50px;
      height: 50px;
      margin: 0;
      text-align: center;
      line-height: 50px;
      color: $color-text-emphasize;
      border: 1px solid $color-black;
      box-sizing: border-box;
      &:before {
        content: none;
      }
    }
  }
}
.form-radio-button {
  &__button {
    position: relative;
    float: left;
    & + & {
      margin-left: 6px;
    }
    .form-input {
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: 50px;
      z-index: -1;
      border-color: transparent;

      &:checked + .form-radio-button__label {
        background-color: #000;
        color: #fff;
        border: 0;
      }
    }
  }
  &__label {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    border: 1px solid #000;
    border-radius: 2px;
    text-align: center;
    box-sizing: border-box;
  }
}

// radio select group - 상품상세 사이즈 선택
.form-radio-select-group {
  white-space: nowrap;
  font-size: 0;
  .form-radio {
    display: inline-block;
    + .form-radio {
      margin-left: 15px;
    }
    > .radio {
      &:checked {
        + .name {
          background-color: $color-solid-emphasize;
          color: $color-text-white;
        }
      }
    }
    > .name {
      min-width: 60px;
      height: 36px;
      margin: 0;
      padding: 0 5px;
      text-align: center;
      line-height: 36px;
      font-size: 12px;
      color: $color-text-emphasize;
      border: 1px solid $color-black;
      box-sizing: border-box;
      &:before {
        content: none;
      }
    }
    > .button-bedge {
      position: absolute;
      top: -10px;
      right: -7px;
      outline: 0;
      z-index: 2;
      .sprite-common {
        display: inline-block;
        text-indent: 100%;
        line-height: 2;
        white-space: nowrap;
        overflow: hidden;
        outline: 0;
      }
    }
    &.form-radio--disabled {
      > .name {
        color: $color-text-primary;
        border-color: $color-line-default;
        background-color: $color-solid-disabled;
      }
    }
  }
}

// Input
// =============================================================================
$field-height: 50px;
$field-font-size: 14px;
.form-text {
  width: 100%;
  height: $field-height;
  padding: 0 9px;
  border: 1px solid $color-line-ready;
  color: $color-text-emphasize;
  font-size: $field-font-size;
  line-height: $field-height;
  border-radius: 2px;
  background-color: #fff;
  vertical-align: middle;
  box-sizing: border-box;
  outline: 0;

  &:focus {
    border-color: $color-line-emphasize;
  }
  &:focus-visible {
    outline: 0;
  }
  &::placeholder {
    color: $color-text-primary;
    font-size: $field-font-size;
    font-weight: 300;
  }
  @at-root {
    textarea#{&} {
      max-width: 100%;
      min-height: 150px;
    }
  }
}

// Input Block
.input-block {
  .input-block__comment {
    padding: 6px 0 0 10px;
    line-height: 16px;
    font-size: 11px;
    &:empty {
      padding: 0;
      line-height: 0;
      font-size: 0;
    }
  }
  // 비밀번호 보기/숨기기
  .input-block__password {
    position: relative;
    .form-text {
      padding-right: 50px;
    }
    .form-toggle-button {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      border: 0;
      background-color: transparent;
      text-indent: 100%;
      line-height: 2;
      white-space: nowrap;
      overflow: hidden;
      outline: 0;
      @include sprite($common-eye);
      @at-root {
        .visible#{&} {
          @include sprite-position($common-eye-close);
        }
      }
    }
  }
  // Error
  &.input-block--error {
    .form-text {
      border-color: $color-line-error;
    }
    .input-block__comment {
      color: $color-text-error;
    }
  }
}

// 수량선택 Input
// =============================================================================
.form-input-qty {
  position: relative;
  display: inline-block;
  background-color: #fff;
  &__input {
    display: inline-block;
    height: 36px;
    .form-text {
      height: 100%;
      font-size: 14px;
      min-width: 122px;
      padding-right: 36px;
      padding-left: 36px;
      border: 1px solid #000;
      box-sizing: border-box;
      text-align: center;
      border-radius: 0;

      &:focus {
        outline: 0;
      }
    }
  }
  &__decrease,
  &__increase {
    position: absolute;
    top: 0;
    width: 36px;
    height: 36px;
    border: 0;
    background-color: transparent;
    outline: 0;
    text-indent: 100%;
    line-height: 2;
    white-space: nowrap;
    overflow: hidden;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      background: #000;
    }
  }
  &__decrease {
    left: 0;
    border-right: 1px solid #000;
    &:before {
      width: 12px;
      height: 1px;
    }
  }
  &__increase {
    right: 0;
    border-left: 1px solid #000;
    &:before {
      width: 12px;
      height: 1px;
    }
    &:after {
      width: 1px;
      height: 12px;
    }
  }
}

// Selectbox
// =============================================================================
$select-height: 50px;
$select-font-size: 14px;
.form-select {
  position: relative;
  display: inline-block;
  width: 100%;
  .select {
    appearance: none;
    width: 100%;
    height: $select-height;
    line-height: $select-height;
    padding: 0 40px 0 10px;
    box-sizing: border-box;
    border: 1px solid $color-line-ready;
    border-radius: 2px;
    font-size: $select-font-size;
    color: $color-text-emphasize;
    outline: 0;
    background-color: #fff;
    &:focus {
      border-color: $color-line-emphasize;
      + .icon {
        transform: rotate(180deg) translateY(50%);
      }
    }
  }
  > .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    @include sprite($common-arrow-down-selectbox);
  }
}


// Tab
// =============================================================================
.tabs {
  > [role="tablist"] {
    display: flex;
    margin-bottom: 10px;
    > [role="tab"] {
      position: relative;
      width: 100%;
      border: 0;
      background: #f8f8f8;
      outline: 0;
      font-size: 14px;
      font-weight: 300;
      height: 50px;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      &:before {
        content: '';
        position: absolute;
        left: -1px;
        right: -1px;
        bottom: 0;
        border-bottom: 1px solid $color-line-emphasize;
      }
  
      &[aria-selected="true"] {
        background-color: #fff;
        outline: 0;
        border-top: 1px solid $color-line-emphasize;
        border-left: 1px solid $color-line-emphasize;
        border-right: 1px solid $color-line-emphasize;
        font-weight: 400;
        &:before {
          border-bottom-color: transparent;
        }
      }
      &:first-child {
        border-left-width: 0;
      }
      &:last-child {
        border-right-width: 0;
      }
    }
  }
  &.tabs--depth2 {
    > [role="tablist"] {
      > [role="tab"] {
        background: #fff;
        color: $color-text-primary;
        height: 46px;
        border: 0;
        border-bottom: 2px solid $color-line-border;
        &:before {
          content: none;
        }
        &[aria-selected="true"] {
          font-weight: 500;
          color: $color-text-emphasize;
          background-color: #fff;
          border: 0;
          border-bottom: 2px solid $color-line-emphasize;
        }
      }
    }
  }
}

// Selectbox 
.filter {
  position: relative;
  &__selected {
    position: relative;
    border-bottom: 1px solid $color-line-emphasize;
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      @include sprite($common-arrow-down-accordion);
    }
    .button {
      height: 29px;
    }
  }
  &__list {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    padding: 10px;
    border: 1px solid $color-line-emphasize;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    display: none;
    &.is-opened {
      display: block;
    }
    .button {
      height: 22px;
      color: $color-text-primary;
      &.is-selected,
      &:hover {
        color: $color-text-emphasize;
      }
    }
  }
  .button {
    width: 100%;
    border: 0;
    background: transparent;
    text-align: left;
  }
}

// Colorchip Checkbox
.form-colorchip {
  position: relative;
  display: inline-block;
  
  > .checkbox {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
  
    &:checked {
      + .preview {
        border-color: $color-line-emphasize;
      }
    }
  }
  > .preview {
    border: 1px solid transparent;
    display: block;
    border-radius: 100%;
    img {
      // display: block;
      border: 2px solid transparent;
      box-sizing: content-box;
      width: 30px;
      height: 30px;
      border-radius: 100%;
    }
  }
}

// datepicker
.form-date-picker {
  position: relative;
  padding-right: 76px;
  @include self-clear;

  .input-block {
    position: relative;
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-right: 12px;
    .form-text {
      height: 40px;
      line-height: 40px;
    }
    + .input-block {
      padding-right: 6px;
      padding-left: 6px;
      &:before {
        content: '~';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-100%, -50%);
      }
    }
  }
  .form--submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 72px;
    height: 40px;
    line-height: 40px;
  }
}
