
<div class="form-input-qty">
  <button type="button" class="form-input-qty__decrease">-</button>
  <label class="form-input-qty__input">
    <input type="number" class="form-input" min="0" max="99" pattern="[0-9]*" value="1" />
  </label>
  <button type="button" class="form-input-qty__increase">+</button>
</div>