{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--member shell-main--member-row">
  <div class="main-content">
    <style>
      .title {padding:20px 0;font-size:16px;font-weight:300;text-align:center;}
    </style>
    <h2 class="title">공통 팝업</h2>
    <style>
      .main-content > .form-button {display:block;width:80%;margin:20px auto;}
    </style>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalZipcodeFind">우편번호 찾기</button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalDeliveryList">배송지 목록</button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalShopFind">매장 찾기</button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalShopLocation">매장 위치</button>
    <button type="button" class="form-button form-button--main" onclick="openBadge()";>배지 획득</button>
  </div>
</main>
{% endblock %}

{% block modal %}
{# 우편번호 찾기 #modalZipcodeFind #}
{% include "modal/common/zipcode-find.njk" %}
{# 배송지 목록 #modalDeliveryList #}
{% include "modal/common/delivery-list.njk" %}
{# 매장 찾기 #modalShopFind #}
{% include "modal/common/shop-find.njk" %}
{# 매장 위치 #modalShopFind #}
{% include "modal/common/shop-location.njk" %}

{# 배지 획득 #modalObtainBadge #}
{% include "modal/common/obtain-badge.njk" %}


{% endblock modal %}

{% block css %}
{% endblock css %}

{% block js %}
<script>

// 배지 획득
function openBadge(){
  ui.modal.open($('#modalObtainBadge'));
  var layer = document.querySelector('#modalObtainBadge');
  var root = layer.querySelector('.hazzys-badge');
  var front = root.querySelector('.hazzys-badge__front');
  var back = root.querySelector('.hazzys-badge__back');
  var duration = 2000;
  var animation = anime.timeline({
      loop: false,
      easing: 'easeOutQuint',
      targets: root,
    })
    .add({
      targets: root,
      easing: 'easeOutBounce',
      opacity: [
        { value: 0, duration: 0  },
        { value: 1, delay: 300, duration: 500 }
      ],
      scale: [
        { value: 0.6, delay: 1000, duration: 0  },
        { value: 1, duration: 500 }
      ],
      endDelay: 800,
    })
    .add({
      targets: root,
      easing: 'easeOutQuint',
      rotateY: [
        { value: 0, duration: 1 },
        { value: 720, duration: duration }
      ]
    })
    .add({
      targets: front,
      easing: 'linear',
      opacity: [
        { value: 1, duration: 0 },
        { value: 0, delay: ( duration / 3.1), duration: 10},
      ]
    }, '-='+ duration)
    .add({
      targets: back,
      easing: 'linear',
      rotateY: [
        { value: -180, duration: 0 },
        { value: 0, delay: ( duration / 3.1), duration: 10},
      ],
      endDelay: 2000,
    }, '-='+ duration);
}
</script>
{% endblock js %}