<!-- 배송지 등록 -->
<div id="modalDeliveryAdd" class="modal modal--full modal--delivery-add" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <h1 class="modal__header__title">배송지 등록</h1>
      <button type="button" class="modal__header__button" aria-label="닫기" data-modal-close>
        <i class="sprite-icon sprite-common sprite-common-close-layer">닫기</i>
      </button>
    </div>
    <div class="modal__body">
      <div class="delivery-add">
        <div class="button-delivery-list">
          <button type="button" class="button">배송지 목록</button>
        </div>
        <div class="input-block member-name">
          <input type="text" class="form-text" placeholder="받는 분 성함을 입력해 주세요">
        </div>
        <div class="form-flex form-phone">
          <span class="form-select">
            <select class="select">
              <option value="">010</option>
              <option value="011">011</option>
              <option value="016">016</option>
            </select>
            <i class="icon"></i>
          </span>
          <div class="input-block form-phone-input">
            <input type="text" class="form-text" placeholder="-없이 숫자만 입력해 주세요">
          </div>
        </div>
        <div class="form-flex form-address">
          <div class="input-block form-address-inp">
            <input type="text" class="form-text">
          </div>
          <div class="address-search">
            <button type="button" class="form-button form-button--plain">우편번호 검색</button>
          </div>
        </div>
        <div class="input-block form-address-detail">
          <input type="text" class="form-text">
        </div>
        <div class="input-block form-address-detail">
          <input type="text" class="form-text" placeholder=" 상세 주소를 입력해 주세요">
        </div>
        <div class="check-field basics-delivery-setting">
          <label class="form-checkbox">
            <input type="checkbox" class="checkbox">
            <span class="name">기본 배송지로 설정</span>
          </label>
        </div>
      </div>
    </div>
    <div class="modal__footer">
      <ul class="button-group">
        <li class="button-group__item">
          <button type="button" class="form-button form-button--plain" data-modal-close>취소</button>
        </li>
        <li class="button-group__item">
          <button type="button" class="form-button form-button--main">등록</button>
        </li>
      </ul>
    </div>
  </div>
</div>