<!-- 배송지 목록 -->
<div id="modalDeliveryList" class="modal modal--full modal--delivery-list" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <h1 class="modal__header__title">배송지 목록</h1>
      <button type="button" class="modal__header__button" aria-label="닫기" data-modal-close>
        <i class="sprite-icon sprite-common sprite-common-close-layer">닫기</i>
      </button>
    </div>
    <div class="modal__body">
      <div class="delivery-list">
        <ul class="delivery-list__area">
          <li>
            <div class="form-radio">
              <input type="radio" class="radio" name="checkDelivery" title="배송지 선택">
              <i class="icon"></i>
              <div class="box">
                <div class="delivery-info">
                  <span class="delivery-info__zipcode">06230</span>
                  <span class="delivery-info__address">서울특별시 강남구 언주로 301</span>
                  <span class="delivery-info__phone">010-1234-5678</span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="form-radio">
              <input type="radio" class="radio" name="checkDelivery" title="배송지 선택">
              <i class="icon"></i>
              <div class="box">
                <div class="delivery-info">
                  <span class="delivery-info__zipcode">06230</span>
                  <span class="delivery-info__address">서울특별시 강남구 언주로 301</span>
                  <span class="delivery-info__phone">010-1234-5678</span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="form-radio">
              <input type="radio" class="radio" name="checkDelivery" title="배송지 선택">
              <i class="icon"></i>
              <div class="box">
                <div class="delivery-info">
                  <span class="delivery-info__zipcode">06230</span>
                  <span class="delivery-info__address">서울특별시 강남구 언주로 301</span>
                  <span class="delivery-info__phone">010-1234-5678</span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="form-radio">
              <input type="radio" class="radio" name="checkDelivery" title="배송지 선택">
              <i class="icon"></i>
              <div class="box">
                <div class="delivery-info">
                  <span class="delivery-info__zipcode">06230</span>
                  <span class="delivery-info__address">서울특별시 강남구 언주로 301</span>
                  <span class="delivery-info__phone">010-1234-5678</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <button type="button" class="button-more">더보기</button>
      </div>
    </div>
    <div class="modal__footer">
      <ul class="button-group">
        <li class="button-group__item">
          <button type="button" class="form-button form-button--plain" data-modal-close>취소</button>
        </li>
        <li class="button-group__item">
          <button type="button" class="form-button form-button--main">확인</button>
        </li>
      </ul>
    </div>
  </div>
</div>