<!-- 배지 획득 -->
<div id="modalObtainBadge" class="modal modal--obtain-badge" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <button type="button" class="modal__header__button" aria-label="닫기" data-modal-close>
        <i class="sprite-icon sprite-common sprite-common-close-layer">닫기</i>
      </button>
    </div>
    <div class="modal__body">
      <div class="obtain-badge">
        <div class="obtain-badge__preview">
          <div class="hazzys-badge hazzys-badge--obtain">
            <div class="hazzys-badge__front">
              <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
            </div>
            <div class="hazzys-badge__back">
              <div class="badge-content">
                <img src="/cmsstatic/asset/images/badge/sample-back.png" alt="10% 쿠폰 임시이미지">
              </div>
            </div>
          </div>
        </div>
        <div class="obtain-badge__title">WELCOME BADGE</div>
        <div class="obtain-badge__description">
          헤지스닷컴 고객님만을 위한 특별한 혜택이 기다리고 있어요.<br>
          내가 받은 배지는 마이페이지에서 확인하실 수 있어요.<br>
          배지의 혜택들을 확인해 보세요!
        </div>
      </div>
    </div>
    <div class="modal__footer">
      <ul class="button-group">
        <li class="button-group__item">
          <a href="#"  class="form-button form-button--plain">마이페이지</a>
        </li>
        <li class="button-group__item">
          <button type="button" class="form-button form-button--main" data-modal-close>확인</button>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- //배지 획득 -->