<div id="modalHeaderSearch" class="modal modal--dim modal--global-search" tabindex="-1" role="dialog" data-modal="lock:true">
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <h1 class="modal__header__title">검색</h1>
      <button type="button" class="modal__header__button" aria-label="닫기" data-modal-close>
        <i class="sprite-icon sprite-common sprite-common-back">닫기</i>
      </button>
    </div>
    <div class="modal__body">

      <!-- 검색폼 -->
      <div class="global-search-form">
        <div class="input-block">
          <input type="text" class="form-text" placeholder="아워스 프린트 셔츠">
          <span class="button--clear">
            <i class="sprite-icon sprite-common sprite-common-clear">삭제</i>
          </span>
          <button type="button" class="button button--search">
            <i class="sprite-icon sprite-common sprite-common-search">검색</i>
          </button>
        </div>

        <div class="keyword keyword--related">
          <ul class="keyword__list">
            <li class="keyword__item"><a href="#"><mark>청</mark>바지</a></li>
            <li class="keyword__item"><a href="#">남성 <mark>청</mark>바지</a></li>
            <li class="keyword__item"><a href="#">여성 <mark>청</mark>바지</a></li>
            <li class="keyword__item"><a href="#"><mark>청</mark>자켓</a></li>
            <li class="keyword__item"><a href="#">여성 <mark>청</mark>자켓</a></li>
          </ul>
        </div>
      </div>
      <!-- //검색폼 -->

      <div class="global-search-helper">
        <!-- 검색어 -->
        <div class="global-search-keyword">
          <div class="keyword keyword--history">
            <div class="keyword__title">
              최근 검색어
            </div>
            <ul class="keyword__list">
              <li class="keyword__item"><a href="#">니트</a></li>
              <li class="keyword__item"><a href="#">양말</a></li>
              <li class="keyword__item"><a href="#">세일상품</a></li>
              <li class="keyword__item"><a href="#">골프용품</a></li>
            </ul>
            <div class="keyword__util">
              <button type="button" class="button button--delete">전체 삭제</button>
            </div>
          </div>
          <div class="keyword keyword--popular">
            <div class="keyword__title">
              인기 검색어
            </div>
            <ul class="keyword__list">
              <li class="keyword__item"><a href="#">가디건</a></li>
              <li class="keyword__item"><a href="#">봄자켓</a></li>
              <li class="keyword__item"><a href="#">골프바지</a></li>
              <li class="keyword__item"><a href="#">남자가방</a></li>
              <li class="keyword__item"><a href="#">반팔</a></li>
              <li class="keyword__item"><a href="#">청바지</a></li>
              <li class="keyword__item"><a href="#">니트</a></li>
              <li class="keyword__item"><a href="#">슬랙스</a></li>
              <li class="keyword__item"><a href="#">반바지</a></li>
              <li class="keyword__item"><a href="#">여자가방</a></li>
            </ul>
            <div class="keyword__util">
              <span class="date"><em>2021.04.14</em> 기준</span>
            </div>
          </div>
        </div>
        <!-- //검색어 -->
        <!-- 헤지스 추천 -->
        <div class="global-search-recommend">
          <div class="keyword keyword--recommend">
            <div class="keyword__title">
              헤지스 추천
            </div>
            <ul class="keyword__list">
              <li class="keyword__item"><a href="#">#패딩턴</a></li>
              <li class="keyword__item"><a href="#">#도트백</a></li>
              <li class="keyword__item"><a href="#">#THE H.</a></li>
              <li class="keyword__item"><a href="#">#골프상의</a></li>
              <li class="keyword__item"><a href="#">#맨룰429</a></li>
              <li class="keyword__item"><a href="#">#H.OURS</a></li>
              <li class="keyword__item"><a href="#">#티셔츠</a></li>
            </ul>
          </div>
        </div>
        <!-- //헤지스 추천 -->
      </div>

    </div>
  </div>
</div>