<!-- 우편번호 찾기 -->
<div id="modalZipcodeFind" class="modal modal--find-zipcode modal--full" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <h1 class="modal__header__title">우편번호 찾기</h1>
      <button type="button" class="modal__header__button" aria-label="닫기" data-modal-close>
        <i class="sprite-icon sprite-common sprite-common-close-layer">닫기</i>
      </button>
    </div>
    <div class="modal__body">
      <div style="height: 700px;background: rgba(255,0,0,.2);">
      asdfasdfasdf
      asdfasdfasdfasdf
      </div>
      
    </div>
    <div class="modal__footer">
      <ul class="button-group">
        <li class="button-group__item">
          <button type="button" class="form-button form-button--plain" data-modal-close>취소</button>
        </li>
        <li class="button-group__item">
          <button type="button" class="form-button form-button--main">확인</button>
        </li>
      </ul>
    </div>
  </div>
</div>