<div id="modalHomeNoticeCenter" class="modal modal--home-notice" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__body">
      <!-- 배너 Swiper -->
      <div class="swiper-container" id="homeBannerSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="banner">
              <a href="#">
                <img src="/cmsstatic/asset/images/temp/banner_340x340_1.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="banner">
              <a href="#">
                <img src="/cmsstatic/asset/images/temp/banner_340x340_2.jpg" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-pagination--home-banner"></div>
      </div>
      <!-- //배너 Swiper -->
    </div>
    <div class="modal__footer">
      <ul class="text-button-group">
        <li class="text-button-group__item">
          <button type="button" class="button">오늘은 그만 보기</button>
        </li>
        <li class="text-button-group__item">
          <button type="button" class="button" data-modal-close>닫기</button>
        </li>
      </ul>
    </div>
  </div>
</div>