{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--member shell-main--member-row">
  <div class="main-header">
    <h2 class="main-header__title">비밀번호 변경</h2>
    <p class="main-header__comment">신규 비밀번호를 등록하고<br>헤지스를 만나보세요</p>
  </div>
  <div class="main-content">
    <form action="#">
      <div class="member-form">

        <!-- 비밀번호 -->
        <div class="member-form__field">
          <div class="input-block" data-form-text>
            <div class="input-block__password">
              <input type="password" class="form-text" placeholder="새 비밀번호"/>
              <button class="form-toggle-button" data-form-text-toggle>비밀번호 보기</button>
            </div>
          </div>
        </div>

        <!-- 비밀번호 유효성 -->
        <div class="member-form__field">
          <div class="input-block" data-form-text>
            <div class="input-block__password">
              <input type="password" class="form-text" placeholder="새 비밀번호"/>
              <button class="form-toggle-button" data-form-text-toggle>비밀번호 보기</button>
            </div>
            <ul class="input-block__validate validate-list">
              <li class="validate-list__item valid">영문포함</li>
              <li class="validate-list__item valid">숫자포함</li>
              <li class="validate-list__item">특수문자포함</li>
              <li class="validate-list__item invalid">8-15자</li>
            </ul>
          </div>
        </div>

        <!-- 비밀번호 확인 -->
        <div class="member-form__field">
          <div class="input-block" data-form-text>
            <div class="input-block__password">
              <input type="password" class="form-text" placeholder="비밀번호 확인"/>
              <button class="form-toggle-button" data-form-text-toggle>비밀번호 보기</button>
            </div>
          </div>
        </div>

        <!-- 비밀번호 확인 오류 -->
        <div class="member-form__field">
          <div class="input-block input-block--error" data-form-text>
            <div class="input-block__password">
              <input type="password" class="form-text" placeholder="비밀번호 확인"/>
              <button class="form-toggle-button" data-form-text-toggle>비밀번호 보기</button>
            </div>
            <p class="input-block__comment">
              설정하신 비밀번호와 일치하지 않아요. 다시 한 번 입력해주세요!
            </p>
          </div>
        </div>

        <div class="member-form__field member-form__notice">
          <ul class="rules">
            <li class="rules__item">영문, 숫자, 특수문자 중 2가지 이상 조합일 경우 10자 이상 입력해주셔야 해요.</li>
            <li class="rules__item">영문, 숫자, 특수문자 중 3가지 이상 조합일 경우 8자 이상 입력만으로도 가능합니다.</li>
            <li class="rules__item">아이디에 사용된 문자/숫자 비밀번호로 사용할 수 없어요!</li>
            <li class="rules__item">특수문자는 ~ , !, @, #, $, %, ^, &, *, ? 만 사용 가능해요.</li>
            <li class="rules__item">동일한 문자/숫자 3자 이상 사용하실 수 없어요.</li>
            <li class="rules__item">생년월일, 전화번호와 동일한 번호 사용시 보안상 위험해요.</li>
          </ul>
          <p class="rules-comment">개인정보 보호를 위해 다소 까다롭게 작성 요청 드리는 점 양해 부탁드립니다.</p>
        </div>

        <div class="member-form__field member-form__submit">
          <button type="button" class="form-button">확인</button>
          <button type="button" class="form-button active" data-modal-open='#modalFindPassword'>확인</button>
        </div>
      </div>
    </form>
  </div>
</main>
{% endblock %}

{% block modal %}
  {% include "modal/find-password.njk" %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/member.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/member.js"></script>
<script>
$(function(){
  $('#modalFindPassword').on('open', function(e){
    console.log(e.detail);
  })
})
</script>
{% endblock js %}