{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--member shell-main--member-row">
  <div class="main-header">
    <h2 class="main-header__title">아이디/비밀번호 찾기</h2>
    <p class="main-header__comment">가입시 입력한 이메일 또는<br>휴대폰 번호를 입력해주세요</p>
  </div>
  <div class="main-content">
    <form action="#">
      <div class="member-form">
        <div class="member-form__field">
          <div class="input-block">
            <input type="text" class="form-text" placeholder="이메일 또는 휴대폰 번호(-제외)">
          </div>
        </div>
        <div class="member-form__field member-form__submit">
          <button type="button" class="form-button">확인</button>
          <button type="button" class="form-button active" data-modal-open='#modalFindAccountList'>확인</button>
        </div>
      </div>
    </form>
  </div>
</main>
{% endblock %}

{% block modal %}
{% include "modal/member/find-account-list.njk" %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/member.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/member.js"></script>
<script>
$(function(){
  // 아이디 찾기 / 비밀번호 재설정 - 계정 목록 팝업
  $(document)
    .off('.selectAccount')
    .on('click.selectAccount', '.select-account__item', function (e) {
      if (!$(e.target).closest('.account__radio').length) {
        $(this)
          .find('input[name=account]')
          .prop('checked', true)
          .change();
      }
    })
    .on('change.selectAccount', 'input[name=account]', function () {
      var activeIndex = $('input[name=account]:checked')
        .closest('.select-account__item')
        .index();

      if (activeIndex < 0) {
        activeIndex = 0;
        $('.select-account__item')
          .eq(activeIndex)
          .find('input[name=account]')
          .prop('checked', true);
        return;
      }
      $('.select-account__item').each(function (i) {
        if (activeIndex === i) {
          $(this).addClass('active');
        } else {
          $(this).removeClass('active');
        }
      })
    });
})
</script>
{% endblock js %}
