{% extends 'default.njk' %}

{% block content %}
<main class="shell-main">
  <div class="main-content">
    <style>
      .main-content { padding-top: 100px;}
      .main-content > .form-button {display:block;width:80%;margin:20px auto;}
    </style>
    <style>
      .main-content > .form-button {display:block;width:80%;margin:20px auto;}
    </style>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalAgreementMarketing">
      마케팅 정보 수신 동의
    </button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalPolicyView">
      개인정보 수집 및 이용동의
    </button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalWithdrawnMember">
      탈퇴 회원
    </button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalReactivatedAccount">
      휴면 해제 안내
    </button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalExpiredPassword">
      비밀번호 변경 안내
    </button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalFindAccountList">
      아이디 찾기 / 비밀번호 재설정 - 계정 목록
    </button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalFindPassword">
      아이디 찾기 / 비밀번호 재설정 - 이메일/문자 발송 완료
    </button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalTemporaryMember">
      임시 회원 안내
    </button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalDormantMember">
      휴면 회원 안내
    </button>
  </div>
</main>
{% endblock %}

{% block modal %}
{# 마케팅 정보 수신 동의 #}
{% include "modal/member/agreement-marketing.njk" %}

{# 개인정보 수집 및 이용동의 #}
{% include "modal/member/policy-view.njk" %}

{# 탈퇴 회원 #}
{% include "modal/member/withdrawn-member.njk" %}

{# 휴면 해제 안내 #}
{% include "modal/member/reactivated-account.njk" %}

{# 비밀번호 변경 안내 #}
{% include "modal/member/expired-password.njk" %}

{# 아이디 찾기 / 비밀번호 재설정 - 계정 목록 #}
{% include "modal/member/find-account-list.njk" %}

{# 아이디 찾기 / 비밀번호 재설정 - 이메일/문자 발송 완료 #}
{% include "modal/member/find-password.njk" %}

{# 임시 회원 안내 #}
{% include "modal/member/temporary-member.njk" %}

{# 휴면 회원 안내 #}
{% include "modal/member/dormant-member.njk" %}

{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/member.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/member.js"></script>

<script>
$(function(){
// 아이디 찾기 / 비밀번호 재설정 - 계정 목록 팝업
$(document)
  .off('.selectAccount')
  .on('click.selectAccount', '.select-account__item', function (e) {
    if (!$(e.target).closest('.account__radio').length) {
      $(this)
        .find('input[name=account]')
        .prop('checked', true)
        .change();
    }
  })
  .on('change.selectAccount', 'input[name=account]', function () {
    var activeIndex = $('input[name=account]:checked')
      .closest('.select-account__item')
      .index();

    if (activeIndex < 0) {
      activeIndex = 0;
      $('.select-account__item')
        .eq(activeIndex)
        .find('input[name=account]')
        .prop('checked', true);
      return;
    }
    $('.select-account__item').each(function (i) {
      if (activeIndex === i) {
        $(this).addClass('active');
      } else {
        $(this).removeClass('active');
      }
    })
  });
})
</script>
{% endblock js %}