{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--member shell-main--member-row">
  <div class="main-header">
    <h2 class="main-header__title">로그인</h2>
    <p class="main-header__comment">오늘도 반가워요,<br>헤지스와 쇼핑하러 가볼까요?</p>
  </div>
  <div class="main-content">
    <form action="#">
      <div class="member-form">

        <!-- 아이디 -->
        <div class="member-form__field">
          <div class="input-block">
            <input type="text" class="form-text" placeholder="아이디">
          </div>
        </div>

        <!-- 비밀번호 -->
        <div class="member-form__field">
          <div class="input-block" data-form-text>
            <div class="input-block__password">
              <input type="password" class="form-text" placeholder="비밀번호"/>
              <button class="form-toggle-button" data-form-text-toggle>비밀번호 보기</button>
            </div>
          </div>
        </div>

        <div class="member-form__field member-form__field--2">
          <label class="form-checkbox">
            <input type="checkbox" class="checkbox">
            <span class="name">자동로그인</span>
          </label>
        </div>
        <div class="member-form__field member-form__submit">
          <button type="button" class="form-button">로그인</button>
          <button type="button" class="form-button active">로그인</button>
        </div>
      </div>
      <div class="member-util">
        <div class="member-util__help">
          <a href="#" class="button">아이디/비밀번호 찾기</a>
        </div>
        <div class="member-util__sns sns-connect">
          <ul class="sns-connect__list">
            <li class="sns-connect__item">
              <a href="#" class="button button--naver">{% icon "naver", '', [20, 19], 'Naver' %}</a>
            </li>
            <li class="sns-connect__item">
              <a href="#" class="button button--kakao">{% icon "kakao", '', [24, 22], 'Kakao' %}</a>
            </li>
            <li class="sns-connect__item">
              <a href="#" class="button button--facebook">{% icon 'facebook', '', [12, 22], 'Facebook' %}</a>
            </li>
          </ul>
        </div>
        <div class="member-util__signup">
          <a href="#" class="form-button form-button--plain">헤지스 회원가입</a>
        </div>
      </div>
    </form>
  </div>
</main>
{% endblock %}

{% block modal %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/member.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/member.js"></script>
{% endblock js %}