{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--member shell-main--member-certify">
  <div class="main-header">
    <h2 class="main-header__title">회원가입</h2>
  </div>
  <div class="main-content">
    <!-- 본인인증 STEP -->
    <div class="certify-step-wrap">
      <ul class="certify-step">
        <li class="certify-step__item on">
          <i class="sprite-common sprite-common-certify1-on"></i>
          <p class="text">본인인증</p>
        </li>
        <li class="certify-step__item">
          <i class="sprite-common sprite-common-certify2"></i>
          <p class="text">정보입력/약관동의</p>
        </li>
        <li class="certify-step__item">
          <i class="sprite-common sprite-common-certify3"></i>
          <p class="text">가입완료</p>
        </li>
      </ul>
    </div>
    <!-- //본인인증 STEP -->
    <form action="#">
      <!-- 본인인증 -->
      <div class="member-form member-form--certify">
        <p class="certify-text">안전한 회원가입을 위한 본인인증 단계입니다.</p>
        <div class="button-center">
          <button type="button" class="form-button form-button--plain">휴대전화 인증</button>
        </div>
      </div>
      <!-- //본인인증 -->
    </form>
  </div>
</main>
{% endblock %}

{% block modal %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/member.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/member.js"></script>
{% endblock js %}

