{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--member shell-main--member-certify">
  <div class="main-header">
    <h2 class="main-header__title">회원가입</h2>
  </div>
  <div class="main-content">
    <!-- 본인인증 STEP -->
    <div class="certify-step-wrap">
      <ul class="certify-step">
        <li class="certify-step__item on">
          <i class="sprite-common sprite-common-certify1-on"></i>
          <p class="text">본인인증</p>
        </li>
        <li class="certify-step__item on">
          <i class="sprite-common sprite-common-certify2-on"></i>
          <p class="text">정보입력/약관동의</p>
        </li>
        <li class="certify-step__item">
          <i class="sprite-common sprite-common-certify3"></i>
          <p class="text">가입완료</p>
        </li>
      </ul>
    </div>
    <!-- //본인인증 STEP -->
    <form action="#">
      <!-- 정보입력/약관동의 -->
      <div class="member-form">
        <!-- desktop 왼쪽 컨텐츠 -->
        <div class="member-form__left">
          <p class="certify-text">사용할 아이디와 비밀번호를 입력해주세요.</p>
          <!-- 아이디 -->
          <div class="member-form__field form-block">
            <div class="form-block__field">
              <div class="input-block">
                <input type="text" class="form-text" placeholder="아이디">
              </div>
            </div>
            <div class="form-block__field form-block__field--button">
              <button type="button" class="form-button">중복 확인</button>
              <button type="button" class="form-button active">중복 확인</button>
            </div>
          </div>
          <!-- 비밀번호 -->
          <div class="member-form__field">
            <div class="input-block" data-form-text>
              <div class="input-block__password">
                <input type="password" class="form-text" placeholder="비밀번호"/>
                <button class="form-toggle-button" data-form-text-toggle>비밀번호 보기</button>
              </div>
            </div>
          </div>
          <!-- 비밀번호 유효성 -->
          <div class="member-form__field">
            <div class="input-block" data-form-text>
              <div class="input-block__password">
                <input type="password" class="form-text" placeholder="비밀번호"/>
                <button class="form-toggle-button" data-form-text-toggle>비밀번호 보기</button>
              </div>
              <ul class="input-block__validate validate-list">
                <li class="validate-list__item valid">영문포함</li>
                <li class="validate-list__item valid">숫자포함</li>
                <li class="validate-list__item">특수문자포함</li>
                <li class="validate-list__item invalid">8-15자</li>
              </ul>
            </div>
          </div>
          <!-- 비밀번호 확인 -->
          <div class="member-form__field">
            <div class="input-block" data-form-text>
              <div class="input-block__password">
                <input type="password" class="form-text" placeholder="비밀번호 확인"/>
                <button class="form-toggle-button" data-form-text-toggle>비밀번호 보기</button>
              </div>
            </div>
          </div>
          <!-- 비밀번호 확인 오류 -->
          <div class="member-form__field">
            <div class="input-block input-block--error" data-form-text>
              <div class="input-block__password">
                <input type="password" class="form-text" placeholder="비밀번호 확인"/>
                <button class="form-toggle-button" data-form-text-toggle>비밀번호 보기</button>
              </div>
              <p class="input-block__comment">
                설정하신 비밀번호와 일치하지 않아요. 다시 한 번 입력해주세요!
              </p>
            </div>
          </div>
          <!-- 이메일 -->
          <div class="member-form__field form-block">
            <div class="form-block__field">
              <div class="input-block">
                <input type="text" class="form-text" placeholder="이메일">
              </div>
            </div>
            <div class="form-block__field form-block__field--domain">
              <span class="form-select">
                <select class="select">
                  <option value="">직접 입력</option>
                  <option value="gmail.com">@gmail.com</option>
                  <option value="naver.com">@naver.com</option>
                </select>
                <i class="icon"></i>
              </span>
            </div>
          </div>
        </div>
        <!-- //desktop 왼쪽 컨텐츠 -->
        <!-- desktop 오른쪽 컨텐츠 -->
        <div class="member-form__right">
          <p class="certify-text">추천인 아이디를 입력하시면 추가 혜택을 드려요!</p>
          <!-- 추천인 아이디 -->
          <div class="member-form__field form-block">
            <div class="form-block__field">
              <div class="input-block">
                <input type="text" class="form-text" placeholder="[선택] 추천인 아이디">
              </div>
            </div>
            <div class="form-block__field form-block__field--button">
              <button type="button" class="form-button">아이디 확인</button>
              <button type="button" class="form-button active">아이디 확인</button>
            </div>
          </div>

          <!-- 14세 이상 -->
          <div class="member-form__agreement agreement">
            <div class="agreement__header">
              <label class="form-checkbox agreement-check-all">
                <input type="checkbox" class="checkbox">
                <span class="name">[필수] 만 14세 이상입니다.</span>
              </label>
            </div>
          </div>
          <!-- //14세 이상 -->

          <!-- 헤지스닷컴 이용약관 동의 -->
          <div class="member-form__agreement agreement" data-foldable>
            <div class="agreement__header">
              <label class="form-checkbox agreement-check-all">
                <input type="checkbox" class="checkbox">
                <span class="name">[필수] 헤지스닷컴 이용 약관 모두 동의</span>
              </label>
              <button type="button" class="button policy-toggle-button" data-foldable-toggle>열기/닫기</button>
            </div>
            <div class="agreement__body" data-foldable-content>
              <ul class="policy">
                <li class="policy__item">
                  <label class="policy__name form-checkbox form-checkbox--plain">
                    <input type="checkbox" class="checkbox">
                    <span class="name">[필수] 헤지스닷컴 이용약관</span>
                  </label>
                  <button type="button" class="button policy-view-button">보기</button>
                </li>
                <li class="policy__item">
                  <label class="policy__name form-checkbox form-checkbox--plain">
                    <input type="checkbox" class="checkbox" />
                    <span class="name">[필수] 개인정보 수집 및 이용 동의</span>
                  </label>
                  <button type="button" class="button policy-view-button">보기</button>
                </li>
                <li class="policy__item">
                  <label class="policy__name form-checkbox form-checkbox--plain">
                    <input type="checkbox" class="checkbox" />
                    <span class="name">[선택] 헤지스닷컴 마케팅 정보 수신 동의</span>
                  </label>
                  <button type="button" class="button policy-view-button">보기</button>
                </li>
              </ul>
            </div>
          </div>

          <!-- LF members 이용약관 동의 -->
          <div class="member-form__agreement agreement" data-foldable>
            <div class="agreement__header">
              <label class="form-checkbox agreement-check-all">
                <input type="checkbox" class="checkbox">
                <span class="name">[필수] LFmembers 이용약관 모두 동의</span>
              </label>
              <button type="button" class="button policy-toggle-button" data-foldable-toggle>열기/닫기</button>
            </div>
            <div class="agreement__body" data-foldable-content>
              <ul class="policy">
                <li class="policy__item">
                  <label class="policy__name form-checkbox form-checkbox--plain">
                    <input type="checkbox" class="checkbox">
                    <span class="name">[필수] LFmembers 통합이용약관</span>
                  </label>
                  <button type="button" class="button policy-view-button">보기</button>
                </li>
                <li class="policy__item">
                  <label class="policy__name form-checkbox form-checkbox--plain">
                    <input type="checkbox" class="checkbox">
                    <span class="name">[필수] LFmembers 개인정보 수집 및 이용 동의</span>
                  </label>
                  <button type="button" class="button policy-view-button">보기</button>
                </li>
                <li class="policy__item">
                  <label class="policy__name form-checkbox form-checkbox--plain">
                    <input type="checkbox" class="checkbox">
                    <span class="name">[선택] LFmembers 마케팅 정보 수신 동의</span>
                  </label>
                  <button type="button" class="button policy-view-button">보기</button>
                </li>
              </ul>
            </div>
          </div>

          <!-- LF members 패밀리사이트 약관 동의 -->
          <div class="member-form__agreement agreement" data-foldable>
            <div class="agreement__header">
              <label class="form-checkbox agreement-check-all">
                <input type="checkbox" class="checkbox">
                <span class="name">[선택] LFmembers 패밀리사이트 이용약관</span>
              </label>
              <button type="button" class="button policy-toggle-button" data-foldable-toggle>열기/닫기</button>
            </div>
            <div class="agreement__body" data-foldable-content>
              <ul class="policy">
                <!-- 선택 1  -->
                <li class="policy__item">
                  <label class="policy__name form-checkbox form-checkbox--plain">
                    <input type="checkbox" class="checkbox">
                    <span class="name">[선택] LF Mall 이용약관 모두 동의</span>
                  </label>
                </li>
                <li class="policy__item policy__item--indent">
                  <label class="policy__name form-checkbox form-checkbox--plain">
                    <input type="checkbox" class="checkbox">
                    <span class="name">[필수] LFmall 이용약관</span>
                  </label>
                  <button type="button" class="button policy-view-button">보기</button>
                </li>
                <li class="policy__item policy__item--indent">
                  <label class="policy__name form-checkbox form-checkbox--plain">
                    <input type="checkbox" class="checkbox">
                    <span class="name">[필수] 개인정보 수집 및 이용 동의</span>
                  </label>
                  <button type="button" class="button policy-view-button">보기</button>
                </li>
                <li class="policy__item policy__item--indent">
                  <label class="policy__name form-checkbox form-checkbox--plain">
                    <input type="checkbox" class="checkbox">
                    <span class="name">[선택] Lfmall 마케팅 정보 수신 동의</span>
                  </label>
                  <button type="button" class="button policy-view-button">보기</button>
                </li>
                <!-- // 선택 1  -->
                <!-- 선택 2  -->
                <li class="policy__item">
                  <label class="policy__name form-checkbox form-checkbox--plain">
                    <input type="checkbox" class="checkbox">
                    <span class="name">[선택] 어라운드더코너 이용약관 모두 동의</span>
                  </label>
                </li>
                <li class="policy__item policy__item--indent">
                  <label class="policy__name form-checkbox form-checkbox--plain">
                    <input type="checkbox" class="checkbox">
                    <span class="name">[필수] 어라운드더코너 이용약관</span>
                  </label>
                  <button type="button" class="button policy-view-button">보기</button>
                </li>
                <li class="policy__item policy__item--indent">
                  <label class="policy__name form-checkbox form-checkbox--plain">
                    <input type="checkbox" class="checkbox">
                    <span class="name">[필수] 어라운드더코너 개인정보 수집 및 이용 안내</span>
                  </label>
                  <button type="button" class="button policy-view-button">보기</button>
                </li>
                <li class="policy__item policy__item--indent">
                  <label class="policy__name form-checkbox form-checkbox--plain">
                    <input type="checkbox" class="checkbox">
                    <span class="name">[선택] 어라운드더코너 마케팅 정보 수신 동의</span>
                  </label>
                  <button type="button" class="button policy-view-button">보기</button>
                </li>
                <!-- // 선택 2  -->
              </ul>
            </div>
          </div>


          <!-- 개인정보 유효기간 설정 -->
          <div class="member-form__field privacy_expiry_date member-form__field-guide">
            <div class="privacy_expiry_date__title">개인정보 유효기간 설정</div>
            <div class="privacy_expiry_date__content">미 선택 시 개인정보 유효기간은 1년으로 설정됩니다.</div>
            <div class="form-block">
              <div class="form-block__field">
                <label class="form-radio form-radio">
                  <input type="radio" name="privacy_expiry_date" class="radio">
                  <span class="name">회원 탈퇴시까지</span>
                </label>
              </div>
              <div class="form-block__field">
                <label class="form-radio form-radio">
                  <input type="radio" name="privacy_expiry_date" class="radio">
                  <span class="name">3년</span>
                </label>
              </div>
            </div>
          </div>

          <!-- 회원가입 버튼 -->
          <div class="member-form__submit">
            <button type="button" class="form-button">회원가입</button>
            <button type="button" class="form-button active">회원가입</button>
          </div>
        </div>
        <!-- //desktop 오른쪽 컨텐츠 -->
      </div>
      <!-- //정보입력/약관동의 -->
    </form>
  </div>
</main>
{% endblock %}

{% block modal %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/member.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/member.js"></script>
{% endblock js %}

