{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--member shell-main--member-certify">
  <div class="main-header">
    <h2 class="main-header__title">회원가입 완료</h2>
  </div>
  <div class="main-content main-content--certify-complete">
    <!-- 본인인증 STEP -->
    <div class="certify-step-wrap">
      <ul class="certify-step">
        <li class="certify-step__item on">
          <i class="sprite-common sprite-common-certify1-on"></i>
          <p class="text">본인인증</p>
        </li>
        <li class="certify-step__item on">
          <i class="sprite-common sprite-common-certify2-on"></i>
          <p class="text">정보입력/약관동의</p>
        </li>
        <li class="certify-step__item on">
          <i class="sprite-common sprite-common-certify3-on"></i>
          <p class="text">가입완료</p>
        </li>
      </ul>
    </div>
    <!-- //본인인증 STEP -->
    <!-- 가입완료 -->
    <div class="message-card">
      <div class="message-card__icon">
        <div class="signup-complete">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80">
            <g fill="none" fill-rule="evenodd">
              <g stroke="#000" stroke-width="2">
                <path d="M38.259 52.915c-3.295 1.394-6.917 2.164-10.72 2.164C12.33 55.079 0 42.749 0 27.54 0 12.33 12.33 0 27.539 0c12.227 0 22.594 7.969 26.189 18.996" transform="translate(-144 -110) translate(144 110) translate(3 12)" />
                <path class="signup-complete__face" style="fill:none;stroke-width:2;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;paint-order:normal" d="m 18.739,30.338 5.836,2.577 -5.337,2.743 m 25.68,-10.563 c 0,0 -3.9,-0.955 -7.117,1.038 M 16.16,25.095 c 0,0 3.901,-0.955 7.117,1.038 M 30.54,47.41 v 0 c -3.53,0 -6.39,-2.86 -6.39,-6.39 v -0.814 h 12.78 v 0.814 c 0,3.53 -2.862,6.39 -6.39,6.39 z M 42.339,30.338 36.504,32.915 38.899912,34.146632 41.84,35.658" />
              </g>
            </g>
          </svg>
          <div class="signup-complete__firework">
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80">
              <g fill="none" fill-rule="evenodd">
                <g stroke="#000" stroke-width="2">
                  <path class="signup-complete__line" style="fill:none;stroke-width:0.790269;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;paint-order:normal" d="m 54.234868,52.058994 1.133246,-3.479555 m 0.126045,4.488331 3.933171,-4.401006 m -2.728798,5.494344 3.334142,-1.445402" />
                  <path class="signup-complete__star" style="fill:none;stroke-width:0.790269;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;paint-order:normal" d="m 62.984748,44.007199 -0.07705,1.18896 0.685953,0.973215 -1.154188,0.293981 -0.714009,0.953459 -0.636165,-1.006802 -1.127318,-0.384467 0.761028,-0.916712 0.01699,-1.190934 1.10677,0.44097 z" />
                  <path style="fill:none;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;paint-order:normal;stroke-linecap:butt;stroke-linejoin:round" d="m 46.874,35.75 c 0,0.55 -3.67,16.909 -3.67,16.909 l 14.942,-6.873 z" transform="translate(3,12)" />
                </g>
              </g>
            </svg>
          </div>
        </div>
      </div>
      <div class="message-card__title">
        김헤지 고객님<br>회원이 되신걸 환영해요!
      </div>
      <div class="message-card__text">
        개인 정보는 안전하게 보관됩니다. 즐겁고 편안한 쇼핑되세요!
      </div>
      <div class="message-card__body">
        <div class="box">
          <div class="info">
            <span class="info__label">아이디</span>
            <span class="info__value">hazzyshazzys123</span>
          </div>
        </div>
      </div>
    </div>
    <div class="subscribe">
      <p class="subscribe__title">마케팅 수신 동의하고 새로운 소식과 다양한 혜택을 받아보세요!</p>
      <p class="subscribe__guide"><a href="#">MY HAZZYS &gt; 내 정보 변경</a> 에서 수신 동의를 변경할 수 있어요.</p>
    </div>
    <!-- 마케팅 및 광고 정보 수신 동의 -->
    <div class="certify-agreement agreement">
      <div class="agreement__header">
        <label class="form-checkbox agreement-check-all">
          <input type="checkbox" class="checkbox">
          <span class="name">[선택] 마케팅 및 광고 정보 수신 동의</span>
        </label>
        <button type="button" class="button policy-view-button" data-modal-open="#modalAgreementMarketing">보기</button>
      </div>
      <p class="text-agreement">헤지스에서 마케팅 및 광고정보(할인쿠폰, 마일리지, 세일, 이벤트 등) 안내를 위한 개인정보 수집 및 이용 등 처리에 관해 동의하십니까?</p>
    </div>
    <!-- //마케팅 및 광고 정보 수신 동의 -->
    <div class="button-center">
      <button type="button" class="form-button form-button--main">쇼핑하러 가기</button>
    </div>
    <!-- //가입완료 -->
  </div>
</main>
{% endblock %}

{% block modal %}
{# 마케팅 정보 수신 동의 #modalAgreementMarketing #}
{% include "modal/member/agreement-marketing.njk" %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/member.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/member.js"></script>
<script>
$(function(){
  // 아이콘 애니메이션
  anime.timeline({
    loop: true,
    duration: 1000,
    easing: 'cubicBezier(0.39, 0.4, 0.45, 0.97)',
  })
  .add({
    targets: '.signup-complete__firework',
    rotate: [-3, 0],
  })
  .add({
    targets: '.signup-complete__line',
    strokeWidth: 2,
    d: 'm 55.151,47.012 2.868,-8.806 m 0.319,11.359 9.954,-11.138 m -6.906,13.905 8.438,-3.658',
  }, '-=1000')
  .add({
    targets: '.signup-complete__star',
    strokeWidth: 2,
    d: 'm 77.295059,26.634647 -0.195,3.009 1.736,2.463 -2.921,0.744 -1.807,2.413 -1.61,-2.548 -2.853,-0.973 1.926,-2.32 0.043,-3.014 2.801,1.116 z',
  }, '-=1000')
  .add({
    targets: '.signup-complete__face',
    d: 'm 18.739,29.338 5.836,2.577 -5.337,2.743 m 25.68,-10.563 c 0,0 -3.9,-0.955 -7.117,1.038 M 16.16,24.095 c 0,0 3.901,-0.955 7.117,1.038 M 30.54,46.41 v 0 c -3.53,0 -6.39,-2.86 -6.39,-6.39 v -0.814 h 12.78 v 0.814 c 0,3.53 -2.862,6.39 -6.39,6.39 z M 42.339,29.338 36.504,31.915 38.899912,33.146632 41.84,34.658',
  }, '-=800')
})
</script>
{% endblock js %}

