{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--member shell-main--member-column">
  <div class="main-content main-content--signup-error">
  <div class="message-card">
      <div class="message-card__title">
        <span class="title__text">LF Members에</span>
        <span class="title__text">이미 가입하셨어요~</span>
      </div>
      <div class="message-card__text">
        <span class="title__text">헤지스닷컴은 LF 통합 멤버십을 활용중이니</span>
        <span class="title__text">가입하고 더욱 편리하게 이용하세요!</span>
      </div>
      <div class="message-card__body">
        <div class="box">
          <div class="info">
            <span class="info__label">아이디</span>
            <span class="info__value">hazzyshazzys123</span>
          </div>
          <div class="info">
            <span class="info__label">가입일자</span>
            <span class="info__value">2021.03.30</span>
          </div>
        </div>
      </div>
    </div>
    <form action="#">
      <div class="member-form">
        <!-- 헤지스닷컴 이용약관 동의 -->
        <div class="member-form__agreement agreement" data-foldable>
          <div class="agreement__header">
            <label class="form-checkbox agreement-check-all">
              <input type="checkbox" class="checkbox">
              <span class="name">[필수] 헤지스닷컴 이용약관 모두 동의</span>
            </label>
            <button type="button" class="button policy-toggle-button" data-foldable-toggle>열기/닫기</button>
          </div>
          <div class="agreement__body" data-foldable-content>
            <ul class="policy">
              <li class="policy__item">
                <label class="policy__name form-checkbox form-checkbox--plain">
                  <input type="checkbox" class="checkbox">
                  <span class="name">[필수] 만 14세 이상입니다.</span>
                </label>
              </li>
              <li class="policy__item">
                <label class="policy__name form-checkbox form-checkbox--plain">
                  <input type="checkbox" class="checkbox">
                  <span class="name">[필수] 헤지스닷컴 이용약관</span>
                </label>
                <button type="button" class="button policy-view-button">보기</button>
              </li>
              <li class="policy__item">
                <label class="policy__name form-checkbox form-checkbox--plain">
                  <input type="checkbox" class="checkbox" />
                  <span class="name">[필수] 개인정보 수집 및 이용 동의</span>
                </label>
                <button type="button" class="button policy-view-button">보기</button>
              </li>
              <li class="policy__item">
                <label class="policy__name form-checkbox form-checkbox--plain">
                  <input type="checkbox" class="checkbox">
                  <span class="name">[필수] LFmembers 통합회원 이용약관</span>
                </label>
                <button type="button" class="button policy-view-button">보기</button>
              </li>
              <li class="policy__item">
                <label class="policy__name form-checkbox form-checkbox--plain">
                  <input type="checkbox" class="checkbox">
                  <span class="name">[필수] LFmembers 개인정보 수집 및 이용 동의</span>
                </label>
                <button type="button" class="button policy-view-button">보기</button>
              </li>
            </ul>
          </div>
        </div>
        <!-- 개인정보 유효기간 설정 -->
        <div class="member-form__field privacy_expiry_date member-form__field-guide">
          <div class="privacy_expiry_date__title">개인정보 유효기간 설정</div>
          <div class="privacy_expiry_date__content">미 선택 시 개인정보 유효기간은 1년으로 설정됩니다.</div>
          <div class="form-block">
            <div class="form-block__field">
              <label class="form-radio form-radio">
                <input type="radio" name="privacy_expiry_date" class="radio">
                <span class="name">회원 탈퇴시까지</span>
              </label>
            </div>
            <div class="form-block__field">
              <label class="form-radio form-radio">
                <input type="radio" name="privacy_expiry_date" class="radio">
                <span class="name">3년</span>
              </label>
            </div>
          </div>
        </div>

        <div class="member-form__field member-form__submit">
          <button type="button" class="form-button">가입하기</button>
          <button type="button" class="form-button active" data-modal-open="#modalWithdrawnMember">가입하기</button>
        </div>
      </div>
    </form>
  </div>
</main>
{% endblock %}

{% block modal %}
{% include "modal/withdrawn-member.njk" %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/member.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/member.js"></script>
<script>
$(function(){
  $('#modalWithdrawnMember').on('open', function(e){
    console.log(e.detail);
  })
})
</script>
{% endblock js %}


