{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--member shell-main--member-column">
  <div class="main-header main-header--full">
    <h2 class="main-header__title">헤지스 닷컴에 가입하고<br>다양한 혜택을 받아보세요!</h2>
  </div>
  <div class="main-content main-content--signup">
    <div class="signup-intro">
      <div class="signup-intro__benefits">
        <ul class="benefits__list">
          <li class="benefits__item">
            <div class="benefits__item__icon">
              <div class="signup-cash">
                <div class="signup-cash__group">
                  <ul class="signup-cash__list">
                    <li class="signup-cash__item">$</li>
                    <li class="signup-cash__item">1%</li>
                    <li class="signup-cash__item">$</li>
                    <li class="signup-cash__item">1%</li>
                    <li class="signup-cash__item">$</li>
                    <li class="signup-cash__item">1%</li>
                    <li class="signup-cash__item">$</li>
                    <li class="signup-cash__item">1%</li>
                    <li class="signup-cash__item">$</li>
                  </ul>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                  <g fill="none" fill-rule="evenodd">
                    <g stroke="#000" stroke-width="1.5">
                      <g transform="translate(-32 -208) translate(29 208) translate(3)">
                        <circle cx="25" cy="25" r="16.214 "/>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
            {# <i class="sprite-common sprite-common-benefit-1"></i> #}
            <span>캐시 1%<br>구매적립</span>
          </li>
          <li class="benefits__item">
            <div class="benefits__item__icon">
              <div class="signup-coupon">
                <div class="signup-coupon__group">
                  <ul class="signup-coupon__list">
                    <li class="signup-coupon__item">%</li>
                    <li class="signup-coupon__item">2</li>
                    <li class="signup-coupon__item">3</li>
                    <li class="signup-coupon__item">4</li>
                    <li class="signup-coupon__item">5</li>
                    <li class="signup-coupon__item">6</li>
                    <li class="signup-coupon__item">7</li>
                    <li class="signup-coupon__item">8</li>
                    <li class="signup-coupon__item">9</li>
                    <li class="signup-coupon__item">10</li>
                    <li class="signup-coupon__item">%</li>
                    <li class="signup-coupon__item">2</li>
                    <li class="signup-coupon__item">3</li>
                    <li class="signup-coupon__item">4</li>
                    <li class="signup-coupon__item">5</li>
                    <li class="signup-coupon__item">6</li>
                    <li class="signup-coupon__item">7</li>
                    <li class="signup-coupon__item">8</li>
                    <li class="signup-coupon__item">9</li>
                    <li class="signup-coupon__item">10</li>
                    <li class="signup-coupon__item">%</li>
                  </ul>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                  <g fill="none" fill-rule="evenodd">
                    <g>
                      <path stroke="#000" stroke-width="1.5" d="M37.643.75v8.384c-1.184.13-2.184.594-2.933 1.264-.97.868-1.531 2.089-1.531 3.441 0 1.317.533 2.509 1.396 3.372.703.703 1.625 1.188 2.655 1.343h0l.374 7.482H.75V.75h36.893z" transform="translate(-114 -208) translate(111 208) translate(3) translate(6.25 11.607) "/>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
            {# <i class="sprite-common sprite-common-benefit-3"></i> #}
            <span>할인쿠폰<br>10% 1장</span>
          </li>
          <li class="benefits__item">
            <div class="benefits__item__icon">
              <div class="signup-return-coupon">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                  <g fill="none" fill-rule="evenodd">
                    <g stroke="#000" stroke-width="1.5">
                      <g>
                        <path d="M32.58 7.566L32.58 0 2.818 0 2.818 14.881" transform="translate(-196 -208) translate(193 208) translate(3) translate(7.124 11.607) "/>
                        <path d="M5.637 14.723L2.818 11.905 0 14.723" transform="translate(-196 -208) translate(193 208) translate(3) translate(7.124 11.607) rotate(-180 2.818 13.314) "/>
                      </g>
                      <g>
                        <path d="M32.58 7.566L32.58 0 2.818 0 2.818 14.881" transform="translate(-196 -208) translate(193 208) translate(3) translate(7.124 11.607) rotate(180 17.7 13.393) "/>
                        <path d="M5.637 14.723L2.818 11.905 0 14.723" transform="translate(-196 -208) translate(193 208) translate(3) translate(7.124 11.607) rotate(180 17.7 13.393) rotate(-180 2.818 13.314) "/>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
            {# <i class="sprite-common sprite-common-benefit-3"></i> #}
            <span>무료 교환/<br>반품 1회</span>
          </li>
          <li class="benefits__item">
            <div class="benefits__item__icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                <g fill="none" fill-rule="evenodd">
                  <g stroke="#000" stroke-width="1.5">
                    <path d="M19.275.75c2.276 0 4.383.828 6.01 2.218 1.626 1.39 2.772 3.343 3.127 5.591h0l1.623 10.294H.878L2.5 8.56c.354-2.248 1.5-4.2 3.127-5.59C7.255 1.578 9.362.75 11.638.75h0z" transform="translate(-278 -208) translate(275 208) translate(3) translate(9.99 20.129) "/>
                    <g>
                      <path d="M4.464 0C6.93 0 8.93 2.398 8.93 5.357h0H0C0 2.398 1.999 0 4.464 0zm18.75 0c2.466 0 4.465 2.398 4.465 5.357h0-8.929C18.75 2.398 20.749 0 23.214 0zm-8.928 0c2.465 0 4.464 2.398 4.464 5.357h0-8.929c0-2.959 2-5.357 4.465-5.357z" transform="translate(-278 -208) translate(275 208) translate(3) translate(9.99 20.129) translate(1.617 13.532) "/>
                    </g>
                  </g>
                  <g class="signup-birth" transform="translate(-278 -208) translate(275 208) translate(3) translate(18.284 5.804)">
                    <path stroke="#000" stroke-width="1.5" d="M1.433 12.817L1.433 7.154M7.163 12.817L7.163 4.292M12.893 12.817L12.893 7.154 "/>
                    <ellipse cx="1.433" cy="4.292" fill="#000" rx="1.433" ry="1.431" transform="matrix(1 0 0 -1 0 8.585) "/>
                    <ellipse cx="7.163" cy="1.431" fill="#000" rx="1.433" ry="1.431" transform="matrix(1 0 0 -1 0 2.862) "/>
                    <ellipse cx="12.893" cy="4.292" fill="#000" rx="1.433" ry="1.431" transform="matrix(1 0 0 -1 0 8.585) "/>
                  </g>
                </g>
              </svg>
            </div>
            {# <i class="sprite-common sprite-common-benefit-4"></i> #}
            <span>생일포인트<br>2만M 적립</span>
          </li>
        </ul>
      </div>
      <div class="signup-intro__submit">
        <a href="#" class="form-button form-button--main">회원가입</a>
      </div>
    </div>
    <div class="member-util">
      <div class="member-util__sns sns-connect">
        <div class="sns-connect__title">간편하게 헤지스를 만나는 방법</div>
        <ul class="sns-connect__list">
          <li class="sns-connect__item">
            <a href="#" class="button button--naver">{% icon "naver", '', [20, 19], 'Naver' %}</a>
          </li>
          <li class="sns-connect__item">
            <a href="#" class="button button--kakao">{% icon "kakao", '', [24, 22], 'Kakao' %}</a>
          </li>
          <li class="sns-connect__item">
            <a href="#" class="button button--facebook">{% icon 'facebook', '', [12, 22], 'Facebook' %}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block modal %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/member.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/member.js"></script>
<script>
$(function(){
  anime({
    targets: '.signup-return-coupon',
    rotate: -180,
    duration: 1000,
    loop: true,
    easing: 'easeInExpo',
    endDelay: 2000,
  });
  anime({
    targets: '.signup-birth ellipse',
    cy: (e) => {
      return Number(e.cy.animVal.valueAsString) + 1;
    },
    duration: 100,
    loop: true,
    easing: (el, i, total) => {
      return (t) => {
        return Math.pow(Math.sin(t * (i + 1)), total);
      }
    },
  });
})
</script>
{% endblock js %}
