{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--member shell-main--member-column">
  <div class="main-header main-header--full">
    <h2 class="main-header__title">헤지스 닷컴에 가입하고<br>다양한 혜택을 받아보세요!</h2>
    {# <h2 class="main-header__title-marquee marquee">
      <div class="marquee__content">
        <span class="content"></span>
      </div>
    </h2> #}
  </div>
  <div class="main-content main-content--signup">
    <div class="signup-intro">
      <div class="signup-intro__benefits">
        <ul class="benefits__list">
          <li class="benefits__item">
            <i class="sprite-common sprite-common-benefit-1"></i>
            <span>캐시 1%<br>구매적립</span>
          </li>
          <li class="benefits__item">
            <i class="sprite-common sprite-common-benefit-3"></i>
            <span>할인쿠폰<br>10% 1장</span>
          </li>
          <li class="benefits__item">
            <i class="sprite-common sprite-common-benefit-3"></i>
            <span>무료 교환/<br>반품 1회</span>
          </li>
          <li class="benefits__item">
            <i class="sprite-common sprite-common-benefit-4"></i>
            <span>생일포인트<br>2만M 적립</span>
          </li>
        </ul>
      </div>
      <div class="signup-intro__submit">
        <a href="#" class="form-button form-button--main">회원가입</a>
      </div>
    </div>
    <div class="member-util">
      <div class="member-util__sns sns-connect">
        <div class="sns-connect__title">간편하게 헤지스를 만나는 방법</div>
        <ul class="sns-connect__list">
          <li class="sns-connect__item">
            <a href="#" class="button button--naver">{% icon "naver", '', [20, 19], 'Naver' %}</a>
          </li>
          <li class="sns-connect__item">
            <a href="#" class="button button--kakao">{% icon "kakao", '', [24, 22], 'Kakao' %}</a>
          </li>
          <li class="sns-connect__item">
            <a href="#" class="button button--facebook">{% icon 'facebook', '', [12, 22], 'Facebook' %}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block modal %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/member.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/member.js"></script>
{% endblock js %}