{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--member shell-main--member-column">
  <div class="main-header main-header--full">
    <h2 class="main-header__title">헤지스 닷컴에 가입하고<br>다양한 혜택을 받아보세요!</h2>
  </div>
  <div class="main-content main-content--signup">
    <!-- [UPDATE: 0618] -->
    <div class="signup-intro">
      <div class="signup-intro__benefits">
        <ul class="benefits__list">
          <li class="benefits__item">
            <div class="benefits__item__icon">
              <div class="signup-cash">
                <div class="signup-cash__group">
                  <ul class="signup-cash__list">
                    <li class="signup-cash__item">$</li>
                    <li class="signup-cash__item">1%</li>
                    <li class="signup-cash__item">$</li>
                    <li class="signup-cash__item">1%</li>
                    <li class="signup-cash__item">$</li>
                    <li class="signup-cash__item">1%</li>
                    <li class="signup-cash__item">$</li>
                    <li class="signup-cash__item">1%</li>
                    <li class="signup-cash__item">$</li>
                  </ul>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                  <g fill="none" fill-rule="evenodd">
                    <g stroke="#000" stroke-width="1.5">
                      <g transform="translate(-20.000000, -218.000000) translate(11.000000, 218.000000) translate(9.000000, 0.000000)">
                          <circle cx="20" cy="20" r="13.071"/>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
            <span>1%<br>구매적립</span>
          </li>
          <li class="benefits__item">
            <div class="benefits__item__icon">
              <div class="signup-coupon">
                <div class="signup-coupon__group">
                  <ul class="signup-coupon__list">
                    <li class="signup-coupon__item">%</li>
                    <li class="signup-coupon__item">2</li>
                    <li class="signup-coupon__item">3</li>
                    <li class="signup-coupon__item">4</li>
                    <li class="signup-coupon__item">5</li>
                    <li class="signup-coupon__item">6</li>
                    <li class="signup-coupon__item">7</li>
                    <li class="signup-coupon__item">8</li>
                    <li class="signup-coupon__item">9</li>
                    <li class="signup-coupon__item">10</li>
                    <li class="signup-coupon__item">%</li>
                    <li class="signup-coupon__item">2</li>
                    <li class="signup-coupon__item">3</li>
                    <li class="signup-coupon__item">4</li>
                    <li class="signup-coupon__item">5</li>
                    <li class="signup-coupon__item">6</li>
                    <li class="signup-coupon__item">7</li>
                    <li class="signup-coupon__item">8</li>
                    <li class="signup-coupon__item">9</li>
                    <li class="signup-coupon__item">10</li>
                    <li class="signup-coupon__item">%</li>
                  </ul>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                  <g fill="none" fill-rule="evenodd">
                    <g stroke="#000">
                      <path d="M32.357.5v7.602c-.924.113-1.753.536-2.379 1.162-.737.737-1.192 1.755-1.192 2.879s.455 2.142 1.192 2.879c.626.626 1.455 1.049 2.38 1.162h0v6.173H.5V.5h31.857z" transform="translate(-90.000000, -218.000000) translate(11.000000, 218.000000) translate(70.000000, 0.000000) translate(9.000000, -0.000000) translate(3.571429, 8.571429)"/>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
            <span>상품쿠폰<br>10% 1장</span>
          </li>

          <li class="benefits__item">
            <div class="benefits__item__icon">
              <div class="signup-plus-coupon">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                    <g fill="none" fill-rule="evenodd">
                      <g class="coupon1" stroke="#000">
                        <path d="M.5.5h27.571v6.11c-.887.086-1.637.417-2.196.901-.715.619-1.126 1.49-1.126 2.453 0 .939.392 1.79 1.028 2.405.524.507 1.215.854 1.986.957h0l.282 5.46H.5V.5z" transform="translate(-160.000000, -218.000000) translate(11.000000, 218.000000) translate(140.000000, 0.000000) translate(9.000000, -0.000000) translate(3.571429, 7.857143)"/>
                      </g>
                      <g class="coupon2" >
                        <path fill="#FFF" stroke="#000" d="M28.071.5v6.11c-.887.086-1.637.417-2.196.901-.715.619-1.126 1.49-1.126 2.453 0 .939.392 1.79 1.028 2.405.524.507 1.215.854 1.986.957h0l.282 5.46H.5V.5h27.571z" transform="translate(-160.000000, -218.000000) translate(11.000000, 218.000000) translate(140.000000, 0.000000) translate(9.000000, -0.000000) translate(3.571429, 7.857143) translate(5.000000, 5.714286)"/>
                        <path fill="#000" fill-rule="nonzero" d="M10.509 10.093c1.196 0 1.985-.949 1.985-2.071v-.024c0-1.11-.777-2.048-1.961-2.048-1.184 0-1.986.938-1.986 2.072v.023c0 1.122.79 2.048 1.962 2.048zm.072 4.05l2.822-3.784 3.301-4.316H15.52l-2.834 3.795-3.29 4.305h1.185zm-.048-4.941c-.538 0-.921-.52-.921-1.18v-.024c0-.624.335-1.157.897-1.157.538 0 .92.533.92 1.18v.024c0 .625-.334 1.157-.896 1.157zm5.035 5.033c1.184 0 1.985-.948 1.985-2.07v-.024c0-1.11-.789-2.048-1.961-2.048-1.184 0-1.985.937-1.985 2.071v.023c0 1.123.789 2.048 1.961 2.048zm.024-.89c-.538 0-.921-.521-.921-1.18v-.024c0-.625.335-1.157.897-1.157.538 0 .92.532.92 1.18v.023c0 .625-.334 1.157-.896 1.157z" transform="translate(-160.000000, -218.000000) translate(11.000000, 218.000000) translate(140.000000, 0.000000) translate(9.000000, -0.000000) translate(3.571429, 7.857143) translate(5.000000, 5.714286)"/>
                      </g>
                    </g>
                </svg>
              </div>
            </div>
            <span>플러스 쿠폰<br>5% 1장</span>
          </li>

          <li class="benefits__item">
            <div class="benefits__item__icon">
              <div class="signup-return-coupon">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                  <g fill="none" fill-rule="evenodd">
                    <g stroke="#000" stroke-width="1.5">
                      <g>
                          <path d="M26.064 6.053L26.064 0 2.255 0 2.255 11.905" transform="translate(-230.000000, -218.000000) translate(11.000000, 218.000000) translate(210.000000, 0.000000) translate(9.000000, -0.000000) translate(5.699134, 9.285714)"/>
                          <path d="M4.509 11.778L2.255 9.524 0 11.778" transform="translate(-230.000000, -218.000000) translate(11.000000, 218.000000) translate(210.000000, 0.000000) translate(9.000000, -0.000000) translate(5.699134, 9.285714) translate(2.254688, 10.651154) rotate(-180.000000) translate(-2.254688, -10.651154)"/>
                      </g>
                      <g>
                          <path d="M26.064 6.053L26.064 0 2.255 0 2.255 11.905" transform="translate(-230.000000, -218.000000) translate(11.000000, 218.000000) translate(210.000000, 0.000000) translate(9.000000, -0.000000) translate(5.699134, 9.285714) translate(15.286794, 15.476190) scale(-1, -1) translate(-15.286794, -15.476190) translate(2.254688, 9.523810)"/>
                          <path d="M4.509 11.778L2.255 9.524 0 11.778" transform="translate(-230.000000, -218.000000) translate(11.000000, 218.000000) translate(210.000000, 0.000000) translate(9.000000, -0.000000) translate(5.699134, 9.285714) translate(15.286794, 15.476190) scale(-1, -1) translate(-15.286794, -15.476190) translate(2.254688, 9.523810) translate(2.254688, 10.651154) rotate(-180.000000) translate(-2.254688, -10.651154)"/>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
            <span>무료<br>반품 1회</span>
          </li>
          <li class="benefits__item">
            <div class="benefits__item__icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                <g fill="none" fill-rule="evenodd">
                  <g stroke="#000" stroke-width="1.5">
                      <path d="M13.71.5c2.338 0 4.502.85 6.173 2.278 1.67 1.428 2.847 3.433 3.212 5.742h0l1.05 6.663H.585l1.05-6.663C2 6.211 3.178 4.206 4.848 2.778 6.518 1.35 8.682.5 11.02.5h0z" transform="translate(-300.000000, -218.000000) translate(11.000000, 218.000000) translate(280.000000, 0.000000) translate(9.000000, 0.000000) translate(7.992063, 16.103175)"/>
                      <g>
                          <path d="M3.571 0c1.973 0 3.572 1.919 3.572 4.286h0H0C0 1.919 1.599 0 3.571 0zm4.286 4.286C7.857 1.919 9.457 0 11.43 0S15 1.919 15 4.286v-.022C15.01 1.907 16.605 0 18.571 0c1.973 0 3.572 1.919 3.572 4.286h0z" transform="translate(-300.000000, -218.000000) translate(11.000000, 218.000000) translate(280.000000, 0.000000) translate(9.000000, 0.000000) translate(7.992063, 16.103175) translate(1.293651, 10.825397)"/>
                      </g>
                  </g>
                  <g class="signup-birth" transform="translate(-300.000000, -218.000000) translate(11.000000, 218.000000) translate(280.000000, 0.000000) translate(9.000000, 0.000000) translate(14.626984, 4.642857)">
                      <path stroke="#000" d="M1.146 10.254L1.146 5.723M5.73 10.254L5.73 3.434M10.315 10.254L10.315 5.723"/>
                      <ellipse cx="1.146" cy="3.434" fill="#000" rx="1.146" ry="1.145" transform="translate(1.146032, 3.433881) scale(1, -1) translate(-1.146032, -3.433881)"/>
                      <ellipse cx="5.73" cy="1.145" fill="#000" rx="1.146" ry="1.145" transform="translate(5.730159, 1.144627) scale(1, -1) translate(-5.730159, -1.144627)"/>
                      <ellipse cx="10.314" cy="3.434" fill="#000" rx="1.146" ry="1.145" transform="translate(10.314286, 3.433881) scale(1, -1) translate(-10.314286, -3.433881)"/>
                  </g>
                </g>
              </svg>
            </div>
            <span>생일혜택<br>10% 쿠폰</span>
          </li>
        </ul>
      </div>
      <div class="signup-intro__submit">
        <a href="#" class="form-button form-button--main">회원가입</a>
      </div>
    </div>
    <!-- // [UPDATE: 0618] -->
    <div class="member-util">
      <div class="member-util__sns sns-connect">
        <p class="sns-connect__text">카카오 인증에 실패했습니다. 다시 시도해주세요.</p><!-- 2021.06.07 수정 -->
        <div class="sns-connect__title">간편하게 헤지스를 만나는 방법</div>
        <ul class="sns-connect__list">
          <li class="sns-connect__item">
            <a href="#" class="button button--naver">{% icon "naver", '', [20, 19], 'Naver' %}</a>
          </li>
          <li class="sns-connect__item">
            <a href="#" class="button button--kakao">{% icon "kakao", '', [24, 22], 'Kakao' %}</a>
          </li>
          <li class="sns-connect__item">
            <a href="#" class="button button--facebook">{% icon 'facebook', '', [12, 22], 'Facebook' %}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block modal %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/member.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/member.js"></script>
<script>
$(function(){
  anime({
    targets: '.signup-return-coupon',
    rotate: -180,
    duration: 1000,
    loop: true,
    easing: 'easeInExpo',
    endDelay: 2000,
  });
  anime({
    targets: '.signup-birth ellipse',
    cy: (e) => {
      return Number(e.cy.animVal.valueAsString) + 1;
    },
    duration: 100,
    loop: true,
    easing: (el, i, total) => {
      return (t) => {
        return Math.pow(Math.sin(t * (i + 1)), total);
      }
    },
  });
  // [UPDATE: 0618]
  anime.timeline({
      loop: true,
      easing: 'easeOutQuint',
      delay: 600,
      endDelay: 1400,
    })
    .add({
      targets: '.signup-plus-coupon .coupon1',
      translateY: [
        { value: -5, duration: 1 },
        { value: 0, duration: 1000 }
      ],
      translateX: [
        { value: -5 , duration: 1 },
        { value: 0, duration: 1000 }
      ]
    })
    .add({
      targets: '.signup-plus-coupon .coupon2',
      translateY: [
        { value: -10, duration: 1 },
        { value: 0, duration: 1000 }
      ],
      translateX: [
        { value: -10, duration: 1 },
        { value: 0, duration: 1000 }
      ]
    }, '-='+ 3000);
})
</script>
{% endblock js %}
