<!-- 배지 혜택 -->
<div id="modalBadgeBenefit" class="modal modal--badge-benefit" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <button type="button" class="modal__header__button" aria-label="닫기" data-modal-close>
        <i class="sprite-icon sprite-common sprite-common-close-layer">닫기</i>
      </button>
    </div>
    <div class="modal__body">
      <div class="badge-coupon-container">
        <dl class="badge">
          <dt class="badge__name">Silver Smart Consumer<br>BADGE</dt>
          <dd class="badge__date">2021.01.03</dd>
          <dd class="badge__preview">
            <!-- 배지 Sample (추후 변경) -->
            <div class="hazzys-badge hazzys-badge--mission">
              <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
            </div>
            <!-- // 배지 Sample -->
          </dd>
        </dl>
        <div class="badge-coupon">
          <p class="badge-coupon__title">
            이 배지에 <strong>2</strong>개의 쿠폰이 있어요
          </p>
          <ul class="badge-coupon__list">
            <li class="badge-coupon__item">
              <div class="coupon active">
                <p class="coupon__name">
                  <span class="name">5% 등급 쿠폰</span>
                </p>
                <p class="coupon__condition">
                  5% 할인
                </p>
                <p class="coupon__expiration">
                  <span class="term">2020.01.03 ~ 2020.01.28</span>
                  <span class="countdown">D-2</span>
                </p>
              </div>
            </li>
            <li class="badge-coupon__item">
              <div class="coupon">
                <p class="coupon__name">
                  <span class="name">10,000원 금액 쿠폰</span>
                </p>
                <p class="coupon__condition">
                  100,000원 이상 구매 시 사용 가능
                </p>
                <p class="coupon__expiration">
                  <span class="term">2020.01.03 ~ 2020.01.28</span>
                </p>
                <span class="coupon__state">사용</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // 배지 혜택 -->