
{# 상품 픽업 #}
<div id="modalConfirmPickedup" class="modal" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <h1 class="modal__header__title"><span class="title-block">픽업상품을</span> <span class="title-block">매장에서 수령하셨어요?</span></h1>
      <button type="button" class="modal__header__button" aria-label="닫기" data-modal-close>
        <i class="sprite-icon sprite-common sprite-common-close-layer">닫기</i>
      </button>
    </div>
    <div class="modal__body">
      <div class="message">
        <div class="message__text">
          주문상태가 배송완료로 변경되며,<br>상품평 작성 및 교환/반품 신청이 가능합니다
        </div>
      </div>
    </div>
    <div class="modal__footer">
      <ul class="button-group">
        <li class="button-group__item">
          <button type="button" class="form-button form-button--plain" data-modal-close>취소</button>
        </li>
        <li class="button-group__item">
          <button type="button" class="form-button form-button--main" data-modal-close>확인</button>
        </li>
      </ul>
    </div>
  </div>
</div>