<!-- 나의 쿠폰 등록 -->
<div id="modalRegisterCoupon" class="modal modal--register-coupon" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <h1 class="modal__header__title">나의 쿠폰 등록</h1>
      <button type="button" class="modal__header__button" aria-label="닫기" data-modal-close>
        <i class="sprite-icon sprite-common sprite-common-close-layer">닫기</i>
      </button>
    </div>
    <div class="modal__body">
      <div class="message">
        <div class="message__text">
          발급 받으신 쿠폰을 입력해주세요.<br>
          영문 대/소문자를 구분하여 입력해주세요.
        </div>
        <div class="coupon-register-form">
          <div class="input-block">
            <input type="text" class="form-text" placeholder="쿠폰 번호를 입력해주세요">
          </div>
        </div>
      </div>
    </div>
    <div class="modal__footer">
      <button type="button" class="form-button form-button--main" data-modal-close>쿠폰 등록하기</button>
    </div>
  </div>
</div>
<!-- // 나의 쿠폰 등록 -->