{# 예상 반품비 #}
<div id="modalReturnCostGuide" class="modal" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <h1 class="modal__header__title">예상 반품비</h1>
      <button type="button" class="modal__header__button" aria-label="닫기" data-modal-close>
        <i class="sprite-icon sprite-common sprite-common-close-layer">닫기</i>
      </button>
    </div>
    <div class="modal__body">
      <div class="message">
        <div class="message__text">
          예상 반품비는 반품 사유에 따라 달라지며, 헤지스 지정 택배사를 이용하지 않으실 경우 변경될 수 있습니다.
        </div>
      </div>
    </div>
    <div class="modal__footer">
      <button type="button" class="form-button form-button--main" data-modal-close>확인</button>
    </div>
  </div>
</div>