<!-- 로그인 안내 레이어 -->
<div id="modalPriceGuest" class="modal" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <button type="button" class="modal__header__button" aria-label="닫기" data-modal-close>
        <i class="sprite-icon sprite-common sprite-common-close-layer">닫기</i>
      </button>
    </div>
    <div class="modal__body">
      <div class="message message--center message--min">
        <p class="message__text">
          로그인하고 회원님이 받으실 수 있는<br>최대 혜택을 확인해보세요.
        </p>
      </div>
    </div>
    <div class="modal__footer">
      <button type="button" class="form-button form-button--main" data-modal-close>로그인 하기</button>
    </div>
  </div>
</div>