<!-- 내쿠폰 적용 가격 안내 -->
<div id="modalPriceUser" class="modal" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <h1 class="modal__header__title">가격 안내</h1>
    </div>
    <div class="modal__body">
      <div class="price-guide">
        <div class="price-guide__group">
          <ul class="group__item">
            <li class="section">
              <span class="label">즉시 할인 10%</span>
              <span class="value">-13,800</span>
            </li>
            <li class="section">
              <span class="label">일반 쿠폰 15%</span>
              <span class="value">-18,620</span>
            </li>
            <li class="section">
              <span class="label">승급 축하 쿠폰 7%</span>
              <span class="value">-50,650</span>
            </li>
          </ul>
          <ul class="group__item">
            <li class="section">
              <span class="label">
                <em>최대 할인가</em>
              </span>
              <span class="value">
                <em>- 6,450</em>
              </span>
            </li>
            <li class="section">
              <span class="label">
                <em class="point">적립 예정</em>
              </span>
              <span class="value">
                <em>160,550M</em>
              </span>
            </li>
          </ul>
        </div>
        <div class="price-guide__comment">
      상품에 기본 할인이 적용된 가격입니다. 주문서에서 더 큰 할인을 받아보세요.
      </div>
      </div>
    </div>
    <div class="modal__footer">
      <button type="button" class="form-button form-button--main" data-modal-close>확인</button>
    </div>
  </div>
</div>