<!-- 재입고 알림신청 완료 -->
<div id="modalRestockNotificationComplete" class="modal modal--product-message" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <h1 class="modal__header__title">재입고 알림신청 완료</h1>
      <button type="button" class="modal__header__button" aria-label="닫기" data-modal-close>
        <i class="sprite-icon sprite-common sprite-common-close-layer">닫기</i>
      </button>
    </div>
    <div class="modal__body">
      <!-- 상품 -->
      <div class="product product--table">
        <div class="product__image">
          <img src="/cmsstatic/asset/images/temp/product_80x104_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
        </div>
        <div class="product__content">
          <div class="product__info">
            <p class="product__brand">HAZZYS LADIES</p>
            <p class="product__name">블랙 2버튼 싱글 자켓 &amp; 스트레이트 슬랙스 셋업</p>
          </div>
          <p class="product__option">
            <span class="option__item">차콜그레이</span>
            <span class="option__item">68 XL</span>
          </p>
        </div>
      </div>
      <!-- //상품 -->
    </div>
    <div class="modal__footer">
      <a href="#" class="form-button form-button--main" data-modal-close>재입고 알림 바로가기</a>
    </div>
  </div>
</div>