<!-- 공유하기 -->
<div id="modalShareSns" class="modal" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <button type="button" class="modal__header__button" aria-label="닫기" data-modal-close>
        <i class="sprite-icon sprite-common sprite-common-close-layer">닫기</i>
      </button>
    </div>
    <div class="modal__body">
      <div class="message message--center message--min">
        <p class="message__text">
        SNS에 헤지스 상품을 소개해주세요.
      </p>
        <div class="message__share">
          <button type="button" class="button">
            <img src="/cmsstatic/asset/images/share-kakao.png" alt="카카오 공유하기">
          </button>
          <button type="button" class="button">
            <img src="/cmsstatic/asset/images/share-facebook.png" alt="페이스북 공유하기">
          </button>
          <button type="button" class="button button--mobile">
            <img src="/cmsstatic/asset/images/share-sms.png" alt="SMS로 공유하기">
          </button>
          <button type="button" class="button">
            <img src="/cmsstatic/asset/images/share-copy.png" alt="URL 복사">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>