<!-- 위시리스트 담기 -->
<div id="modalWishlistAdd" class="modal modal--top-bottom" tabindex="-1" role="dialog"  data-modal="timer:2">
  <div class="modal-dialog" role="document">
    <div class="modal__body">
      <div class="message message--center">
        <p class="message__text">
          <span class="icon-block">
            <i class="sprite-icon sprite-common sprite-common-heart-plus"></i>
          </span>
          위시리스트에 상품이 담겼습니다.<br>
        </p>
      </div>
    </div>
    <div class="modal__footer">
      <a href="#" class="form-button form-button--main">위시리스트 바로가기</a>
    </div>
  </div>
</div>