<!-- 쿠폰 변경 -->
<div id="modalCouponChange" class="modal modal--bottom-top" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <h1 class="modal__header__title">쿠폰 변경</h1>
      <button type="button" class="modal__header__button" aria-label="닫기" data-modal-close>
        <i class="sprite-icon sprite-common sprite-common-close-layer">닫기</i>
      </button>
    </div>
    <div class="modal__body">
      <div class="coupon-change">
        <p class="max-sale-benefit">
          <label class="form-radio">
            <input type="radio" class="radio" name="checkMaxSale">
            <span class="name"><i class="icon-sale"></i>최대 할인 혜택으로 적용</span>
          </label>
        </p>
        <div class="coupon-wrap">
          <div class="coupon-box">
            <p class="product-name">21SS 가먼트다잉 블루종 점퍼</p>
            <p class="product-opt">차콜그레이 / 95</p>
            <ul class="coupon-list">
              <li>
                <div class="form-radio">
                  <input type="radio" class="radio" name="checkCoupon" title="쿠폰 선택">
                  <i class="icon"></i>
                  <div class="box">
                    <span class="coupon-name">일반 쿠폰</span>
                    <div class="coupon-info">
                      <span class="coupon-info__price">-8,450원</span>
                      <span class="coupon-info__sale">5% 할인</span>
                      <span class="coupon-info__date">2022.01.01 까지</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="coupon-box">
            <p class="product-name">21SS 가먼트다잉 블루종 점퍼</p>
            <p class="product-opt">차콜그레이 / 95</p>
            <ul class="coupon-list">
              <li>
                <div class="form-radio">
                  <input type="radio" class="radio" name="checkCoupon" title="쿠폰 선택">
                  <i class="icon"></i>
                  <div class="box">
                    <span class="coupon-name">일반 쿠폰</span>
                    <div class="coupon-info">
                      <span class="coupon-info__price">-8,450원</span>
                      <span class="coupon-info__sale">5% 할인</span>
                      <span class="coupon-info__date">2022.01.01 까지</span>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="form-radio">
                  <input type="radio" class="radio" name="checkCoupon" title="쿠폰 선택">
                  <i class="icon"></i>
                  <div class="box">
                    <span class="coupon-name">일반 쿠폰</span>
                    <div class="coupon-info">
                      <span class="coupon-info__price">-15,450원</span>
                      <span class="coupon-info__sale">15% 할인</span>
                      <span class="coupon-info__date">2022.01.01 까지</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="modal__footer">
      <button type="button" class="form-button form-button--main">24,000원 할인받기</button>
    </div>
  </div>
</div>