<!-- 패밀리카드 미선택 -->
<div id="modalNoFamily" class="modal" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__body">
      <div class="no-family">패밀리 회원 결제하기 미 체크 시<br>패밀리 할인금액이 적용되지 않습니다.</div>
    </div>
    <div class="modal__footer">
      <ul class="button-group">
        <li class="button-group__item">
          <button type="button" class="form-button form-button--plain" data-modal-close>취소</button>
        </li>
        <li class="button-group__item">
          <button type="button" class="form-button form-button--main">일반결제</button>
        </li>
      </ul>
    </div>
  </div>
</div>