<!-- 주문 실패 품절상품 -->
<div id="modalSoldOut" class="modal order-fail" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <button type="button" class="modal__header__button" aria-label="닫기" data-modal-close>
        <i class="sprite-icon sprite-common sprite-common-close-layer">닫기</i>
      </button>
    </div>
    <div class="modal__body">
      <div class="order-fail">
        <p class="order-fail__title">죄송합니다.</p>
        <p class="order-fail__text">고객님의 주문 내역에 품절상품이 있어요.<br>장바구니에서 품절상품 제외 후 다시 결제해주세요.</p>
      </div>
    </div>
    <div class="modal__footer">
      <button type="button" class="form-button form-button--main">장바구니로 가기</button>
    </div>
  </div>
</div>