<!-- 이용 약관 -->
<div id="modalOrderAgree" class="modal modal--order-policy" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <h1 class="modal__header__title">이용약관</h1>
      <button type="button" class="modal__header__button" aria-label="닫기" data-modal-close>
        <i class="sprite-icon sprite-common sprite-common-close-layer">닫기</i>
      </button>
    </div>
    <div class="modal__body">
      <dl class="order-agree">
        <dt class="order-agree__title">주문 동의</dt>
        <dd class="order-agree__box">주문할 상품의 상품명, 가격, 배송정보 등 판매조건을 확인하였으며, 구매진행에 동의합니다. (전자상거래법 제8조 2항)</dd>
      </dl>
      <dl class="order-agree box-2">
        <dt class="order-agree__title">개인정보 수집 및 이용 동의</dt>
        <dd class="order-agree__box">
          수집목적<br>
          구매한 물품의 배송/설치 등 고객과 체결한 계약의 이행<br><br>
          수집항목<br>
          배송정보 (주문자 및 수취인 이름, 주소, 연락처)<br>
          결제정보 (신용카드, 계좌, 휴대폰 정보) 보유기간 : 수집 목적 달성 시 까지<br>
          단, 관계 법령의 규정에 의하여 일정 기간 보유하여야할 필요가 있는 경우, 해당 기간동안 보관합니다.<br>
          법령에 따라 보관하여야 하는 기간은 홈페이지 하단의 ‘개인정보처리방침’을 참고하시기 바랍니다.<br>
          개인정보 수집 및 이용 동의를 거부하실 권리가 있으며, 이를 거부 시 결제가 제한됩니다.<br>
        </dd>
      </dl>
    </div>
    <div class="modal__footer">
      <button type="button" class="form-button form-button--main" data-modal-close>확인</button>
    </div>
  </div>
</div>