<!-- 가격안내 -->
<div id="modalPriceDetail" class="modal" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <h1 class="modal__header__title">가격 안내</h1>
    </div>
    <div class="modal__body">
      <div class="price-guide">
        <div class="price-guide__group">
          <ul class="group__item">
            <li class="section">
              <span class="label">
                <em>일반 쿠폰 5%</em>
              </span>
              <span class="value">
                <em>- 6,450</em>
              </span>
            </li>
            <li class="section">
              <span class="label">
                <em>할인가</em>
              </span>
              <span class="value">
                <em class="point">160,550</em>
              </span>
            </li>
          </ul>
        </div>
        <div class="price-guide__comment">
            상품에 기본 할인이 적용된 가격입니다. 주문서에서 더 큰 할인을 받아보세요.
          </div>
      </div>
    </div>
    <div class="modal__footer">
      <button type="button" class="form-button form-button--main" data-modal-close>확인</button>
    </div>
  </div>
</div>