<!-- 매장 위치 -->
<div id="modalShopLocation" class="modal" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog modal-order" role="document">
    <div class="modal__header">
      <h1 class="modal__header__title">매장위치</h1>
      <button type="button" class="modal__header__button" aria-label="닫기" data-modal-close>
        <i class="sprite-icon sprite-common sprite-common-close-layer">닫기</i>
      </button>
    </div>
    <div class="modal__body">
      <div class="shop-location">
        <div class="map">
          지도영역<br><br>
        </div>
        <p class="shop-name">헤지스 명동점 SPACE H</p>
        <p class="shop-address">서울특별시 중구 충무로 2가 63-1</p>
        <a href="tel:031-701-1643" class="shop-call">031-701-1643</a>
      </div>
    </div>
  </div>
</div>