<div class="shell-navigation">
  <div class="navigation-container">
    <div class="shell-navigation__member">
      <ul class="util">
        <li class="util__item">
          <a href="#" class="form-button form-button--small form-button--main">LOGIN</a>
        </li>
        <li class="util__item">
          <a href="#" class="form-button form-button--small form-button--plain">JOIN</a>
        </li>
      </ul>
    </div>
    <nav class="shell-navigation__category">
      <ul class="category-list">
        <li class="category-list__item"><a href="#">ACC</a></li>
        <li class="category-list__item"><a href="#">Men</a></li>
        <li class="category-list__item"><a href="#">Ladies</a></li>
        <li class="category-list__item"><a href="#">Golf</a></li>
        <li class="category-list__item"><a href="#">Beauty</a></li>
        <li class="category-list__item"><a href="#">Outlet</a></li>
        <li class="category-list__item category-list__item--hilite"><a href="#">Paddington Line</a></li>
        <li class="category-list__item category-list__item--hilite"><a href="#">HIS Line</a></li>
        <li class="category-list__item category-list__item--hilite"><a href="#">H line</a></li>
      </ul>
    </nav>
    <div class="shell-navigation__display">
      <div class="display-product">
        <h2 class="display-product__title">최근 본 상품</h2>
        <div class="display-product__content">
          <ul class="content-list list">
            <li class="list__item">
              <div class="product">
                <div class="product__image">상품이미지</div>
                <div class="product__name">상품명</div>
                <div class="product__price">가격</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="shell-navigation__close">
      <button type="button" class="button" data-nav-toggle="hide">CLOSE</button>
    </div>
  </div>
</div>