@import '../../asset/css/variables.scss';
@import '../../asset/css/mixins.scss';
@import '../../components/sprites/sprite-common.scss';

$navigation-width: 80%;


.shell-navigation {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  @include background-blur(4px, 0.2, 'black');
  z-index: 30;
  transition: top 0.3s;

  .navigation-container {
    width: $navigation-width;
    height: 100%;
    margin-left: auto;
    background: #fff;
    transform: translate(100%, 0);
  }
  &__close {
    position: absolute;
    top: 0;
    left: -25%;
    width: 25%;
    height: 100%;
    .button {
      width: 100%;
      height: 100%;
      font-family: $font-gotham;
      font-weight: 600;
      font-size: 18px;
      color: #fff;
      outline: 0;

      span {
        position: absolute;
        bottom: 0;
        right: 0;
        display: inline-block;
        padding: 10px;
        transform: rotate(-90deg);
        transform-origin: top center;
      }
    }
  }

  @include mq('desktop'){
    top: 60px;
    left: 0 !important;
    opacity: 1 !important;
    height: auto;
    @include background-blur-reset;

    .navigation-container {
      width: 100%;
      height: auto;
      transform: none !important;
      transition: none;
    }
    &__close {
      display: none;
    }
  }

  // visibility: hidden;
  @at-root .is-mobile #{&}, .is-desktop #{&} {
    visibility: visible;
  }
}


// Mobile
// =============================================================================
// [Mobile] 네비게이션 > 상단 로그인/회원정보 버튼
.category__util--member {
  .util {
    padding: 60px 0 40px;
    margin: 0 10px 0 20px;
    display: flex;
    &__item {
      width: 100%;
      + .util__item {
        margin-left: 10px;
      }
    }
  }
}
// [Mobile] 네비게이션 > 하단 최근 본 상품
.category__util--display {
  margin-top: 40px;
  .display-product {
    &__title {
      margin: 0 0 20px 10px;
      font-size: 14px;
      font-weight: 450;
      line-height: 1;
      color: $color-text-primary;
    }
    &__content {
      padding-bottom: 30px;
      overflow: auto;
      overflow-y: hidden;
      > .content-list.list {
        padding: 0 10px;
        display: inline-block;
        white-space: nowrap;
        font-size: 0;
        vertical-align: top;
        .list__item {
          width: 100px;
          display: inline-block;
          vertical-align: top;
          + .list__item {
            margin-left: 10px;
          }
          .product-image {
            position: relative;
            padding-top: 100%;
            overflow: hidden;
            display: block;
            img {
              position: absolute;
              top: 50%;
              left: 0;
              width: 100%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
}

@include mq('desktop', 'max'){
  .navigation-container {
    .category {
      overflow: hidden;
      .category-inner {
        position: relative;
      }
      .category__main {
        height: 100vh;
        overflow: auto;
        overflow-x: hidden;
        .category__navigation {
          .category-list {
            &__item {
              .anchor {
                position: relative;
                display: block;
                font-family: $font-gotham;
                font-weight: 450;
                font-size: 20px;
                color: #000;
                text-transform: uppercase;
                line-height: 44px;
                text-decoration: none;
                padding: 0 30px 0 20px;
                &.menu {
                  &:after {
                    content: '>';
                    position: absolute;
                    top: 50%;
                    right: 12px;
                    transform: translateY(-50%);
                    @include text-hidden;
                    @include sprite($common-dropdown-arrow-right);
                  }
                }
              }
            }
            &__item--hilite {
              .anchor {
                color: $color-text-point;
              }
            }
          }
        }
      }
      .category__sub {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        overflow: auto;
        overflow-x: hidden;
        background: #fff;

        // 2depth 메뉴
        .category__navigation {
          .anchor {
            display: block;
            position: relative;
            font-size: 14px;
            font-weight: 300;
            line-height: 38px;
            color: #000;
            text-decoration: none;

            &.menu {
              &:after {
                content: '>';
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                @include text-hidden;
                @include sprite($common-dropdown-arrow-right);
              }
            }
          }
          // 각 메뉴
          .category-depth {
            display: none;
            height: 100vh;
            background: #fff;
            .category-depth__back {
              position: relative;
              margin: 60px 0 0 20px;
              height: 20px;
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              padding-left: 26px;
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                @include sprite($common-arrow-left-nav-back);
              }
            }
            .category-depth__title {
              margin: 40px 0 0 20px;
              font-size: 20px;
              font-weight: 500;
              color: #000;
              height: 20px;
              line-height: 20px;
              overflow: hidden;
              &,
              a {
                color: #000;
                text-decoration: none;
              }
            }
            .category-list {
              position: relative;
              padding: 20px 0 0 20px;
              + .category-list {
                padding-top: 0;
              }
              &:last-child {
                padding-bottom: 50px;
              }
              &.is-hidden {
                display: none;
              }
            }
            &.category-depth--3,
            &.category-depth--4,
            &.category-depth--5 {
              position: absolute;
              top: -140px;
              width: 100%;
              left: 100%;
              background: #fff;
            }
            &.category-depth--3 {
              z-index: 2;
            }
            &.category-depth--4 {
              z-index: 3;
            }
            &.category-depth--5 {
              z-index: 4;
            }
          }
        }
      }
    }
  }
}

// Desktop
// =============================================================================
@include mq('desktop'){
  .category__util--member,
  .category__util--display {
    display: none;
  }
  .navigation-container {
    width: 100%;
    .category {
      .category__main {
        position: absolute;
        top: 0;
        left: 150px;
        right: 150px;
        transform: translate(0, -100%);
        height: 60px;
        z-index: 2;

        .category-list {
          white-space: nowrap;
          font-size: 0;
          line-height: 0;
          display: flex;
          justify-content: space-between;
          max-width: 1000px;
          margin: 0 auto;

          &__item {
            flex: 1 1 auto;
            text-align: center;
            height: 60px;
            a {
              position: relative;
              display: block;
              font-family: $font-gotham;
              font-weight: 450;
              font-size: 13px;
              color: #000;
              text-transform: uppercase;
              line-height: 64px;
              letter-spacing: -0.025em;
              text-decoration: none;
            }
            &:hover a {
              font-weight: 500;
            }
          }
          &__item--hilite {
            a {
              color: $color-text-point;
            }
          }
        }
        .category__indicator {
          position: absolute;
          bottom: 12px;
          height: 1px;
          background: #000;
          pointer-events: none;
          transform-style: preserve-3d;
          transition-duration: 0.3s;
          transition-property: width, left, transform;
          transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
          transform: scaleX(1);
          transform-origin: left;
          &.hilite {
            background-color: $color-solid-point;
          }
          &.is-hidden {
            transform: scaleX(0);
            transition-property: transform;
          }
        }
      }
      .category__sub {
        position: absolute;
        left: 0;
        width: 100%;
        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
        background: #fff;
        visibility: hidden;
        height: 0;
        overflow: hidden;

        .category__sub-inner {
          max-width: 1170px;
          margin: 0 auto;
          display: flex;
          justify-content: center;
        }
        .category__navigation {
          padding: 40px 0 0 0;
          .anchor {
            display: block;
            font-size: 12px;
            font-weight: 300;
            line-height: 24px;
            color: #1e1e1e;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
          .category-depth {
            .category-depth__back {
              display: none;
            }
            .category-depth__title {
              display: none;
            }
            &.category-depth--2 {
              visibility: hidden;
              opacity: 0;
              width: 0;
              height: 0;
              overflow: hidden;
              white-space: nowrap;
              font-size: 0;
              &.active {
                width: auto;
                height: auto;
                opacity: 1;
                visibility: visible;
                overflow: visible;
                transition: visibility 0.1s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.1s 0.1s linear;
              }
              > .category-list {
                + .category-list {
                  margin-top: 30px;
                }
                position: relative;
                padding-left: 150px;

                > .category-list__item {
                  &.category-list__item--all {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 150px;
                    padding-left: 0;
                  }
                  width: 170px;
                  padding-left: 20px;
                  box-sizing: border-box;
                  display: inline-block;
                  vertical-align: top;
                  > .anchor {
                    font-size: 14px;
                    font-weight: 500;
                  }
                }
                @include mq('desktop-wide') {
                  padding-left: 170px;
                  > .category-list__item {
                    &.category-list__item--all {
                      width: 170px;
                    }
                    width: 200px;
                    padding-left: 30px;
                  }
                }
              }
            }
            &.category-depth--3 {
              margin-top: 5px;
            }
            &.category-depth--4 {
              display: none;
            }
          }
        }
      }
    }
  }
}