{% macro catNav(main, sub, subsub, subsubsub) %}
  {% if not sub %}
    {% set sub = "전체" %}
  {% endif %}
  {% if sub != "전체" and not subsub %}
    {% set subsub = "전체" %}
  {% endif %}
  {% if subsub and subsub != "전체" and not subsubsub %}
    {% set subsubsub = "전체" %}
  {% endif %}
  {% set subCategories = getSubCategories(categories, main) %}
  {% set subSubCategories = getSubCategories(subCategories, sub) %}
  {% if subsub and subSubCategories %}
    {% set subSubSubCategories = getSubCategories(subSubCategories, subsub) %}
  {% endif %}
  <nav class="category-navigation" aria-label="카테고리">
    <div class="category-main-nav">
      <h2 class="category-title">{{ main }}</h2>

      <div class="category-fixed-nav">
        <button type="button" class="category-fixed-nav__button dropdown-controller" aria-controls="catMainDropdown" aria-expanded="false">{{ main }}</button>
        <button type="button" class="category-fixed-nav__button dropdown-controller" aria-controls="catSubDropdown" aria-expanded="false">{{ sub }}</button>
      </div>

      <div class="category-nav-dropdown" id="catMainDropdown" hidden="hidden">
        <ul class="category-dropdown-list" aria-label="최상위 카테고리">
          {% for category in categories %}
            <li>
              <a href="{{ category.url }}" {% if matchesCategoryName(category, main) %} aria-current="true"{% endif %}>{{ getCategoryName(category) }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="category-nav-dropdown" id="catSubDropdown" hidden="hidden">
        <ul class="category-dropdown-list" aria-label="{{ main }} 하위 카테고리">
          {% for category in subCategories %}
            <li>
              <a href="{{ category.url }}" {% if matchesCategoryName(category, sub) %} aria-current="true"{% endif %}>{{ getCategoryName(category) }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="category-sub-nav">
      <div class="category-sub-nav_depth_1">
        <div class="category-scroller">
          <ul class="category-nav-list" aria-label="카테고리">
            {% for category in categories %}
              <li>
                <a href="{{ category.url }}" {% if matchesCategoryName(category, main) %} aria-current="true"{% endif %}>{{ getCategoryName(category) }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      {% if subCategories %}
        <div class="category-sub-nav_depth_2">
          <div class="category-scroller">
            <ul class="category-nav-list" aria-label="{{ main }} 하위 카테고리">
              {% for category in subCategories %}
                <li>
                  <a href="{{ category.url }}" {% if matchesCategoryName(category, sub) %} aria-current="true"{% endif %}>{{ getCategoryName(category) }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        {% if subSubCategories %}
          <div class="category-sub-nav_depth_3">
            <div class="category-scroller">
              <ul class="category-nav-list" aria-label="{{ main }} &gt; {{ sub }} 하위 카테고리">
                {% for category in subSubCategories %}
                  <li>
                    <a href="{{ category.url }}" {% if matchesCategoryName(category, subsub) %} aria-current="true"{% endif %}>{{ getCategoryName(category) }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </nav>
{% endmacro %}
