{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--customer">
  <div class="main-header" style="background-image:url(/cmsstatic/asset/images/customer-visual.jpg);">
    <div class="main-container">
      <!-- 고객센터 메인 상단 -->
      <h2 class="main-header__title">고객센터</h2>
      <div class="main-header__text">고객님, 궁금하신 점을 해결해 드릴게요. 😊</div>
      <!-- //고객센터 메인 상단 -->
    </div>
  </div>
  <div class="main-content">
    <div class="main-container main-content__body">
      <div class="main-content__main main-content__main--benefit">
        <div class="main-content__header">
          <h3 class="main-content__title">회원 혜택</h3>
          <button type="button" class="button main-content__btn-back">
            <i class="sprite-icon sprite-common sprite-common-back">뒤로가기</i>
          </button>
        </div>
        <!-- 회원 혜택 -->
        <div class="benefit-wrap">
          <div class="tablist benefit-tab" role="tablist">
            <button type="button" class="tab" role="tab" aria-selected="false">등급별 혜택 안내</button>
            <button type="button" class="tab" role="tab" aria-selected="true">헤지스 배지 안내</button>
          </div>
          <!-- 헤지스 배지 안내 -->
          <div class="tabpanel">
            <p class="badge-guide-text">모으는 재미가 가득한 헤지스닷컴 회원만의 특별한 혜택!</p>
            <div class="hazzys-badge-guide">
              <div class="tabs tabs--depth2">
                <div class="tablist" role="tablist" aria-label="badge-list">
                  <button type="button" class="tab" role="tab" aria-selected="true" aria-controls="hazzysBadgeTypeMember-tab" id="hazzysBadgeTypeMember">회원 배지</button>
                  <button type="button" class="tab" role="tab" aria-selected="false" aria-controls="hazzysBadgeTypeShopping-tab" id="hazzysBadgeTypeShopping" tabindex="-1">구매 배지</button>
                  <button type="button" class="tab" role="tab" aria-selected="false" aria-controls="hazzysBadgeTypeReview-tab" id="hazzysBadgeTypeReview" tabindex="-1">리뷰 배지</button>
                </div>
                <!-- 회원 배지 -->
                <div class="tabpanel" tabindex="0" role="tabpanel" id="hazzysBadgeTypeMember-tab" aria-labelledby="hazzysBadgeTypeMember">
                  <div class="member-badge-container">
                    <ul class="badge-list">
                      <li class="badge-list__item">
                        <dl class="badge">
                          <dt class="badge__name">Welcome BADGE<br>(White BADGE)</dt>
                          <dd class="badge__preview">
                            <div class="hazzys-badge hazzys-badge--member-white">
                              <div class="hazzys-badge__front">
                                <div class="badge-name"><img src="/cmsstatic/asset/images/badge/txt-white.png" alt="White"></div>
                              </div>
                              <div class="hazzys-badge__back">
                                <div class="badge-content">무료배송 쿠폰 1매</div>
                              </div>
                              <div class="hazzys-badge__guide">뒤집어보세요</div>
                            </div>
                          </dd>
                        </dl>
                      </li>
                      <li class="badge-list__item">
                        <dl class="badge">
                          <dt class="badge__name">Blue BADGE</dt>
                          <dd class="badge__preview">
                            <div class="hazzys-badge hazzys-badge--member-blue">
                              <div class="hazzys-badge__front">
                                <div class="badge-name"><img src="/cmsstatic/asset/images/badge/txt-blue.png" alt="Blue"></div>
                              </div>
                              <div class="hazzys-badge__back">
                                <div class="badge-content">10,000원<br>금액 쿠폰 1매<br>(10만원 이상 구매시<br>사용 가능)</div>
                              </div>
                            </div>
                          </dd>
                        </dl>
                      </li>
                      <li class="badge-list__item">
                        <dl class="badge">
                          <dt class="badge__name">Red BADGE</dt>
                          <dd class="badge__preview">
                            <div class="hazzys-badge hazzys-badge--member-red">
                              <div class="hazzys-badge__front">
                                <div class="badge-name"><img src="/cmsstatic/asset/images/badge/txt-red.png" alt="Red"></div>
                              </div>
                              <div class="hazzys-badge__back">
                                <div class="badge-content">10,000원<br>금액 쿠폰 1매<br>(10만원 이상 구매시<br>사용 가능)</div>
                              </div>
                            </div>
                          </dd>
                        </dl>
                      </li>
                      <li class="badge-list__item">
                        <dl class="badge">
                          <dt class="badge__name">Purple BADGE</dt>
                          <dd class="badge__preview">
                            <div class="hazzys-badge hazzys-badge--member-purple">
                              <div class="hazzys-badge__front">
                                <div class="badge-name"><img src="/cmsstatic/asset/images/badge/txt-purple.png" alt="Purple"></div>
                              </div>
                              <div class="hazzys-badge__back">
                                <div class="badge-content">15,000원<br>금액 쿠폰 1매<br>(10만원 이상 구매시<br>사용 가능)</div>
                              </div>
                            </div>
                          </dd>
                        </dl>
                      </li>
                      <li class="badge-list__item">
                        <dl class="badge">
                          <dt class="badge__name">Black S BADGE</dt>
                          <dd class="badge__preview">
                            <div class="hazzys-badge hazzys-badge--member-black-s">
                              <div class="hazzys-badge__front">
                                <div class="badge-name"><img src="/cmsstatic/asset/images/badge/txt-black-s.png" alt="BLack S"></div>
                              </div>
                              <div class="hazzys-badge__back">
                                <div class="badge-content">20,000원<br>금액 쿠폰 1매<br>(10만원 이상 구매시<br>사용 가능)</div>
                              </div>
                            </div>
                          </dd>
                        </dl>
                      </li>
                      <li class="badge-list__item">
                        <dl class="badge">
                          <dt class="badge__name">Black R BADGE</dt>
                          <dd class="badge__preview">
                            <div class="hazzys-badge hazzys-badge--member-black-r">
                              <div class="hazzys-badge__front">
                                <div class="badge-name"><img src="/cmsstatic/asset/images/badge/txt-black-r.png" alt="Black R"></div>
                              </div>
                              <div class="hazzys-badge__back">
                                <div class="badge-content">20,000원<br>금액 쿠폰 1매<br>(10만원 이상 구매시<br>사용 가능)</div>
                              </div>
                            </div>
                          </dd>
                        </dl>
                      </li>
                    </ul>
                    <div class="badge-guide">
                      회원배지는 회원등급 기준으로 회원등급 승급 시 발급됩니다.
                    </div>
                  </div>
                </div>
                <!-- //회원 배지 -->
                <!-- 구매 배지 -->
                <div class="tabpanel" tabindex="0" role="tabpanel" id="hazzysBadgeTypeShopping-tab" aria-labelledby="hazzysBadgeTypeShopping" hidden>
                  <div class="shopping-badge-container">
                    <ul class="badge-list">
                      <li class="badge-list__item">
                        <dl class="badge">
                          <dt class="badge__name">First Love BADGE</dt>
                          <dd class="badge__preview">
                            <!-- 배지 Sample (추후 변경) -->
                            <div class="hazzys-badge hazzys-badge--mission">
                              <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                            </div>
                            <!-- // 배지 Sample -->
                          </dd>
                        </dl>
                        <div class="badge-benefit">
                          <p class="badge-benefit__title">첫구매 시</p>
                          <ul class="badge-benefit__list">
                            <li class="badge-benefit__item">5% 플러스 쿠폰 1매</li>
                            <li class="badge-benefit__item">10,000원  금액 쿠폰 1매<span class="condition">(10만원 이상 구매 시 사용)</span></li>
                          </ul>
                        </div>
                      </li>
                      <li class="badge-list__item">
                        <dl class="badge">
                          <dt class="badge__name">Double BADGE</dt>
                          <dd class="badge__preview">
                            <!-- 배지 Sample (추후 변경) -->
                            <div class="hazzys-badge hazzys-badge--mission">
                              <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                            </div>
                            <!-- // 배지 Sample -->
                          </dd>
                        </dl>
                        <div class="badge-benefit">
                          <p class="badge-benefit__title">한 달 기준 <strong>2</strong>번째 구매 시</p>
                          <ul class="badge-benefit__list">
                            <li class="badge-benefit__item">6% 플러스 쿠폰 1매</li>
                            <li class="badge-benefit__item">15,000원  금액 쿠폰 1매<span class="condition">(10만원 이상 구매 시 사용)</span></li>
                          </ul>
                        </div>
                      </li>
                      <li class="badge-list__item">
                        <dl class="badge">
                          <dt class="badge__name">Triple BADGE</dt>
                          <dd class="badge__preview">
                            <!-- 배지 Sample (추후 변경) -->
                            <div class="hazzys-badge hazzys-badge--mission">
                              <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                            </div>
                            <!-- // 배지 Sample -->
                          </dd>
                        </dl>
                        <div class="badge-benefit">
                          <p class="badge-benefit__title">한 달 기준 <strong>3</strong>번째 구매 시</p>
                          <ul class="badge-benefit__list">
                            <li class="badge-benefit__item">7% 플러스 쿠폰 1매</li>
                            <li class="badge-benefit__item">15,000원  금액 쿠폰 1매<span class="condition">(10만원 이상 구매 시 사용)</span></li>
                          </ul>
                        </div>
                      </li>
                      <li class="badge-list__item">
                        <dl class="badge">
                          <dt class="badge__name">King BADGE</dt>
                          <dd class="badge__preview">
                            <!-- 배지 Sample (추후 변경) -->
                            <div class="hazzys-badge hazzys-badge--mission">
                              <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                            </div>
                            <!-- // 배지 Sample -->
                          </dd>
                        </dl>
                        <div class="badge-benefit">
                          <p class="badge-benefit__title">한 달 기준 <strong>4</strong>번째 구매 시</p>
                          <ul class="badge-benefit__list">
                            <li class="badge-benefit__item">8% 플러스 쿠폰 1매</li>
                            <li class="badge-benefit__item">20,000원  금액 쿠폰 2매<span class="condition">(10만원 이상 구매 시 사용)</span></li>
                            <li class="badge-benefit__item">꽃배송</li>
                          </ul>
                        </div>
                      </li>
                      <li class="badge-list__item">
                        <dl class="badge">
                          <dt class="badge__name">Hazzys BADGE</dt>
                          <dd class="badge__preview">
                            <!-- 배지 Sample (추후 변경) -->
                            <div class="hazzys-badge hazzys-badge--special hazzys-badge--mission">
                              <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                            </div>
                            <!-- // 배지 Sample -->
                          </dd>
                        </dl>
                        <div class="badge-benefit">
                          <p class="badge-benefit__title">구매 배지 <strong>5</strong>개이상 보유 시</p>
                          <ul class="badge-benefit__list">
                            <li class="badge-benefit__item">연초에 헤지스닷컴이 정성껏 준비한 사은품을 드립니다.</li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- //구매 배지 -->
                <!-- 리뷰 배지 -->
                <div class="tabpanel" tabindex="0" role="tabpanel" id="hazzysBadgeTypeReview-tab" aria-labelledby="hazzysBadgeTypeReview" hidden>
                  <div class="review-badge-container">
                    <div class="review-type-container">
                      <!-- 텍스트 상품평 작성 -->
                      <div class="review-type">
                        <div class="review-type__title">텍스트 상품평 작성</div>
                        <div class="review-type__content">
                          <ul class="badge-list">
                            <li class="badge-list__item">
                              <dl class="badge">
                                <dt class="badge__name">Nano Influencer<br>BADGE</dt>
                                <dd class="badge__preview">
                                  <!-- 배지 Sample (추후 변경) -->
                                  <div class="hazzys-badge hazzys-badge--mission">
                                    <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                                  </div>
                                  <!-- // 배지 Sample -->
                                </dd>
                              </dl>
                              <div class="badge-benefit">
                                <p class="badge-benefit__title">상품별 최초 <strong>1</strong>건 상품평 작성</p>
                                <ul class="badge-benefit__list">
                                  <li class="badge-benefit__item">무료 반품권 1매</li>
                                  <li class="badge-benefit__item">10,000원 금액 쿠폰 1매<span class="condition">(10만원 이상 구매 시 사용)</span></li>
                                </ul>
                              </div>
                            </li>
                            <li class="badge-list__item">
                              <dl class="badge">
                                <dt class="badge__name">Micro Influencer<br>BADGE</dt>
                                <dd class="badge__preview">
                                  <!-- 배지 Sample (추후 변경) -->
                                  <div class="hazzys-badge hazzys-badge--mission">
                                    <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                                  </div>
                                  <!-- // 배지 Sample -->
                                </dd>
                              </dl>
                              <div class="badge-benefit">
                                <p class="badge-benefit__title">상품별 최초 <strong>5</strong>건 상품평 작성</p>
                                <ul class="badge-benefit__list">
                                  <li class="badge-benefit__item">무료 반품권 1매</li>
                                  <li class="badge-benefit__item">15,000원  금액 쿠폰 1매<span class="condition">(10만원 이상 구매 시 사용)</span></li>
                                </ul>
                              </div>
                            </li>
                            <li class="badge-list__item">
                              <dl class="badge">
                                <dt class="badge__name">Influencer BADGE</dt>
                                <dd class="badge__preview">
                                  <!-- 배지 Sample (추후 변경) -->
                                  <div class="hazzys-badge hazzys-badge--mission">
                                    <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                                  </div>
                                  <!-- // 배지 Sample -->
                                </dd>
                              </dl>
                              <div class="badge-benefit">
                                <p class="badge-benefit__title">상품별 최초 <strong>10</strong>건 상품평 작성</p>
                                <ul class="badge-benefit__list">
                                  <li class="badge-benefit__item">무료 반품권 1매</li>
                                  <li class="badge-benefit__item">15,000원  금액 쿠폰 2매<span class="condition">(10만원 이상 구매 시 사용)</span></li>
                                </ul>
                              </div>
                            </li>
                            <li class="badge-list__item">
                              <dl class="badge">
                                <dt class="badge__name">Star Influencer<br>BADGE</dt>
                                <dd class="badge__preview">
                                  <!-- 배지 Sample (추후 변경) -->
                                  <div class="hazzys-badge hazzys-badge--mission">
                                    <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                                  </div>
                                  <!-- // 배지 Sample -->
                                </dd>
                              </dl>
                              <div class="badge-benefit">
                                <p class="badge-benefit__title">한 달 기준 <strong>4</strong>번째 구매 시</p>
                                <ul class="badge-benefit__list">
                                  <li class="badge-benefit__item">무료 반품권 1매</li>
                                  <li class="badge-benefit__item">20,000원  금액 쿠폰 2매<span class="condition">(10만원 이상 구매 시 사용)</span></li>
                                  <li class="badge-benefit__item">꽃 배송</li>
                                </ul>
                              </div>
                            </li>

                          </ul>
                        </div>
                      </div>
                      <!-- //텍스트 상품평 작성 -->
                      <!-- 포토 상품평 작성 -->
                      <div class="review-type">
                        <div class="review-type__title">포토 상품평 작성</div>
                        <div class="review-type__content">
                          <ul class="badge-list">
                            <li class="badge-list__item">
                              <dl class="badge">
                                <dt class="badge__name">Bronze Smart<br>Consumer BADGE</dt>
                                <dd class="badge__preview">
                                  <!-- 배지 Sample (추후 변경) -->
                                  <div class="hazzys-badge hazzys-badge--mission">
                                    <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                                  </div>
                                  <!-- // 배지 Sample -->
                                </dd>
                              </dl>
                              <div class="badge-benefit">
                                <p class="badge-benefit__title">포토 상품평 <strong>1</strong>건 작성</p>
                                <ul class="badge-benefit__list">
                                  <li class="badge-benefit__item">무료 반품권 1매</li>
                                  <li class="badge-benefit__item">10,000원 금액 쿠폰 1매<span class="condition">(10만원 이상 구매 시 사용)</span></li>
                                </ul>
                              </div>
                            </li>
                            <li class="badge-list__item">
                              <dl class="badge">
                                <dt class="badge__name">Silver Smart<br>Consumer BADGE</dt>
                                <dd class="badge__preview">
                                  <!-- 배지 Sample (추후 변경) -->
                                  <div class="hazzys-badge hazzys-badge--mission">
                                    <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                                  </div>
                                  <!-- // 배지 Sample -->
                                </dd>
                              </dl>
                              <div class="badge-benefit">
                                <p class="badge-benefit__title">포토 상품평 <strong>10</strong>건 작성</p>
                                <ul class="badge-benefit__list">
                                  <li class="badge-benefit__item">무료 반품권 1매</li>
                                  <li class="badge-benefit__item">15,000원  금액 쿠폰 1매<span class="condition">(10만원 이상 구매 시 사용)</span></li>
                                </ul>
                              </div>
                            </li>
                            <li class="badge-list__item">
                              <dl class="badge">
                                <dt class="badge__name">Gold Smart<br>Consumer BADGE</dt>
                                <dd class="badge__preview">
                                  <!-- 배지 Sample (추후 변경) -->
                                  <div class="hazzys-badge hazzys-badge--mission">
                                    <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                                  </div>
                                  <!-- // 배지 Sample -->
                                </dd>
                              </dl>
                              <div class="badge-benefit">
                                <p class="badge-benefit__title">포토 상품평 <strong>20</strong>건 작성</p>
                                <ul class="badge-benefit__list">
                                  <li class="badge-benefit__item">무료 반품권 1매</li>
                                  <li class="badge-benefit__item">15,000원  금액 쿠폰 2매<span class="condition">(10만원 이상 구매 시 사용)</span></li>
                                </ul>
                              </div>
                            </li>
                            <li class="badge-list__item">
                              <dl class="badge">
                                <dt class="badge__name">Diamond Smart<br>Consumer BADGE</dt>
                                <dd class="badge__preview">
                                  <!-- 배지 Sample (추후 변경) -->
                                  <div class="hazzys-badge hazzys-badge--mission">
                                    <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                                  </div>
                                  <!-- // 배지 Sample -->
                                </dd>
                              </dl>
                              <div class="badge-benefit">
                                <p class="badge-benefit__title">포토 상품평 <strong>40</strong>건 작성</p>
                                <ul class="badge-benefit__list">
                                  <li class="badge-benefit__item">무료 반품권 1매</li>
                                  <li class="badge-benefit__item">20,000원  금액 쿠폰 2매<span class="condition">(10만원 이상 구매 시 사용)</span></li>
                                  <li class="badge-benefit__item">꽃 배송</li>
                                </ul>
                              </div>
                            </li>

                          </ul>
                        </div>
                      </div>
                      <!-- // 포토 상품평 작성 -->
                    </div>
                    <!-- 특별 배지 -->
                    <div class="review-type">
                      <div class="review-type__title">특별 배지</div>
                      <div class="review-type__content">
                        <ul class="badge-list badge-list--special">
                          <li class="badge-list__item">
                            <dl class="badge">
                              <dt class="badge__name">Hazzys BADGE</dt>
                              <dd class="badge__preview">
                                <!-- 배지 Sample (추후 변경) -->
                                <div class="hazzys-badge hazzys-badge--special hazzys-badge--mission">
                                  <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                                </div>
                                <!-- // 배지 Sample -->
                              </dd>
                            </dl>
                            <div class="badge-benefit">
                              <p class="badge-benefit__title">리뷰 배지 <strong>5</strong>개이상 보유 시</p>
                              <ul class="badge-benefit__list">
                                <li class="badge-benefit__item">연초에 헤지스닷컴이 정성껏 준비한 사은품을 드립니다.</li>
                              </ul>
                            </div>
                          </li>

                        </ul>
                      </div>
                    </div>
                    <!-- // 특별 배지 -->
                  </div>
                </div>
                <!-- //리뷰 배지 -->
              </div>
            </div>
          </div>
          <!-- //헤지스 배지 안내 -->
        </div>
        <!-- //회원 혜택 -->
      </div>
      <div class="main-content__aside">
        <!-- 메뉴 -->
        <ul class="sidebar-menu">
          <li class="sidebar-menu__item menu">
            <p class="menu__title">FAQ</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-delivery-small"></i>배송</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-card-small"></i>주문/결제</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-return-small"></i>취소/반품/교환</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-receipt-small"></i>영수증/세금계산서</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-myinfo-small"></i>회원정보/서비스</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-coupon-small"></i>쿠폰/마일리지</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-etc-small"></i>기타</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">1:1 문의</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-inquire-small"></i>1:1 문의</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">실시간 채팅</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-chatchat-small"></i>나의 주문 관련 문의</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-infomation-small"></i>주문 외 문의</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">공지사항</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-notice-small"></i>공지사항</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">회원혜택</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-benefit-small"></i>등급별 혜택 안내</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-myinfo-small"></i>헤지스 배지 안내</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- // 메뉴 -->
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block modal %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/customer.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/customer.js"></script>
<script>
  $(function () {
    // 파일 업로드 슬라이드
    new Swiper('#levelBenefitInfo', {
      loop: false,
      freeMode: true,
      spaceBetween: 10,
      slidesPerView: 'auto',
    })
    // 배지 뒤집기
    $('.member-badge-container .hazzys-badge').on('click', function(){
      $(this).toggleClass('reverse');
      $(this).find('.hazzys-badge__guide').remove();
    })
  })
</script>
{% endblock js %}