{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--customer">
  <div class="main-header" style="background-image:url(/cmsstatic/asset/images/customer-visual.jpg);">
    <div class="main-container">
      <!-- 고객센터 메인 상단 -->
      <h2 class="main-header__title">고객센터</h2>
      <div class="main-header__text">해지수님, 궁금하신 점을 해결해 드릴게요. 😊</div>
      <!-- //고객센터 메인 상단 -->
    </div>
  </div>
  <div class="main-content">
    <div class="main-container main-content__body">
      <div class="main-content__main main-content__main--notice">
        <div class="main-content__header">
          <h3 class="main-content__title">공지사항</h3>
          <button type="button" class="button main-content__btn-back">
            <i class="sprite-icon sprite-common sprite-common-back">뒤로가기</i>
          </button>
        </div>
        <!-- 공지사항 -->
        <div class="notice-wrap">
          <ul class="notice-list accordion" data-accordion="data-accordion" role="tablist">
            <li class="important accordion__item" data-accordion-item="data-accordion-item">
              <div class="accordion__title">
                <button type="button" class="button" data-tab-toggle="data-tab-toggle" role="tab" aria-controls="notice1-accordion" id="notice1-accordion-label">
                  <p class="notice-content">HAZZYS.COM(헤지스닷컴) 이용약관 개정</p>
                  <p class="notice-date">21.04.27</p>
                </button>
              </div>
              <div class="detail-content accordion__content" data-tab-content="data-tab-content" role="tabpanel" aria-labelledby="notice1-accordion-label" id="notice1-accordion">
                <em>#Like Hazzys</em> #라이크헤지스 이벤트가 
                <br>고객님의 많은 참여와 관심 속에 종료되었습니다.
                <br>사전에 공지해드린 대로 <em>4/15(목)에 이벤트 당첨자가 발표</em>될 예정입니다.
                <br>당첨자분들께는 개별 연락 드리도록 하겠습니다.
                <br>보내주신 많은 성원에 감사드립니다.
              </div>
            </li>
            <li class="accordion__item" data-accordion-item="data-accordion-item">
              <div class="accordion__title">
                <button type="button" class="button" data-tab-toggle="data-tab-toggle" role="tab" aria-controls="notice2-accordion" id="notice2-accordion-label">
                  <p class="notice-content">[점검안내] 5/1(토) 오전 01시 ~ 07시</p>
                  <p class="notice-date">21.04.27</p>
                </button>
              </div>
              <div class="detail-content accordion__content" data-tab-content="data-tab-content" role="tabpanel" aria-labelledby="notice2-accordion-label" id="notice2-accordion">
                <em>#Like Hazzys</em> #라이크헤지스 이벤트가 
                <br>고객님의 많은 참여와 관심 속에 종료되었습니다.
                <br>사전에 공지해드린 대로 <em>4/15(목)에 이벤트 당첨자가 발표</em>될 예정입니다.
                <br>당첨자분들께는 개별 연락 드리도록 하겠습니다.
                <br>보내주신 많은 성원에 감사드립니다.
              </div>
            </li>
            <li class="accordion__item" data-accordion-item="data-accordion-item">
              <div class="accordion__title">
                <button type="button" class="button" data-tab-toggle="data-tab-toggle" role="tab" aria-controls="notice3-accordion" id="notice3-accordion-label">
                  <p class="notice-content">라이크헤지스 이벤트 종료 안내</p>
                  <p class="notice-date">21.04.27</p>
                </button>
              </div>
              <div class="detail-content accordion__content" data-tab-content="data-tab-content" role="tabpanel" aria-labelledby="notice3-accordion-label" id="notice3-accordion"">
                <em>#Like Hazzys</em> #라이크헤지스 이벤트가 
                <br>고객님의 많은 참여와 관심 속에 종료되었습니다.
                <br>사전에 공지해드린 대로 <em>4/15(목)에 이벤트 당첨자가 발표</em>될 예정입니다.
                <br>당첨자분들께는 개별 연락 드리도록 하겠습니다.
                <br>보내주신 많은 성원에 감사드립니다.
              </div>
            </li>
            <li class="accordion__item" data-accordion-item="data-accordion-item">
              <div class="accordion__title">
                <button type="button" class="button" data-tab-toggle="data-tab-toggle" role="tab" aria-controls="notice4-accordion" id="notice4-accordion-label">
                  <p class="notice-content">HAZZYS.COM(헤지스닷컴) 이용약관 개정</p>
                  <p class="notice-date">21.04.27</p>
                </button>
              </div>
              <div class="detail-content accordion__content" data-tab-content="data-tab-content" role="tabpanel" aria-labelledby="notice4-accordion-label" id="notice4-accordion">
                <em>#Like Hazzys</em> #라이크헤지스 이벤트가 
                <br>고객님의 많은 참여와 관심 속에 종료되었습니다.
                <br>사전에 공지해드린 대로 <em>4/15(목)에 이벤트 당첨자가 발표</em>될 예정입니다.
                <br>당첨자분들께는 개별 연락 드리도록 하겠습니다.
                <br>보내주신 많은 성원에 감사드립니다.
              </div>
            </li>
            <li class="accordion__item" data-accordion-item="data-accordion-item">
              <div class="accordion__title">
                <button type="button" class="button" data-tab-toggle="data-tab-toggle" role="tab" aria-controls="notice5-accordion" id="notice5-accordion-label">
                  <p class="notice-content">[점검안내] 5/1(토) 오전 01시 ~ 07시</p>
                  <p class="notice-date">21.04.27</p>
                </button>
              </div>
              <div class="detail-content accordion__content" data-tab-content="data-tab-content" role="tabpanel" aria-labelledby="notice5-accordion-label" id="notice5-accordion">
                <em>#Like Hazzys</em> #라이크헤지스 이벤트가 
                <br>고객님의 많은 참여와 관심 속에 종료되었습니다.
                <br>사전에 공지해드린 대로 <em>4/15(목)에 이벤트 당첨자가 발표</em>될 예정입니다.
                <br>당첨자분들께는 개별 연락 드리도록 하겠습니다.
                <br>보내주신 많은 성원에 감사드립니다.
              </div>
            </li>
            <li class="accordion__item" data-accordion-item="data-accordion-item">
              <div class="accordion__title">
                <button type="button" class="button" data-tab-toggle="data-tab-toggle" role="tab" aria-controls="notice6-accordion" id="notice6-accordion-label">
                  <p class="notice-content">라이크헤지스 이벤트 종료 안내</p>
                  <p class="notice-date">21.04.27</p>
                </button>
              </div>
              <div class="detail-content accordion__content" data-tab-content="data-tab-content" role="tabpanel" aria-labelledby="notice6-accordion-label" id="notice6-accordion"">
                <em>#Like Hazzys</em> #라이크헤지스 이벤트가 
                <br>고객님의 많은 참여와 관심 속에 종료되었습니다.
                <br>사전에 공지해드린 대로 <em>4/15(목)에 이벤트 당첨자가 발표</em>될 예정입니다.
                <br>당첨자분들께는 개별 연락 드리도록 하겠습니다.
                <br>보내주신 많은 성원에 감사드립니다.
              </div>
            </li>
          </ul>
          <p class="button-more">
            <button type="button" class="form-button form-button--plain">더보기 (1/20)</button>
          </p>
        </div>
        <!-- //공지사항 -->
      </div>
      <div class="main-content__aside">
        <!-- 메뉴 -->
        <ul class="sidebar-menu">
          <li class="sidebar-menu__item menu">
            <p class="menu__title">FAQ</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-delivery-small"></i>배송</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-card-small"></i>주문/결제</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-return-small"></i>취소/반품/교환</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-receipt-small"></i>영수증/세금계산서</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-myinfo-small"></i>회원정보/서비스</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-coupon-small"></i>쿠폰/마일리지</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-etc-small"></i>기타</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">1:1 문의</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-inquire-small"></i>1:1 문의</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">실시간 채팅</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-chatchat-small"></i>나의 주문 관련 문의</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-infomation-small"></i>주문 외 문의</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">공지사항</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-notice-small"></i>공지사항</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나의 정보</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-benefit-small"></i>등급별 혜택 안내</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-customer-myinfo-small"></i>헤지스 배지 안내</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- // 메뉴 -->
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block modal %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/customer.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/customer.js"></script>
<script>
  $(function() {
    $('.acodian-list li').click(function() {
      if ( $(this).hasClass('active') ) {
        $(this).find(' > .detail-content').stop().slideUp(300);
        $(this).removeClass('active');
      }
      else {
        $(this).find(' > .detail-content').stop().slideDown(300);
        $(this).addClass('active');
      }
    });
});
</script>
{% endblock js %}