{% extends 'default.njk' %}

{% block content %}
  <main class="shell-main shell-main--product-search-list">
    <div class="search-keyword-form">
      <div class="input-block">
        <input type="text" class="form-text" value="티셔츠">
        <span class="button--clear">
          <i class="sprite-icon sprite-common sprite-common-clear">삭제</i>
        </span>
        <button type="button" class="button button--search">
          <i class="sprite-icon sprite-common sprite-common-search">검색</i>
        </button>
      </div>
    </div>

    <div class="no-data no-data--product">
      <div class="no-data__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80">
          <g fill="none" fill-rule="evenodd">
            <g class="no-results" cx="100" cy="100">
              <path stroke="#000" stroke-width="2" d="m 60.798656,49.645357 c 0,3.453535 -2.161767,6.253183 -4.827677,6.253183 -2.666718,0 -4.827678,-2.799648 -4.827678,-6.254051 0,-4.809072 4.827678,-9.843053 4.827678,-9.843053 0,0 4.828484,5.033981 4.828484,9.843921 z "/>
            </g>
            <path stroke="#000" stroke-width="2" d="M34.646 54.153c-2.267.604-4.649.926-7.106.926C12.33 55.079 0 42.749 0 27.539 0 12.329 12.33 0 27.54 0c15.209 0 27.539 12.329 27.539 27.539 0 3.684-.724 7.2-2.037 10.413" transform="translate(-140 -170) translate(10 170) translate(130) translate(12 12) "/>
            <path fill="#000" d="M21.574 18.373c0 1.583-1.283 2.865-2.866 2.865-1.582 0-2.865-1.282-2.865-2.865 0-1.582 1.283-2.865 2.865-2.865 1.583 0 2.866 1.283 2.866 2.865M39.236 18.373c0 1.583-1.283 2.865-2.865 2.865-1.583 0-2.866-1.282-2.866-2.865 0-1.582 1.283-2.865 2.866-2.865 1.582 0 2.865 1.283 2.865 2.865" transform="translate(-140 -170) translate(10 170) translate(130) translate(12 12) "/>
            <path stroke="#000" stroke-width="2" d="M36.371 32.993s-3.029-4.428-8.826-4.428c-5.797 0-8.826 4.428-8.826 4.428M19.002 10.073s-2.549 3.104-6.318 3.436M36.077 10.073s2.55 3.104 6.318 3.436" transform="translate(-140 -170) translate(10 170) translate(130) translate(12 12) "/>
          </g>
        </svg>
      </div>
      <p class="no-data__title">찾으시는 상품을 찾지 못했습니다</p>
      <p class="no-data__comment">재검색 또는 철자와 띄어쓰기를 확인해주세요.</p>
    </div>

    <div class="keyword-container">
      <div class="keyword keyword--history">
        <div class="keyword__title">
          최근 검색어
        </div>
        <ul class="keyword__list">
          <li class="keyword__item"><a href="#">니트</a></li>
          <li class="keyword__item"><a href="#">양말</a></li>
          <li class="keyword__item"><a href="#">세일상품</a></li>
          <li class="keyword__item"><a href="#">골프용품</a></li>
        </ul>
        <div class="keyword__util">
          <button type="button" class="button button--delete">전체 삭제</button>
        </div>
      </div>
      <div class="keyword keyword--popular">
        <div class="keyword__title">
          인기 검색어
        </div>
        <ul class="keyword__list">
          <li class="keyword__item"><a href="#">가디건</a></li>
          <li class="keyword__item"><a href="#">봄자켓</a></li>
          <li class="keyword__item"><a href="#">골프바지</a></li>
          <li class="keyword__item"><a href="#">남자가방</a></li>
          <li class="keyword__item"><a href="#">반팔</a></li>
          <li class="keyword__item"><a href="#">청바지</a></li>
          <li class="keyword__item"><a href="#">니트</a></li>
          <li class="keyword__item"><a href="#">슬랙스</a></li>
          <li class="keyword__item"><a href="#">반바지</a></li>
          <li class="keyword__item"><a href="#">여자가방</a></li>
        </ul>
        <div class="keyword__util">
          <span class="date"><em>2021.04.14</em> 기준</span>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block sidebar %}
<div class="shell-sidebar shell-sidebar--product-filter" tabindex="-1" role="dialog">
  <div class="sidebar">
    <div class="sidebar__header">
      <h1 class="header__title">FILTER<em class="count">(200)</em></h1>
      <button type="button" class="button header__close" aria-label="닫기" data-sidebar-close>
        <i class="sprite-icon sprite-common sprite-common-close-layer">닫기</i>
      </button>
    </div>
    <div class="sidebar__content">

      <div class="search-form">
        <div class="input-block">
          <input type="text" class="form-text" placeholder="결과 내 검색">
          <button type="button" class="button button--search">
            <i class="sprite-icon sprite-common sprite-common-search">검색</i>
          </button>
        </div>
      </div>

      <div class="filters">
        <div class="filter-list" role="tablist" aria-label="review">
          <button type="button" class="button button--filter" role="tab" aria-selected="true" aria-controls="filterTabContent-1" id="filterTab-1">
            성별<em class="count">(2)</em>
          </button>
          <button type="button" class="button button--filter" role="tab" aria-selected="false" aria-controls="filterTabContent-2" id="filterTab-2" tabindex="-1">
            카테고리<em class="count"></em>
          </button>
          <button type="button" class="button button--filter" role="tab" aria-selected="false" aria-controls="filterTabContent-3" id="filterTab-3" tabindex="-1">
            시즌<em class="count"></em>
          </button>
          <button type="button" class="button button--filter" role="tab" aria-selected="false" aria-controls="filterTabContent-4" id="filterTab-4" tabindex="-1">
            색상<em class="count"></em>
          </button>
          <button type="button" class="button button--filter" role="tab" aria-selected="false" aria-controls="filterTabContent-5" id="filterTab-5" tabindex="-1">
            사이즈<em class="count"></em>
          </button>
          <button type="button" class="button button--filter" role="tab" aria-selected="false" aria-controls="filterTabContent-6" id="filterTab-6" tabindex="-1">
            소재<em class="count"></em>
          </button>
          <button type="button" class="button button--filter" role="tab" aria-selected="false" aria-controls="filterTabContent-7" id="filterTab-7" tabindex="-1">
            가격<em class="count"></em>
          </button>
          <button type="button" class="button button--filter" role="tab" aria-selected="false" aria-controls="filterTabContent-8" id="filterTab-8" tabindex="-1">
            패턴<em class="count"></em>
          </button>
          <button type="button" class="button button--filter" role="tab" aria-selected="false" aria-controls="filterTabContent-9" id="filterTab-9" tabindex="-1">
            별점<em class="count"></em>
          </button>
        </div>
        <!-- 성별 -->
        <div class="filter-panel" tabindex="0" role="tabpanel" id="filterTabContent-1" aria-labelledby="filterTab-1">
          <ul class="option-list option-list--gender">
            <li class="option-list__item">
              <label class="form-checkbox">
                <!-- value, data-name은 샘플제작을 위해 추가한 속성입니다. (개발시 삭제) -->
                <input type="checkbox" class="checkbox" value="ALL" data-name="성별전체">
                <span class="name">전체</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox" value="F" data-name="여성">
                <span class="name">여성</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox" value="M" data-name="남성">
                <span class="name">남성</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox" value="FM" data-name="남여공용">
                <span class="name">남여공용</span>
              </label>
            </li>
          </ul>
        </div>
        <!-- //성별 -->
        <!-- 카테고리 -->
        <div class="filter-panel" tabindex="0" role="tabpanel" id="filterTabContent-2" aria-labelledby="filterTab-2" hidden>

          <ul class="category-filter">
            <li class="category-filter__list-item">
              <div class="category-filter__item">
                <button type="button" class="button button--category">MEN</button>
                <button type="button" class="button button--toggle">Toggle</button>
              </div>
              <ul class="category-filter__list">
                <li class="category-filter__list-item">
                  <div class="category-filter__item">
                    <button type="button" class="button button--category">ALL</button>
                  </div>
                </li>
                <li class="category-filter__list-item">
                  <div class="category-filter__item">
                    <button type="button" class="button button--category">OUTER</button>
                    <button type="button" class="button button--toggle">Toggle</button>
                  </div>
                  <ul class="category-filter__list">
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">ALL</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">코트</button>
                    </li>
                    <li class="category-filter__list-item">
                      <!-- 선택됨 -->
                      <button type="button" class="button button--category is-selected">점퍼</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">자켓</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">베스트</button>
                    </li>
                  </ul>
                </li>
                <li class="category-filter__list-item">
                  <div class="category-filter__item">
                    <button type="button" class="button button--category">TOP</button>
                    <button type="button" class="button button--toggle">Toggle</button>
                  </div>
                  <ul class="category-filter__list">
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">ALL</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">셔츠</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">티셔츠</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">니트웨어</button>
                    </li>
                  </ul>
                </li>
                <li class="category-filter__list-item">
                  <div class="category-filter__item">
                    <button type="button" class="button button--category">BOTTOM</button>
                    <button type="button" class="button button--toggle">Toggle</button>
                  </div>
                  <ul class="category-filter__list">
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">ALL</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">롱</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">하프</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">데님</button>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="category-filter__list-item">
              <div class="category-filter__item">
                <button type="button" class="button button--category">LADIES</button>
                <button type="button" class="button button--toggle">Toggle</button>
              </div>
              <ul class="category-filter__list">
                <li class="category-filter__list-item">
                  <div class="category-filter__item">
                    <button type="button" class="button button--category">ALL</button>
                  </div>
                </li>
                <li class="category-filter__list-item">
                  <div class="category-filter__item">
                    <button type="button" class="button button--category">OUTER</button>
                    <button type="button" class="button button--toggle">Toggle</button>
                  </div>
                  <ul class="category-filter__list">
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">ALL</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">코트</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">점퍼</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">자켓</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">베스트</button>
                    </li>
                  </ul>
                </li>
                <li class="category-filter__list-item">
                  <div class="category-filter__item">
                    <button type="button" class="button button--category">TOP</button>
                  </div>
                  <ul class="category-filter__list">
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">ALL</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">블라우스/셔츠</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">티셔츠</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">니트웨어</button>
                    </li>
                  </ul>
                </li>
                <li class="category-filter__list-item">
                  <div class="category-filter__item">
                    <button type="button" class="button button--category">BOTTOM</button>
                  </div>
                  <ul class="category-filter__list">
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">ALL</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">원피스</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">스커트</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">팬츠</button>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- //카테고리 -->
        <!-- 시즌 -->
        <div class="filter-panel" tabindex="0" role="tabpanel" id="filterTabContent-3" aria-labelledby="filterTab-3" hidden>
          <dl class="option-group">
            <dt class="option-group__title">연도</dt>
            <dd class="option-group__content">
              <ul class="option-list option-list--season">
                <!--  최근 2년만 -->
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">2021</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">2020</span>
                  </label>
                </li>
              </ul>
            </dd>
          </dl>
          <dl class="option-group">
            <dt class="option-group__title">계절</dt>
            <dd class="option-group__content">
              <ul class="option-list option-list--season">
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">봄</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">여름</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">가을</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">겨울</span>
                  </label>
                </li>
              </ul>
            </dd>
          </dl>
        </div>
        <!-- //시즌 -->
        <!-- 색상 -->
        <div class="filter-panel" tabindex="0" role="tabpanel" id="filterTabContent-4" aria-labelledby="filterTab-4" hidden>
          <ul class="colorchip">
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-01.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-02.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-03.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-04.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-05.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-06.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-07.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-08.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-09.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-10.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-11.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-12.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-13.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-14.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-15.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
          </ul>
        </div>
        <!-- //색상 -->
        <!-- 사이즈 -->
        <div class="filter-panel" tabindex="0" role="tabpanel" id="filterTabContent-5" aria-labelledby="filterTab-5" hidden>
          <dl class="option-group">
            <dt class="option-group__title">상의</dt>
            <dd class="option-group__content">
              <ul class="option-list option-list--size">
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">85</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">90</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">95</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">100</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">S</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">M</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">L</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">44 - 55</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">55 - 66</span>
                  </label>
                </li>
              </ul>
            </dd>
          </dl>
          <dl class="option-group">
            <dt class="option-group__title">하의</dt>
            <dd class="option-group__content">
              <ul class="option-list option-list--size">
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">26</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">27</span>
                  </label>
                </li>
              </ul>
            </dd>
          </dl>
        </div>
        <!-- //사이즈 -->
        <!-- 소재 -->
        <div class="filter-panel" tabindex="0" role="tabpanel" id="filterTabContent-6" aria-labelledby="filterTab-6" hidden>
          <ul class="option-list option-list--material">
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">합성섬유</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">코튼(면)</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">울/캐시미어</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">데님</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">린넨/마</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">쉬폰/실크</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">가죽</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">코듀로이</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">다운</span>
              </label>
            </li>
          </ul>
        </div>
        <!-- //소재 -->
        <!-- 가격 -->
        <div class="filter-panel" tabindex="0" role="tabpanel" id="filterTabContent-7" aria-labelledby="filterTab-7" hidden>
          <ul class="option-list option-list--price">
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">전체</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">~ 50,000</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">50,000 ~ 100,000</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">100,000 ~ 150,000</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">150,000 ~ 200,000</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">200,000 ~ 250,000</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">250,000 ~ 500,000</span>
              </label>
            </li>
          </ul>
        </div>
        <!-- //가격 -->
        <!-- 패턴 -->
        <div class="filter-panel" tabindex="0" role="tabpanel" id="filterTabContent-8" aria-labelledby="filterTab-8" hidden>
          <ul class="option-list option-list--pattern">
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">솔리드</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">로고</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">체크</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">컬러블록</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">스트라이프</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">기하학</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">플라워</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">캐릭터</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">도트</span>
              </label>
            </li>
          </ul>
        </div>
        <!-- //패턴 -->
        <!-- 별점 -->
        <div class="filter-panel" tabindex="0" role="tabpanel" id="filterTabContent-9" aria-labelledby="filterTab-9" hidden>
          <ul class="option-list option-list--review">
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">전체</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name rating">
                  <span class="rating__point">5.0</span>
                  <span class="rating__icon">
                    <span class="rating__value" style="width: 100%"></span>
                  </span>
                </span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name rating">
                  <span class="rating__point">4.0</span>
                  <span class="rating__icon">
                    <span class="rating__value" style="width: 80%"></span>
                  </span>
                </span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name rating">
                  <span class="rating__point">3.0</span>
                  <span class="rating__icon">
                    <span class="rating__value" style="width: 60%"></span>
                  </span>
                </span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name rating">
                  <span class="rating__point">2.0</span>
                  <span class="rating__icon">
                    <span class="rating__value" style="width: 40%"></span>
                  </span>
                </span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name rating">
                  <span class="rating__point">1.0</span>
                  <span class="rating__icon">
                    <span class="rating__value" style="width: 20%"></span>
                  </span>
                </span>
              </label>
            </li>
          </ul>
        </div>
        <!-- //별점 -->
      </div>

    </div>
    <div class="sidebar__footer">
      <div class="filter-state">
        <div class="filter-state__util">
          <button type="button" class="button button--reset" data-filter-reset>초기화</button>
        </div>
        <!-- 선택된 필터 -->
        
        <div class="filter-state__selected" data-filter-list>
          <!--
          // window.filter.add 를 이용해서 추가함
          <span class="filter-tag" data-filter="gender" data-filter-value="M" data-filter-name="남성">
            <span class="name">남성</span>
            <button type="button" class="button button--remove" data-filter-remove>
              <i class="sprite-icon sprite-common sprite-common-remove">삭제</i>
            </button>
          </span>
          -->
        </div>
        <!-- //선택된 필터 -->
        <div class="filter-state__submit">
          <button type="button" class="form-button form-button--main">200개 상품 보기</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block modal %}
{# 위시리스트 담기 #modalWishlistAdd #}
{% include "modal/product/wishlist-add.njk" %}

{# 위시리스트 삭제 #modalWishlistRemove #}
{% include "modal/product/wishlist-remove.njk" %}
{% endblock modal %}

{% block css %}
  <link rel="stylesheet" href="/asset/css/list.css"/>
{% endblock css %}

{% block js %}
  <script src="/asset/js/list.js"></script>
  <script>
    var productList = [];
    function swierInit(element, isLoop) {
      var instance = $(element).data('swiper');
      if(instance) {
        instance.update();
        return false;
      }

      var swiper = new Swiper(element, {
        loop: isLoop,
        pagination: {
          el: '.swiper-pagination'
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        on: {
          init: function () {
            if(isLoop){
              swiperPagination(this);
            }
          },
          slideChange: function () {
            if(isLoop){
              swiperPagination(this);
            }
          },
          resize: function(){
            // throttle
            this.update();
          },
          update: function(){
            if(isLoop){
              swiperPagination(this);
            }
          }
        }
      });

      if(isLoop){
        $(element).addClass('is-active');
      } else {
        swiper.detachEvents();
      }
      $(element).data('swiper', swiper);
      productList.push(swiper);
    }

    function swiperPagination(instance) {
      var swiper = instance;
      var slides = swiper.slides;
      var length = swiper.params.loop
        ? slides.length - 2
        : slides.length;
      var percent = (swiper.realIndex + 1) / length * 100;
      window.setTimeout(function () {
        $(swiper.pagination.el)
          .parent()
          .find('.swiper-progress__fill')
          .width(percent + '%');
      }, 10)
    }

    $(function () {

      // 아이콘 애니메이션
      anime({
        targets: '.no-results path',
        d: 'm 62.05,58.602118 c 0,3.977 -2.68,7.201 -5.985,7.201 -3.306,0 -5.985,-3.224 -5.985,-7.202 0,-5.538 5.985,-11.335 5.985,-11.335 0,0 5.986,5.797 5.986,11.336 z',
        duration: 600,
        endDelay: 150,
        loop: true,
        easing: 'easeInOutBack',
      });

      // 상품 슬라이더
      $('#productList .swiper-container').each(function () {
        var $element = $(this);
        // 동적으로 추가되는 상품도 아래와 같이 추가필요함
        swierInit($element[0], $element.find('.swiper-slide').length > 1);
      });

      // 카테고리 배너
      var categoryBannerSlides = $('.category-banner .swiper-slide');
      var categoryBannerSwiper = new Swiper('.category-banner .swiper-container', {
        loop: categoryBannerSlides.length > 1,
        pagination: {
          type: 'fraction',
          el: '.swiper-pagination'
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      });

      // 필터 카테고리 트리메뉴
      $(document).on('click', '.category-filter .button--toggle', function(){
        var category = $(this).closest('.category-filter__list-item');
        var subMenu = category.find('> .category-filter__list');
        if(category.hasClass('extend')){
          category.removeClass('extend');
          subMenu.slideUp();
        } else {
          category.addClass('extend');
          subMenu.slideDown();
        }
      });

      // 필터 관련 UI (선택된 필터)
      // filter.add(FilterInfo) // 필터 선택
      // filter.remove(FilterInfo) // 필터 삭제
      // filter.reset() // 필터 전부 삭제
      /**
      * @typedef {Object} FilterInfo
      * @property {string} key // 필터 구분 ex) gender, color, size ...
      * @property {string} value // 필터 값 ex) F,M, BLK, 4455 ... 
      * @property {string} name // 필터 화면 노출 이름 ex) 남, 여, BLACK, 44 - 55
      */
      $(document)
        // 예제
        .on('change', '.option-list--gender input[type=checkbox]', function(){
          // UI확인용 Sample (성별) - 확인용 이므로 개발시 동일하게 사용 불가능함
          //window.filter.add / window.filter.remove 사용 방법 참고용
          if(!$(this).prop('checked')){
            console.log('삭제', '성별', $(this).val())
            window.filter.remove({key: 'gender', value: $(this).val()});
          } else {
            console.log('추가', '성별', $(this).val());
            window.filter.add({
              key: 'gender', value: $(this).val(), name: $(this).data('name')
            });
          }
        })
        // 삭제
        .on('click', '[data-filter-remove]', function(e){
          e.preventDefault();
          const item = $(e.target).closest('[data-filter]');
          const key = item.data('filter');
          const value = item.data('filterValue');
          window.filter.remove({key: key, value: value});
          // UI확인용 Sample (성별) - 확인용 이므로 개발시 동일하게 사용 불가능함
          // 선택된 필터에서 X클릭 -> 필터 > 체크박스 동기화 참고용
          $('.option-list--gender input[type=checkbox]').each(function(){
            if($(this).val() === value) {
              console.log('체크해제', '성별', $(this).val());
              $(this).prop('checked', false);
            }
          })
        })
         // 초기화
        .on('click', '[data-filter-reset]', function(e){
          // UI확인용 Sample (성별) - 확인용 이므로 개발시 동일하게 사용 불가능함
          // window.filter.reset(); 참고용
          e.preventDefault();
          window.filter.reset();
          $('.option-list--gender input[type=checkbox]').each(function(){
            if($(this).prop('checked')) {
              console.log('체크해제', '성별', $(this).val());
              $(this).prop('checked', false);
            }
          })
        })
        // 필터 레이어 Open
        .on('click', '#filterOpenButton', function(e){
          e.preventDefault();
          ui.modules.sidebar.show();
        });
    });
  </script>
{% endblock js %}