{% extends 'default.njk' %}

{% block content %}
<main class="shell-main">

  <!-- 상단 배너 -->
  <div class="section section--main-banner">
    <!-- 배너 이미지 -->
    <div class="swiper-container swiper-container--main-banner">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="banner">
            <div class="banner__image">
              <div class="viewport"><img src="/cmsstatic/asset/images/temp/main-top_1.jpg" alt=""></div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="banner">
            <div class="banner__image">
              <div class="viewport"><img src="/cmsstatic/asset/images/temp/main-top_1.jpg" alt=""></div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="banner">
            <div class="banner__image">
              <div class="viewport"><img src="/cmsstatic/asset/images/temp/main-top_1.jpg" alt=""></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="banner">
            <div class="banner__image">
              <div class="viewport"><img src="/cmsstatic/asset/images/temp/main-top_1.jpg" alt=""></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="banner">
            <div class="banner__image">
              <div class="viewport"><img src="/cmsstatic/asset/images/temp/main-top_1.jpg" alt=""></div>
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-pagination--main-banner">
        <div class="progress-bar">
          <span class="progress-bar__value"></span>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <!-- //배너 이미지 -->
    <!-- 배너 텍스트 -->
    <div class="swiper-container swiper-container--main-banner-content">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="banner">
            <a href="#" class="banner__content">
              <div class="banner__title"><span class="text-block">햇살 좋은날</span><span class="text-block">떠나는 봄 나들이</span></div>
              <div class="banner__description">당신의 집, 카페, 공유 오피스 등 모든 곳에서<br>패셔너블한 오피스웨어를 완성해 보세요.</div>
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="banner">
            <a href="#" class="banner__content">
              <div class="banner__title"><span class="text-block">2 햇살 좋은날</span><span class="text-block">떠나는 봄 나들이</span></div>
              <div class="banner__description">2 당신의 집, 카페, 공유 오피스 등 모든 곳에서<br>패셔너블한 오피스웨어를 완성해 보세요.</div>
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="banner">
            <a href="#" class="banner__content">
              <div class="banner__title"><span class="text-block">3 햇살 좋은날</span><span class="text-block">떠나는 봄 나들이</span></div>
              <div class="banner__description">3 당신의 집, 카페, 공유 오피스 등 모든 곳에서<br>패셔너블한 오피스웨어를 완성해 보세요.</div>
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="banner">
            <a href="#" class="banner__content">
              <div class="banner__title"><span class="text-block">4 햇살 좋은날</span><span class="text-block">떠나는 봄 나들이</span></div>
              <div class="banner__description">4 당신의 집, 카페, 공유 오피스 등 모든 곳에서<br>패셔너블한 오피스웨어를 완성해 보세요.</div>
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="banner">
            <a href="#" class="banner__content">
              <div class="banner__title"><span class="text-block">5 햇살 좋은날</span><span class="text-block">떠나는 봄 나들이</span></div>
              <div class="banner__description">5 당신의 집, 카페, 공유 오피스 등 모든 곳에서<br>패셔너블한 오피스웨어를 완성해 보세요.</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- //배너 텍스트 -->
  </div>
  <!-- //상단 배너 -->

  <!-- 알림배너 -->
  <div class="section section--marquee-banner">
    <div class="banner">
      <div class="banner__marquee marquee-banner" data-speed="0.25" data-pausable="false">
        <span><i class="uppercase">21 s/s Spring Trend.</i> UP TO 60%</span>
      </div>
      <button type="button" class="button banner__close">닫기</button>
    </div>
    <!-- 색상 2
    <div class="banner banner--black">
      <div class="banner__marquee marquee-banner" data-speed="0.25" data-pausable="false">
        <span>한글 한글 한글 한글 한글 한글 한글 한글 한글한글 한글 한글 한글 한글 한글 한글 한글 한글한글 한글 한글 한글 한글 한글</span>
      </div>
      <button type="button" class="button banner__close">닫기</button>
    </div>
    -->
    <!-- 색상 3
    <div class="banner banner--grey">
      <div class="banner__marquee marquee-banner" data-speed="0.25" data-pausable="false">
        <span><i class="uppercase">NEW Paddington Line launching.</i></span>
      </div>
      <button type="button" class="button banner__close">닫기</button>
    </div>
    -->
  </div>
  <!-- // 알림배너 -->

  <!-- 전시 카테고리 -->
  <div class="section section--category-bar">
    <div class="category-bar">
      <ul class="category-bar__list">
        <li class="category-bar__item">
          <a href="#" class="category hilite">
            <span class="thumbnail"><img src="/cmsstatic/asset/images/temp/home-category_1.jpg" alt=""></span>
            <span class="name">LADIES</span>
          </a>
        </li>
        <li class="category-bar__item">
          <a href="#" class="category">
            <span class="thumbnail"><img src="/cmsstatic/asset/images/temp/home-category_2.jpg" alt=""></span>
            <span class="name">MEN</span>
          </a>
        </li>
        <li class="category-bar__item">
          <a href="#" class="category">
            <span class="thumbnail"><img src="/cmsstatic/asset/images/temp/home-category_3.jpg" alt=""></span>
            <span class="name">GOLF</span>
          </a>
        </li>
        <li class="category-bar__item">
          <a href="#" class="category">
            <span class="thumbnail"><img src="/cmsstatic/asset/images/temp/home-category_4.jpg" alt=""></span>
            <span class="name">ACC</span>
          </a>
        </li>
        <li class="category-bar__item">
          <a href="#" class="category">
            <span class="thumbnail"><img src="/cmsstatic/asset/images/temp/home-category_5.jpg" alt=""></span>
            <span class="name">BEAUTY</span>
          </a>
        </li>
        <li class="category-bar__item">
          <a href="#" class="category">
            <span class="thumbnail"><img src="/cmsstatic/asset/images/temp/home-category_6.jpg" alt=""></span>
            <span class="name">OUTLET</span>
          </a>
        </li>
      </ul>
    </div>
    {# <svg height="200" width="200">
      <circle class="circle" cx="100" cy="100" r="95" stroke="#ff781e" stroke-width="2" fill-opacity="0" />
      <circle class="planet-dotted" stroke-width="1.5" stroke-dasharray="3,3" stroke="#4c9d2f" fill="none" cx="150" cy="150" r="100"></circle>
    </svg>

    <svg height="200" width="200">
      <circle class="circle" cx="100" cy="100" r="95" stroke="#ff781e" stroke-width="2" stroke-dasharray="0 6" stroke-linecap="round" fill="transparent"/>
    </svg>

    <svg class="moving-outline" width="453" height="453" viewBox="0 0 453 453" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="100" cy="100" r="100" stroke="#018EBA" stroke-width="20"/>
    </svg>
    <script>
      const outline = document.querySelector(".moving-outline circle");
      const outlineLength = outline.getTotalLength();
      outline.style.strokeDasharray = outlineLength;
      outline.style.strokeDashoffset = 0;

      let duration = 600;
      let elapsed = 0;
      animate(elapsed);
      function animate(offset) {
        setTimeout(() => {
          elapsed++;
          if (elapsed > duration * 2) elapsed = 0;
          animate((elapsed / duration) * outlineLength);
        }, 10);
        outline.style.strokeDashoffset = offset;
      }
    </script> #}
  </div>
  <!-- // 전시 카테고리 -->

  <!-- PICK -->
  <div class="section section--md-pick">
    <div class="section__title">PICK</div>
    <div class="section__content">
      <div class="swiper-container swiper-container--md-pick">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="product">
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZZYS ACC</p>
                  <p class="product__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <!-- 위시리스트 Y : active 클래스 추가-->
                <button type="button" class="button button--heart active">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="product">
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_2.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZZYS ACC</p>
                  <p class="product__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="product">
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_3.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZZYS ACC</p>
                  <p class="product__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="product">
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_4.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZZYS ACC</p>
                  <p class="product__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
        </ul>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <!-- //PICK -->

  <!-- KEY ITEM -->
  <div class="section section--key-item">
    <div class="banner">
      <div class="banner__image">
        <div class="viewport"><img src="/cmsstatic/asset/images/temp/product_960x960_1.jpg" alt=""></div>
        <a href="#" class="banner__content">
          <div class="banner__title">나만의 잇 아이템.<br>H 시그니처 숄더백</div>
          <div class="banner__description">
            따듯한 봄이 다가오는 지금 입어야할<br>포근한 니트, 포인트 컬러로 오늘의 룩을<br>완성하도록 니트 코디를 제안합니다.
          </div>
        </a>
      </div>
    </div>
    <div class="product-swiper">
      <div class="swiper-container swiper-container--key-item">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="product">
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                </div>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="product">
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_2.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                </div>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="product">
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_3.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                </div>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="product">
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_4.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
    
  </div>
  <!-- //KEY ITEM -->

  <!-- 시즌 컬렉션 영상  -->
  <div class="section section--video-gallery">
    <div class="swiper-container swiper-container--video-gallery">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="banner">
            <div class="banner__content">
              <div class="banner__title">
                MEET THE<br>TRUE BLUE
              </div>
              <div class="banner__description">
                text 2line text 2line text 2line text 2line text 2line text 2line text 2line text 2line text 2line text 2line
              </div>
            </div>
            <div class="video-container">
              <video
                src="/cmsstatic/asset/media/home-sample_1.mp4"
                class="video"
                muted
                loop
                playsinline
                webkit-playsinline
                preload="true"
              ></video>
              <div class="video-controller">
                <button type="button" class="button button--toggle">Play/Pause</button>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="banner">
            <div class="banner__content">
              <div class="banner__title">
                2222 THE<br>TRUE BLUE
              </div>
              <div class="banner__description">
                2222 2line text 2line text 2line text 2line text 2line text 2line text 2line text 2line text 2line text 2line
              </div>
            </div>
            <div class="video-container">
              <video
                src="/cmsstatic/asset/media/home-sample_2.mp4"
                class="video"
                muted
                loop
                playsinline
                webkit-playsinline
                preload="true"
              ></video>
              <div class="video-controller">
                <button type="button" class="button button--toggle">Play/Pause</button>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="banner">
            <div class="banner__content">
              <div class="banner__title">
                3333 THE<br>TRUE BLUE
              </div>
              <div class="banner__description">
                3333 2line text 2line text 2line text 2line text 2line text 2line text 2line text 2line text 2line text 2line
              </div>
            </div>
            <div class="video-container">
              <video
                src="/cmsstatic/asset/media/home-sample_3.mp4"
                class="video"
                muted
                loop
                playsinline
                webkit-playsinline
                preload="true"
              ></video>
              <div class="video-controller">
                <button type="button" class="button button--toggle">Play/Pause</button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination-container">
        <div class="swiper-pagination"></div>
        <div class="swiper-pagination--count">
          <span class="current">1</span>
          <span class="total">5</span>
        </div>
      </div>
    </div>

  </div>
  <!-- // 시즌 컬렉션 영상  -->

  <!-- HOT ISSUE -->
  <div class="section section--hot-issue">
    <div class="banner">
      <div class="banner__header">HOT<br>ISSUE</div>
      <a href="#" class="banner__content">
        <div class="banner__title">HARIATO DIRECTOR<br>INTERVIEW</div>
        <div class="banner__description">
          해외 크리에이티브 디렉터인 나타샤 드마이어가 헤지스의 20주년을 축하하기 위해 새로운 패턴‘헤리아토’을 선사했다. 하나의 실로 직물을 완성하듯 가로와 세로, 대각선으로 올곧게 이어지는 직선은 헤지스의 과거와 현재, 미래가 이어짐을 의미한다. 직선이 교차하는 지점에 놓인 H 로고 또한 승리를 쟁취하기 위한 헤지스의 도전 정신이다.
        </div>
      </a>
    </div>
    <div class="gallery">
      <div class="gallery__item">
        <a href="#" class="item item--1"><img src="/cmsstatic/asset/images/temp/home-issue_1.jpg" alt="설명"></a>
        <!-- <span class="item item--1"><img src="/cmsstatic/asset/images/temp/home-issue_1.jpg" alt="설명"></span> -->
      </div>
      <div class="gallery__item">
        <span class="item item--2"><img src="/cmsstatic/asset/images/temp/home-issue_2.jpg" alt="설명"></span>
      </div>
      <div class="gallery__item">
        <span class="item item--3"><img src="/cmsstatic/asset/images/temp/home-issue_3.jpg" alt="설명"></span>
      </div>
      <div class="gallery__item">
        <span class="item item--4"><img src="/cmsstatic/asset/images/temp/home-issue_4.jpg" alt="설명"></span>
      </div>
    </div>
  </div>
  <!-- //HOT ISSUE -->

  <!-- 기획전 -->
  <div class="section section--planning">
    <div class="banner">
      <div class="banner__image">
        <div class="viewport"><img src="/cmsstatic/asset/images/temp/product_960x960_2.jpg" alt=""></div>
        <a href="#" class="banner__content">
          <div class="banner__title">패딩턴과 함께하는<br>런던 랜선투어</div>
        </a>
      </div>
    </div>
    <div class="product-swiper">
      <div class="swiper-container swiper-container--planning">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="product">
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                </div>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="product">
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_2.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                </div>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="product">
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_3.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                </div>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="product">
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_4.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
    
  </div>
  <!-- // 기획전 -->

  <!-- Weekly Best 10 -->
  <div class="section section-weekly-best">
    <div class="section__title"><span class="text-block">WEEKLY</span><span class="text-block">BEST 10</span></div>
    <div class="section__category">
      <div class="category" data-progress>
        <ul class="category__list" data-progress-container>
          <li class="category__item">
            <!-- 선택된 메뉴버튼에  active 클래스 -->
            <button type="button" class="button button--hash active">
              <span class="name">#LADIES</span>
            </button>
          </li>
          <li class="category__item">
            <button type="button" class="button button--hash">
              <span class="name">#MEN</span>
            </button>
          </li>
          <li class="category__item">
            <button type="button" class="button button--hash">
              <span class="name">#GOLF</span>
            </button>
          </li>
          <li class="category__item">
            <button type="button" class="button button--hash">
              <span class="name">#ACC</span>
            </button>
          </li>
          <li class="category__item">
            <button type="button" class="button button--hash">
              <span class="name">#BEAUTY</span>
            </button>
          </li>
        </ul>
        <span class="scroll-bar"><span class="scroll-bar__progress" data-progress-value></span></span>
      </div>
    </div>
    <div class="section__content">
      <div class="swiper-container swiper-container--weekly-product">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="product">
              <span class="product__rank">01</span>
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_5.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZZYS ACC</p>
                  <p class="product__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <!-- 위시리스트 Y : active 클래스 추가-->
                <button type="button" class="button button--heart active">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="product">
              <span class="product__rank">02</span>
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_2.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZZYS ACC</p>
                  <p class="product__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="product">
              <span class="product__rank">03</span>
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_3.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZZYS ACC</p>
                  <p class="product__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="product">
              <span class="product__rank">04</span>
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_4.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZZYS ACC</p>
                  <p class="product__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="product">
              <span class="product__rank">05</span>
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZZYS ACC</p>
                  <p class="product__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <!-- 위시리스트 Y : active 클래스 추가-->
                <button type="button" class="button button--heart active">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="product">
              <span class="product__rank">06</span>
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_2.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZZYS ACC</p>
                  <p class="product__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="product">
              <span class="product__rank">07</span>
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_3.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZZYS ACC</p>
                  <p class="product__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="product">
              <span class="product__rank">08</span>
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_4.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZZYS ACC</p>
                  <p class="product__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="product">
              <span class="product__rank">09</span>
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_5.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZZYS ACC</p>
                  <p class="product__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <!-- 위시리스트 Y : active 클래스 추가-->
                <button type="button" class="button button--heart active">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="product">
              <span class="product__rank">10</span>
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_2.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZZYS ACC</p>
                  <p class="product__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
        </ul>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="section__background">
      <!-- 1위 상품 이미지 --> 
      <img src="/cmsstatic/asset/images/temp/product_1110x1443_1.jpg" alt="">
    </div>
  </div>
  <!-- // Weekly Best 10 -->

  <!-- New -->
  <div class="section section--new">
    <div class="section__title">NEW</div>
    <div class="section__content">
      <div class="swiper-container swiper-container--new">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="product">
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZZYS ACC</p>
                  <p class="product__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <!-- 위시리스트 Y : active 클래스 추가-->
                <button type="button" class="button button--heart active">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="product">
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_2.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZZYS ACC</p>
                  <p class="product__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="product">
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_3.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZZYS ACC</p>
                  <p class="product__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="product">
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/product_370x481_4.jpg" alt="네이비로고 자수 면 벙거지 모자">
              </a>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZZYS ACC</p>
                  <p class="product__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
        </ul>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <!-- // New -->

  <!-- 쿠폰/이벤트/뉴스/행사 배너 -->
  <div class="section section--banner">
    <div class="swiper-container swiper-container--banner">
      <ul class="swiper-wrapper">
        <!-- 배경색 지정(이미지X) -->
        <li class="swiper-slide">
          <a href="#" class="banner" style="background: #ff781e">
            <div class="banner__title">
              EVENT COUPON<br>
              03.30-4.01
            </div>
          </a>
        </li>
        <!-- // 배경색 지정(이미지X) -->        
        <li class="swiper-slide">
          <a href="#" class="banner">
            <div class="banner__title">
              DEWEY BAG<br>COLLECTION
            </div>
            <div class="banner__image">
              <img src="/cmsstatic/asset/images/temp/home-banner_1.jpg" alt="">
            </div>
          </a>
        </li>
        <li class="swiper-slide">
          <a href="#" class="banner">
            <div class="banner__title">
              SPACE H
            </div>
            <div class="banner__image">
              <img src="/cmsstatic/asset/images/temp/home-banner_2.jpg" alt="">
            </div>
          </a>
        </li>
      </ul>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
  <!-- // 쿠폰/이벤트/뉴스/행사 배너 -->


</main>
{% endblock %}

{% block modal %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/home.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/home.js"></script>
{% endblock js %}