<div id="modalExpiredPassword" class="modal modal--expired-password" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <h1 class="modal__header__title">비밀번호 변경</h1>
      <button type="button" class="modal__header__button" aria-label="닫기" data-modal-close>
        <i class="sprite-icon sprite-common sprite-common-close-layer">닫기</i>
      </button>
    </div>
    <div class="modal__body">
      <div class="messege">
        <p class="messege__text">
          고객님의 소중한 정보 보호를 위해 새로운 비밀번호를 등록하고 주기적으로 변경해보는건 어떠세요?
        </p>
      </div>
    </div>
    <div class="modal__footer">
      <button type="button" class="form-button form-button--main">확인</button>
      <ul class="text-button-group">
        <li class="text-button-group__item">
          <button type="button" class="button">30일 이후 변경</button>
        </li>
        <li class="text-button-group__item">
          <button type="button" class="button">90일 이후 변경</button>
        </li>
      </ul>
    </div>
  </div>
</div>