.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  z-index: 100;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &.modal--dim {
    &:before {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  .modal-dialog {
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    transform: translate(0, -50%);
    background-color: #fff;
    max-width: 500px;
    margin: 0 auto;
  }
  &__header {
    position: relative;
    padding: 30px 24px 20px;
    &__title {
      font-size: 20px;
      line-height: 30px;
      font-family: $font-noto-sans;
      font-weight: 500;
      color: #000;
    }
    &__button {
      position: absolute;
      top: 10px;
      right: 10px;
      border: 0;
      background-color: transparent;
      > .sprite-icon {
        vertical-align: top;
      }
    }
    + .modal__body {
      padding-top: 0;
    }
    @include mq('desktop') {
      &__title {
        font-size: 24px;
        line-height: 44px;
        font-weight: 500;
      }
    }
  }
  &__body {
    margin: 0 24px;
    padding: 30px 0 20px;
  }
  &__footer {
    margin: 10px 24px 20px;
  }

  .button-group {
    display: flex;
    .button-group__item {
      width: 100%;
      + .button-group__item {
        margin-left: 4px;
      }
    }
  }
  .text-button-group {
    display: flex;
    .text-button-group__item {
      width: 100%;
      text-align: center;
      + .text-button-group__item {
        border-left: 1px solid #e6e6e6;
      }
      .button {
        width: 100%;
        font-size: 14px;
        font-family: $font-noto-sans;
        font-weight: 300;
        line-height: 22px;
        color: #000;
      }
    }
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &.modal--fade {
    transition-delay: 0.2s;
    .modal-dialog {
      opacity: 0;
      transition: opacity 0.2s linear;
      transition-delay: 0s;
    }
    &.active {
      transition-delay: 0s;
      .modal-dialog {
        opacity: 1;
        transition-delay: 0.2s;
      }
    }
  }

  &.modal--bottom-top {
    transition-delay: 0.2s;
    .modal-dialog {
      top: auto;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: none;
      transform: translate(0, 100%);
      transition: transform 0.3s ease-out;
      transition-delay: 0s;
    }
    .modal__header {
      padding: 20px 10px;
      &__title {
        font-size: 14px;
        line-height: 22px;
        font-weight: 300;
        text-align: center;
      }
      + .modal__body {
        padding-top: 0;
      }
      @include mq('desktop') {
        &__title {
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
    .modal__body {
      margin: 0 10px;
    }
    .modal__footer {
      margin: 10px 10px 50px;
    }
    &.active {
      transition-delay: 0s;
      .modal-dialog {
        transform: translate(0, 0);
        transition-delay: 0.2s;
      }
    }
  }

  &.modal--top-bottom {
    transition-delay: 0.2s;
    .modal-dialog {
      max-width: 100%;
      top: 0;
      left: 0;
      right: 0;
      transform: translate(0, -100%);
      transition: transform 0.3s ease-out;
      transition-delay: 0s;
    }
    .modal__header {
      padding: 20px 10px;
      + .modal__body {
        margin-top: 0;
      }
    }
    .modal__body {
      margin: 20px 10px 0;
      padding: 20px 0;
    }
    .modal__footer {
      margin: 0 10px 10px;
    }
    &.active {
      transition-delay: 0s;
      .modal-dialog {
        transform: translate(0, 0);
        transition-delay: 0.2s;
      }
    }
  }

  &.modal--full {
    .modal-dialog {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      transform: none;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  @include mq('desktop') {
    &__header {
      padding: 35px 40px 20px;
      &__button {
        top: 10px;
        right: 10px;
      }
    }
    &__body {
      margin: 0 40px;
      padding: 40px 0 20px;
      + .modal__footer {

      }
    }
    &__footer {
      margin: 10px 40px 30px;
    }

    &.modal--bottom-top {
      transition-delay: 0.2s;
      .modal-dialog {
        top: 50%;
        left: 10px;
        right: 10px;
        bottom: auto;
        transform: translate(0, -50%);
        transition: opacity 0.2s linear;
        transition-delay: 0s;
        max-width: 500px;
        margin: 0 auto;
        opacity: 0;
      }
      .modal__header {
        padding: 30px 0;
        + .modal__body {
          padding-top: 0;
        }
      }
      .modal__body {
        margin-right: 40px;
        margin-left: 40px;
      }
      .modal__footer {
        margin: 15px 40px 40px;
      }
      &.active {
        transition-delay: 0s;
        .modal-dialog {
          opacity: 1;
          transform: translate(0, -50%);
          transition-delay: 0.2s;
        }
      }
    }
    &.modal--top-bottom {
      .modal-dialog {
        max-width: 100%;
        .modal__body,
        .modal__footer {
          width: 360px;
          margin-right: auto;
          margin-left: auto;
          // margin: 0 auto;
        }
      }
    }
  }
}

// 팝업 컨텐츠 요소
.modal {
  .message {
    font-size: 14px;
    font-family: $font-noto-sans;
    font-weight: 300;
    line-height: 22px;
    color: #000;
    &--center {
      text-align: center;
    }
    &--min {
      padding: 30px 0;
    }
    .message__text {
      .icon-block {
        display: block;
        margin-bottom: 10px;
      }
      + .message__share {
        margin-top: 40px;
      }
    }
    .message__hilite {
      color: #ff781e;
    }
    .message__share {
      display: flex;
      justify-content: space-around;
      > .button {
        width: 50px;
        outline: 0;
        img {
          width: 100%;
        }
        @include mq('desktop') {
          width: 60px;
          &.button--mobile {
            display: none;
          }
        }
      }

    }
  }

  // 가격 요소 목록 ( 상품, 주문 )
  .price-guide {
    &__group {
      border-top: 1px solid $color-solid-emphasize;
      border-bottom: 1px solid $color-solid-emphasize;
      .group__item {
        padding: 10px 0;
        + .group__item {
          border-top: 1px solid $color-line-border;
        }
      }
      .section {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 24px;
        color: $color-text-primary;
        em {
          display: inline-block;
          font-style: normal;
          font-weight: inherit;
          color: $color-text-emphasize;
          &.point {
            color: $color-text-point;
          }
        }
        .label {
          font-weight: 300;
          em {
            font-weight: 300;
          }
        }
        .value {
          font-weight: 450;
          em {
            font-weight: 450;
            &.point {
              font-weight: 500;
            }
          }
        }
      }
    }
    &__comment {
      margin-top: 10px;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
    }
  }

  .shop-location {
    .shop-tag {
      display: inline-block;
      margin-bottom: 10px;
      padding: 8px 8px 6px 8px;
      color: $color-text-point;
      border: 1px solid $color-line-point;
      font-size: 12px;
      line-height: 12px;
    }
    .shop-name {
      margin-bottom: 6px;
      color: $color-text-emphasize;
      font-size: 14px;
      font-weight: 500;
    }
    .shop-address {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 20px;
    }
    .shop-call {
      display: inline-block;
      padding: 10px 13px;
      border: 1px solid $color-line-border;
      color: $color-text-emphasize;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      &:before {
        content: '';
        display: inline-block;
        vertical-align: -4px;
        @include sprite($common-tel);
      }
    }
  }
  .coupon-change {
    .max-sale-benefit {
      margin-bottom: 20px;
      text-align: center;
      .form-radio {
        text-align: center;
        .radio {
          &:checked {
            + .name {
              border: solid 1px $color-solid-point;
              color: $color-text-point;
            }
            + .name:before{
              @include sprite-position($order-check-on);
            }
          }
        }
        .name {
          width: 257px;
          height: 30px;
          border-radius: 2px;
          border: solid 1px $color-grey-01;
          font-size: 12px;
          line-height: 30px;
          &:before {
            @include sprite($order-check);
          }
        }
      }
    }
    .coupon-wrap {
      max-height: 240px;
      overflow: scroll;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      padding-top: 30px;
      border-top: 1px solid $color-line-emphasize;
      .coupon-box {
        margin-bottom: 40px;
        .product-name {
          margin-bottom: 2px;
          color: $color-text-emphasize;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
        }
        .product-opt {
          margin-bottom: 10px;
          font-size: 12px;
          line-height: 18px;
        }
        .coupon-list {
          .coupon-name {
            display: block;
            margin-bottom: 10px;
            color: $color-text-emphasize;
            font-size: 12px;
          }
          li {
            .form-radio {
              display: block;
              margin-top: 10px;
              .radio {
                &:checked {
                  + .icon {
                    @include sprite-position($order-radio-on);
                    + .box {
                      border: 1px solid $color-line-point;
                    }
                  }
                }
              }
              .icon {
                position: absolute;
                top: 22px;
                right: 10px;
                @include sprite($order-radio);
              }
              .box {
                width: 100%;
                height: 100%;
                padding: 10px;
                border: 1px solid $color-line-border;
                box-sizing: border-box;
                .coupon-info {
                  font-size: 12px;
                  line-height: 18px;
                  &__price {
                    display: inline-block;
                    color: $color-text-emphasize;
                  }
                  &__sale {
                    display: inline-block;
                    margin-left: 4px;
                    color: $color-text-point;
                  }
                  &__date {
                    display: inline-block;
                    margin-left: 4px;
                  }
                }
              }
            }
            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

// 개별 팝업
.modal {
  &.modal--product-option {
    .modal__body {
      .product-option {
        position: relative;
        padding: 23px 0 35px;
        margin: 0 10px;
        &__guide {
          position: absolute;
          top: 15px;
          right: 0;
          font-size: 12px;
          font-weight: 300;
          color: $color-text-primary;
          outline: 0;
          &:after {
            content: '';
            display: inline-block;
            margin-left: 1px;
            @include sprite($common-landing-small-grey);
          }
        }
        &__color {
          margin: 0 -10px;
          padding: 10px 0 30px;
          text-align: center;
          border-bottom: 1px solid $color-line-border;
          .colorchip {
            display: inline-block;
            white-space: nowrap;
            padding: 0 30px;
            font-size: 0;
            vertical-align: top;
            &__item {
              display: inline-block;
              border-radius: 100%;
              overflow: hidden;
              border: 1px solid transparent;
              &.active {
                border-color: $color-line-emphasize;
              }
              + .colorchip__item {
                margin-left: 15px;
              }
            }
            &__link {
              border: 2px solid transparent;
              box-sizing: content-box;
              display: block;
              width: 30px;
              height: 30px;
              border-radius: 100%;
              overflow: hidden;
              img {
                width: 100%;
                display: inline-block;
                white-space: nowrap;
              }
            }
          }
          ~ .product-option__size {
            margin-top: 30px;
          }
          ~ .product-option__qty {
            margin-top: 30px;
          }
        }
        &__size {
          margin: 0 -10px;
          padding: 10px 0 30px;
          overflow: auto;
          overflow-y: hidden;
          text-align: center;
          border-bottom: 1px solid $color-line-border;
          .form-radio-select-group {
            padding: 0 30px;
            display: inline-block;
          }
          ~ .product-option__qty {
            margin-top: 20px;
          }
        }
        &__qty {
          padding-top: 10px;
          text-align: center;
          .qty-message {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 300;
            color: $color-text-emphasize;
          }
        }
        @include mq('desktop') {
          margin: 0;
          padding: 60px 0 40px;
          &__guide {
            top: 20px;
            font-size: 14px;
            color: $color-text-emphasize;
            &:after {
              @include sprite($common-landing-small-black);
            }
          }
          &__color {
            margin: 0;
            padding-top: 20px;
            text-align: left;
            .colorchip {
              padding: 0;
            }
            ~ .product-option__size {
              margin-top: 20px;
            }
            ~ .product-option__qty {
              margin-top: 20px;
            }
          }
          &__size {
            margin: 0;
            padding-top: 20px;
            text-align: left;
            .form-radio-select-group {
              .form-radio .name {
                min-width: 70px;
              }
              padding: 0;
            }
            ~ .product-option__qty {
              margin-top: 20px;
            }
          }
          &__qty {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            text-align: left;
            .qty-message {
              margin-top: 0;
            }
          }
        }
      }
    }
    @include mq('desktop') {
      .modal__footer {
        margin: 30px 40px 60px;
      }
    }
  }
}

// 검색
.modal.modal--global-search {
  .modal-dialog {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    transform: none;
    max-width: 100%;
    margin: 0 auto;
  }
  .modal__header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    z-index: 2;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.8);

    &__title {
      font-size: 18px;
      line-height: 60px;
      font-weight: 300;
      color: #000;
      text-align: center;
    }
    &__button {
      top: 0;
      left: 0;
      right: auto;
      width: 60px;
      height: 60px;
    }
  }
  .modal__body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
    padding-top: 60px;
  }

  transition-delay: 0.2s;
  .modal-dialog {
    transform: translate(100%, 0);
    transition: transform 0.3s ease-out;
    transition-delay: 0s;
  }
  &.active {
    transition-delay: 0s;
    .modal-dialog {
      transform: translate(0, 0);
      transition-delay: 0.2s;
    }
  }
  @include mq('desktop') {
    .modal-dialog {
      top: 100px;
      left: auto;
      right: 30px;
      height: auto;
      width: 580px;
      max-width: none;
      margin: 0;
      transform: translate(0, -60px);
      background: transparent;
      .modal__header {
        display: none;
      }
      .modal__body {
        padding-top: 0;
        height: auto;
        overflow: visible;
        max-height: none;
      }
    }
    &.active {
      transition-delay: 0s;
      .modal-dialog {
        transform: translate(0, 0);
        transition-delay: 0s;
      }
    }
  }
}

.global-search-form {
  > .input-block {
    position: relative;
    margin: 0 10px;
    .form-text {
      padding-right: 70px;
      border-color: #c9c9c9;
      &:focus {
        border-color: #000;
      }
    }
    .button--clear {
      position: absolute;
      top: 15px;
      right: 44px;
      display: none;
      cursor: pointer;
    }
    .button--search {
      position: absolute;
      top: 0;
      right: 0;
      width: 44px;
      height: 50px;
    }
  }
  .keyword--related {
    margin: 10px 10px 0;

    .keyword__list {
      padding: 0 10px;
    }
    .keyword__item {
      padding: 5px 0;
      a {
        position: relative;
        display: block;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        text-decoration: none;
        color: $color-text-emphasize;
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          @include sprite($common-arrow-up-search);
        }
        mark {
          background: transparent;
          font-style: normal;
          color: $color-text-point;
        }
      }
    }
  }

  + .global-search-helper {
    margin-top: 30px;
  }
  @include mq('desktop') {
    > .input-block {
      width: 100%;
      margin: 0;
      .form-text {
        height: 80px;
        border: 0;
        font-size: 24px;
        padding: 0 120px 0 20px;
        &::placeholder {
          font-size: 24px;
        }
      }
      .button--clear {
        top: 20px;
        right: 70px;
        .sprite-common-clear {
          @include sprite($common-clear-large);
        }
      }
      .button--search {
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        .sprite-common-search {
          @include sprite($common-search-large);
        }
      }
    }
    .keyword--related {
      margin: 20px 0 0 0;
      background-color: #fff;
      .keyword__list {
        padding: 30px;
        min-height: 300px;
        box-sizing: border-box;
      }
      .keyword__item {
        padding: 5px 0;
      }
    }
  }
}
.global-search-helper {
  padding: 0 0 50px;
  @include mq('desktop') {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
}
.global-search-keyword {
  margin: 0 20px;
  .keyword {
    position: relative;
    + .keyword {
      margin-top: 40px;
    }
    &__title {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      color: $color-text-emphasize;
      ~ .keyword__list {
        margin-top: 10px;
      }
    }
    &__list {
      .keyword__item {
        font-size: 14px;
        font-weight: 300;
        padding: 6px 0;
        a {
          display: inline-block;
          font-size: inherit;
          font-weight: inherit;
          line-height: 18px;
          color: $color-text-emphasize;
          text-decoration: none;
          vertical-align: top;
        }
      }
    }
    &__util {
      position: absolute;
      top: 0;
      right: 0;
      .date {
        font-size: 12px;
        line-height: 18px;
        color: $color-text-primary;
        em {
          font-style: normal;
          font-weight: 450;
        }
      }
      .button--delete {
        position: relative;
        padding-right: 26px;
        font-size: 12px;
        line-height: 18px;
        font-weight: 300;
        color: $color-text-primary;
        &:after {
          content: '';
          position: absolute;
          top: -2px;
          right: 0;
          @include sprite($common-clear);
        }
      }
    }
  }
  @include mq('desktop') {
    width: 350px;
    margin: 0;
    padding: 30px 36px 50px 30px;
    background-color: #fff;
    box-sizing: border-box;
  }
}
.global-search-recommend {
  margin: 40px 20px 0;
  .keyword {
    position: relative;
    &__title {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      color: $color-text-emphasize;
    }
    &__list {
      font-size: 0;
      margin: 10px -10px 0 -10px;
      .keyword__item {
        display: inline-block;
        height: 34px;
        margin: 10px 0 0 10px;
        a {
          display: inline-block;
          padding: 0 10px;
          height: 34px;
          font-size: 14px;
          font-weight: 300;
          line-height: 32px;
          color: $color-text-point;
          white-space: nowrap;
          text-decoration: none;
          box-sizing: border-box;
          border-radius: 2px;
          border: solid 1px $color-line-point;
          vertical-align: top;
        }
      }
    }
  }
  @include mq('desktop') {
    width: 220px;
    margin: 0;
    padding: 30px 30px 50px;
    background-color: #fff;
    box-sizing: border-box;
    .keyword {
      &__list {
        margin: 20px 0 0 0;
        .keyword__item {
          display: block;
          margin: 0;
          + .keyword__item {
            margin-top: 14px;
          }
        }
      }
    }
  }
}

// 배송지 목록
.modal.modal--delivery-list {
  .delivery-list {
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    &__area {
      li {
        .form-radio {
          display: block;
          margin-top: 10px;
          .radio {
            &:checked {
              + .icon {
                + .box {
                  border: 1px solid $color-line-emphasize;
                }
              }
            }
          }
          .icon {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translate(0, -50%);
          }
          .box {
            width: 100%;
            height: 100%;
            padding: 20px 10px;
            border: 1px solid $color-line-ready;
            box-sizing: border-box;
            .delivery-info {
              font-size: 14px;
              line-height: 14px;
              &__zipcode {
                display: block;
                margin-bottom: 14px;
                color: $color-text-emphasize;
                font-weight: 500;
              }
              &__address {
                display: block;
                margin-bottom: 15px;
                padding-right: 30px;
                color: $color-text-emphasize;
                font-weight: 300;
                line-height:18px;
              }
              &__phone {
                display: block;
                color: $color-text-primary;
              }
            }
          }
        }
        &:first-child {
          margin-top: 0;
        }
      }
    }
    .button-more {
      display: block;
      position: relative;
      width: 40px;
      height: 40px;
      margin: 30px auto 0 auto;
      color: $color-text-primary;
      background: none;
      border: 0 none;
      font-size: 14px;
      text-align: center;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: -14px;
        transform: translate(0, -50%);
        @include sprite($common-arrow-down-dropdown);
      }
    }
  }
  .button-group {
    .button-group__item {
      + .button-group__item {
        margin-left: 0;
      }
    }
  }
}

// 매장 찾기
.modal.modal--shop-find {
  .shop-contents{
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    .brand-area {
      margin-bottom: 10px;
    }
    .address-area {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .form-select{
        width: 50%;
        .select {
          color: $color-text-disabled;
        }
        &:last-child {
          margin-left: 6px;
        }
      }
    }
    .shop-search {
      position: relative;
      margin-bottom: 20px;
      .button--search {
        position: absolute;
        top: 0;
        right: 0;
        width: 44px;
        height: 50px;
      }
    }
    .btn-shop-find {
      margin-bottom: 40px;
    }
    .shop-total {
      margin-bottom: 30px;
      padding-bottom: 15px;
      border-bottom: 1px solid $color-line-border;
      font-size: 14px;
      font-weight: 300;
      &__num {
        color: $color-text-point;
        font-weight: 500;
      }
    }
    .shop {
      &__list {
        margin-bottom: 30px;
        .name {
          margin-bottom: 6px;
          color: $color-text-emphasize;
          font-size: 14px;
          font-weight: 500;
        }
        .address {
          margin-bottom: 20px;
          font-size: 14px;
          font-weight: 300;
          line-height: 20px;
        }
        .button-area {
          display: flex;
          justify-content: space-between;
          .button {
            display: block;
            width: 50%;
            height: 40px;
            border: 1px solid $color-line-border;
            border-radius: 2px;
            font-size: 12px;
            line-height: 40px;
            text-align: center;
            &:last-child {
              margin-left: 8px;
            }
          }
          &__call {
            &:before {
              content: '';
              display: inline-block;
              vertical-align: middle;
              @include sprite($common-tel);
            }
          }
          &__shop {
            &:before {
              content: '';
              display: inline-block;
              vertical-align: middle;
              @include sprite($common-rocation-info);
            }
          }
        }
      }
    }
  }
}