<div id="modal" class="modal modal--fade" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <h1 class="modal__header__title">타이틀</h1>
      <button type="button" class="modal__header__button" aria-label="닫기" data-modal-close>
        닫기
      </button>
    </div>
    <div class="modal__body">
      내용
    </div>
    <div class="modal__footer">
      <button type="button">확인</button>
      <button type="button" data-modal-close="#modal">닫기</button>
    </div>
  </div>
</div>
