<div id="modalReactivatedAccount" class="modal modal--reactivated-account" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <h1 class="modal__header__title">휴면 해제 안내</h1>
    </div>
    <div class="modal__body">
      <div class="messege">
        <p class="messege__hilite">2021년 03월 30일 12시 00분</p>
        <p class="messege__text">헤지스닷컴의 회원님 계정이 휴면 해제되었습니다.</p>
        <p class="messege__text">
          다시 찾아주셔서 진심으로 감사드리며<br>
          즐거운 쇼핑과 다양한 혜택을 즐겨보세요.
        </p>
      </div>
    </div>
    <div class="modal__footer">
      <button type="button" class="form-button form-button--main" data-modal-close>확인</button>
    </div>
  </div>
</div>