{% extends 'default.njk' %}

{% block content %}
<main class="shell-main">
  <div class="main-content">
    <style>
      .main-content { padding-top: 100px;}
      .main-content > .form-button {display:block;width:80%;margin:20px auto;}
    </style>
    <style>
      .main-content > .form-button {display:block;width:80%;margin:20px auto;}
    </style>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalDeleteOrderHistory">
      주문내역 삭제
    </button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalConfirmShipped">
      상품을 수령하셨어요?
    </button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalConfirmPickedup">
      픽업상품을 매장에서 수령하셨어요? 
    </button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalStoreLocation">
      헤지스 스토어 안내
    </button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalReturnCostGuide">
      예상 반품비
    </button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalExchangeCostGuide">
      예상 교환비
    </button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalDeleteClaimHistory">
      취소/교환/반품 내역 삭제
    </button>
    <button type="button" class="form-button form-button--main" data-modal-open="#modalRegisterCoupon">
      나의 쿠폰 등록
    </button>
  </div>
</main>
{% endblock %}

{% block modal %}
{# 주문내역 삭제 #modalDeleteOrderHistory #}
{% include "modal/mypage/confirm-delete-order-history.njk" %}

{# 상품 수령 #modalConfirmShipped #}
{% include "modal/mypage/confirm-shipped.njk" %}

{# 상품 픽업 #modalConfirmPickedup #}
{% include "modal/mypage/confirm-pickedup.njk" %}

{# 헤지스 스토어 안내 #modalStoreLocation #}
{% include "modal/mypage/store-location.njk" %}

{# 예상 반품비 #modalReturnCostGuide #}
{% include "modal/mypage/return-cost-guide.njk" %}

{# 예상 교환비 #modalExchangeCostGuide #}
{% include "modal/mypage/exchange-cost-guide.njk" %}

{# 취소/교환/반품 내역 삭제 #modalDeleteClaimHistory #}
{% include "modal/mypage/confirm-delete-claim-history.njk" %}

{# 나의 쿠폰 등록 #modalRegisterCoupon #}
{% include "modal/mypage/register-coupon.njk" %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/mypage.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/mypage.js"></script>
<script>
{# ui.modal.open($('#modalRegisterCoupon')); #}
</script>
{% endblock js %}