{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--mypage">
  <div class="main-header" style="background-image:url(/cmsstatic/asset/images/myapge-visual.jpg);">
    {% include "partials/mypage/main-header.njk" %}
  </div>
  <div class="main-content">
    <div class="main-container main-content__body">
      <div class="main-content__main main-content__main--member">
        <div class="main-content__header">
          <h3 class="main-content__title">배지 혜택</h3>
          <button type="button" class="button main-content__btn-back">
            <i class="sprite-icon sprite-common sprite-common-back">뒤로가기</i>
          </button>
        </div>
        <div class="mypage-benefit-container">
          <p class="mypage-benefit__title"><span class="text-block">모으는 재미가 가득한 </span><span class="text-block">헤지스닷컴 회원만의 특별한 혜택!</span></p>
          <div class="tabs tab--badge">
            <div class="tablist" role="tablist">
              <button type="button" class="tab" role="tab" aria-selected="false">회원 배지</button>
              <button type="button" class="tab" role="tab" aria-selected="false">구매 배지</button>
              <button type="button" class="tab" role="tab" aria-selected="true">리뷰 배지</button>
            </div>
            <div class="tabpanel">
              <div class="review-badge-container">
                <div class="review-type-container">
                  <!-- 텍스트 상품평 작성 -->
                  <div class="review-type">
                    <div class="review-type__title">텍스트 상품평 작성</div>
                    <div class="review-type__content">
                      <ul class="badge-list">
                        <li class="badge-list__item">
                          <dl class="badge">
                            <dt class="badge__name">Nano Influencer<br>BADGE</dt>
                            <dd class="badge__preview">
                              <!-- 배지 Sample (추후 변경) -->
                              <div class="hazzys-badge hazzys-badge--mission">
                                <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                              </div>
                              <!-- // 배지 Sample -->
                            </dd>
                          </dl>
                          <div class="badge-benefit">
                            <p class="badge-benefit__title">상품별 최초 <strong>1</strong>건 상품평 작성</p>
                            <ul class="badge-benefit__list">
                              <li class="badge-benefit__item">무료 반품권 1매</li>
                              <li class="badge-benefit__item">10,000원 금액 쿠폰 1매<span class="condition">(10만원 이상 구매 시 사용)</span></li>
                            </ul>
                          </div>
                        </li>
                        <li class="badge-list__item">
                          <dl class="badge">
                            <dt class="badge__name">Micro Influencer<br>BADGE</dt>
                            <dd class="badge__preview">
                              <!-- 배지 Sample (추후 변경) -->
                              <div class="hazzys-badge hazzys-badge--mission">
                                <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                              </div>
                              <!-- // 배지 Sample -->
                            </dd>
                          </dl>
                          <div class="badge-benefit">
                            <p class="badge-benefit__title">상품별 최초 <strong>5</strong>건 상품평 작성</p>
                            <ul class="badge-benefit__list">
                              <li class="badge-benefit__item">무료 반품권 1매</li>
                              <li class="badge-benefit__item">15,000원  금액 쿠폰 1매<span class="condition">(10만원 이상 구매 시 사용)</span></li>
                            </ul>
                          </div>
                        </li>
                        <li class="badge-list__item">
                          <dl class="badge">
                            <dt class="badge__name">Influencer BADGE</dt>
                            <dd class="badge__preview">
                              <!-- 배지 Sample (추후 변경) -->
                              <div class="hazzys-badge hazzys-badge--mission">
                                <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                              </div>
                              <!-- // 배지 Sample -->
                            </dd>
                          </dl>
                          <div class="badge-benefit">
                            <p class="badge-benefit__title">상품별 최초 <strong>10</strong>건 상품평 작성</p>
                            <ul class="badge-benefit__list">
                              <li class="badge-benefit__item">무료 반품권 1매</li>
                              <li class="badge-benefit__item">15,000원  금액 쿠폰 2매<span class="condition">(10만원 이상 구매 시 사용)</span></li>
                            </ul>
                          </div>
                        </li>
                        <li class="badge-list__item">
                          <dl class="badge">
                            <dt class="badge__name">Star Influencer<br>BADGE</dt>
                            <dd class="badge__preview">
                              <!-- 배지 Sample (추후 변경) -->
                              <div class="hazzys-badge hazzys-badge--mission">
                                <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                              </div>
                              <!-- // 배지 Sample -->
                            </dd>
                          </dl>
                          <div class="badge-benefit">
                            <p class="badge-benefit__title">한 달 기준 <strong>4</strong>번째 구매 시</p>
                            <ul class="badge-benefit__list">
                              <li class="badge-benefit__item">무료 반품권 1매</li>
                              <li class="badge-benefit__item">20,000원  금액 쿠폰 2매<span class="condition">(10만원 이상 구매 시 사용)</span></li>
                              <li class="badge-benefit__item">꽃 배송</li>
                            </ul>
                          </div>
                        </li>

                      </ul>
                    </div>
                  </div>
                  <!-- //텍스트 상품평 작성 -->
                  <!-- 포토 상품평 작성 -->
                  <div class="review-type">
                    <div class="review-type__title">포토 상품평 작성</div>
                    <div class="review-type__content">
                      <ul class="badge-list">
                        <li class="badge-list__item">
                          <dl class="badge">
                            <dt class="badge__name">Bronze Smart<br>Consumer BADGE</dt>
                            <dd class="badge__preview">
                              <!-- 배지 Sample (추후 변경) -->
                              <div class="hazzys-badge hazzys-badge--mission">
                                <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                              </div>
                              <!-- // 배지 Sample -->
                            </dd>
                          </dl>
                          <div class="badge-benefit">
                            <p class="badge-benefit__title">포토 상품평 <strong>1</strong>건 작성</p>
                            <ul class="badge-benefit__list">
                              <li class="badge-benefit__item">무료 반품권 1매</li>
                              <li class="badge-benefit__item">10,000원 금액 쿠폰 1매<span class="condition">(10만원 이상 구매 시 사용)</span></li>
                            </ul>
                          </div>
                        </li>
                        <li class="badge-list__item">
                          <dl class="badge">
                            <dt class="badge__name">Silver Smart<br>Consumer BADGE</dt>
                            <dd class="badge__preview">
                              <!-- 배지 Sample (추후 변경) -->
                              <div class="hazzys-badge hazzys-badge--mission">
                                <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                              </div>
                              <!-- // 배지 Sample -->
                            </dd>
                          </dl>
                          <div class="badge-benefit">
                            <p class="badge-benefit__title">포토 상품평 <strong>10</strong>건 작성</p>
                            <ul class="badge-benefit__list">
                              <li class="badge-benefit__item">무료 반품권 1매</li>
                              <li class="badge-benefit__item">15,000원  금액 쿠폰 1매<span class="condition">(10만원 이상 구매 시 사용)</span></li>
                            </ul>
                          </div>
                        </li>
                        <li class="badge-list__item">
                          <dl class="badge">
                            <dt class="badge__name">Gold Smart<br>Consumer BADGE</dt>
                            <dd class="badge__preview">
                              <!-- 배지 Sample (추후 변경) -->
                              <div class="hazzys-badge hazzys-badge--mission">
                                <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                              </div>
                              <!-- // 배지 Sample -->
                            </dd>
                          </dl>
                          <div class="badge-benefit">
                            <p class="badge-benefit__title">포토 상품평 <strong>20</strong>건 작성</p>
                            <ul class="badge-benefit__list">
                              <li class="badge-benefit__item">무료 반품권 1매</li>
                              <li class="badge-benefit__item">15,000원  금액 쿠폰 2매<span class="condition">(10만원 이상 구매 시 사용)</span></li>
                            </ul>
                          </div>
                        </li>
                        <li class="badge-list__item">
                          <dl class="badge">
                            <dt class="badge__name">Diamond Smart<br>Consumer BADGE</dt>
                            <dd class="badge__preview">
                              <!-- 배지 Sample (추후 변경) -->
                              <div class="hazzys-badge hazzys-badge--mission">
                                <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                              </div>
                              <!-- // 배지 Sample -->
                            </dd>
                          </dl>
                          <div class="badge-benefit">
                            <p class="badge-benefit__title">포토 상품평 <strong>40</strong>건 작성</p>
                            <ul class="badge-benefit__list">
                              <li class="badge-benefit__item">무료 반품권 1매</li>
                              <li class="badge-benefit__item">20,000원  금액 쿠폰 2매<span class="condition">(10만원 이상 구매 시 사용)</span></li>
                              <li class="badge-benefit__item">꽃 배송</li>
                            </ul>
                          </div>
                        </li>

                      </ul>
                    </div>
                  </div>
                  <!-- // 포토 상품평 작성 -->
                </div>
                <!-- 특별 배지 -->
                <div class="review-type">
                  <div class="review-type__title">특별 배지</div>
                  <div class="review-type__content">
                    <ul class="badge-list badge-list--special">
                      <li class="badge-list__item">
                        <dl class="badge">
                          <dt class="badge__name">Hazzys BADGE</dt>
                          <dd class="badge__preview">
                            <!-- 배지 Sample (추후 변경) -->
                            <div class="hazzys-badge hazzys-badge--special hazzys-badge--mission">
                              <div class="badge-name"><img src="/cmsstatic/asset/images/badge/sample.png" alt="임시이미지"></div>
                            </div>
                            <!-- // 배지 Sample -->
                          </dd>
                        </dl>
                        <div class="badge-benefit">
                          <p class="badge-benefit__title">리뷰 배지 <strong>5</strong>개이상 보유 시</p>
                          <ul class="badge-benefit__list">
                            <li class="badge-benefit__item">연초에 헤지스닷컴이 정성껏 준비한 사은품을 드립니다.</li>
                          </ul>
                        </div>
                      </li>

                    </ul>
                  </div>
                </div>
                <!-- // 특별 배지 -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="main-content__aside">
        <!-- 메뉴 -->
        <ul class="sidebar-menu">
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나의 쇼핑 내역</p>
            <ul class="menu__list">
              <li class="menu__item">
                <li class="menu__item">
                <a href="#"><i class="sprite-mypage-listsearch-small"></i>주문/배송 조회</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-claim-small"></i>취소/교환/반품</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나만의 혜택</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-coupon-small"></i>쿠폰</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-mileage-small"></i>마일리지</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-badgebook-small"></i>나의 배지</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나의 쇼핑 태그</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-wish-small"></i>위시 리스트</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-recent-small"></i>최근 본 상품</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-review-small"></i>내 상품평</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-push-small"></i>재입고 알림 내역</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-qna-small"></i>내 문의 내역</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나의 정보</p>
            <ul class="menu__list">
              <li class="menu__item active">
                <a href="#"><i class="sprite-mypage-benefit-small"></i>회원 혜택</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-myinfo-small"></i>내 정보 변경 / 회원 탈퇴</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-address-small"></i>배송지 관리</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- // 메뉴 -->
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block modal %}
  {% include "modal/member/find-password.njk" %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/mypage.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/mypage.js"></script>
{% endblock js %}