{% set isWhiteHeader = true %}
{% extends 'default.njk' %}
{% block content %}
<main class="shell-main shell-main--mypage shell-main--mypage-membership">
  <div class="main-header" style="background-image:url(/cmsstatic/asset/images/myapge-visual.jpg);">
    {% include "partials/mypage/main-header.njk" %}
  </div>
  <div class="main-content">
    <div class="main-container main-content__body">
      <div class="main-content__main main-content__main--membership">
        <div class="main-content__header main-content__header--sub">
          <h3 class="main-content__title">회원혜택</h3>
        </div>

        <!-- 회원등급 : Purple -->
        <div class="membership membership--member-purple">
          <div class="membership__card">
            <p class="membership__grade">PURPLE</p>
            <p class="membership__number">9101328512000000</p>
            <p class="membership__user">
              <span class="name">해지수님은 PURPLE 회원입니다.</span>
              <span class="date">2019.04.07</span>
            </p>
            <span class="membership__badge hazzys-badge hazzys-badge--member-purple">
              <span class="badge-name"><img src="/cmsstatic/asset/images/badge/txt-purple.png" alt="PURPLE"></span>
            </span>
            <span class="membership__logo"><i class="sprite-icon sprite-mypage sprite-mypage-lfmembers">LF Members</i></span>
          </div>
          <div class="membership__benefit">
            <ul class="benefit-list">
              <li class="benefit-list__item">
                <i class="sprite-icon sprite-mypage sprite-mypage-coin-white"></i>
                온라인 구매 시<br>최대 2% 적립
              </li>
              <li class="benefit-list__item">
                <i class="sprite-icon sprite-mypage sprite-mypage-coupon-white"></i>
                온라인 구매 시 <br>월 12% 상품쿠폰 2매
              </li>
              <li class="benefit-list__item">
                <i class="sprite-icon sprite-mypage sprite-mypage-super-coupon-white"></i>
                온라인 구매 시 <br>월  7% 플러스쿠폰  1매
              </li>
              <li class="benefit-list__item">
                <i class="sprite-icon sprite-mypage sprite-mypage-claim-white"></i>
                무료 반품<br>월 2회
              </li>
              <li class="benefit-list__item">
                <i class="sprite-icon sprite-mypage sprite-mypage-birth-white"></i>
                생일 혜택 <br>15% 상품쿠폰
              </li>
              <li class="benefit-list__item">
                <i class="sprite-icon sprite-mypage sprite-mypage-badge-white"></i>
                최초 승급 시<br>배지 혜택
              </li>
            </ul>
          </div>
        </div>
        <!-- //회원등급 : Purple -->

        <!-- 등급별 혜택 안내 -->
        <div class="membership-benefit">
          <p class="membership-benefit__title">등급별 혜택 안내</p>
          <div class="membership-benefit__description">
            고객님께 받은 사랑을 혜택으로 돌려드려요.<br>
            실적에 따라 달라지는 다양한 혜택을 확인해보세요.
          </div>
          <div class="membership-benefit__swiper">
            <!-- 배지 -->
            <div class="swiper-badge">
              <div class="swiper-container" id="badgeSwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <span class="membership__badge hazzys-badge hazzys-badge--member-white">
                      <span class="badge-name"><img src="/cmsstatic/asset/images/badge/txt-white.png" alt="White"></span>
                    </span>
                  </div>
                  <div class="swiper-slide">
                    <span class="membership__badge hazzys-badge hazzys-badge--member-blue">
                      <span class="badge-name"><img src="/cmsstatic/asset/images/badge/txt-blue.png" alt="Blue"></span>
                    </span>
                  </div>
                  <div class="swiper-slide">
                    <span class="membership__badge hazzys-badge hazzys-badge--member-red">
                      <span class="badge-name"><img src="/cmsstatic/asset/images/badge/txt-red.png" alt="RED"></span>
                    </span>
                  </div>
                  <div class="swiper-slide">
                    <span class="membership__badge hazzys-badge hazzys-badge--member-purple">
                      <span class="badge-name"><img src="/cmsstatic/asset/images/badge/txt-purple.png" alt="PURPLE"></span>
                    </span>
                  </div>
                  <div class="swiper-slide">
                    <span class="membership__badge hazzys-badge hazzys-badge--member-black-s">
                      <span class="badge-name"><img src="/cmsstatic/asset/images/badge/txt-black-s.png" alt="BLACK S"></span>
                    </span>
                  </div>
                  <div class="swiper-slide">
                    <span class="membership__badge hazzys-badge hazzys-badge--member-black-r">
                      <span class="badge-name"><img src="/cmsstatic/asset/images/badge/txt-black-r.png" alt="BLACK R"></span>
                    </span>
                  </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
            <!-- //배지 -->
            <!-- 설명 -->
            <div class="swiper-grade" id="badgeSwiperContent">
              <!-- White -->
              <dl class="grade grade--member-white">
                <dt class="grade__name">WHITE</dt>
                <dd class="grade__condition">신규 회원</dd>
                <dd class="grade__benefit">
                  <ul class="benefit">
                    <li class="benefit__item">온라인 구매 시 최대 1% 적립</li>
                    <li class="benefit__item">온라인 구매 시 월 10% 상품쿠폰 1매</li>
                    <li class="benefit__item">온라인 구매 시 월  5% 플러스쿠폰 1매</li>
                    <li class="benefit__item">무료반품 월 1회</li>
                    <li class="benefit__item">생일 혜택  15% 상품쿠폰</li>
                  </ul>
                </dd>
              </dl>
              <!-- // White -->
        
              <!-- Blue -->
              <dl class="grade grade--member-blue">
                <dt class="grade__name">BLUE</dt>
                <dd class="grade__condition">6개월간 구매건수 1회 이상 회원</dd>
                <dd class="grade__benefit">
                  <ul class="benefit">
                    <li class="benefit__item">온라인 구매 시 최대 1% 적립</li>
                    <li class="benefit__item">온라인 구매 시 월 12% 상품쿠폰 1매</li>
                    <li class="benefit__item">온라인 구매 시 월  5% 플러스쿠폰 1매</li>
                    <li class="benefit__item">무료반품 월 1회</li>
                    <li class="benefit__item">생일 혜택  15% 상품쿠폰</li>
                  </ul>
                </dd>
              </dl>
              <!-- //Blue -->

              <!-- Red -->
              <dl class="grade grade--member-red">
                <dt class="grade__name">RED</dt>
                <dd class="grade__condition">6개월간 구매금액 10만 원 이상 회원</dd>
                <dd class="grade__benefit">
                  <ul class="benefit">
                    <li class="benefit__item">온라인 구매 시 최대 2% 적립</li>
                    <li class="benefit__item">온라인 구매 시 월 12% 상품쿠폰 1매</li>
                    <li class="benefit__item">온라인 구매 시 월  7% 플러스쿠폰 1매</li>
                    <li class="benefit__item">무료반품 월 1회</li>
                    <li class="benefit__item">생일 혜택  15% 상품쿠폰</li>
                  </ul>
                </dd>
              </dl>
              <!-- //Red -->

              <!-- Purple -->
              <dl class="grade grade--member-purple">
                <dt class="grade__name">PURPLE</dt>
                <dd class="grade__condition">6개월간 구매금액 30만 원 이상 회원</dd>
                <dd class="grade__benefit">
                  <ul class="benefit">
                    <li class="benefit__item">온라인 구매 시 최대 2% 적립</li>
                    <li class="benefit__item">온라인 구매 시 월 12% 상품쿠폰 2매</li>
                    <li class="benefit__item">온라인 구매 시 월  7% 플러스쿠폰 1매</li>
                    <li class="benefit__item">무료반품 월 2회</li>
                    <li class="benefit__item">생일 혜택  15% 상품쿠폰</li>
                  </ul>
                </dd>
              </dl>
              <!-- //Purple -->

              <!-- BLACK S -->
              <dl class="grade grade--member-black-s">
                <dt class="grade__name">BLACK S</dt>
                <dd class="grade__condition">6개월간 구매금액 50만 원 이상 회원</dd>
                <dd class="grade__benefit">
                  <ul class="benefit">
                    <li class="benefit__item">온라인 구매 시 최대 3% 적립</li>
                    <li class="benefit__item">온라인 구매 시 월 15% 상품쿠폰 2매</li>
                    <li class="benefit__item">온라인 구매 시 월  7% 플러스쿠폰 1매</li>
                    <li class="benefit__item">무료반품 월 2회</li>
                    <li class="benefit__item">생일 혜택  15% 상품쿠폰</li>
                  </ul>
                </dd>
              </dl>
              <!-- //BLACK S -->

              <!-- BLACK R -->
              <dl class="grade grade--member-black-r">
                <dt class="grade__name">BLACK R</dt>
                <dd class="grade__condition">6개월간 구매금액 100만 원 이상 회원</dd>
                <dd class="grade__benefit">
                  <ul class="benefit">
                    <li class="benefit__item">온라인 구매 시 최대 3% 적립</li>
                    <li class="benefit__item">온라인 구매 시 월 15% 상품쿠폰 2매</li>
                    <li class="benefit__item">온라인 구매 시 월  7% 플러스쿠폰 2매</li>
                    <li class="benefit__item">무료반품 월 2회</li>
                    <li class="benefit__item">생일 혜택  15% 상품쿠폰</li>
                  </ul>
                </dd>
              </dl>
              <!-- //BLACK R -->

            </div>
            <!-- //설명 -->
          </div>
        </div>
        <!-- //등급별 혜택 안내 -->

        <!-- 유의사항 -->
        <div class="membership-notice">
          <div class="membership-notice__title">유의사항</div>
          <div class="membership-notice__content">

            <ul class="accordion accordion--notice" data-accordion="data-accordion">
              <li class="accordion__item" data-accordion-item="data-accordion-item">
                <div class="accordion__title">
                  <button type="button" class="button" data-tab-toggle="data-tab-toggle">
                    <i class="sprite-mypage-infomation-small"></i>
                    등급산정 안내
                  </button>
                </div>
                <div class="accordion__content" data-tab-content="data-tab-content">
                  <ul class="guide">
                    <li class="guide__item">헤지스닷컴 등급 산정일 기준으로 등급 및 혜택이 자동 부여됩니다.</li>
                    <li class="guide__item">매월 1회 등급 산정하며, 직전 6개월 구매실적에 따라 매월 1일 등급이 변동됩니다.</li>
                    <li class="guide__item">헤지스닷컴 등급은 할인쿠폰 사용금액을 제외한 실결제 금액 기준으로 산정되며, 산정 기간 내 주문한 상품을 취소/반품 시 등급이 하락될 수 있습니다.</li>
                    <li class="guide__item">등급 혜택은 본인인증 후 가입한 헤지스닷컴 회원에게 제공됩니다.</li>
                    <li class="guide__item">신규가입 시 WHITE 등급의 혜택이 제공되며, 가입 이후 구매한 실적은 익월 등급 산정 시 반영됩니다.</li>
                    <li class="guide__item">등급혜택은 당사의 사정에 의해 축소 및 조기종료 또는 변경될 수 있습니다.</li>
                    <li class="guide__item">부당한 방법으로 획득한 고객등급은 심사 후 재조정될 수 있습니다.</li>
                    <li class="guide__item">LF Members 오프라인 혜택 내용은 LF Members 사이트에서 확인하실 수 있습니다. <a href="#" class="link">LF Members 바로가기</a></li>
                  </ul>
                </div>
              </li>
              <li class="accordion__item" data-accordion-item="data-accordion-item">
                <div class="accordion__title">
                  <button type="button" class="button" data-tab-toggle="data-tab-toggle">
                    <i class="sprite-mypage-coin-small"></i>
                    구매적립
                  </button>
                </div>
                <div class="accordion__content" data-tab-content="data-tab-content">
                  <ul class="guide">
                    <li class="guide__item">헤지스닷컴에서 상품(정상/이월) 구매 시, 등급별 적립율에 따라 구매일로부터 14일 후 마일리지가 적립됩니다.</li>
                    <li class="guide__item">일부 상품은 적립 대상에서 제외될 수 있습니다.</li>
                    <li class="guide__item">구매적립은 본인인증 후 헤지스닷컴에서 가입한 헤지스닷컴 회원에게 제공됩니다.</li>
                    <li class="guide__item">LF Members 오프라인 매장에서 구매 시 브랜드/상품별 적립율에 따라 적립되며, 자세한 내용은 LF Members 사이트에서 확인하실 수 있습니다. <a href="#" class="link">LF Members 사이트 바로가기</a></li>
                  </ul>
                </div>
              </li>
              <li class="accordion__item" data-accordion-item="data-accordion-item">
                <div class="accordion__title">
                  <button type="button" class="button" data-tab-toggle="data-tab-toggle">
                    <i class="sprite-mypage-benefit-small"></i>
                    할인혜택
                  </button>
                </div>
                <div class="accordion__content" data-tab-content="data-tab-content">
                  <ul class="guide">
                    <li class="guide__item">헤지스닷컴에서 상품 구매 시 상품쿠폰 및 플러스 쿠폰을 사용하실 수 있습니다.</li>
                    <li class="guide__item">등급별 쿠폰은 보유하신 쿠폰수량에 따라 각 상품별로 적용하실 수 있습니다.</li>
                    <li class="guide__item">등급별 쿠폰은 발급한 당월기간 내에서만 사용 가능합니다.(유효기간은 해당월의 말까지 적용)	</li>
                  </ul>
                </div>
              </li>
              <li class="accordion__item" data-accordion-item="data-accordion-item">
                <div class="accordion__title">
                  <button type="button" class="button" data-tab-toggle="data-tab-toggle">
                    <i class="sprite-mypage-delivery-small"></i>
                    무료배송/교환/반품
                  </button>
                </div>
                <div class="accordion__content" data-tab-content="data-tab-content">
                  <ul class="guide">
                    <li class="guide__item">헤지스닷컴에서 구매한 자사상품의 배송/교환/반품 서비스를 무료로 이용할 수 있는 쿠폰입니다.</li>
                    <li class="guide__item">무료교환/반품 쿠폰의 유효기간은 발급한 해당 월의 말까지 적용되며,  주문/교환/반품 신청 화면에서 쿠폰으로 적용하실 수 있습니다.</li>
                  </ul>
                </div>
              </li>
              <li class="accordion__item" data-accordion-item="data-accordion-item">
                <div class="accordion__title">
                  <button type="button" class="button" data-tab-toggle="data-tab-toggle">
                    <i class="sprite-mypage-repair-small"></i>
                    수선서비스
                  </button>
                </div>
                <div class="accordion__content" data-tab-content="data-tab-content">
                  <ul class="guide">
                    <li class="guide__item">LF에서 구매하신 자사상품의 수선이 필요한 경우, 전국 오프라인 매장 및 고객센터 통해 수선 서비스를 이용하실 수 있습니다.</li>
                    <li class="guide__item">단, 아래의 경우는 A/S수선이 불가능합니다.
                      <ol class="guide__inner">
                        <li class="guide__item">1) 제조연한이 오래되어 원부자재 수급이 불가능한 경우</li>
                        <li class="guide__item">2) 기장 수선 및 기술적으로 수선이 불가능한 경우 (ex. 리폼(사이즈수선), 염색, 판갈이, 분실 부자재 제작 등)</li>
                      </ol>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="accordion__item" data-accordion-item="data-accordion-item">
                <div class="accordion__title">
                  <button type="button" class="button" data-tab-toggle="data-tab-toggle">
                    <i class="sprite-mypage-badge-small"></i>
                    배지혜택
                  </button>
                </div>
                <div class="accordion__content" data-tab-content="data-tab-content">
                  <ul class="guide">
                    <li class="guide__item">배지혜택은 배지별 발행기준에 따라 지급됩니다.</li>
                    <li class="guide__item">배지혜택은 배지유형별로 별도로 혜택이 지급됩니다.
                      <ul class="guide__inner">
                        <li class="guide__item">
                        <li class="guide__item">- 등급 승급 시 발행되는 회원 배지의 경우 신규가입을 제외하고 매월 1일 승급배지 혜택을 지급합니다.</li>
                        <li class="guide__item">- 구매 건수에 따라 발행되는 구매 배지의 경우 첫 구매 미 한달 내 누적구매가 최대 4건까지 배송완료일기준 +7일 이후 지급합니다.</li>
                        <li class="guide__item">- 최초상품평 or 포토 상품평 작성 건수에 따라 발행되는 리뷰 배지의 경우, 최초 상품평 건수 및 포토 상품평 건수에 따라 배송완료일 +7일 이후, 포토상품평의 경우 승인완료일에 내 지급합니다.</li>
                        <li class="guide__item">- 이벤트참여에 따라 발행되는 이벤트 배지의 경우, 이벤트별로 혜택 상이하나 참여 완료 시 즉시 지급합니다.</li>
                        <li class="guide__item">- 구매/리뷰 배지의 경우 배지 5개 이상 보유 시 1년마다 추가 사은품을 매년 1일에 지급합니다.</li>
                      </ul>
                    </li>
                    <li class="guide__item">유효기간은 회원배지의 경우 1년, 구매/리뷰배지는 지급완료일 기준 90일, 이벤트배지의 별도 유효기간에 따라 사용하실 수 있습니다.</li>
                    <li class="guide__item">자세한 배지 혜택은 마이페이지 >나의정보> 배지혜택에서 확인하실 수 있습니다. <a href="#" class="link">배지혜택 바로가기</a></li>
                  </ul>
                </div>
              </li>
              <li class="accordion__item" data-accordion-item="data-accordion-item">
                <div class="accordion__title">
                  <button type="button" class="button" data-tab-toggle="data-tab-toggle">
                    <i class="sprite-mypage-birth-small"></i>
                    생일혜택
                  </button>
                </div>
                <div class="accordion__content" data-tab-content="data-tab-content">
                  <ul class="guide">
                    <li class="guide__item">생일기념 혜택은 등급 구분없이 동일한 혜택을 지급합니다.</li>
                    <li class="guide__item">생일 7일 전에 15% 할인쿠폰이 지급되며, 발급일로부터 14일간 사용 가능합니다. (14일 이후 자동 소멸)</li>
                    <li class="guide__item">회원정보에 생일이 등록되지 않은 회원은 생일 혜택을 받을 수 없으며, 휴면회원의 경우 혜택이 지급되지 않을 수 있습니다.</li>
                  </ul>
                </div>
              </li>
            </ul>


          </div>
        </div>
        <!-- //유의사항 -->


      </div>

      <div class="main-content__aside">
        <!-- 메뉴 -->
        <ul class="sidebar-menu">
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나의 쇼핑 내역</p>
            <ul class="menu__list">
              <li class="menu__item">
                <li class="menu__item">
                <a href="#"><i class="sprite-mypage-listsearch-small"></i>주문/배송 조회</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-claim-small"></i>취소/교환/반품</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나만의 혜택</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-coupon-small"></i>쿠폰</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-mileage-small"></i>마일리지</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-badgebook-small"></i>나의 배지</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나의 쇼핑 태그</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-wish-small"></i>위시 리스트</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-recent-small"></i>최근 본 상품</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-review-small"></i>내 상품평</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-push-small"></i>재입고 알림 내역</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-qna-small"></i>내 문의 내역</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나의 정보</p>
            <ul class="menu__list">
              <li class="menu__item active">
                <a href="#"><i class="sprite-mypage-benefit-small"></i>회원 혜택</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-myinfo-small"></i>내 정보 변경 / 회원 탈퇴</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-address-small"></i>배송지 관리</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- // 메뉴 -->
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block modal %}
  {% include "modal/member/find-password.njk" %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/mypage.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/mypage.js"></script>
<script>
function badgeContent(idx){
  if(!idx) {
    idx = 0;
  }
  var badgeContent = $('#badgeSwiperContent');
  badgeContent
    .find(' > .grade')
    .removeClass('active')
    .eq(idx)
    .addClass('active');
}
$(function(){

  var swiper = new Swiper('#badgeSwiper', {
    loop: false,
    init: false,
    // initialSlide:  White: 0, Blue: 1, Red: 2 .... 회원등급에 따라 설정
    initialSlide: 3,
    spaceBetween: 40,
    slidesPerView: 'auto',
    centeredSlides: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    }
  });
  swiper.on('slideChange', function(){
    badgeContent(swiper.activeIndex);
  });
  swiper.on('init', function(){
    badgeContent(swiper.activeIndex);
    $(swiper.el).addClass('swiper-container--active');
  });
  swiper.init();
})
</script>
{% endblock js %}