{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--mypage">
  <div class="main-header" style="background-image:url(/cmsstatic/asset/images/myapge-visual.jpg);">
    {% include "partials/mypage/main-header.njk" %}
  </div>
  <div class="main-content">
    <div class="main-container main-content__body">
      <div class="main-content__main main-content__main--member">
        <div class="main-content__header">
          <h3 class="main-content__title">회원 탈퇴</h3>
          <button type="button" class="button main-content__btn-back">
            <i class="sprite-icon sprite-common sprite-common-back">뒤로가기</i>
          </button>
        </div>
        <div class="mypage-member-container">

          <!-- 메세지 -->
          <div class="withdraw-message">
            <div class="withdraw-message__icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80">
                <g fill="none" fill-rule="evenodd">
                  <g class="tears-svg" cx="100" cy="100">
                    <path stroke="#000" stroke-width="2" d="m 60.798656,49.645357 c 0,3.453535 -2.161767,6.253183 -4.827677,6.253183 -2.666718,0 -4.827678,-2.799648 -4.827678,-6.254051 0,-4.809072 4.827678,-9.843053 4.827678,-9.843053 0,0 4.828484,5.033981 4.828484,9.843921 z "/>
                  </g>
                  <path stroke="#000" stroke-width="2" d="M34.646 54.153c-2.267.604-4.649.926-7.106.926C12.33 55.079 0 42.749 0 27.539 0 12.329 12.33 0 27.54 0c15.209 0 27.539 12.329 27.539 27.539 0 3.684-.724 7.2-2.037 10.413" transform="translate(-140 -170) translate(10 170) translate(130) translate(12 12) "/>
                  <path fill="#000" d="M21.574 18.373c0 1.583-1.283 2.865-2.866 2.865-1.582 0-2.865-1.282-2.865-2.865 0-1.582 1.283-2.865 2.865-2.865 1.583 0 2.866 1.283 2.866 2.865M39.236 18.373c0 1.583-1.283 2.865-2.865 2.865-1.583 0-2.866-1.282-2.866-2.865 0-1.582 1.283-2.865 2.866-2.865 1.582 0 2.865 1.283 2.865 2.865" transform="translate(-140 -170) translate(10 170) translate(130) translate(12 12) "/>
                  <path stroke="#000" stroke-width="2" d="M36.371 32.993s-3.029-4.428-8.826-4.428c-5.797 0-8.826 4.428-8.826 4.428M19.002 10.073s-2.549 3.104-6.318 3.436M36.077 10.073s2.55 3.104 6.318 3.436" transform="translate(-140 -170) translate(10 170) translate(130) translate(12 12) "/>
                </g>
              </svg>
            </div>
            <p class="withdraw-message__title">김헤지 님 헤지스닷컴 계정을 삭제하시겠어요?</p>
            <p class="withdraw-message__comment">헤지스닷컴을 이용하시면서 불편했던 사항을 남겨주시면<br>서비스 개선을 위한 소중한 자료로 활용하겠습니다.</p>
          </div>
          <!-- //메세지 -->

          <div class="withdraw-info">
            <p class="withdraw-info__title">소멸 예정 혜택</p>
            <div class="withdraw-info__content">
              <ul class="assets">
                <li class="assets__item">
                  <span class="asset__name">보유 쿠폰</span>
                  <span class="asset__value">3 장</span>
                </li>
                <li class="assets__item">
                  <span class="asset__name">마일리지</span>
                  <span class="asset__value">500 M</span>
                </li>
                <li class="assets__item">
                  <span class="asset__name">나의 배지</span>
                  <span class="asset__value">5 개</span>
                </li>
              </ul>
            </div>
          </div>

          <!-- 본인확인 삭제 [UPDATE: 0616] -->
          <div class="withdraw-info">
            <p class="withdraw-info__title">탈퇴 사유를 선택해주세요</p>
            <div class="withdraw-info__content">
              <div class="write-form">
                <span class="form-select">
                  <select class="select">
                    <option value="">탈퇴사유를 선택해주세요</option>
                  </select>
                  <i class="icon"></i>
                </span>
                <div class="form-textarea">
                  <textarea class="form-text" cols="30" rows="10" placeholder="추가 의견을 남겨주시면 헤지스닷컴의 개선을 위한 소중한 자료로 활용하겠습니다."></textarea>
                </div>
              </div>
            </div>
          </div>
          <!-- // 본인확인 삭제  [UPDATE: 0616] -->

          <div class="withdraw-info">
            <p class="withdraw-info__title">탈퇴 전 유의사항을 꼭! 확인해주세요</p>
            <div class="withdraw-info__content">
              <div class="withdraw-caution">
                <ul class="guide">
                  <li class="guide__item">헤지스닷컴 주문내역에 있는 고객님의 정보는 회원탈퇴 이후에도 전자상거래 등에서의 소비자보호에 관한 법률 시행령이 정한 일정기간 동안 보존됩니다.</li>
                  <li class="guide__item">회원탈퇴 후 재가입시에는 신규가입으로 처리되며, 탈퇴시점으로부터 2개월 후에 재 가입 가능합니다.</li>
                  <li class="guide__item">회원 탈퇴 후 SNS로 간편가입 하시는 경우, 탈퇴시점으로부터 2개월 후에 정회원 인증 및 주문이 가능합니다.</li>
                  <li class="guide__item">헤지스닷컴 탈퇴 시 고객님께서 보유하셨던 e기프트 마일리지, 마일리지, 쿠폰은 모두 삭제 됩니다.</li>
                  <li class="guide__item">헤지스닷컴 탈퇴 시 LF Members는 유지되며 오프라인 매장에서 LF 마일리지 적립 및 사용 가능합니다.</li>
                  <li class="guide__item">취소/반품/교환 신청 등 서비스가 진행 중인 고객님은 모든 처리가 완료된 후에 탈퇴가 가능합니다.</li>
                  <li class="guide__item">배송 등 거래가 진행 중인 고객님은 모든 거래가 완료된 후에 탈퇴가 가능합니다.</li>
                  <li class="guide__item">LF Members Family 사이트의 탈퇴를 원하시는 경우, LF Mem bers 또는 각 Family 사이트를 방문하시어 탈퇴를 진행해 주시기 바랍니다.</li>
                </ul>
                <a href="#" class="members-link">LF members 사이트 바로가기</a>
              </div>
            </div>
          </div>

          <div class="withdraw-submit">
            <button type="button" class="form-button form-button--main">탈퇴 신청</button>
          </div>

        </div>
      </div>

      <div class="main-content__aside">
        <!-- 메뉴 -->
        <ul class="sidebar-menu">
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나의 쇼핑 내역</p>
            <ul class="menu__list">
              <li class="menu__item">
                <li class="menu__item">
                <a href="#"><i class="sprite-mypage-listsearch-small"></i>주문/배송 조회</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-claim-small"></i>취소/교환/반품</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나만의 혜택</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-coupon-small"></i>쿠폰</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-mileage-small"></i>마일리지</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-badgebook-small"></i>나의 배지</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나의 쇼핑 태그</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-wish-small"></i>위시 리스트</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-recent-small"></i>최근 본 상품</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-review-small"></i>내 상품평</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-push-small"></i>재입고 알림 내역</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-qna-small"></i>내 문의 내역</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나의 정보</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-benefit-small"></i>회원 혜택</a>
              </li>
              <li class="menu__item active">
                <a href="#"><i class="sprite-mypage-myinfo-small"></i>내 정보 변경 / 회원 탈퇴</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-address-small"></i>배송지 관리</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- // 메뉴 -->
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block modal %}
  {% include "modal/member/find-password.njk" %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/mypage.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/mypage.js"></script>
<script>
$(function () {
  // 아이콘 애니메이션
  anime({
    targets: '.tears-svg path',
    d: 'm 62.05,58.602118 c 0,3.977 -2.68,7.201 -5.985,7.201 -3.306,0 -5.985,-3.224 -5.985,-7.202 0,-5.538 5.985,-11.335 5.985,-11.335 0,0 5.986,5.797 5.986,11.336 z',
    duration: 600,
    endDelay: 150,
    loop: true,
    easing: 'easeInOutBack',
  });
});
</script>
{% endblock js %}