{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--mypage">
  <div class="main-header" style="background-image:url(/cmsstatic/asset/images/myapge-visual.jpg);">
    {% include "partials/mypage/main-header.njk" %}
  </div>
  <div class="main-content">
    <div class="main-container main-content__body">
      <div class="main-content__main main-content__main--member">
        <div class="main-content__header main-content__header--sub">
          <h3 class="main-content__title">내 정보 변경</h3>
          <button type="button" class="button main-content__btn-back">
            <i class="sprite-icon sprite-common sprite-common-back">뒤로가기</i>
          </button>
        </div>
        <div class="mypage-member-container">
          <div class="password-confirm">
            <div class="password-confirm__title">
              고객님의 정보를 보호하기 위해<br>
              비밀번호를 다시 한 번 입력해주세요.
            </div>
            <form action="#">
              <div class="member-form">
                <!-- 아이디 -->
                <div class="member-form__field">
                  <div class="input-block">
                    <input type="text" class="form-text" placeholder="아이디" value="hazzys">
                  </div>
                </div>

                <!-- 비밀번호 -->
                <div class="member-form__field">
                  <div class="input-block" data-form-text>
                    <div class="input-block__password">
                      <input type="password" class="form-text" placeholder="비밀번호"/>
                      <button class="form-toggle-button" data-form-text-toggle>비밀번호 보기</button>
                    </div>
                  </div>
                </div>
                <div class="member-form__field member-form__submit">
                  <button type="button" class="form-button">확인</button>
                  <button type="button" class="form-button active">확인</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>

      <div class="main-content__aside">
        {% include "partials/mypage/main-content-aside.njk" %}
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block modal %}
  {% include "modal/member/find-password.njk" %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/mypage.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/mypage.js"></script>
{% endblock js %}