{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--mypage">
  <div class="main-header" style="background-image:url(/cmsstatic/asset/images/myapge-visual.jpg);">
    {% include "partials/mypage/main-header.njk" %}
  </div>
  <div class="main-content">
    <div class="main-container main-content__body">
      <div class="main-content__main main-content__main--shopping">
        <div class="main-content__header">
          <h3 class="main-content__title">반품 내역</h3>
          <button type="button" class="button main-content__btn-back">
            <i class="sprite-icon sprite-common sprite-common-back">뒤로가기</i>
          </button>
        </div>
        <div class="product-order-container">
          <div class="product-order-detail">
            <!-- 주문 정보 -->
            <div class="order-detail order-detail--product">
              <div class="order-detail__header">
                <p class="order-detail__title">주문 정보</p>
              </div>
              <div class="order-detail__content">

                <div class="info-box info-box--side">
                  <dl class="info-box__row">
                    <dt class="info-box__header">주문번호</dt>
                    <dd class="info-box__data">602435586</dd>
                  </dl>
                  <dl class="info-box__row">
                    <dt class="info-box__header">주문일자</dt>
                    <dd class="info-box__data">2021.03.29</dd>
                  </dl>
                </div>

                <div class="order-product-list">
                  <div class="product product--order">
                    <a href="#" class="product__image">
                      <img src="/cmsstatic/asset/images/temp/product_80x104_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                    </a>
                    <div class="product__content">
                      <a href="#" class="product__info">
                        <p class="product__brand">HAZZZYS ACC</p>
                        <p class="product__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                      </a>
                      <div class="product__option">
                        <p class="product__option__name">
                          <span class="option__item">차콜그레이</span>
                          <span class="option__item">68 XL</span>
                          <span class="option__item">1개</span>
                        </p>
                      </div>
                      <div class="product__price">
                        <span class="product__price-sale">966,000</span>
                      </div>
                      <div class="product__order">
                        <p class="product__order-state">반품 접수</p>
                        <div class="product__order-shipping">
                          <span class="claim">반품 수량 1개</span>
                        </div>
                      </div>
                      <div class="product__util">
                        <button type="button" class="button">반품 취소</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- //주문 정보 -->

            <!-- 수거지 정보 -->
            <div class="order-detail order-detail--shipping">
              <div class="order-detail__header">
                <p class="order-detail__title">수거지 정보</p>
              </div>
              <div class="order-detail__content">
                <div class="info-box">
                  <dl class="info-box__row">
                    <dt class="info-box__header">신청한 분</dt>
                    <dd class="info-box__data">김헤지</dd>
                  </dl>
                  <dl class="info-box__row">
                    <dt class="info-box__header">수거 주소</dt>
                    <dd class="info-box__data">[06017] 서울 강남구 언주로 870 헤지스타워 5층</dd>
                  </dl>
                  <dl class="info-box__row">
                    <dt class="info-box__header">전화번호</dt>
                    <dd class="info-box__data">010-1234-5678</dd>
                  </dl>
                </div>
              </div>
            </div>
            <ul class="order-detail-guide">
              <li class="order-detail-guide__item">2일 이내 방문 예정 (주말, 공휴일 제외)</li>
            </ul>
            <!-- // 수거지 정보 -->

            <!-- 결제 정보 -->
            <div class="order-detail order-detail--payment">
              <div class="order-detail__header">
                <p class="order-detail__title">결제 정보</p>
              </div>
              <div class="order-detail__content">
                <div class="info-box info-box--side">
                  <dl class="info-box__row">
                    <dt class="info-box__header">결제 수단</dt>
                    <dd class="info-box__data">신용카드(신한) / 일시불</dd>
                  </dl>
                  <dl class="info-box__row">
                    <dt class="info-box__header">결제 금액</dt>
                    <dd class="info-box__data">344,500 원</dd>
                  </dl>
                  <dl class="info-box__row">
                    <dt class="info-box__header">반품 상품 금액</dt>
                    <dd class="info-box__data">344,500 원</dd>
                  </dl>
                  <dl class="info-box__row info-box__row--total">
                    <dt class="info-box__header">취소 예정 금액</dt>
                    <dd class="info-box__data"><span class="claim">344,500 원</span></dd>
                  </dl>
                </div>
              </div>
            </div>
            <!-- // 결제 정보 -->

            <div class="product-order__util">
              <button type="button" class="form-button form-button--main form-button--double">목록</button>
            </div>

          </div>
        </div>

      </div>

      <div class="main-content__aside">
        <!-- 메뉴 -->
        <ul class="sidebar-menu">
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나의 쇼핑 내역</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-listsearch-small"></i>주문/배송 조회</a>
              </li>
              <li class="menu__item active">
                <a href="#"><i class="sprite-mypage-claim-small"></i>취소/교환/반품</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나만의 혜택</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-coupon-small"></i>쿠폰</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-mileage-small"></i>마일리지</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-badgebook-small"></i>나의 배지</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나의 쇼핑 태그</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-wish-small"></i>위시 리스트</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-recent-small"></i>최근 본 상품</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-review-small"></i>내 상품평</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-push-small"></i>재입고 알림 내역</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-qna-small"></i>내 문의 내역</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나의 정보</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-benefit-small"></i>회원 혜택</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-myinfo-small"></i>내 정보 변경 / 회원 탈퇴</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-address-small"></i>배송지 관리</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- // 메뉴 -->
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block modal %}
  {% include "modal/member/find-password.njk" %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/mypage.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/mypage.js"></script>
{% endblock js %}