{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--mypage">
  <div class="main-header" style="background-image:url(/cmsstatic/asset/images/myapge-visual.jpg);">
    <div class="main-container">
      <h2 class="main-header__title">마이페이지</h2>
      <button type="button" class="button main-header__btn-back">
        <i class="sprite-icon sprite-common sprite-common-back">뒤로가기</i>
      </button>
      <div class="main-header__my-info">
        <a href="#" class="my-info__membership grade">
          <span class="grade__icon"><img src="/cmsstatic/asset/images/badge/red.png" alt="Red"></span>
          <span class="grade__name"><span>RED</span> 회원</span>
          <!--
          <span class="grade__icon"><img src="/cmsstatic/asset/images/badge/s-platinum.png" alt="S-Platinum"></span>
          <span class="grade__icon"><img src="/cmsstatic/asset/images/badge/platinum.png" alt="platinum"></span>
          <span class="grade__icon"><img src="/cmsstatic/asset/images/badge/gold.png" alt="Gold"></span>
          <span class="grade__icon"><img src="/cmsstatic/asset/images/badge/silver.png" alt="Sliver"></span>
          <span class="grade__icon"><img src="/cmsstatic/asset/images/badge/black.png" alt="Black"></span>
          <span class="grade__icon"><img src="/cmsstatic/asset/images/badge/purple.png" alt="Purple"></span>
          <span class="grade__icon"><img src="/cmsstatic/asset/images/badge/red.png" alt="Red"></span>
          -->
        </a>
        <div class="my-info__message">
          <p class="message__title">해지수님, 안녕하세요. 🥰</p>
          <p class="message__content">이번 주는 봄 신상이 많아요.</p>
        </div>
        <ul class="my-info__asset">
          <li class="asset__item">
            <a href="#" class="asset__value asset__value--coupon">3장</a>
          </li>
          <li class="asset__item">
            <a href="#" class="asset__value asset__value--mileage">20,000M</a>
          </li>
        </ul>
        <a href="#" class="my-info__more">내 정보 수정</a>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="main-container main-content__body">
      <div class="main-content__main main-content__main--shopping">

        <div class="main-content__header main-content__header--main">
          <h3 class="main-content__title">나의 쇼핑 내역</h3>
          <button type="button" class="button main-content__btn-back">
            <i class="sprite-icon sprite-common sprite-common-back">뒤로가기</i>
          </button>
        </div>

        <div class="tabs tab--order-type">
          <div class="tablist" role="tablist">
            <button type="button" class="tab" role="tab" aria-selected="false">주문/배송 조회</button>
            <button type="button" class="tab" role="tab" aria-selected="true">취소/교환/반품</button>
          </div>
          <!-- 취소/교환/반품 -->
          <div class="tabpanel">
            <!-- 기간 설정 -->
            <div class="order-list-filter">
              <div class="form-select-container">
                <div class="form-select">
                  <select class="select">
                    <option value="">상태 전체</option>
                    <option value="1">취소</option>
                    <option value="1">교환</option>
                    <option value="1">반품</option>
                  </select>
                  <i class="icon"></i>
                </div>
                <div class="form-select">
                  <select class="select">
                    <option value="">기간 전체</option>
                    <option value="1">최근 1개월</option>
                    <option value="1">최근 2개월</option>
                    <option value="1">최근 3개월</option>
                    <option value="1">최근 6개월</option>
                    <option value="1">최근 1년</option>
                    <option value="1">직접입력</option>
                  </select>
                  <i class="icon"></i>
                </div>
              </div>
              <div class="form-date-picker" style="display: none">
                <div class="input-block">
                  <input type="text" class="form-text datepicker" readonly>
                </div>
                <div class="input-block">
                  <input type="text" class="form-text datepicker" readonly>
                </div>
                <button type="button" class="form--submit form-button form-button--main">조회</button>
              </div>
            </div>
            <!-- //기간 설정 -->

            <div class="product-order-container">
              <!-- 목록 -->
              <div class="product-order-list">
                <div class="no-data">
                  <i class="sprite-common sprite-common-no-history"></i>
                  <p class="message">고객님의 취소/교환/반품 이력이 없습니다.<br>조회 기간을 다시 선택해주세요.</p>
                </div>
              </div>
              <!-- //목록 -->
            </div>
          </div>
          <!-- // 취소/교환/반품 -->
        </div>

      </div>
      <div class="main-content__aside">

        <!-- 메뉴 -->
        <ul class="sidebar-menu">
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나의 쇼핑 내역</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-listsearch-small"></i>주문/배송 조회</a>
              </li>
              <li class="menu__item active">
                <a href="#"><i class="sprite-mypage-claim-small"></i>취소/교환/반품</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나만의 혜택</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-coupon-small"></i>쿠폰</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-mileage-small"></i>마일리지</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-badgebook-small"></i>나의 뱃지</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나의 쇼핑 태그</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-wish-small"></i>위시 리스트</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-recent-small"></i>최근 본 상품</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-review-small"></i>내 상품평</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-push-small"></i>재입고 알림 내역</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-qna-small"></i>내 문의 내역</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나의 정보</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-benefit-small"></i>회원 혜택</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-myinfo-small"></i>내 정보 변경 / 회원 탈퇴</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-address-small"></i>배송지 관리</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- // 메뉴 -->
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block modal %}
  {% include "modal/member/find-password.njk" %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/mypage.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/mypage.js"></script>
<script>
$(function(){
  $(".datepicker" ).datepicker({
      closeText: '닫기',
      prevText: '이전달',
      nextText: '다음달',
      currentText: '오늘',
      monthNames: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
      monthNamesShort: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
      dayNames: ['일', '월', '화', '수', '목', '금', '토'],
      dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
      dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
      weekHeader: 'Wk',
      dateFormat: 'yy-mm-dd',
      firstDay: 0,
      showMonthAfterYear: true,
      yearSuffix: '.',
      showButtonPanel: false,
      beforeShow: function (input, datepicker) {},
      onClose : function (dateText, datepicker) {},
      buttonImageOnly: false,
      changeMonth: false,
      changeYear: false,
      yearRange: "-10:+5",
      showOn: "focus", // focus, button, both
      showAnim: "show",  // show, fadeIn, slideDown
      duration: 0,
      ignoreReadonly: true
  });
})
</script>
{% endblock js %}