{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--mypage">
  <div class="main-header" style="background-image:url(/cmsstatic/asset/images/myapge-visual.jpg);">
    {% include "partials/mypage/main-header.njk" %}
  </div>
  <div class="main-content">
    <div class="main-container main-content__body">
      <div class="main-content__main main-content__main--shpping">
        <div class="main-content__header main-content__header--sub">
          <h3 class="main-content__title">최근 본 상품</h3>
          <button type="button" class="button main-content__btn-back">
            <i class="sprite-icon sprite-common sprite-common-back">뒤로가기</i>
          </button>
        </div>
        <div class="mypage-shpping-container">
          <div class="my-product-container">
            {# <div class="no-data">
              <i class="sprite-common sprite-common-no-recent"></i>
              <p class="message">최근 본 상품 내역이 없습니다.</p>
              <div class="util">
                <a href="#" class="form-button form-button--main">쇼핑하러 가기</a>
              </div>
            </div> #}
            <div class="product-list-count"><em>125</em>제품</div>

            <!-- 상품 전시유형 변경 -->
            <div class="thumbnail-slider">
              <input id="thumbnailSlider" type="range" class="form-range"/>
            </div>
            <!-- // 상품 전시유형 변경 -->

            <div class="product-list-util">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">전체 선택</span>
              </label>
              <button type="button" class="button button--delete">삭제</button>
            </div>

            <!-- 상품 -->
            <div class="product-list-container">
              <!-- 상품 목록 -->
              <ul class="product-list" id="productList" data-size="m">
                <li class="product-list__item" data-aos="product">
                  <div class="product product--tag">
                    <div class="product__image">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                        </div>
                        <div class="swiper-pagination-container">
                          <div class="swiper-pagination"></div>
                          <div class="swiper-progress">
                            <span class="swiper-progress__fill"></span>
                          </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                      </div>
                    </div>
                    <div class="product__content">
                      <a href="#" class="product__info">
                        <p class="product__brand">HAZZYS LADIES</p>
                        <p class="product__name">남녀공용남녀공용남녀공용남녀공용 크림화이트 ATTABOY 맨투맨 티셔츠</p>
                      </a>
                      <div class="product__price">
                        <span class="product__price-sale">85,980</span>
                        <span class="product__price-info">
                          <span class="retail">85,980</span>
                          <span class="discount">24%</span>
                        </span>
                      </div>
                    </div>
                    <div class="product__util">
                      <span class="form-checkbox">
                        <input type="checkbox" class="checkbox">
                        <i class="icon"></i>
                      </span>
                    </div>
                  </div>
                </li>

                <li class="product-list__item" data-aos="product">
                  <div class="product product--tag">
                    <div class="product__image">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_2.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_2.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                        </div>
                        <div class="swiper-pagination-container">
                          <div class="swiper-pagination"></div>
                          <div class="swiper-progress">
                            <span class="swiper-progress__fill"></span>
                          </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                      </div>
                    </div>
                    <div class="product__content">
                      <a href="#" class="product__info">
                        <p class="product__brand">HAZZYS LADIES</p>
                        <p class="product__name">맨투맨 티셔츠</p>
                      </a>
                      <div class="product__price">
                        <span class="product__price-sale">85,980</span>
                        <span class="product__price-info">
                          <span class="retail">85,980</span>
                          <span class="discount">24%</span>
                        </span>
                      </div>
                    </div>
                    <div class="product__util">
                      <span class="form-checkbox">
                        <input type="checkbox" class="checkbox">
                        <i class="icon"></i>
                      </span>
                    </div>
                  </div>
                </li>

                <li class="product-list__item" data-aos="product">
                  <div class="product product--tag">
                    <div class="product__image">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_3.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_3.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                        </div>
                        <div class="swiper-pagination-container">
                          <div class="swiper-pagination"></div>
                          <div class="swiper-progress">
                            <span class="swiper-progress__fill"></span>
                          </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                      </div>
                    </div>
                    <div class="product__content">
                      <a href="#" class="product__info">
                        <p class="product__brand">HAZZYS LADIES</p>
                        <p class="product__name">맨투맨 티셔츠</p>
                      </a>
                      <div class="product__price">
                        <span class="product__price-sale">985,980</span>
                        <span class="product__price-info">
                          <span class="retail">985,980</span>
                          <span class="discount">4%</span>
                        </span>
                      </div>
                    </div>
                    <div class="product__util">
                      <span class="form-checkbox">
                        <input type="checkbox" class="checkbox">
                        <i class="icon"></i>
                      </span>
                    </div>
                  </div>
                </li>

                <li class="product-list__item" data-aos="product">
                  <div class="product product--tag">
                    <div class="product__image">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_4.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_4.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_4.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                        </div>
                        <div class="swiper-pagination-container">
                          <div class="swiper-pagination"></div>
                          <div class="swiper-progress">
                            <span class="swiper-progress__fill"></span>
                          </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                      </div>
                    </div>
                    <div class="product__content">
                      <a href="#" class="product__info">
                        <p class="product__brand">HAZZYS LADIES</p>
                        <p class="product__name">남녀공용남녀공용남녀공용남녀공용 크림화이트 ATTABOY 맨투맨 티셔츠</p>
                      </a>
                      <div class="product__price">
                        <span class="product__price-sale">885,980</span>
                        <span class="product__price-info">
                          <span class="retail">885,980</span>
                          <span class="discount">2%</span>
                        </span>
                      </div>
                    </div>
                    <div class="product__util">
                      <span class="form-checkbox">
                        <input type="checkbox" class="checkbox">
                        <i class="icon"></i>
                      </span>
                    </div>
                  </div>
                </li>

                <!-- 품절 -->
                <li class="product-list__item" data-aos="product">
                  <div class="product product--tag product--soldout">
                    <div class="product__image">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                        </div>
                        <div class="swiper-pagination-container">
                          <div class="swiper-pagination"></div>
                          <div class="swiper-progress">
                            <span class="swiper-progress__fill"></span>
                          </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                      </div>
                      <a href="#" class="product__image-state">
                        <div class="state">
                          <p class="message" data-aos="fade-right">SOLD OUT</p>
                        </div>
                      </a>
                    </div>
                    <div class="product__content">
                      <a href="#" class="product__info">
                        <p class="product__brand">HAZZYS LADIES</p>
                        <p class="product__name">남녀공용남녀공용남녀공용남녀공용 크림화이트 ATTABOY 맨투맨 티셔츠</p>
                      </a>
                      <div class="product__price">
                        <span class="product__price-sale">85,980</span>
                        <span class="product__price-info">
                          <span class="retail">85,980</span>
                          <span class="discount">24%</span>
                        </span>
                      </div>
                    </div>
                    <div class="product__util">
                      <span class="form-checkbox">
                        <input type="checkbox" class="checkbox">
                        <i class="icon"></i>
                      </span>
                    </div>
                  </div>
                </li>
                <!-- //품절 -->

                <!-- 예약배송 -->
                <li class="product-list__item" data-aos="product">
                  <div class="product product--tag product--scheduled">
                    <div class="product__image">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_2.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_2.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                        </div>
                        <div class="swiper-pagination-container">
                          <div class="swiper-pagination"></div>
                          <div class="swiper-progress">
                            <span class="swiper-progress__fill"></span>
                          </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                      </div>
                      <div class="state">
                        <p class="message-container">
                          <span class="icon"><i class="sprite-common sprite-common-clock"></i></span>
                          <span class="message" data-aos>예약배송</span>
                        </p>
                      </div>
                    </div>
                    <div class="product__content">
                      <a href="#" class="product__info">
                        <p class="product__brand">HAZZYS LADIES</p>
                        <p class="product__name">맨투맨 티셔츠</p>
                      </a>
                      <div class="product__price">
                        <span class="product__price-sale">85,980</span>
                        <span class="product__price-info">
                          <span class="retail">85,980</span>
                          <span class="discount">24%</span>
                        </span>
                      </div>
                    </div>
                    <div class="product__util">
                      <span class="form-checkbox">
                        <input type="checkbox" class="checkbox">
                        <i class="icon"></i>
                      </span>
                    </div>
                  </div>
                </li>
                <!-- //예약배송  -->

                <li class="product-list__item" data-aos="product">
                  <div class="product product--tag">
                    <div class="product__image">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_7.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                        </div>
                        <div class="swiper-pagination-container">
                          <div class="swiper-pagination"></div>
                          <div class="swiper-progress">
                            <span class="swiper-progress__fill"></span>
                          </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                      </div>
                    </div>
                    <div class="product__content">
                      <a href="#" class="product__info">
                        <p class="product__brand">HAZZYS LADIES</p>
                        <p class="product__name">맨투맨 티셔츠</p>
                      </a>
                      <div class="product__price">
                        <span class="product__price-sale">85,980</span>
                        <span class="product__price-info">
                          <span class="retail">85,980</span>
                          <span class="discount">24%</span>
                        </span>
                      </div>
                    </div>
                    <div class="product__util">
                      <span class="form-checkbox">
                        <input type="checkbox" class="checkbox">
                        <i class="icon"></i>
                      </span>
                    </div>
                  </div>
                </li>

                <li class="product-list__item" data-aos="product">
                  <div class="product product--tag">
                    <div class="product__image">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_8.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_8.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_8.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                        </div>
                        <div class="swiper-pagination-container">
                          <div class="swiper-pagination"></div>
                          <div class="swiper-progress">
                            <span class="swiper-progress__fill"></span>
                          </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                      </div>
                    </div>
                    <div class="product__content">
                      <a href="#" class="product__info">
                        <p class="product__brand">HAZZYS LADIES</p>
                        <p class="product__name">맨투맨 티셔츠</p>
                      </a>
                      <div class="product__price">
                        <span class="product__price-sale">85,980</span>
                        <span class="product__price-info">
                          <span class="retail">85,980</span>
                          <span class="discount">24%</span>
                        </span>
                      </div>
                    </div>
                    <div class="product__util">
                      <span class="form-checkbox">
                        <input type="checkbox" class="checkbox">
                        <i class="icon"></i>
                      </span>
                    </div>
                  </div>
                </li>

                <li class="product-list__item" data-aos="product">
                  <div class="product product--tag">
                    <div class="product__image">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_9.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_9.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                        </div>
                        <div class="swiper-pagination-container">
                          <div class="swiper-pagination"></div>
                          <div class="swiper-progress">
                            <span class="swiper-progress__fill"></span>
                          </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                      </div>
                    </div>
                    <div class="product__content">
                      <a href="#" class="product__info">
                        <p class="product__brand">HAZZYS LADIES</p>
                        <p class="product__name">맨투맨 티셔츠</p>
                      </a>
                      <div class="product__price">
                        <span class="product__price-sale">85,980</span>
                        <span class="product__price-info">
                          <span class="retail">85,980</span>
                          <span class="discount">24%</span>
                        </span>
                      </div>
                    </div>
                    <div class="product__util">
                      <span class="form-checkbox">
                        <input type="checkbox" class="checkbox">
                        <i class="icon"></i>
                      </span>
                    </div>
                  </div>
                </li>

                <li class="product-list__item" data-aos="product">
                  <div class="product product--tag">
                    <div class="product__image">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_10.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_10.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_10.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_10.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                        </div>
                        <div class="swiper-pagination-container">
                          <div class="swiper-pagination"></div>
                          <div class="swiper-progress">
                            <span class="swiper-progress__fill"></span>
                          </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                      </div>
                    </div>
                    <div class="product__content">
                      <a href="#" class="product__info">
                        <p class="product__brand">HAZZYS LADIES</p>
                        <p class="product__name">맨투맨 티셔츠</p>
                      </a>
                      <div class="product__price">
                        <span class="product__price-sale">85,980</span>
                        <span class="product__price-info">
                          <span class="retail">85,980</span>
                          <span class="discount">24%</span>
                        </span>
                      </div>
                    </div>
                    <div class="product__util">
                      <span class="form-checkbox">
                        <input type="checkbox" class="checkbox">
                        <i class="icon"></i>
                      </span>
                    </div>
                  </div>
                </li>

                <li class="product-list__item" data-aos="product">
                  <div class="product product--tag">
                    <div class="product__image">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_11.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_11.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                        </div>
                        <div class="swiper-pagination-container">
                          <div class="swiper-pagination"></div>
                          <div class="swiper-progress">
                            <span class="swiper-progress__fill"></span>
                          </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                      </div>
                    </div>
                    <div class="product__content">
                      <a href="#" class="product__info">
                        <p class="product__brand">HAZZYS LADIES</p>
                        <p class="product__name">맨투맨 티셔츠</p>
                      </a>
                      <div class="product__price">
                        <span class="product__price-sale">85,980</span>
                        <span class="product__price-info">
                          <span class="retail">85,980</span>
                          <span class="discount">24%</span>
                        </span>
                      </div>
                    </div>
                    <div class="product__util">
                      <span class="form-checkbox">
                        <input type="checkbox" class="checkbox">
                        <i class="icon"></i>
                      </span>
                    </div>
                  </div>
                </li>

                <li class="product-list__item" data-aos="product">
                  <div class="product product--tag">
                    <div class="product__image">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_12.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_12.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="#" class="product-image">
                              <img src="/cmsstatic/asset/images/temp/product_310x416_12.jpg" alt="네이비로고 자수 면 벙거지 모자">
                            </a>
                          </div>
                        </div>
                        <div class="swiper-pagination-container">
                          <div class="swiper-pagination"></div>
                          <div class="swiper-progress">
                            <span class="swiper-progress__fill"></span>
                          </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                      </div>
                    </div>
                    <div class="product__content">
                      <a href="#" class="product__info">
                        <p class="product__brand">HAZZYS LADIES</p>
                        <p class="product__name">맨투맨 티셔츠</p>
                      </a>
                      <div class="product__price">
                        <span class="product__price-sale">85,980</span>
                        <span class="product__price-info">
                          <span class="retail">85,980</span>
                          <span class="discount">24%</span>
                        </span>
                      </div>
                    </div>
                    <div class="product__util">
                      <span class="form-checkbox">
                        <input type="checkbox" class="checkbox">
                        <i class="icon"></i>
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- //상품 목록 -->
              <div class="list-more">
                <button type="button" class="form-button form-button--plain">더보기 (1/20)</button>
              </div>
            </div>
            <!-- // 상품 -->
          </div>

        </div>
      </div>

      <div class="main-content__aside">
        <!-- 메뉴 -->
        <ul class="sidebar-menu">
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나의 쇼핑 내역</p>
            <ul class="menu__list">
              <li class="menu__item">
                <li class="menu__item">
                <a href="#"><i class="sprite-mypage-listsearch-small"></i>주문/배송 조회</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-claim-small"></i>취소/교환/반품</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나만의 혜택</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-coupon-small"></i>쿠폰</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-mileage-small"></i>마일리지</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-badgebook-small"></i>나의 배지</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나의 쇼핑 태그</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-wish-small"></i>위시 리스트</a>
              </li>
              <li class="menu__item active">
                <a href="#"><i class="sprite-mypage-recent-small"></i>최근 본 상품</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-review-small"></i>내 상품평</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-push-small"></i>재입고 알림 내역</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-qna-small"></i>내 문의 내역</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나의 정보</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-benefit-small"></i>회원 혜택</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-myinfo-small"></i>내 정보 변경 / 회원 탈퇴</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-address-small"></i>배송지 관리</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- // 메뉴 -->
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block modal %}
  {% include "modal/member/find-password.njk" %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/mypage.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/mypage.js"></script>
<script>
var productList = [];
function swierInit(element, isLoop) {
  var instance = $(element).data('swiper');
  if(instance) {
    instance.update();
    return false;
  }

  var swiper = new Swiper(element, {
    loop: isLoop,
    pagination: {
      el: '.swiper-pagination'
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    },
    on: {
      init: function () {
        if(isLoop){
          swiperPagination(this);
        }
      },
      slideChange: function () {
        if(isLoop){
          swiperPagination(this);
        }
      },
      resize: function(){
        // throttle
        this.update();
      },
      update: function(){
        if(isLoop){
          swiperPagination(this);
        }
      }
    }
  });

  if(isLoop){
    $(element).addClass('is-active');
  } else {
    swiper.detachEvents();
  }
  $(element).data('swiper', swiper);
  productList.push(swiper);
}

function swiperPagination(instance) {
  var swiper = instance;
  var slides = swiper.slides;
  var length = swiper.params.loop
    ? slides.length - 2
    : slides.length;
  var percent = (swiper.realIndex + 1) / length * 100;
  window.setTimeout(function () {
    $(swiper.pagination.el)
      .parent()
      .find('.swiper-progress__fill')
      .width(percent + '%');
  }, 10)
}
$(function(){
  // 상품 슬라이더
  $('.product-list-container .swiper-container').each(function () {
    var $element = $(this);
    // 동적으로 추가되는 상품도 아래와 같이 추가필요함
    swierInit($element[0], $element.find('.swiper-slide').length > 1);
  });
  // 상품 사이즈 변경
  var sliderElement = document.querySelector('#thumbnailSlider');
  rangesliderJs.create(
    sliderElement, {
      min: 0,
      max: 4,
      value: 2,
      step: 0.1,
      // onInit: (value, percent, position) => {},
      onSlide: (value, percent, position) => {
        var sliderHandle = sliderElement['rangeslider-js'];
        var oldType = $('#productList').attr('data-size') || 'm';
        var type;
        if(value <= 0.5 ) {
          type = 'xs';
        } else if (value > 0.5 && value <= 1.5) {
          type = 's';
        } else if (value > 3) {
          type = 'l';
        } else {
          type = 'm';
        }

        if(oldType !== type) {
          $('.product-list-container .product-list').each(function(){
            $(this).attr('data-size', type);
          });
          // console.log('상품 View : ', oldType, ' to ', type);
          for(var i=0; i < productList.length; i++){
            // 상품 Swiper layout update
            productList[i].update();
          }
          $('.product-list-container .product-list').each(function(){
            $(this)
              .css({opacity: 0 })
              .animate({
                opacity: 1
              }, {
                duration: 100,
                complete: function(){
                  AOS.refresh();
                }
              });
          });
        }
      },
      onSlideEnd: (value, percent, position) => {
        var sliderHandle = sliderElement['rangeslider-js'];
        var newValue;
        $(sliderHandle.handle).addClass('is-touch-end');

        if(value <= 0.5 ) {
          newValue = 0;
        } else if (value > 0.5 && value <= 1.5) {
          newValue = 1;
        } else if (value > 3) {
          newValue = 4;
        } else {
          newValue = 2;
        }
        sliderHandle.update({ value: newValue });
      }
    }
  );
})
</script>
{% endblock js %}