{% extends 'default.njk' %}

{% block content %}
<main class="shell-main shell-main--mypage">
  <div class="main-header" style="background-image:url(/cmsstatic/asset/images/myapge-visual.jpg);">
    {% include "partials/mypage/main-header.njk" %}
  </div>
  <div class="main-content">
    <div class="main-container main-content__body">
      <div class="main-content__main main-content__main--shpping">
        <div class="main-content__header">
          <h3 class="main-content__title">상품평 작성</h3>
          <button type="button" class="button main-content__btn-back">
            <i class="sprite-icon sprite-common sprite-common-back">뒤로가기</i>
          </button>
        </div>

        <div class="mypage-shpping-container">
          <div class="my-review-container my-review-container--form">
            <div class="review-benefit-container">
              <!-- 마일리지 혜택 -->
              <div class="review-benefit">
                <div class="review-benefit__header">
                  <h3 class="review-benefit__title">마일리지 혜택</h3>
                </div>
                <div class="review-benefit__content">
                  <p class="review-mileage-guide">구매하신 상품 2건의 상품평을 작성하시면 최대 2,500 M 를 드려요!</p>
                  <ul class="review-mileage">
                    <li class="review-mileage__item">
                      <span class="review-mileage__name">평점 등록</span>
                      <span class="review-mileage__value">100 M</span>
                    </li>
                    <li class="review-mileage__item">
                      <span class="review-mileage__name">내용 등록</span>
                      <span class="review-mileage__value">400 M</span>
                    </li>
                    <li class="review-mileage__item">
                      <span class="review-mileage__name">추가 정보 등록</span>
                      <span class="review-mileage__value">500 M</span>
                    </li>
                    <li class="review-mileage__item">
                      <span class="review-mileage__name">사진 등록</span>
                      <span class="review-mileage__value">500 M</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- // 마일리지 혜택 -->

              <!-- 배지 혜택 -->
              <div class="review-benefit">
                <div class="review-benefit__header">
                  <h3 class="review-benefit__title">배지 혜택</h3>
                </div>
                <div class="review-benefit__content">
                  <p class="review-badge-guide">
                    상품평을 작성하시면 작성 횟수에 따라 <strong>BADGE</strong>를 드립니다.
                  </p>
                  <button type="button" class="button button--badge-condition">발급조건 보기</button>
                </div>
              </div>
              <!-- // 배지 혜택 -->
            </div>
            <!-- 리뷰 상품-->
            <div class="review-order-product">
              <div class="product product--order">
                <a href="#" class="product__image">
                  <img src="/cmsstatic/asset/images/temp/product_80x104_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                </a>
                <div class="product__content">
                  <a href="#" class="product__info">
                    <p class="product__brand">HAZZZYS ACC</p>
                    <p class="product__name">네이비로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모로고 자수 면 벙거지 모자</p>
                  </a>
                  <div class="product__option">
                    <p class="product__option__name">
                      <span class="option__item">차콜그레이</span>
                      <span class="option__item">68 XL</span>
                      <span class="option__item">1개</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- //리뷰 상품-->
            <div class="review-form-container">
              <!-- 이 상품 어땠나요? -->
              <div class="review-form">
                <div class="review-form__header">
                  <h3 class="review-form__title">이 상품 어땠나요?</h3>
                  <span class="review-form__mileage-tag">+ 100</span>
                  <!-- <span class="review-form__mileage-tag active">+ 100</span> -->
                </div>
                <div class="review-form__content">

                  <div class="review-form__star">
                    <input type="radio" class="radio" id="reviewProductStarRating1" name="reviewProductStarRating">
                    <label class="star" for="reviewProductStarRating1"><i class="icon">별1</i></label>
                    <input type="radio" class="radio" id="reviewProductStarRating2" name="reviewProductStarRating">
                    <label class="star" for="reviewProductStarRating2"><i class="icon">별2</i></label>
                    <input type="radio" class="radio" id="reviewProductStarRating3" name="reviewProductStarRating">
                    <label class="star" for="reviewProductStarRating3"><i class="icon">별3</i></label>
                    <input type="radio" class="radio" id="reviewProductStarRating4" name="reviewProductStarRating">
                    <label class="star" for="reviewProductStarRating4"><i class="icon">별4</i></label>
                    <input type="radio" class="radio" id="reviewProductStarRating5" name="reviewProductStarRating" checked>
                    <label class="star" for="reviewProductStarRating5"><i class="icon">별5</i></label>
                  </div>

                  <div class="review-form__choice">
                    <p class="review-form__choice__title">사이즈는 어떠세요?</p>
                    <div class="review-form__choice__content">
                      <div class="review-form-radio-group">
                        <label class="form-radio-button">
                          <input type="radio" class="radio" name="productReviewField1">
                          <span class="name">작아요</span>
                        </label>
                        <label class="form-radio-button">
                          <input type="radio" class="radio" name="productReviewField1" checked>
                          <span class="name">정사이즈에요</span>
                        </label>
                        <label class="form-radio-button">
                          <input type="radio" class="radio" name="productReviewField1">
                          <span class="name">커요</span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="review-form__choice">
                    <p class="review-form__choice__title">두께는 어떠세요?</p>
                    <div class="review-form__choice__content">
                      <div class="review-form-radio-group">
                        <label class="form-radio-button">
                          <input type="radio" class="radio" name="productReviewField2">
                          <span class="name">얇아요</span>
                        </label>
                        <label class="form-radio-button">
                          <input type="radio" class="radio" name="productReviewField2" checked>
                          <span class="name">보통 두께에요</span>
                        </label>
                        <label class="form-radio-button">
                          <input type="radio" class="radio" name="productReviewField2">
                          <span class="name">두꺼워요</span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="review-form__choice">
                    <p class="review-form__choice__title">색상은 어떠세요?</p>
                    <div class="review-form__choice__content">
                      <div class="review-form-radio-group">
                        <label class="form-radio-button">
                          <input type="radio" class="radio" name="productReviewField3">
                          <span class="name">어두워요</span>
                        </label>
                        <label class="form-radio-button">
                          <input type="radio" class="radio" name="productReviewField3" checked>
                          <span class="name">화면과 같아요</span>
                        </label>
                        <label class="form-radio-button">
                          <input type="radio" class="radio" name="productReviewField3">
                          <span class="name">밝아요</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- //이 상품 어땠나요? -->
              <!-- 상세 후기를 등록해주세요 -->
              <div class="review-form">
                <div class="review-form__header">
                  <h3 class="review-form__title">상세 후기를 등록해주세요</h3>
                  <!-- <span class="review-form__mileage-tag">+ 400</span> -->
                  <span class="review-form__mileage-tag active">+ 400</span>
                </div>
                <div class="review-form__content">
                  <div class="form-textarea">
                    <textarea class="form-text" cols="30" rows="10" placeholder="최소 10자 이상 작성해주세요."></textarea>
                  </div>
                </div>
              </div>
              <!-- //상세 후기를 등록해주세요 -->
            </div>
            <!-- 사진을 등록해주세요 -->
            <div class="review-form">
              <div class="review-form__header">
                <h3 class="review-form__title">사진을 등록해주세요</h3>
                <span class="review-form__mileage-tag">+ 500</span>
                <!-- <span class="review-form__mileage-tag active">+ 500</span> -->
              </div>
              <div class="review-form__content">
                <div class="review-photo-upload">
                  <div class="swiper-container" id="reviewPhotoUploadSwiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="upload-content file-upload">
                          <input type="file" id="imageUpload" name="imageUpload" class="image-add" title="사진추가" accept="image/*">
                          <span class="add-text">사진추가</span>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="upload-content">
                          <img src="/cmsstatic/asset/images/temp/event_90x90_1.jpg" alt="이미지명">
                          <button type="button" class="button">
                            <i class="sprite-image-close">삭제</i>
                          </button>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="upload-content">
                          <img src="/cmsstatic/asset/images/temp/event_90x90_2.jpg" alt="이미지명">
                          <button type="button" class="button">
                            <i class="sprite-image-close">삭제</i>
                          </button>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="upload-content">
                          <img src="/cmsstatic/asset/images/temp/event_90x90_3.jpg" alt="이미지명">
                          <button type="button" class="button">
                            <i class="sprite-image-close">삭제</i>
                          </button>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="upload-content">
                          <img src="/cmsstatic/asset/images/temp/event_90x90_4.jpg" alt="이미지명">
                          <button type="button" class="button">
                            <i class="sprite-image-close">삭제</i>
                          </button>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="upload-content">
                          <img src="/cmsstatic/asset/images/temp/event_90x90_2.jpg" alt="이미지명">
                          <button type="button" class="button">
                            <i class="sprite-image-close">삭제</i>
                          </button>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="upload-content">
                          <img src="/cmsstatic/asset/images/temp/event_90x90_3.jpg" alt="이미지명">
                          <button type="button" class="button">
                            <i class="sprite-image-close">삭제</i>
                          </button>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="upload-content">
                          <img src="/cmsstatic/asset/images/temp/event_90x90_4.jpg" alt="이미지명">
                          <button type="button" class="button">
                            <i class="sprite-image-close">삭제</i>
                          </button>
                        </div>
                      </div>
                    </div>
                  
                  </div>
                </div>
              </div>
            </div>
            <!-- //사진을 등록해주세요 -->
            <!-- 추가 정보를 입력해주세요 -->
            <div class="review-form">
              <div class="review-form__header">
                <h3 class="review-form__title">추가 정보를 입력해주세요</h3>
                <span class="review-form__mileage-tag">+ 500</span>
                <!-- <span class="review-form__mileage-tag active">+ 500</span> -->
              </div>
              <div class="review-form__content">
                <div class="review-form-size">
                  <div class="input-block">
                    <input type="text" class="form-text" placeholder="신장">
                    <span class="unit">cm</span>
                  </div>
                  <div class="input-block">
                    <input type="text" class="form-text" placeholder="몸무게">
                    <span class="unit">kg</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- //추가 정보를 입력해주세요 -->
            <!-- 유의사항 -->
            <dl class="review-guide" data-foldable>
              <dt class="review-guide__title" data-foldable-toggle>
                상품평 유의사항
                <button type="button" class="button">toggle</button>
              </dt>
              <dd  class="review-guide__content" style="display: none" data-foldable-content>
                <ul class="guide">
                  <li class="guide__item">고객님께서 올려주신 상품평은 다양한 방법으로 헤지스닷컴에서 활용될 수 있습니다.(포토상품평의 착장사진 포함)</li>
                  <li class="guide__item">상품평은 구매하신 상품당 1회, 결제일 기준 90일 이내에만 작성하실 수 있습니다.</li>
                  <li class="guide__item">고객님께서 등록하신 이미지 중 상품과 관련 없는 이미지는 비공개로 변경될 수 있습니다. (포토마일리지 지급 불가)</li>
                  <li class="guide__item">상품 후기와 관련 없는 내용을 작성하거나 구매상품을 직접 촬영한 사진이 아닌 경우 게시되지 않습니다.(마일리지 지급 불가)</li>
                  <li class="guide__item">마일리지는 상품 주문완료 14일 후에 지급되며, 이후 작성 건은 확인 후 익일에 지급됩니다.</li>
                  <li class="guide__item">상품평 의도와 맞지 않는 평이 반복될 경우 활동을 제한 받을 수 있습니다.</li>
                  <li class="guide__item">마일리지 지급 전에 상품평을 수정하시면, 수정된 건을 기준으로 마일리지가 지급됩니다.</li>
                  <li class="guide__item">상품평 작성 후 반품, 취소 시 마일리지 지급이 취소됩니다.</li>
                </ul>
              </dd>
            </dl>
            <!-- //유의사항 -->

            <div class="review-form-submit">
              <button type="button" class="form-button form-button">상품평 등록</button>
              <button type="button" class="form-button form-button active">상품평 등록</button>
            </div>

          </div>
        </div>
      </div>

      <div class="main-content__aside">
        <!-- 메뉴 -->
        <ul class="sidebar-menu">
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나의 쇼핑 내역</p>
            <ul class="menu__list">
              <li class="menu__item">
                <li class="menu__item">
                <a href="#"><i class="sprite-mypage-listsearch-small"></i>주문/배송 조회</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-claim-small"></i>취소/교환/반품</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나만의 혜택</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-coupon-small"></i>쿠폰</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-mileage-small"></i>마일리지</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-badgebook-small"></i>나의 배지</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나의 쇼핑 태그</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-wish-small"></i>위시 리스트</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-recent-small"></i>최근 본 상품</a>
              </li>
              <li class="menu__item active">
                <a href="#"><i class="sprite-mypage-review-small"></i>내 상품평</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-push-small"></i>재입고 알림 내역</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-qna-small"></i>내 문의 내역</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-menu__item menu">
            <p class="menu__title">나의 정보</p>
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-benefit-small"></i>회원 혜택</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-myinfo-small"></i>내 정보 변경 / 회원 탈퇴</a>
              </li>
              <li class="menu__item">
                <a href="#"><i class="sprite-mypage-address-small"></i>배송지 관리</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- // 메뉴 -->
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block modal %}
  {% include "modal/member/find-password.njk" %}
{% endblock modal %}

{% block css %}
<link rel="stylesheet" href="/asset/css/mypage.css" />
{% endblock css %}

{% block js %}
<script src="/asset/js/mypage.js"></script>
<script>
$(function(){
  new Swiper('#reviewPhotoUploadSwiper', {
    loop: false,
    freeMode: true,
    spaceBetween: 10,
    slidesOffsetBefore: 0,
    slidesOffsetAfter: 0,
    slidesPerView: 'auto',
    breakpoints: {
      1023: {
        spaceBetween: 10,
        slidesOffsetBefore: 10,
        slidesOffsetAfter: 10,
      }
    }
  })
})
</script>
{% endblock js %}