// 마케팅 정보 수신 동의
.modal--agreement-marketing {
  .modal__footer {
    margin-top: 0;
  }
  .terms-agreement {
    &__box {
      height: 110px;
      overflow: scroll;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      font-size: 12px;
      line-height: 22px;
      font-weight: 300;
      padding: 10px;
      color: #717171;
      background-color: #f8f8f8;
      box-sizing: border-box;
    }
    &__form {
      margin-top: 26px;
      display: flex;
      justify-content: space-between;
    }
    @include mq('desktop') {
      &__form {
        margin-top: 30px;
      }
    }
  }
}