
<div id="modalPolicyView" class="modal modal--policy-view" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <h1 class="modal__header__title">LFmembers<br>개인정보 수집 및 이용 동의</h1>
      <button type="button" class="modal__header__button" aria-label="닫기" data-modal-close>
        <i class="sprite-icon sprite-common sprite-common-close-layer">닫기</i>
      </button>
    </div>
    <div class="modal__body">
      <div class="policy">
        <div class="policy__content">
          (확정아님) 개인정보보호법 제22조 제4항에 의해 선택정보 사항에 대해서는 기재하지 않으셔도 서비스를 이용하실 수 있습니다.
          1. 할인 및 쿠폰 등 이벤트 등 광고성 정보 제공<br>
          1. 할인 및 쿠폰 등 이벤트 등 광고성 정보 제공<br>
          1. 할인 및 쿠폰 등 이벤트 등 광고성 정보 제공<br>
          1. 할인 및 쿠폰 등 이벤트 등 광고성 정보 제공<br>
          1. 할인 및 쿠폰 등 이벤트 등 광고성 정보 제공<br>
          1. 할인 및 쿠폰 등 이벤트 등 광고성 정보 제공<br>
          1. 할인 및 쿠폰 등 이벤트 등 광고성 정보 제공<br>
          1. 할인 및 쿠폰 등 이벤트 등 광고성 정보 제공<br>
          1. 할인 및 쿠폰 등 이벤트 등 광고성 정보 제공<br>
          1. 할인 및 쿠폰 등 이벤트 등 광고성 정보 제공<br>
        </div>
      </div>
    </div>
    <div class="modal__footer">
      <button type="button" class="form-button form-button--main" data-modal-close>확인</button>
    </div>
  </div>
</div>