<!-- 탈퇴 회원 -->
<div id="modalWithdrawnMember" class="modal modal--withdrawn-member" tabindex="-1" role="dialog" data-modal>
  <div class="modal-dialog" role="document">
    <div class="modal__header">
      <h1 class="modal__header__title">탈퇴 회원</h1>
      <button type="button" class="modal__header__button" aria-label="닫기" data-modal-close>
        <i class="sprite-icon sprite-common sprite-common-close-layer">닫기</i>
      </button>
    </div>
    <div class="modal__body">
      <div class="message">
        <p class="message__text">
          아쉽게도 최근에 탈퇴한 이력이 있어요!<br><br>
          고객님은 2개월 이내에 탈퇴한 이력이 있어 현재 회원가입이 불가능하세요.
          재가입을 희망하시면 탈퇴 후 2개월 이후인 <span class="message__hilite">2021년 03월 30일</span>
          메일 내 링크를 통해 비밀번호를 재설정해주세요.
        </p>
      </div>
    </div>
    <div class="modal__footer">
      <button type="button" class="form-button form-button--main" data-modal-close>확인</button>
    </div>
  </div>
</div>