.marquee {
  overflow: hidden;
  text-align: center;
  &__content {
    display: inline-block;
    white-space: nowrap;
    // animation: moveSlideshow 12s linear infinite;
    .content {
      display: inline-block;
      white-space: nowrap;
    }
  }
}
@keyframes moveSlideshow {
  100% {
    transform: translate(-50%);
  }
}