---
layout: guide
title: 메인
---
<article class="guide-contents">
  <header class="guide-contents__header">
    <h1 class="guide-contents__title">
      Font
      <small class="guide-contents__title-small"> Font variables </small>
    </h1>
  </header>
  <div class="guide-contents__body">
    <section class="guide-section">
      <header class="guide-section__header">
        <h1 class="guide-section__title">Font family</h1>
      </header>
      <div class="guide-section__contents">
        <div class="guide-example">
          <!-- guide-option -->
          <div class="guide-option">
            <table class="guide-option__table guide-option__table--color">
              <colgroup>
                <col style="width: 40%" />
                <col style="width: 20%" />
                <col style="width: 20%" />
              </colgroup>
              <thead>
                <tr>
                  <th>example</th>
                  <th>Variables</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                  <td>@font-family-base</td>
                  <td class="is-value">
                    'Malgun Gothic', '맑은고딕', 'AppleSDGothicNeo', sans-serif
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /guide-option -->
        </div>
      </div>
    </section>
    <section class="guide-section">
      <header class="guide-section__header">
        <h1 class="guide-section__title">Font weight</h1>
      </header>
      <div class="guide-section__contents">
        <div class="guide-example">
          <!-- guide-option -->
          <div class="guide-option">
            <table class="guide-option__table guide-option__table--color">
              <colgroup>
                <col style="width: 40%" />
                <col style="width: 20%" />
                <col style="width: 20%" />
              </colgroup>
              <thead>
                <tr>
                  <th>example</th>
                  <th>Variables</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="font-weight: 300">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                  <td>font-weight: 300;</td>
                  <td class="is-value">Light</td>
                </tr>
                <tr>
                  <td style="font-weight: 400">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                  <td>font-weight: 400;</td>
                  <td class="is-value">Regular</td>
                </tr>
                <tr>
                  <td style="font-weight: 500">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                  <td>font-weight: 500;</td>
                  <td class="is-value">Medium</td>
                </tr>
                <tr>
                  <td style="font-weight: 600">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                  <td>font-weight: 600;</td>
                  <td class="is-value">bold</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /guide-option -->
        </div>
      </div>
    </section>
  </div>
</article>