{% extends 'default.njk' %}

{% block content %}
  <main class="shell-main shell-main--outlet shell-main--outlet-home">
  <div class="main-header">
    <h2 class="main-header__title">OUTLET</h2>
  </div>
  <div class="main-content">
    <!-- 상단 슬라이드 -->
    <div class="outlet-key-banner">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="banner banner--key">
              <a href="#" class="banner__image">
                <img src="/cmsstatic/asset/images/temp/outlet_720x800_1.jpg" alt="배너 제목">
              </a>
              <a href="#" class="banner__info">
                <p class="banner__title">HAZZYS X BORA CLAIRE</p>
                <p class="banner__description">
                  여름이 다가온다! 보라끌레르가 제안하는 여름 스타일링 여름이 다가온다! 보라끌레르가 제안하는
                </p>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="banner banner--key">
              <a href="#" class="banner__image">
                <img src="/cmsstatic/asset/images/temp/outlet_720x800_2.jpg" alt="배너 제목">
              </a>
              <a href="#" class="banner__info">
                <p class="banner__title">BORA CLAIRE X HAZZYS</p>
                <p class="banner__description">
                  보라끌레르가 제안하는 여름 스타일링 여름이 다가온다! 보라끌레르가 제안하는 여름 스타일링 여름이 다가온다!
                </p>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="banner banner--key">
              <a href="#" class="banner__image">
                <img src="/cmsstatic/asset/images/temp/outlet_720x800_3.jpg" alt="배너 제목">
              </a>
              <a href="#" class="banner__info">
                <p class="banner__title">HAZZYS X BORA CLAIRE</p>
                <p class="banner__description">
                  여름이 다가온다! 보라끌레르가 제안하는 여름 스타일링 여름이 다가온다! 보라끌레르가 제안하는
                </p>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="banner banner--key">
              <a href="#" class="banner__image">
                <img src="/cmsstatic/asset/images/temp/outlet_720x800_4.jpg" alt="배너 제목">
              </a>
              <a href="#" class="banner__info">
                <p class="banner__title">BORA CLAIRE X HAZZYS</p>
                <p class="banner__description">
                  보라끌레르가 제안하는 여름 스타일링 여름이 다가온다! 보라끌레르가 제안하는 여름 스타일링 여름이 다가온다!
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-util">
        <div class="swiper-pagination banner-swiper-pagination"></div>
        <div class="swiper-button-prev banner-swiper-button-prev"></div>
        <div class="swiper-button-next banner-swiper-button-next"></div>
      </div>
    </div>
    <!-- //상단 슬라이드 -->
    <!-- 카테고리 -->
    <div id="floating-category" class="floating-category">
      <ul class="category-list">
        <li class="category-list__item">
          <a href="#" class="category-link">
            <span class="category-link__image"><img src="/cmsstatic/asset/images/temp/outlet_80x80_1.png" alt="ALL"></span>
            <span class="category-link__name">ALL</span>
          </a>
        </li>
        <li class="category-list__item">
          <a href="#" class="category-link">
            <span class="category-link__image"><img src="/cmsstatic/asset/images/temp/outlet_80x80_2.png" alt="LADIES"></span>
            <span class="category-link__name">LADIES</span>
          </a>
        </li>
        <li class="category-list__item">
          <a href="#" class="category-link">
            <span class="category-link__image"><img src="/cmsstatic/asset/images/temp/outlet_80x80_3.png" alt="MEN"></span>
            <span class="category-link__name">MEN</span>
          </a>
        </li>
        <li class="category-list__item">
          <a href="#" class="category-link">
            <span class="category-link__image"><img src="/cmsstatic/asset/images/temp/outlet_80x80_4.png" alt="GOLF"></span>
            <span class="category-link__name">GOLF</span>
          </a>
        </li>
        <li class="category-list__item">
          <a href="#" class="category-link">
            <span class="category-link__image"><img src="/cmsstatic/asset/images/temp/outlet_80x80_5.png" alt="ACC"></span>
            <span class="category-link__name">ACC</span>
          </a>
        </li>
        <li class="category-list__item">
          <a href="#" class="category-link">
            <span class="category-link__image"><img src="/cmsstatic/asset/images/temp/outlet_80x80_6.png" alt="ADD"></span>
            <span class="category-link__name">ADD</span>
          </a>
        </li>
        <li class="category-list__item">
          <a href="#" class="category-link">
            <span class="category-link__image"><img src="/cmsstatic/asset/images/temp/outlet_80x80_7.png" alt="ADD"></span>
            <span class="category-link__name">ADD</span>
          </a>
        </li>
        <li class="category-list__item">
          <a href="#" class="category-link">
            <span class="category-link__image"><img src="/cmsstatic/asset/images/temp/outlet_80x80_8.png" alt="ADD"></span>
            <span class="category-link__name">ADD</span>
          </a>
        </li>
        <li class="category-list__item">
          <a href="#" class="category-link">
            <span class="category-link__image"><img src="/cmsstatic/asset/images/temp/outlet_80x80_9.png" alt="ADD"></span>
            <span class="category-link__name">ADD</span>
          </a>
        </li>
        <li class="category-list__item">
          <a href="#" class="category-link">
            <span class="category-link__image"><img src="/cmsstatic/asset/images/temp/outlet_80x80_10.png" alt="ADD"></span>
            <span class="category-link__name">ADD</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- //카테고리 -->
    <!-- NEW TO SALE -->
    <div class="new-to-sale">
      <h3 class="outlet-title">NEW TO SALE</h3>
      <!-- 상품 목록 -->
      <div class="product-list-container">
        <ul class="product-list" id="productList" data-size="m">
          <li class="product-list__item" data-aos="product">
            <div class="product">
              <div class="product__image">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-pagination-container">
                    <div class="swiper-pagination"></div>
                    <div class="swiper-progress">
                      <span class="swiper-progress__fill"></span>
                    </div>
                  </div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
              </div>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZYS LADIES</p>
                  <p class="product__name">남녀공용남녀공용남녀공용남녀공용 크림화이트 ATTABOY 맨투맨 티셔츠</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart active" data-modal-open="#modalWishlistRemove">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>

          <li class="product-list__item" data-aos="product">
            <div class="product">
              <div class="product__image">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_2.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_2.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-pagination-container">
                    <div class="swiper-pagination"></div>
                    <div class="swiper-progress">
                      <span class="swiper-progress__fill"></span>
                    </div>
                  </div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
              </div>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZYS LADIES</p>
                  <p class="product__name">맨투맨 티셔츠</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart" data-modal-open="#modalWishlistAdd">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>

          <li class="product-list__item" data-aos="product">
            <div class="product">
              <div class="product__image">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_4.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_4.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_4.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-pagination-container">
                    <div class="swiper-pagination"></div>
                    <div class="swiper-progress">
                      <span class="swiper-progress__fill"></span>
                    </div>
                  </div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
              </div>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZYS LADIES</p>
                  <p class="product__name">남녀공용남녀공용남녀공용남녀공용 크림화이트 ATTABOY 맨투맨 티셔츠</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">885,980</span>
                  <span class="product__price-info">
                    <span class="retail">885,980</span>
                    <span class="discount">2%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart" data-modal-open="#modalWishlistAdd">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>

          <!-- 품절 -->
          <li class="product-list__item" data-aos="product">
            <div class="product product--soldout">
              <div class="product__image">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-pagination-container">
                    <div class="swiper-pagination"></div>
                    <div class="swiper-progress">
                      <span class="swiper-progress__fill"></span>
                    </div>
                  </div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
                <a href="#" class="product__image-state">
                  <div class="state">
                    <p class="message" data-aos="fade-right">SOLD OUT</p>
                  </div>
                </a>
              </div>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZYS LADIES</p>
                  <p class="product__name">남녀공용남녀공용남녀공용남녀공용 크림화이트 ATTABOY 맨투맨 티셔츠</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart" data-modal-open="#modalWishlistAdd">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
          <!-- //품절 -->

          <!-- 예약배송 -->
          <li class="product-list__item" data-aos="product">
            <div class="product product--scheduled">
              <div class="product__image">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_2.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_2.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-pagination-container">
                    <div class="swiper-pagination"></div>
                    <div class="swiper-progress">
                      <span class="swiper-progress__fill"></span>
                    </div>
                  </div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
                <div class="state">
                  <p class="message-container">
                    <span class="icon"><i class="sprite-common sprite-common-clock"></i></span>
                    <span class="message" data-aos>예약배송</span>
                  </p>
                </div>
              </div>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZYS LADIES</p>
                  <p class="product__name">맨투맨 티셔츠</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart" data-modal-open="#modalWishlistAdd">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
          <!-- //예약배송  -->

          <li class="product-list__item" data-aos="product">
            <div class="product">
              <div class="product__image">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_7.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-pagination-container">
                    <div class="swiper-pagination"></div>
                    <div class="swiper-progress">
                      <span class="swiper-progress__fill"></span>
                    </div>
                  </div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
              </div>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZYS LADIES</p>
                  <p class="product__name">맨투맨 티셔츠</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart" data-modal-open="#modalWishlistAdd">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>

          <li class="product-list__item" data-aos="product">
            <div class="product">
              <div class="product__image">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_8.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_8.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_8.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-pagination-container">
                    <div class="swiper-pagination"></div>
                    <div class="swiper-progress">
                      <span class="swiper-progress__fill"></span>
                    </div>
                  </div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
              </div>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZYS LADIES</p>
                  <p class="product__name">맨투맨 티셔츠</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart" data-modal-open="#modalWishlistAdd">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- //상품 목록 -->
      <p class="button-more">
        <button type="button" class="form-button form-button--plain">더보기 (1/20)</button>
      </p>
    </div>
    <!-- //NEW TO SALE -->
    <!-- 품절임박 -->
    <div class="soldout-imminent">
      <div class="soldout-info">
        <span class="soldout-info__text"><i class="sprite-common sprite-common-icon-time"></i>품절 임박!</span>
        <span class="soldout-info__time">13:58 기준</span>
      </div>
      <div class="swiper-container" id="soldoutImminentSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="product">
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/outlet_400x520_1.jpg" alt="상품명">
              </a>
              <div class="product__info">
                <div class="info-wrap">
                  <p class="brand">HAZZYS ACC</p>
                  <p class="name">블루 테슬장식 면 스니커즈 블루 테슬장식</p>
                  <p class="price-utill">
                    <span class="price-utill__sale">55%</span>
                    <span class="price-utill__price">285,000</span>
                    <del class="price-utill__real">233,000</del>
                  </p>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart active" data-modal-open="#modalWishlistRemove">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product">
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/outlet_400x520_2.jpg" alt="상품명">
              </a>
              <div class="product__info">
                <div class="info-wrap">
                  <p class="brand">HAZZYS ACC</p>
                  <p class="name">블루 테슬장식 면 스니커즈 블루 테슬장식 블루 테슬장식 면 스니커즈 블루 테슬장식</p>
                  <p class="price-utill">
                    <span class="price-utill__sale">55%</span>
                    <span class="price-utill__price">285,000</span>
                    <del class="price-utill__real">233,000</del>
                  </p>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart" data-modal-open="#modalWishlistAdd">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product">
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/outlet_400x520_3.jpg" alt="상품명">
              </a>
              <div class="product__info">
                <div class="info-wrap">
                  <p class="brand">HAZZYS ACC</p>
                  <p class="name">블루 테슬장식 면 스니커즈 블루 테슬장식</p>
                  <p class="price-utill">
                    <span class="price-utill__sale">55%</span>
                    <span class="price-utill__price">285,000</span>
                    <del class="price-utill__real">233,000</del>
                  </p>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart active" data-modal-open="#modalWishlistRemove">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product">
              <a href="#" class="product__image">
                <img src="/cmsstatic/asset/images/temp/outlet_400x520_4.jpg" alt="상품명">
              </a>
              <div class="product__info">
                <div class="info-wrap">
                  <p class="brand">HAZZYS ACC</p>
                  <p class="name">블루 테슬장식 면 스니커즈 블루 테슬장식 블루 테슬장식 면 스니커즈 블루 테슬장식</p>
                  <p class="price-utill">
                    <span class="price-utill__sale">55%</span>
                    <span class="price-utill__price">285,000</span>
                    <del class="price-utill__real">233,000</del>
                  </p>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart" data-modal-open="#modalWishlistAdd">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev banner-swiper-button-prev"></div>
        <div class="swiper-button-next banner-swiper-button-next"></div>
      </div>
    </div>
    <!-- //품절임박 -->
    <!-- SPECIAL PRICE -->
    <div class="special-price">
      <h3 class="outlet-title">SPECIAL PRICE</h3>
      <!-- 상품 목록 -->
      <div class="product-list-container">
        <ul class="product-list" id="productList" data-size="m">
          <li class="product-list__item" data-aos="product">
            <div class="product">
              <div class="product__image">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-pagination-container">
                    <div class="swiper-pagination"></div>
                    <div class="swiper-progress">
                      <span class="swiper-progress__fill"></span>
                    </div>
                  </div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
              </div>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZYS LADIES</p>
                  <p class="product__name">남녀공용남녀공용남녀공용남녀공용 크림화이트 ATTABOY 맨투맨 티셔츠</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart active" data-modal-open="#modalWishlistRemove">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>

          <li class="product-list__item" data-aos="product">
            <div class="product">
              <div class="product__image">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_2.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_2.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-pagination-container">
                    <div class="swiper-pagination"></div>
                    <div class="swiper-progress">
                      <span class="swiper-progress__fill"></span>
                    </div>
                  </div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
              </div>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZYS LADIES</p>
                  <p class="product__name">맨투맨 티셔츠</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart" data-modal-open="#modalWishlistAdd">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>

          <li class="product-list__item" data-aos="product">
            <div class="product">
              <div class="product__image">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_4.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_4.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_4.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-pagination-container">
                    <div class="swiper-pagination"></div>
                    <div class="swiper-progress">
                      <span class="swiper-progress__fill"></span>
                    </div>
                  </div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
              </div>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZYS LADIES</p>
                  <p class="product__name">남녀공용남녀공용남녀공용남녀공용 크림화이트 ATTABOY 맨투맨 티셔츠</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">885,980</span>
                  <span class="product__price-info">
                    <span class="retail">885,980</span>
                    <span class="discount">2%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart" data-modal-open="#modalWishlistAdd">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>

          <!-- 품절 -->
          <li class="product-list__item" data-aos="product">
            <div class="product product--soldout">
              <div class="product__image">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_1.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-pagination-container">
                    <div class="swiper-pagination"></div>
                    <div class="swiper-progress">
                      <span class="swiper-progress__fill"></span>
                    </div>
                  </div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
                <a href="#" class="product__image-state">
                  <div class="state">
                    <p class="message" data-aos="fade-right">SOLD OUT</p>
                  </div>
                </a>
              </div>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZYS LADIES</p>
                  <p class="product__name">남녀공용남녀공용남녀공용남녀공용 크림화이트 ATTABOY 맨투맨 티셔츠</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart" data-modal-open="#modalWishlistAdd">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
          <!-- //품절 -->

          <!-- 예약배송 -->
          <li class="product-list__item" data-aos="product">
            <div class="product product--scheduled">
              <div class="product__image">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_2.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_2.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-pagination-container">
                    <div class="swiper-pagination"></div>
                    <div class="swiper-progress">
                      <span class="swiper-progress__fill"></span>
                    </div>
                  </div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
                <div class="state">
                  <p class="message-container">
                    <span class="icon"><i class="sprite-common sprite-common-clock"></i></span>
                    <span class="message" data-aos>예약배송</span>
                  </p>
                </div>
              </div>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZYS LADIES</p>
                  <p class="product__name">맨투맨 티셔츠</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart" data-modal-open="#modalWishlistAdd">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
          <!-- //예약배송  -->

          <li class="product-list__item" data-aos="product">
            <div class="product">
              <div class="product__image">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_7.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-pagination-container">
                    <div class="swiper-pagination"></div>
                    <div class="swiper-progress">
                      <span class="swiper-progress__fill"></span>
                    </div>
                  </div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
              </div>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZYS LADIES</p>
                  <p class="product__name">맨투맨 티셔츠</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart" data-modal-open="#modalWishlistAdd">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>

          <li class="product-list__item" data-aos="product">
            <div class="product">
              <div class="product__image">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_8.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_8.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="#" class="product-image">
                        <img src="/cmsstatic/asset/images/temp/product_310x416_8.jpg" alt="네이비로고 자수 면 벙거지 모자">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-pagination-container">
                    <div class="swiper-pagination"></div>
                    <div class="swiper-progress">
                      <span class="swiper-progress__fill"></span>
                    </div>
                  </div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
              </div>
              <div class="product__content">
                <a href="#" class="product__info">
                  <p class="product__brand">HAZZYS LADIES</p>
                  <p class="product__name">맨투맨 티셔츠</p>
                </a>
                <div class="product__price">
                  <span class="product__price-sale">85,980</span>
                  <span class="product__price-info">
                    <span class="retail">85,980</span>
                    <span class="discount">24%</span>
                  </span>
                </div>
              </div>
              <div class="product__util">
                <button type="button" class="button button--heart" data-modal-open="#modalWishlistAdd">
                  <i class="sprite-common sprite-common-heart">위시리스트</i>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- //상품 목록 -->
      <p class="button-more">
        <button type="button" class="form-button form-button--plain">더보기 (1/20)</button>
      </p>
    </div>
    <!-- //NEW TO SALE -->
  </div>
  </main>
{% endblock %}

{% block sidebar %}
<div class="shell-sidebar shell-sidebar--product-filter" tabindex="-1" role="dialog">
  <div class="sidebar">
    <div class="sidebar__header">
      <h1 class="header__title">FILTER<em class="count">(200)</em></h1>
      <button type="button" class="button header__close" aria-label="닫기" data-sidebar-close>
        <i class="sprite-icon sprite-common sprite-common-close-layer">닫기</i>
      </button>
    </div>
    <div class="sidebar__content">

      <div class="search-form">
        <div class="input-block">
          <input type="text" class="form-text" placeholder="결과 내 검색">
          <button type="button" class="button button--search">
            <i class="sprite-icon sprite-common sprite-common-search">검색</i>
          </button>
        </div>
      </div>

      <div class="filters">
        <div class="filter-list" role="tablist" aria-label="review">
          <button type="button" class="button button--filter" role="tab" aria-selected="true" aria-controls="filterTabContent-1" id="filterTab-1">
            성별<em class="count">(2)</em>
          </button>
          <button type="button" class="button button--filter" role="tab" aria-selected="false" aria-controls="filterTabContent-2" id="filterTab-2" tabindex="-1">
            카테고리<em class="count"></em>
          </button>
          <button type="button" class="button button--filter" role="tab" aria-selected="false" aria-controls="filterTabContent-3" id="filterTab-3" tabindex="-1">
            시즌<em class="count"></em>
          </button>
          <button type="button" class="button button--filter" role="tab" aria-selected="false" aria-controls="filterTabContent-4" id="filterTab-4" tabindex="-1">
            색상<em class="count"></em>
          </button>
          <button type="button" class="button button--filter" role="tab" aria-selected="false" aria-controls="filterTabContent-5" id="filterTab-5" tabindex="-1">
            사이즈<em class="count"></em>
          </button>
          <button type="button" class="button button--filter" role="tab" aria-selected="false" aria-controls="filterTabContent-6" id="filterTab-6" tabindex="-1">
            소재<em class="count"></em>
          </button>
          <button type="button" class="button button--filter" role="tab" aria-selected="false" aria-controls="filterTabContent-7" id="filterTab-7" tabindex="-1">
            가격<em class="count"></em>
          </button>
          <button type="button" class="button button--filter" role="tab" aria-selected="false" aria-controls="filterTabContent-8" id="filterTab-8" tabindex="-1">
            패턴<em class="count"></em>
          </button>
          <button type="button" class="button button--filter" role="tab" aria-selected="false" aria-controls="filterTabContent-9" id="filterTab-9" tabindex="-1">
            별점<em class="count"></em>
          </button>
        </div>
        <!-- 성별 -->
        <div class="filter-panel" tabindex="0" role="tabpanel" id="filterTabContent-1" aria-labelledby="filterTab-1">
          <ul class="option-list option-list--gender">
            <li class="option-list__item">
              <label class="form-checkbox">
                <!-- value, data-name은 샘플제작을 위해 추가한 속성입니다. (개발시 삭제) -->
                <input type="checkbox" class="checkbox" value="ALL" data-name="성별전체">
                <span class="name">전체</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox" value="F" data-name="여성">
                <span class="name">여성</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox" value="M" data-name="남성">
                <span class="name">남성</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox" value="FM" data-name="남여공용">
                <span class="name">남여공용</span>
              </label>
            </li>
          </ul>
        </div>
        <!-- //성별 -->
        <!-- 카테고리 -->
        <div class="filter-panel" tabindex="0" role="tabpanel" id="filterTabContent-2" aria-labelledby="filterTab-2" hidden>

          <ul class="category-filter">
            <li class="category-filter__list-item">
              <div class="category-filter__item">
                <button type="button" class="button button--category">MEN</button>
                <button type="button" class="button button--toggle">Toggle</button>
              </div>
              <ul class="category-filter__list">
                <li class="category-filter__list-item">
                  <div class="category-filter__item">
                    <button type="button" class="button button--category">ALL</button>
                  </div>
                </li>
                <li class="category-filter__list-item">
                  <div class="category-filter__item">
                    <button type="button" class="button button--category">OUTER</button>
                    <button type="button" class="button button--toggle">Toggle</button>
                  </div>
                  <ul class="category-filter__list">
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">ALL</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">코트</button>
                    </li>
                    <li class="category-filter__list-item">
                      <!-- 선택됨 -->
                      <button type="button" class="button button--category is-selected">점퍼</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">자켓</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">베스트</button>
                    </li>
                  </ul>
                </li>
                <li class="category-filter__list-item">
                  <div class="category-filter__item">
                    <button type="button" class="button button--category">TOP</button>
                    <button type="button" class="button button--toggle">Toggle</button>
                  </div>
                  <ul class="category-filter__list">
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">ALL</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">셔츠</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">티셔츠</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">니트웨어</button>
                    </li>
                  </ul>
                </li>
                <li class="category-filter__list-item">
                  <div class="category-filter__item">
                    <button type="button" class="button button--category">BOTTOM</button>
                    <button type="button" class="button button--toggle">Toggle</button>
                  </div>
                  <ul class="category-filter__list">
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">ALL</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">롱</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">하프</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">데님</button>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="category-filter__list-item">
              <div class="category-filter__item">
                <button type="button" class="button button--category">LADIES</button>
                <button type="button" class="button button--toggle">Toggle</button>
              </div>
              <ul class="category-filter__list">
                <li class="category-filter__list-item">
                  <div class="category-filter__item">
                    <button type="button" class="button button--category">ALL</button>
                  </div>
                </li>
                <li class="category-filter__list-item">
                  <div class="category-filter__item">
                    <button type="button" class="button button--category">OUTER</button>
                    <button type="button" class="button button--toggle">Toggle</button>
                  </div>
                  <ul class="category-filter__list">
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">ALL</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">코트</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">점퍼</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">자켓</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">베스트</button>
                    </li>
                  </ul>
                </li>
                <li class="category-filter__list-item">
                  <div class="category-filter__item">
                    <button type="button" class="button button--category">TOP</button>
                  </div>
                  <ul class="category-filter__list">
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">ALL</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">블라우스/셔츠</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">티셔츠</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">니트웨어</button>
                    </li>
                  </ul>
                </li>
                <li class="category-filter__list-item">
                  <div class="category-filter__item">
                    <button type="button" class="button button--category">BOTTOM</button>
                  </div>
                  <ul class="category-filter__list">
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">ALL</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">원피스</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">스커트</button>
                    </li>
                    <li class="category-filter__list-item">
                      <button type="button" class="button button--category">팬츠</button>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- //카테고리 -->
        <!-- 시즌 -->
        <div class="filter-panel" tabindex="0" role="tabpanel" id="filterTabContent-3" aria-labelledby="filterTab-3" hidden>
          <dl class="option-group">
            <dt class="option-group__title">연도</dt>
            <dd class="option-group__content">
              <ul class="option-list option-list--season">
                <!--  최근 2년만 -->
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">2021</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">2020</span>
                  </label>
                </li>
              </ul>
            </dd>
          </dl>
          <dl class="option-group">
            <dt class="option-group__title">계절</dt>
            <dd class="option-group__content">
              <ul class="option-list option-list--season">
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">봄</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">여름</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">가을</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">겨울</span>
                  </label>
                </li>
              </ul>
            </dd>
          </dl>
        </div>
        <!-- //시즌 -->
        <!-- 색상 -->
        <div class="filter-panel" tabindex="0" role="tabpanel" id="filterTabContent-4" aria-labelledby="filterTab-4" hidden>
          <ul class="colorchip">
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-01.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-02.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-03.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-04.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-05.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-06.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-07.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-08.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-09.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-10.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-11.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-12.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-13.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-14.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
            <li class="colorchip__item">
              <label class="form-colorchip">
                <input type="checkbox" class="checkbox">
                <span class="preview">
                  <img src="/cmsstatic/asset/images/temp/colorchip-15.png" alt="{ColorNm}">
                </span>
              </label>
            </li>
          </ul>
        </div>
        <!-- //색상 -->
        <!-- 사이즈 -->
        <div class="filter-panel" tabindex="0" role="tabpanel" id="filterTabContent-5" aria-labelledby="filterTab-5" hidden>
          <dl class="option-group">
            <dt class="option-group__title">상의</dt>
            <dd class="option-group__content">
              <ul class="option-list option-list--size">
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">85</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">90</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">95</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">100</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">S</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">M</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">L</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">44 - 55</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">55 - 66</span>
                  </label>
                </li>
              </ul>
            </dd>
          </dl>
          <dl class="option-group">
            <dt class="option-group__title">하의</dt>
            <dd class="option-group__content">
              <ul class="option-list option-list--size">
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">26</span>
                  </label>
                </li>
                <li class="option-list__item">
                  <label class="form-checkbox">
                    <input type="checkbox" class="checkbox">
                    <span class="name">27</span>
                  </label>
                </li>
              </ul>
            </dd>
          </dl>
        </div>
        <!-- //사이즈 -->
        <!-- 소재 -->
        <div class="filter-panel" tabindex="0" role="tabpanel" id="filterTabContent-6" aria-labelledby="filterTab-6" hidden>
          <ul class="option-list option-list--material">
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">합성섬유</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">코튼(면)</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">울/캐시미어</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">데님</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">린넨/마</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">쉬폰/실크</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">가죽</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">코듀로이</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">다운</span>
              </label>
            </li>
          </ul>
        </div>
        <!-- //소재 -->
        <!-- 가격 -->
        <div class="filter-panel" tabindex="0" role="tabpanel" id="filterTabContent-7" aria-labelledby="filterTab-7" hidden>
          <ul class="option-list option-list--price">
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">전체</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">~ 50,000</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">50,000 ~ 100,000</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">100,000 ~ 150,000</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">150,000 ~ 200,000</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">200,000 ~ 250,000</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">250,000 ~ 500,000</span>
              </label>
            </li>
          </ul>
        </div>
        <!-- //가격 -->
        <!-- 패턴 -->
        <div class="filter-panel" tabindex="0" role="tabpanel" id="filterTabContent-8" aria-labelledby="filterTab-8" hidden>
          <ul class="option-list option-list--pattern">
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">솔리드</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">로고</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">체크</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">컬러블록</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">스트라이프</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">기하학</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">플라워</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">캐릭터</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">도트</span>
              </label>
            </li>
          </ul>
        </div>
        <!-- //패턴 -->
        <!-- 별점 -->
        <div class="filter-panel" tabindex="0" role="tabpanel" id="filterTabContent-9" aria-labelledby="filterTab-9" hidden>
          <ul class="option-list option-list--review">
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name">전체</span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name rating">
                  <span class="rating__point">5.0</span>
                  <span class="rating__icon">
                    <span class="rating__value" style="width: 100%"></span>
                  </span>
                </span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name rating">
                  <span class="rating__point">4.0</span>
                  <span class="rating__icon">
                    <span class="rating__value" style="width: 80%"></span>
                  </span>
                </span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name rating">
                  <span class="rating__point">3.0</span>
                  <span class="rating__icon">
                    <span class="rating__value" style="width: 60%"></span>
                  </span>
                </span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name rating">
                  <span class="rating__point">2.0</span>
                  <span class="rating__icon">
                    <span class="rating__value" style="width: 40%"></span>
                  </span>
                </span>
              </label>
            </li>
            <li class="option-list__item">
              <label class="form-checkbox">
                <input type="checkbox" class="checkbox">
                <span class="name rating">
                  <span class="rating__point">1.0</span>
                  <span class="rating__icon">
                    <span class="rating__value" style="width: 20%"></span>
                  </span>
                </span>
              </label>
            </li>
          </ul>
        </div>
        <!-- //별점 -->
      </div>

    </div>
    <div class="sidebar__footer">
      <div class="filter-state">
        <div class="filter-state__util">
          <button type="button" class="button button--reset" data-filter-reset>초기화</button>
        </div>
        <!-- 선택된 필터 -->

        <div class="filter-state__selected" data-filter-list>
          <!--
          // window.filter.add 를 이용해서 추가함
          <span class="filter-tag" data-filter="gender" data-filter-value="M" data-filter-name="남성">
            <span class="name">남성</span>
            <button type="button" class="button button--remove" data-filter-remove>
              <i class="sprite-icon sprite-common sprite-common-remove">삭제</i>
            </button>
          </span>
          -->
        </div>
        <!-- //선택된 필터 -->
        <div class="filter-state__submit">
          <button type="button" class="form-button form-button--main">200개 상품 보기</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block modal %}
{# 위시리스트 담기 #modalWishlistAdd #}
{% include "modal/product/wishlist-add.njk" %}

{# 위시리스트 삭제 #modalWishlistRemove #}
{% include "modal/product/wishlist-remove.njk" %}
{% endblock modal %}

{% block css %}
  <link rel="stylesheet" href="/asset/css/outlet.css"/>
  <link rel="stylesheet" href="/asset/css/list.css"/>
{% endblock css %}

{% block js %}
  <script src="/asset/js/outlet.js"></script>
  <script>
    var productList = [];
    function swierInit(element, isLoop) {
      var instance = $(element).data('swiper');
      if(instance) {
        instance.update();
        return false;
      }

      var swiper = new Swiper(element, {
        loop: isLoop,
        pagination: {
          el: '.swiper-pagination'
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        on: {
          init: function () {
            if(isLoop){
              swiperPagination(this);
            }
          },
          slideChange: function () {
            if(isLoop){
              swiperPagination(this);
            }
          },
          resize: function(){
            // throttle
            this.update();
          },
          update: function(){
            if(isLoop){
              swiperPagination(this);
            }
          }
        }
      });

      if(isLoop){
        $(element).addClass('is-active');
      } else {
        swiper.detachEvents();
      }
      $(element).data('swiper', swiper);
      productList.push(swiper);
    }

    function swiperPagination(instance) {
      var swiper = instance;
      var slides = swiper.slides;
      var length = swiper.params.loop
        ? slides.length - 2
        : slides.length;
      var percent = (swiper.realIndex + 1) / length * 100;
      window.setTimeout(function () {
        $(swiper.pagination.el)
          .parent()
          .find('.swiper-progress__fill')
          .width(percent + '%');
      }, 10)
    }

    $(function () {
      // 상품 슬라이더
      $('.product-list-container .swiper-container').each(function () {
        var $element = $(this);
        // 동적으로 추가되는 상품도 아래와 같이 추가필요함
        swierInit($element[0], $element.find('.swiper-slide').length > 1);
      });

      // 아울렛 상단 배너
      var outletBannerSlides = $('.outlet-key-banner .swiper-slide');
      var outletBannerSwiper = new Swiper('.outlet-key-banner .swiper-container', {
        loop: true,
        spaceBetween: 225,
        slidesOffsetBefore: 0,
        slidesPerView: 1.5,
        centeredSlides: true,
        breakpoints: {
          1023: {
            loop: outletBannerSlides.length > 1,
            spaceBetween: 0,
            slidesPerView: 1
          }
        },
        pagination: {
          type: 'fraction',
          el: '.banner-swiper-pagination'
        },
        navigation: {
          nextEl: '.banner-swiper-button-next',
          prevEl: '.banner-swiper-button-prev'
        }
      });
    });

    // 품절 임박
    new Swiper('#soldoutImminentSwiper', {
      loop: false,
      freeMode: true,
      slidesPerView: 'auto',
      spaceBetween: 30,
      breakpoints: {
        1023: {
          spaceBetween: 20
        }
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      }
    });
    
    // 카테고리 fixed
    window.onscroll = function() {categorySticky()};

    var floatingCategory = document.getElementById('floating-category');
    var sticky = floatingCategory.offsetTop;

    function categorySticky() {
      if (window.pageYOffset > sticky) {
        floatingCategory.classList.add('fixed');
      } else {
        floatingCategory.classList.remove('fixed');
      }
    }
  </script>
{% endblock js %}
