{% extends 'default.njk' %}

{% block content %}
  
{% endblock %}

{% block modal %}

{% endblock modal %}

{% block css %}
  <link rel="stylesheet" href="/asset/css/outlet.css"/>
{% endblock css %}

{% block js %}
  <script src="/asset/js/outlet.js"></script>
{% endblock js %}
