@import '../../asset/css/variables.scss';
@import '../../asset/css/mixins.scss';

.shell-footer {
  margin: 120px 10px 0;
  padding-bottom: 50px;
  border-top: 1px solid #000;
  @include mq('desktop') {
    margin: 0 30px;
    margin-top: 300px;
  }

  .footer {
    &__media {
      padding: 40px 0 60px;
      border-bottom: 1px solid #e6e6e6;
      text-align: center;
      .footer__logo {
        font-size: 0;
        line-height: 0;
        .sprite-common {
          display: inline-block;
          @include text-hidden;
        }
      }
      .media {
        margin-top: 20px;
        text-align: center;
        font-size: 0;
        line-height: 0;
        &__item {
          display: inline-block;
          .sprite-common {
            display: inline-block;
            @include text-hidden;
          }
          + .media__item {
            margin-left: 20px;
          }
        }
      }
    }
    &__sitemap {
      margin-top: 60px;
      .sitemap {
        width: 100%;
        display: flex;
        justify-content: space-around;

        &__item {
          font-weight: 300;
          font-size: 12px;
          line-height: 18px;
          color: $color-text-emphasize;
          &.strong {
            font-weight: 600;
          }
          a {
            display: inline-block;
            font-family: inherit;
            font-weight: inherit;
            color: inherit;
            text-decoration: none;
          }
        }
      }
    }

    &--company {
      margin-top: 40px;
    }
    &__location {
      font-size: 12px;
      line-height: 22px;
      font-family: $font-noto-sans;
      font-weight: 300;
      color: #919191;
      text-align: center;
      padding: 0 5px;
      .location-group__item {
        position: relative;
        margin-right: 7px;
        padding-right: 8px;
        &:after {
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          width: 1px;
          height: 10px;
          background: #919191;
          margin-top: -4px;
          opacity: .6;
        }
        &:last-child {
          margin-right: 0;
          padding-right: 0;
          &:after {
            content: none;
          }
        }
        a {
          color: $color-text-emphasize;
          text-decoration: underline;
        }
      }
    }
    &__copyright {
      margin-top: 20px;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
    }
    @include mq('desktop') {
      position: relative;
      padding: 50px 0 0 270px;

      &__media {
        padding: 0;
          border-bottom: 0;
        .footer__logo {
          position: absolute;
          top: 50px;
          left: 0;
          .sprite-common-logo-footer {
            @include sprite($common-logo-footer-large)
          }
        }
        .media {
          margin-top: 0;
          position: absolute;
          top: 50px;
          right: 0;
        }
      }
      &__sitemap {
        margin-top: 10px;
        display: block;
        .sitemap {
          justify-content: flex-start;
          &__item {
            + .sitemap__item {
              margin-left: 30px;
            }
          }
        }
      }
      &--company {
        margin-top: 30px;
        padding-top: 0;
      }
      &__location {
        text-align: left;
        padding: 0;
        .location-group {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          margin-right: 7px;
          padding-right: 8px;
          &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 1px;
            height: 10px;
            background: #919191;
            margin-top: -4px;
            opacity: .6;
          }
          &:last-child {
            &:after {
              content: none;
            }
          }
        }
        .location-group__item {
          &:after {
            margin-top: -4px;
          }
        }
      }
      &__copyright {
        margin-top: 10px;
        text-align: left;
      }
    }
  }
}