<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>HAZZYSㅣ온라인 직영 플래그십 스토어</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="21FW 컬렉션과 나만의 할인혜택, 뱃지모으기 등 새로움으로 가득한 HAPPY 헤지스닷컴을 지금 만나보세요.">
    <meta property="og:url" content="https://www.hazzys.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="HAZZYSㅣ온라인 직영 플래그십 스토어">
    <meta property="og:image" content="/ui-publish/cmsstatic/asset/images/logo_hazzys.jpg">
    <meta property="og:description" content="21FW 컬렉션과 나만의 할인혜택, 뱃지모으기 등 새로움으로 가득한 HAPPY 헤지스닷컴을 지금 만나보세요.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" sizes="16x16 32x32" type="image/x-icon" href="/ui-publish/cmsstatic/asset/images/favicon_32x32.png">
    <link rel="icon" sizes="16x16 32x32" type="image/png" href="/ui-publish/cmsstatic/asset/images/favicon_32x32.png">
    <!-- Common CSS -->
    <link rel="stylesheet" href="/ui-publish/asset/css/common.css">
    <!-- Page CSS -->
    <link rel="stylesheet" href="/ui-publish/asset/css/guide.css" />
  </head>
  <body>
    <div class="app">
      <!-- 본문 -->
      <main class="shell-main">
        
      </main>
      <!-- //본문 -->

      <!-- Footer -->
      <!-- [UPDATE: 1126] -->
      <footer class="shell-footer">
        <div class="footer">
          <div class="footer__media">
            <div class="footer__logo">
              <i class="sprite-common sprite-common-logo-footer">HAZZYS</i>
            </div>
            <div class="media">
              <a href="https://www.instagram.com/standup.haesu/" class="media__item">
                <i class="sns-instahaesu">인스타그램 해수</i>
              </a>
              <a href="https://www.instagram.com/hazzys_official/?hl=ko" class="media__item">
                <i class="sprite-common sprite-common-sns-insta">인스타그램</i>
              </a>
              <a href="https://www.facebook.com/hazzysstory" class="media__item">
                <i class="sprite-common sprite-common-sns-facebook">페이스북</i>
              </a>
              <a href="https://www.youtube.com/channel/UC6yEGGt6akQlqIk20RQ1zHQ" class="media__item">
                <i class="sprite-common sprite-common-sns-youtube">유튜브</i>
              </a>
              <a href="https://open.spotify.com/user/usoi3l1bc4r72or66ganxkbd2?si=2a8ac5d6b5c14e9f" class="media__item">
                <i class="icon-spotify">스포티파이</i>
              </a>
              <a href="https://pf.kakao.com/_wdUuI" class="media__item">
                <i class="sprite-common sprite-common-sns-kakao">카카오 플러스 친구</i>
              </a>
            </div>
          </div>
          <div class="footer__sitemap">
            <ul class="sitemap sitemap--service">
              <li class="sitemap__item"><a href="#">공지사항</a></li>
              <li class="sitemap__item"><a href="#">고객센터</a></li>
              <li class="sitemap__item"><a href="#">이용약관</a></li>
              <li class="sitemap__item strong"><a href="#">개인정보 처리방침</a></li>
            </ul>
          </div>
        </div>
        <div class="footer footer--company">
          <div class="footer__location">
            <div class="location-group">
              <span class="location-group__item">서울 강남구 언주로 870</span>
              <span class="location-group__item">(주)LF 대표이사 오규식/김상균</span>
            </div>
            <div class="location-group">
              <span class="location-group__item">연락처 1544-5114 (유료)</span>
              <span class="location-group__item">이메일 lfcs@lfcorp.com</span>
            </div>
            <div class="location-group">
              <span class="location-group__item">
                <span>사업자등록번호 : 211-87-87724 </span>
                <a href="#">사업자 정보확인</a>
              </span>
            </div>
            <div class="location-group">
              <span class="location-group__item">통신판매업신고 : 제2010-서울강남-00066호</span>
            </div>
          </div>
          <div class="footer__safe">
            <div class="safe-list">
              <a href="https://www.naward.or.kr/winners/2021?category=2">
                <img src="/ui-publish/cmsstatic/asset/images/ico_parenter_5.png" alt="사단법인 한국 디지털 기업협회">
              </a>
              <a href="https://www.hometax.go.kr/websquare/websquare.html?w2xPath=/ui/pp/index.xml">
                <img src="/ui-publish/cmsstatic/asset/images/ico_parenter_2.png" alt="국세청 현금영수증 서비스">
              </a>
              <a href="https://www.safetykorea.kr/">
                <img src="/ui-publish/cmsstatic/asset/images/ico_parenter_3.png" alt="제품안전인증검색, 불법제품신고센터">
              </a>
              <span>
                <img src="/ui-publish/cmsstatic/asset/images/ico_parenter_4.png" alt="우리은행 채무보증안내">
              </span>
              <a href="#" class="safe-service" title="서비스 가입사실 확인">서비스 가입사실 확인</a>
            </div>
            <div class="safe-service-mobile">
              <a href="#" title="소비자피해보상 보험확인">소비자피해보상 보험확인</a>
            </div>
          </div>
          <p class="footer__copyright">&copy; 2021 HAZZYS ALL RIGHTS RESERVED.</p>
        </div>
      </footer>
      <!-- // [UPDATE: 1126] -->

      <!-- //Footer -->
    </div>
  </body>
</html>
