{% extends 'guide.njk' %}

{% block content %}
<article class="guide-contents">
  <header class="guide-contents__header">
    <h1 class="guide-contents__title">
      Form
      <small class="guide-contents__title-small">
        Button
      </small>
    </h1>
  </header>
  <div class="guide-contents__body">
    <article class="guide-section">
      <header class="guide-section__header">
        <h1 class="guide-section__title">
          button
        </h1>
      </header>
      <div class="guide-section__contents">
        <div class="guide-example">
          <button type="button" class="form-button">기본 버튼</button>
          <a href="#" class="form-button">버튼 스타일 링크</a>
          <br>
          <button type="button" class="form-button form-button--main">강조 버튼</button>
          <a href="#" class="form-button form-button--main">강조 스타일 링크</a>
          <br>
          <button type="button" class="form-button form-button--point">포인트 컬러 버튼</button>
          <a href="#" class="form-button form-button--point">포인트 컬러 스타일 링크</a>
          <br>
          <button type="button" class="form-button form-button--plain">라인 버튼</button>
          <a href="#" class="form-button form-button--plain">라인 스타일 링크</a>
          <br>
        </div>
        <div class="guide-code">
{% highlight "html" %}
<!-- 기본 -->
<button type="button" class="form-button">기본 버튼</button>
<a href="#" class="form-button">버튼 스타일 링크</a>
<!-- 강조 -->
<button type="button" class="form-button form-button--main">강조 버튼</button>
<a href="#" class="form-button form-button--main">강조 스타일 링크</a>
<!-- 포인트 컬러 -->
<button type="button" class="form-button form-button--point">포인트 컬러 버튼</button>
<a href="#" class="form-button form-button--point">포인트 컬러 스타일 링크</a>
<!-- 라인 -->
<button type="button" class="form-button form-button--plain">라인 버튼</button>
<a href="#" class="form-button form-button--plain">라인 스타일 링크</a>
{% endhighlight %}
        </div>
      </div>
    </article>
  </div>
</article>
{% endblock %}