{% extends 'guide.njk' %}

{% block content %}
<article class="guide-contents">
  <header class="guide-contents__header">
    <h1 class="guide-contents__title">
      Form
      <small class="guide-contents__title-small">
        Checkbox
      </small>
    </h1>
  </header>
  <div class="guide-contents__body">
    <article class="guide-section">
      <header class="guide-section__header">
        <h1 class="guide-section__title">
          input:checkbox
        </h1>
      </header>
      <div class="guide-section__contents">
        <div class="guide-example">
          <span class="form-checkbox form-checkbox">
            <input type="checkbox" class="checkbox" title="레이블 대신 title 속성 사용">
            <i class="icon"></i>
          </span>
          <label class="form-checkbox">
            <input type="checkbox" class="checkbox">
            <span class="name">레이블</span>
          </label>
        </div>
        <div class="guide-code">
{% highlight "html" %}
<!-- label 미사용 -->
<span class="form-checkbox">
  <input type="checkbox" class="checkbox" title="레이블 대신 title 속성 사용">
  <i class="icon"></i>
</span>
<!-- label 사용 -->
<label class="form-checkbox">
  <input type="checkbox" class="checkbox">
  <span class="name">레이블</span>
</label>
{% endhighlight %}
        </div>

        <div class="guide-example">
          <span class="form-checkbox form-checkbox--small">
            <input type="checkbox" class="checkbox" title="레이블 대신 title 속성 사용">
            <i class="icon"></i>
          </span>
          <label class="form-checkbox form-checkbox--small">
            <input type="checkbox" class="checkbox">
            <span class="name">레이블</span>
          </label>
        </div>
        <div class="guide-code">
{% highlight "html" %}
<!-- label 미사용 -->
<span class="form-checkbox form-checkbox--small">
  <input type="checkbox" class="checkbox" title="레이블 대신 title 속성 사용">
  <i class="icon"></i>
</span>
<!-- label 사용 -->
<label class="form-checkbox form-checkbox--small">
  <input type="checkbox" class="checkbox">
  <span class="name">레이블</span>
</label>
{% endhighlight %}
        </div>
        <div class="guide-example">
          <span class="form-checkbox form-checkbox--plain">
            <input type="checkbox" class="checkbox" title="레이블 대신 title 속성 사용">
            <i class="icon"></i>
          </span>
          <label class="form-checkbox form-checkbox--plain">
            <input type="checkbox" class="checkbox">
            <span class="name">레이블</span>
          </label>
        </div>
        <div class="guide-code">
{% highlight "html" %}
<!-- label 미사용 -->
<label class="form-checkbox form-checkbox--plain">
  <input type="checkbox" class="checkbox">
  <span class="name">레이블</span>
</label>
<!-- label 사용 -->
<label class="form-checkbox form-checkbox--plain">
  <input type="checkbox" class="checkbox">
  <span class="name">레이블</span>
</label>
{% endhighlight %}
        </div>
      </div>
    </article>
  </div>
</article>
{% endblock %}