---
layout: guide
title: 메인
---
<article class="guide-contents">
  <header class="guide-contents__header">
    <h1 class="guide-contents__title">
      Form
      <small class="guide-contents__title-small">
        Select
      </small>
    </h1>
  </header>
  <div class="guide-contents__body">
    <article class="guide-section">
      <header class="guide-section__header">
        <h1 class="guide-section__title">
          input:text
        </h1>
      </header>
      <div class="guide-section__contents">
        <div class="guide-example">
            <span class="form-select">
              <select class="select">
                <option value="">전체</option>
                <option value="1">옵션1</option>
                <option value="2">옵션2</option>
                <option value="3">옵션3</option>
              </select>
              <i class="icon"></i>
            </span>
        </div>
        <div class="guide-code">
{% highlight "html" %}
<span class="form-select">
  <select class="select">
    <option value="">전체</option>
    <option value="1">옵션1</option>
    <option value="2">옵션2</option>
    <option value="3">옵션3</option>
  </select>
  <i class="icon"></i>
</span>
{% endhighlight %}
        </div>
      </div>
    </article>
  </div>
</article>