---
layout: guide
title: 메인
---
<article class="guide-contents">
  <header class="guide-contents__header">
    <h1 class="guide-contents__title">
      Form
      <small class="guide-contents__title-small">
        input[type='text'], input[type='password']
      </small>
    </h1>
  </header>
  <div class="guide-contents__body">
    <article class="guide-section">
      <header class="guide-section__header">
        <h1 class="guide-section__title">
          input:text
        </h1>
      </header>
      <div class="guide-section__contents">
        <div class="guide-example">
          <div class="input-block">
            <input type="text" class="form-text" placeholder="입력하세요.">
          </div>
          <br>
          <div class="input-block">
            <input type="text" class="form-text" placeholder="입력하세요.">
            <p class="input-block__comment">
              설명이 들어갑니다.
            </p>
          </div>
          <br>
          <div class="input-block input-block--error">
            <input type="text" class="form-text" placeholder="입력하세요.">
            <p class="input-block__comment">
              오류메세지가 출력됩니다.
            </p>
          </div>
        </div>
        <div class="guide-code">
{% highlight "html" %}
<div class="input-block">
  <input type="text" class="form-text" placeholder="입력하세요.">
</div>
<!-- 설명 -->
<div class="input-block">
  <input type="text" class="form-text" placeholder="입력하세요.">
  <p class="input-block__comment">
    설명이 들어갑니다.
  </p>
</div>
<!-- 오류 -->
<div class="input-block input-block--error">
  <input type="text" class="form-text" placeholder="입력하세요.">
  <p class="input-block__comment">
    오류메세지가 출력됩니다.
  </p>
</div>
{% endhighlight %}
        </div>
      </div>
    </article>


    <article class="guide-section">
      <header class="guide-section__header">
        <h1 class="guide-section__title">
          input:password
        </h1>
      </header>
      <div class="guide-section__contents">
        <div class="guide-example">
          <div class="input-block" data-form-text>
            <div class="input-block__password">
              <input type="password" class="form-text" placeholder="비밀번호"/>
              <button class="form-toggle-button" data-form-text-toggle>비밀번호 보기</button>
            </div>
          </div>
          <br>
          <div class="input-block" data-form-text>
            <div class="input-block__password">
              <input type="password" class="form-text" placeholder="비밀번호"/>
              <button class="form-toggle-button" data-form-text-toggle>비밀번호 보기</button>
            </div>
            <p class="input-block__comment">
              설명이 들어갑니다.
            </p>
          </div>
          <br>
          <div class="input-block input-block--error" data-form-text>
            <div class="input-block__password">
              <input type="password" class="form-text" placeholder="비밀번호"/>
              <button class="form-toggle-button" data-form-text-toggle>비밀번호 보기</button>
            </div>
            <p class="input-block__comment">
              설정하신 비밀번호와 일치하지 않아요. 다시 한 번 입력해주세요!
            </p>
          </div>
        </div>
        <div class="guide-code">
{% highlight "html" %}
<div class="input-block" data-form-text>
  <div class="input-block__password">
    <input type="password" class="form-text" placeholder="비밀번호"/>
    <button class="form-toggle-button" data-form-text-toggle>비밀번호 보기</button>
  </div>
</div>
<!-- 설명 -->
<div class="input-block" data-form-text>
  <div class="input-block__password">
    <input type="password" class="form-text" placeholder="비밀번호"/>
    <button class="form-toggle-button" data-form-text-toggle>비밀번호 보기</button>
  </div>
  <p class="input-block__comment">
    설명이 들어갑니다.
  </p>
</div>
<!-- 오류 -->
<div class="input-block input-block--error" data-form-text>
  <div class="input-block__password">
    <input type="password" class="form-text" placeholder="비밀번호"/>
    <button class="form-toggle-button" data-form-text-toggle>비밀번호 보기</button>
  </div>
  <p class="input-block__comment">
    설정하신 비밀번호와 일치하지 않아요. 다시 한 번 입력해주세요!
  </p>
</div>
{% endhighlight %}
        </div>
      </div>
    </article>

    <article class="guide-section">
      <header class="guide-section__header">
        <h1 class="guide-section__title">
          input:number ( 수량 )
        </h1>
      </header>
      <div class="guide-section__contents">
        <div class="guide-example">
          <div class="form-input-qty" data-form-text>
            <button type="button" class="form-input-qty__decrease" data-form-qty="decrease">-</button>
            <label class="form-input-qty__input">
              <input type="number" class="form-text" min="1" max="99" pattern="[0-9]*" value="1" />
            </label>
            <button type="button" class="form-input-qty__increase" data-form-qty="increase">+</button>
          </div>
        </div>
        <div class="guide-code">
{% highlight "html" %}
<div class="form-input-qty" data-form-text>
  <button type="button" class="form-input-qty__decrease" data-form-qty="decrease">-</button>
  <label class="form-input-qty__input">
    <input type="number" class="form-text" min="0" max="99" pattern="[0-9]*" value="1" />
  </label>
  <button type="button" class="form-input-qty__increase" data-form-qty="increase">+</button>
</div>
{% endhighlight %}
        </div>
      </div>
    </article>



  </div>
</article>