$breakpoints: (
  'tablet': 768px,
  'desktop': 1024px,
  'desktop-wide': 1440px,
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

// No User Selection
@mixin no-user-select {
  /* autoprefixer: off */
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// 단어 단위로 줄바꿈
@mixin keep-word {
  word-break: keep-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin text-ellipsis-line($line: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin self-clear {
  &:before,
  &:after {
    display: table;
    content: '';
  }

  &:after {
    clear: both;
  }
}

@mixin no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin text-hidden {
  text-indent: 110%;
  line-height: 2;
  white-space: nowrap;
  overflow: hidden;
}

// White 배경 Blur 효과
// @include background-blur(4px, 0.2, 'black');
@mixin background-blur($blur: 4px, $opacity: 0.8, $color: white) {
  -webkit-backdrop-filter: blur($blur);
  backdrop-filter: blur($blur);
  @if $color == 'black' {
    background-color: rgba(0, 0, 0, $opacity);
  }
  @else {
    background-color: rgba(255, 255, 255, $opacity);
  }
}

// White 배경 Blur 효과 삭제
@mixin background-blur-reset {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  background-color: transparent;
}
