// Font Family
// =============================================================================
// "Noto Sans KR", 
$font-famliy-default: 'Gotham', 'Noto Sans KR', 'Malgun Gothic', '맑은고딕', 'AppleSDGothicNeo', sans-serif;
$font-noto-sans: 'Noto Sans KR', sans-serif;
$font-noto-sans-thin: 100;
$font-noto-sans-light: 300;
$font-noto-sans-regular: 400;
$font-noto-sans-medium: 500;
$font-noto-sans-bold: 700;
$font-noto-sans-black: 900;

$font-gotham: 'Gotham', sans-serif;
$font-gotham-normal: 400;
$font-gotham-book: 450;
$font-gotham-medium: 500;
$font-gotham-bold: 600;
$font-gotham-black: 700;


// Color
// =============================================================================
$color-black: #000;
$color-grey-01: #e6e6e6;
$color-grey-02: #919191;
$color-grey-03: #717171;
$color-grey-04: #c9c9c9;

$color-orange-keycolor: #ff781e;
$color-white: #fff;

// Text Color
$color-text-primary: $color-grey-02;
$color-text-emphasize: $color-black;
$color-text-disabled: $color-grey-04;
$color-text-point: $color-orange-keycolor;
$color-text-error: #f00;
$color-text-white: $color-white;

// Line Color
$color-line-default: $color-grey-02;
$color-line-emphasize: $color-black;
$color-line-ready: $color-grey-04;
$color-line-border: $color-grey-01;
$color-line-error: #f00;
$color-line-point: $color-orange-keycolor;

// Solid color
$color-solid-default: $color-grey-02;
$color-solid-ready: $color-grey-04;
$color-solid-emphasize: $color-black;
$color-solid-point: $color-orange-keycolor;
$color-solid-white: $color-white;
$color-solid-disabled: #f0f0f0;

// transition
// =============================================================================
$transition-header-hidden: transform 0.3s;

$breakpoints: (
  'phone': 400px,
  'phone-wide': 480px,
  'phablet': 560px,
  'tablet-small': 640px,
  'tablet': 768px,
  'tablet-wide': 1024px,
  // 'desktop': 1248px,
  'desktop': 1024px,
  'desktop-wide': 1440px,
);

:export {
  // desktopWidth: 1248px
  desktopWidth: 1024px
}



// 페이지에서 공통으로 사용되는 구조
// =============================================================================

// No Data
%no-data {
  text-align: center;
  .sprite-common,
  .sprite-mypage {
    display: inline-block;
    vertical-align: top;
  }
  .message {
    margin-top: 5px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: $color-text-emphasize;
  }
  .util {
    margin-top: 30px;
    text-align: center;
    .form-button {
      display: block;
      margin: 0 auto;
      width: 165px;
      height: 40px;
      font-size: 12px;
      line-height: 40px;
    }
  }
}

@mixin content-card-block {
  position: relative;
  margin: 0 10px;
  &__title {
    padding: 15px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: $color-text-emphasize;
    border-bottom: 1px solid #000;
  }
  &__content {
    .no-data {
      @extend %no-data;
    }
  }
  &__more {
    position: absolute;
    top: 18px;
    right: 0;
    padding-right: 12px;
    font-size: 12px;
    line-height: 1;
    font-weight: 300;
    color: $color-text-primary;
    text-decoration: none;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      @include sprite($common-landing-small-grey);
    }
  }
  @include mq('desktop') {
    margin-left: 0;
    margin-right: 0;
    &__title {
      
    }
    &__content {
    
    }
  }
}
