@import 'variables.scss';
@import 'mixins.scss';
@import 'webfont.scss';
@import 'reset.scss';

@import '../../components/sprites/sprite-common.scss';
@include sprites($sprite-common-sprites);
@import 'swiper.scss';
.sprite-icon {
  display: inline-block;
  @include text-hidden;
}

// Form 요소
@import '../../components/form/index.scss';

// Header
@import '../../components/header/index.scss';
// Navagation
@import '../../components/navigation/index.scss';
// Sidebar
@import '../../components/sidebar/index.scss';
// Footer
@import '../../components/footer/index.scss';
// Top 버튼
@import '../../components/top-button/index.scss';
// Loading
@import '../../components/loading/index.scss';
// Modal
@import '../../components/modal/index.scss';
// Badge
@import '../../components/badge/index.scss';


.shell-main {
  padding-top: 60px;
}

// 에러 페이지
.error-data {
  margin-top: 60px;
  text-align: center;
  &__title {
    margin-top: 20px;
    color: $color-text-emphasize;
    font-size: 18px;
    line-height: 24px;
  }
  &__comment {
    margin-top: 20px;
    color: $color-text-primary;
    font-size: 14px;
    line-height: 20px;
  }
  &__button {
    margin-top: 60px;
    .form-button {
      width: 165px;
      height: 40px;
      font-size: 12px;
      line-height: 40px;
    }
  }
  @include mq('desktop') {
    margin-top: 100px;
  }
}