@import 'variables.scss';
@import 'mixins.scss';
@import '../../components/accordion/index.scss';
@import '../../components/sprites/sprite-common.scss';
@import '../../components/sprites/sprite-customer.scss';
@include sprites($sprite-customer-sprites);


// Layout
// =============================================================================
.shell-main--customer {
  .main-header {
    box-sizing: border-box;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    // 상단 이미지 배경
    background-image: url('/cmsstatic/asset/images/customer-visual.jpg');
    display: none;

    // .main-container {}
    .main-header__title {
      padding: 15px 0;
      color: $color-text-white;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.42;
      text-align: center;
    }
    .main-header__text {
      margin: 20px 10px 0;
      color: $color-text-white;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.42;
      text-align: left;
    }
    @include mq('desktop') {
      display: block;
      height: 310px;
      .main-container {
        display: flex;
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 30px;
        justify-content: space-between;

      }
      .main-header__title {
        padding: 40px 0 0 0;
        width: 270px;
        font-size: 24px;
        text-align: left;
      }
      .main-header__text {
        display: flex;
        align-items: center;
        margin: 0;
        width: 100%;
        height: 310px;
        max-width: 770px;
        margin-left: 30px;
      }
    }
  }
  .main-content {
    // TODO
    &__header {
      position: relative;
      margin-bottom: 20px;
      .main-content__title {
        padding: 16px 0;
        font-size: 18px;
        font-weight: 300;
        line-height: 1;
        color: $color-solid-emphasize;
        text-align: center;
      }
      .main-content__btn-back {
        position: absolute;
        top: 16px;
        left: 10px;
      }
      @include mq('desktop') {
        display: none;
        .main-content__title {
          padding: 0;
          text-align: left;
        }
        .main-content__btn-back {
          display: none;
        }
      }
    }
    &__body {
      // .main-content__main {}
      .main-content__aside {
        margin: 45px 10px 0;
      }
      @include mq('desktop') {
        display: flex;
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 30px;
        justify-content: space-between;
        flex-direction: row-reverse;

        .main-content__main {
          width: 100%;
          max-width: 770px;
          margin-left: 30px;
          margin-top: 45px;
          padding-top: 15px;
        }
        .main-content__aside {
          flex-basis: 270px;
          min-width: 270px;
          margin: 45px 0 0;
        }
      }
    }
  }

  // 메인
  &-main {
    padding-top: 0;
    .main-header {
      display: block;
      height: 539px;
      padding-top: 60px;
      @include mq('desktop') {
        padding-top: 0;
        height: 310px;
      }
    }
  }
  @include mq('desktop') {
    padding-top: 60px;
  }
}

// 네비게이션
.main-content__aside {
  .sidebar-menu {
    &__item {
      + .sidebar-menu__item {
        margin-top: 25px;
      }
    }
    .menu {
      &__title {
        padding: 15px 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        color: $color-text-emphasize;
      }
      &__list {
        border-top: 1px solid $color-line-emphasize;
      }
      &__item {
        border-bottom: 1px solid $color-line-border;
        &.active {
          a {
            font-weight: 600;
          }
        }
        a {
          position: relative;
          display: block;
          height: 50px;
          padding-left: 34px;
          line-height: 52px;
          font-size: 14px;
          font-weight: 300;
          color: $color-text-emphasize;
          text-decoration: none;
          box-sizing: border-box;
          overflow: hidden;
          > i {
            position: absolute;
            top: 13px;
            left: 0;
            display: inline-block;
            background-image: url($sprite-customer-image);
            background-size: $sprite-customer-width $sprite-customer-height;
          }
          &:after {
            content: '';
            position: absolute;
            top: 20px;
            right: 10px;
            @include sprite($common-landing-xsmall-black);
          }
        }
      }
    }
  }
}

// 메인
.shell-main--customer-main {
  //고객센터 메뉴 링크
  .customer-link {
    margin: -302px 10px 100px;
    background-color: $color-solid-white;
    .link-list {
      @include self-clear;
      padding: 1px 0 0 1px;
      margin-right: -2px;
      li {
        float: left;
        width: 50%;
        text-align: center;
        border: 1px solid $color-line-border;
        box-sizing: border-box;
        margin: -1px 0 0 -1px;
        background: #fff;
        a {
          display: block;
          height: 131px;
          padding-top: 26px;
          box-sizing: border-box;
          color: $color-text-emphasize;
          text-decoration: none;
          > i {
            display: block;
            margin: 0 auto 6px auto;
            background-image: url($sprite-customer-image);
            background-size: $sprite-customer-width $sprite-customer-height;
          }
        }
      }
    }
    @include mq('desktop') {
      margin: 0 0 60px;
      .link-list {
        margin-right: -4px;
        li {
          position: relative;
          width: 25%;
          &:hover {
            z-index: 2;
            border-color: $color-line-point;
          }
        }
      }
    }
  }

  // 고객센터 전화
  .customer-center {
    margin-top: 60px;
    padding: 40px 0;
    border: 1px solid $color-line-border;
    text-align: center;
    &__title {
      color: $color-text-emphasize;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
    }
    &__call {
      .call-num {
        margin-top: 15px;
        color: $color-text-point;
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
      }
      .call-time {
        margin-top: 6px;
        font-size: 12px;
        font-weight: 300;
      }
      .call-button {
        display: block;
        width: 136px;
        height: 30px;
        margin: 20px auto;
        border: 1px solid $color-line-border;
        border-radius: 2px;
        color: $color-text-emphasize;
        font-size: 12px;
        font-style: normal;
        line-height: 30px;
        text-decoration: none;
        &:before {
          content: '';
          display: inline-block;
          @include sprite($common-tel);
          vertical-align: middle;
        }
      }
    }
    @include mq('desktop') {
      .call-button {
        display: none;
      }
    }
  }

  // FAQ, 공지사항
  .summary {
    @include content-card-block;
    // FAQ TOP 10
    &.summary--faq {
      .summary__content {
        margin: 30px -10px 0;
        .faq-item {
          width: 140px;
          height: 140px;
          // shadow가 슬라이드 영역을 넘쳐서 안보임 방지 (margin-bottom)
          margin-bottom: 40px;
          padding: 15px 15px 26px;
          border-radius: 10px;
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
          border: solid 1px $color-line-border;
          background-color: $color-solid-white;
          box-sizing: border-box;
    
          &__num {
            display: block;
            width: 20px;
            height: 20px;
            margin-bottom: 15px;
            background-color: $color-solid-emphasize;
            color: $color-text-white;
            border-radius: 20px;
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
            text-align: center;
          }
          &__text {
            display: block;
            width: 100px;
            height: 64px;
            color: $color-text-emphasize;
            font-size: 14px;
            font-weight: 500;
            @include keep-word;
          }
        }
        .swiper-container {
          .swiper-slide {
            width: 140px;
          }
          .swiper-button-prev,
          .swiper-button-next {
            visibility: hidden;
          }
        }
        @include mq('desktop') {
          margin-left: 0;
          margin-right: 0;
          .swiper-container {
            .swiper-button-prev,
            .swiper-button-next {
              visibility: visible;
            }
            .swiper-button-prev {
              top: auto;
              right: 30px;
              bottom: 0;
              left: auto;
            }
            .swiper-button-next {
              top: auto;
              right: 0;
              bottom: 0;
              left: auto;
            }
          }
        }
      }
    }

    // 공지사항
    &.summary--notice {
      margin-top: 5px;
      @include mq('desktop') {
        margin-top: 45px;
      }
      .summary__content {
        .notice-list {
          .notice-item {
            border-bottom: 1px solid $color-line-border;
            a {
              position: relative;
              display: block;
              width: 100%;
              padding: 16px 80px 16px 0;
              font-size: 12px;
              font-weight: 300;
              line-height: 18px;
              color: $color-text-emphasize;
              text-decoration: none;
              box-sizing: border-box;
            }
            &__text {
              display: block;
              max-width: 100%;
              @include text-ellipsis;
            }
            &__date {
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
}

// FAQ
.main-content__main--faq {
  .faq-menu {
    margin: 0 10px 45px;
    .list {
      @include self-clear;
      border-top: 1px solid $color-line-border;
      border-left: 1px solid $color-line-border;
      li {
        float: left;
        width: 50%;
        border-right: 1px solid $color-line-border;
        border-bottom: 1px solid $color-line-border;
        box-sizing: border-box;
        a {
          display: block;
          height: 48px;
          color: $color-text-emphasize;
          font-size: 14px;
          font-weight: 300;
          line-height: 50px;
          text-decoration: none;
          text-align: center;
        }
      }
      .active {
        a {
          background-color: $color-solid-emphasize;
          color: $color-text-white;
        }
      }
    }

    @include mq('desktop') {
      margin-left: 0;
      margin-right: 0;
      .list {
        li {
          width: 25%;
        }
      }
    }
  }

  .faq-contents {
    @include content-card-block;

    // accordion 스타일 추가
    .accordion {
      &__title {
        .button {
          width: 100%;
          padding: 15px 30px 15px 10px;
          text-align: left;
        }
      }
    }
    &__list {
      li {
        .faq-menu {
          margin: 0 0 6px;
          color: $color-text-point;
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
        }
        .faq-content {
          color: $color-text-emphasize;
          font-size: 14px;
          font-weight: 300;
          line-height: 24px;
        }
        .detail-content {
          position: relative;
          padding: 5px 30px 15px 30px;
          font-size: 14px;
          font-weight: 300;
          line-height: 24px;
          border-top: 0;
  
          &:before {
            content: '';
            position: absolute;
            top: 8px;
            left: 10px;
            @include sprite($customer-answer);
          }
        }
      }
    }
  }

  .button-more {
    margin: 60px 10px 0;
    @include mq('desktop') {
      width: 340px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

// 공지사항
.main-content__main--notice {
  .main-content__header {
    display: block;
    margin-bottom: 60px;
  }
  .notice-wrap  {
    // accordion 스타일 추가
    .accordion {
      &__title {
        .button {
          width: 100%;
          padding: 15px 30px 15px 10px;
          text-align: left;
        }
      }
    }
    .notice-list {
      margin: 0 10px;
      border-top: 1px solid $color-line-emphasize;
      li {
        .notice-content {
          margin-bottom: 6px;
          color: $color-text-emphasize;
          font-size: 14px;
          font-weight: 300;
          line-height: 24px;
        }
        .notice-date {
          color: $color-text-primary;
          font-size: 12px;
          line-height: 18px;
        }
        .detail-content {
          margin-bottom: 20px;
          padding: 20px;
          background-color: #f8f8f8;
          border-top: 1px solid $color-line-border;
          font-size: 14px;
          font-weight: 300;
          line-height: 24px;
          em {
            color: $color-text-emphasize;
            font-weight: 500;
            font-style: normal;
          }
        }

        // 상단 고정
        &.important {
          border-bottom: 1px solid $color-line-emphasize;
          .notice-content {
            &:before {
              content: '';
              display: inline-block;
              margin-right: 9px;
              @include sprite($customer-pin);
            }
          }
        }
      }

      @include mq('desktop') {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }


  .button-more {
    margin: 60px 10px 0;
    @include mq('desktop') {
      width: 340px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

// 1:1 문의
.main-content__main--inquiry {
  .main-content__header {
    display: block;
    margin-bottom: 60px;
  }
  .inquiry-wrap {
    margin: 0 10px;
  }
  .form-title {
    margin-bottom: 10px;
    color: $color-text-emphasize;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    &__required {
      display: inline-block;
      margin-left: 6px;
      color: $color-text-point;
    }
  }
  .inquiry-layout {
    .type-form {
      display: flex;
      margin-bottom: 30px;
      &__date {
        margin-left: 6px;
      }
    }
    .order-num {
      display: flex;
      margin-bottom: 30px;
      &__input {
        width: 100%;
        .text {
          margin-top: 6px;
          color: $color-text-error;
          font-size: 11px;
          font-weight: 300;
        }
      }
      &__button {
        flex: 0 0 90px;
        width: 90px;
        margin-left: 6px;
      }
    }
    .phone-form {
      display: flex;
      margin-bottom: 30px;
      &__select {
        flex: 0 0 80px;
        width: 80px;
        margin-right: 6px;
      }
      &__input {
        width: 100%;
      }
    }
    .email-form {
      display: flex;
      margin-bottom: 30px;
      &__input {
        width: 100%;
      }
      &__select {
        flex: 0 0 167px;
        width: 167px;
        margin-left: 6px;
      }
    }
  }
  .inquiry-title {
    position: relative;
    margin-bottom: 30px;
  }
  .inquiry-content {
    position: relative;
    margin-bottom: 10px;
    .form-text {
      padding: 15px 9px 0;
      line-height: 22px;
    }
  }
  .photo-upload {
    overflow: hidden;
    margin-bottom: 60px;
    .swiper-container {
      width: 100%;
    }
    .swiper-slide {
      width: 90px;
    }
    .upload-content {
      position: relative;
      width: 90px;
      height: 90px;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .button {
        position: absolute;
        top: 5px;
        right: 5px;
        .sprite-image-close {
          display: block;
          @include sprite($common-icon-close-small);
          text-indent: 100%;
          line-height: 2;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
    .upload-content.file-upload {
      border: 1px dashed $color-line-ready;
      .image-add {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        appearance: none;
        opacity: 0;
        z-index: 1;
      }
      .add-text {
        position: absolute;
        bottom: 24px;
        left: 0;
        width: 90px;
        color: $color-text-emphasize;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        &:before {
          content: '';
          display: block;
          margin: 0 auto 5px auto;
          @include sprite($common-icon-photo);
        }
      }
    }
  }
  .inquiry-agreement {
    position: relative;
    margin-bottom: 30px;
    padding-top: 20px;
    border-top: 1px solid $color-line-border;
    .agreement-button {
      position: absolute;
      top: 20px;
      right: 0;
      color: $color-text-emphasize;
      font-size: 12px;
      font-weight: 300;
      line-height: 16px;
      border-bottom: 1px solid $color-line-emphasize;
      outline: 0;
    }
  }
  .text-count-box {
    position: absolute;
    top: 0;
    right: 0;
    color: $color-text-emphasize;
    font-size: 12px;
    line-height: 18px;
  }
  @include mq('desktop') {
    .inquiry-wrap {
      margin: 0;
    }
    .inquiry-layout {
      display: flex;
      justify-content: space-between;
    }
    .button-inquiry {
      width: 340px;
      margin: 0 auto;
    }
  }
}

// 혜택
.main-content__main--benefit {
  .benefit-tab {
    display: flex;
    margin: 0 10px 40px;
    [role="tab"] {
      position: relative;
      width: 100%;
      border: 0;
      background: #f8f8f8;
      outline: 0;
      font-size: 14px;
      font-weight: 300;
      height: 50px;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      &:before {
        content: '';
        position: absolute;
        left: -1px;
        right: -1px;
        bottom: 0;
        border-bottom: 1px solid $color-line-emphasize;
      }
  
      &[aria-selected="true"] {
        background-color: #fff;
        outline: 0;
        border-top: 1px solid $color-line-emphasize;
        border-left: 1px solid $color-line-emphasize;
        border-right: 1px solid $color-line-emphasize;
        font-weight: 400;
        &:before {
          border-bottom-color: transparent;
        }
      }
      &:first-child {
        border-left-width: 0;
      }
      &:last-child {
        border-right-width: 0;
      }
    }
  }
  .badge-guide-text {
    width: 250px;
    margin: 0 auto 50px auto;
    color: $color-text-emphasize;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
  .note-wrap {
    margin: 0 10px;
    &__title {
      padding: 15px 0;
      font-size: 14px;
      font-weight: 500;
      color: #000;
      line-height: 1;
      border-bottom: 1px solid $color-line-emphasize;
    }
    &__accordion {
      border-bottom: 1px solid $color-line-border;
      .accordion__item {
        width: 100%;
        .accordion__title {
          .button {
            width: 100%;
            padding: 18px 0 18px 34px;
            background: none;
            text-align: left;
            > i {
              display: inline-block;
              position: absolute;
              top: 15px;
              left: 0;
              background-image: url($sprite-customer-image);
              background-size: $sprite-customer-width $sprite-customer-height;
            }
          }
          &:before {
            right: 10px;
          }
        }
      }
      .accordion__content {
        padding: 20px;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        .text-list {
          .text-box {
            position: relative;
            margin-top: 10px;
            color: $color-text-emphasize;
            font-size: 12px;
            font-weight: 300;
            line-height: 18px;
            .link {
              color: $color-text-emphasize;
            }
            .low-text {
              padding-left: 10px;
              text-indent: -10px;
            }
            &:first-child {
              margin-top: 0;
            }
            &:before {
              content: '';
              position: absolute;
              top: 7px;
              left: -10px;
              width: 2px;
              height: 2px;
              background-color: $color-solid-emphasize;
            }
          }
        }
      }
    }
  }
  @include mq('desktop') {
    .badge-guide-text {
      width: 100%;
    }
    .benefit-tab {
      margin: 0 0 40px;
    }
    .note-wrap {
      margin: 0;
    }
  }

  // 등급별 혜택 안내
  .membership-benefit {
    padding: 0 0 45px;
    overflow: hidden;
    &__title {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 500;
      line-height: 1;
      color: $color-text-emphasize;
      text-align: center;
    }
    &__description {
      font-size: 12px;
      font-weight: 300;
      line-height: 18px;
      text-align: center;
    }
    &__swiper {
      .swiper-badge {
        .swiper-slide {
          position: relative;
          padding: 40px 0 30px;
          width: 160px;
          height: 160px;
          box-sizing: content-box;

          &.swiper-slide-active {
            .membership__badge {
              width: 160px;
              height: 160px;
              &:before {
                background-color: transparent;
              }
            }
          }
        }
        .membership__badge {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 120px;
          height: 120px;
          transition: all 0.8s ease-out;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width :100%;
            height: 100%;
            border-radius: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            transition: all 0.8s ease-out;
          }
        }
        .swiper-container {
          opacity: 0;
          &.swiper-container--active {
            opacity: 1;
          }
        }
        .swiper-button-prev,
        .swiper-button-next {
          visibility: hidden;
          top: 100%;
          margin-top: 0;
          transform: translate(0, 10px);
        }
        .swiper-button-prev {
          left: 0;
        }
        .swiper-button-next {
          right: 0;
        }
      }
      .swiper-grade {
        position: relative;
        .grade {
          text-align: center;
          color: $color-text-emphasize;
          visibility: hidden;
          opacity: 0;
          // max-height: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          transition: visibility 0.5s 0.1s cubic-bezier(0.25, 1, 0.5, 1),
            opacity 0.5s cubic-bezier(0.25, 1, 0.5, 1);

          .grade__name,
          .grade__condition,
          .grade__benefit {
            opacity: 0;
            transform: translateY(50px);
          }

          &.active {
            position: relative;
            visibility: visible;
            opacity: 1;
            // max-height: none;
            transition: visibility 0.01s cubic-bezier(0.25, 1, 0.5, 1),
              opacity 1s cubic-bezier(0.25, 1, 0.5, 1);
            .grade__name,
            .grade__condition,
            .grade__benefit {
              opacity: 1;
              transform: translateY(0);
              transition: all 1s cubic-bezier(0.25, 1, 0.5, 1);
            }
            .grade__name {
              transition-delay: 0.3s;
            }
            .grade__condition {
              transition-delay: 0.5s;
            }
            .grade__benefit {
              transition-delay: 0.6s;
            }
          }
          &.grade--member-white .grade__name {
            color: #f2ebdd;
          }
          &.grade--member-blue .grade__name {
            color: #0086ff;
          }
          &.grade--member-red .grade__name {
            color: #ff2800;
          }
          &.grade--member-purple .grade__name {
            color: #7400ff;
          }
          // &.grade--member-black-s .grade__name {}
          &.grade--member-black-r .grade__name {
            color: #ff781e;
          }

          &__name {
            font-size: 24px;
            font-weight: 600;
            line-height: 1;
          }
          &__condition {
            margin-top: 10px;
            font-size: 14px;
            font-weight: 500;
            line-height: 1;
          }
          &__benefit {
            margin-top: 30px;
            .benefit {
              &__item {
                font-size: 12px;
                font-weight: 300;
                line-height: 18px;
                color: $color-text-primary;
              }
            }
          }
        }
      }
    }
    @include mq('desktop') {
      padding: 0 0 45px;
      &__swiper {
        .swiper-badge {
          .swiper-container {
            overflow: visible;
          }
          .swiper-button-prev,
          .swiper-button-next {
            visibility: visible;
          }
        }
      }
    }
  }
  // 헤지스 배지 안내
  .hazzys-badge-guide {
    margin: 0 10px;
    .tab--badge {
      margin: 0 10px;
      .tablist {
        margin-bottom: 30px;
      }
    }
    .tabs--depth2 {
      .tablist {
        margin-bottom: 60px;
      }
    }
    .member-badge-container {
      .badge-list {
        padding-bottom: 20px;
        border-bottom: 1px solid $color-line-border;
        &__item {
          + .badge-list__item {
            margin-top: 40px;
          }

          .badge {
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
            &__name {
              margin-top: 20px;
              font-size: 14px;
              font-weight: 500;
              line-height: 18px;
              color: $color-text-emphasize;
            }
            // &__preview {}
          }
          .hazzys-badge {
            width: 140px;
            height: 140px;
            margin: 0 auto;
          }
        }
      }
      .badge-guide {
        margin-top: 40px;
        font-size: 12px;
        line-height: 18px;
        font-weight: 300;
        position: relative;
        padding-left: 10px;
        &:before {
          content: '';
          position: absolute;
          top: 7px;
          left: 0;
          width: 2px;
          height: 2px;
          background: $color-solid-default;
          vertical-align: middle;
        }
      }
    }
    .shopping-badge-container {
      padding-bottom: 50px;
      .badge-list {
        &__item {
          + .badge-list__item {
            margin-top: 50px;
          }
          display: flex;

          .badge {
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
            flex-basis: 140px;
            min-width: 140px;
            &__name {
              margin-top: 20px;
              font-size: 14px;
              font-weight: 500;
              line-height: 18px;
              color: $color-text-emphasize;
            }
            // &__preview {}
          }
          .badge-benefit {
            margin: 10px 0 0 20px;
            width: 100%;
            box-sizing: border-box;
            &__title {
              font-size: 14px;
              font-weight: 500;
              line-height: 18px;
              color: $color-text-emphasize;
              strong {
                font-weight: 500;
                color: $color-text-point;
              }
            }
            &__list {
              margin-top: 20px;
            }
            &__item {
              + .badge-benefit__item {
                margin-top: 10px;
              }
              position: relative;
              padding-left: 10px;
              font-size: 12px;
              font-weight: 300;
              line-height: 18px;
              color: $color-solid-emphasize;
              &:before {
                content: '';
                position: absolute;
                top: 7px;
                left: 0;
                width: 2px;
                height: 2px;
                background: $color-solid-emphasize;
                vertical-align: middle;
              }
              .condition {
                display: block;
              }
            }
          }
          .hazzys-badge {
            width: 94px;
            height: 94px;
            margin: 0 auto;
          }
        }
      }
    }
    .review-badge-container {
      padding-bottom: 50px;
      .review-type-container {
        &:first-child {
          margin-top: -5px;
        }
        + .review-type {
          margin-top: 65px;
        }
      }
      .review-type {
        + .review-type {
          margin-top: 65px;
        }
        &__title {
          padding: 15px 0;
          font-size: 14px;
          font-weight: 500;
          line-height: 1;
          color: $color-text-emphasize;
          border-bottom: 1px solid $color-line-emphasize;
        }
        &__content {
          margin-top: 30px;
        }
      }
      .badge-list {
        &__item {
          + .badge-list__item {
            margin-top: 50px;
          }
          display: flex;

          .badge {
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
            flex-basis: 140px;
            min-width: 140px;
            &__name {
              margin-top: 20px;
              font-size: 14px;
              font-weight: 500;
              line-height: 18px;
              color: $color-text-emphasize;
            }
            // &__preview {}
          }
          .badge-benefit {
            margin: 10px 0 0 20px;
            width: 100%;
            box-sizing: border-box;
            &__title {
              font-size: 14px;
              font-weight: 500;
              line-height: 18px;
              color: $color-text-emphasize;
              strong {
                font-weight: 500;
                color: $color-text-point;
              }
            }
            &__list {
              margin-top: 20px;
            }
            &__item {
              + .badge-benefit__item {
                margin-top: 10px;
              }
              position: relative;
              padding-left: 10px;
              font-size: 12px;
              font-weight: 300;
              line-height: 18px;
              color: $color-solid-emphasize;
              &:before {
                content: '';
                position: absolute;
                top: 7px;
                left: 0;
                width: 2px;
                height: 2px;
                background: $color-solid-emphasize;
                vertical-align: middle;
              }
              .condition {
                display: block;
              }
            }
          }
          .hazzys-badge {
            width: 94px;
            height: 94px;
            margin: 0 auto;
          }
        }
      }
    }
    @include mq('desktop') {
      margin: 0;
      .tab--badge {
        margin-left: 0;
        margin-right: 0;
        .tablist {
          margin-bottom: 80px;
        }
      }
      .member-badge-container {
        .badge-list {
          padding-bottom: 60px;
          @include self-clear;
          margin-top: -50px;
          &__item {
            float: left;
            width: 25%;
            // margin: 50px;
            margin: 50px 0 0;
            + .badge-list__item {
              margin-top: 50px;
            }
            .badge {
              &__name {
                height: 36px;
              }
            }
          }
        }
      }
      .shopping-badge-container {
        .badge-list {
          padding-left: 150px;
          &__item {
            + .badge-list__item {
              margin-top: 60px;
            }
            .badge-benefit {
              margin: 20px 0 0 50px;
              &__item {
                .condition {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
      .review-badge-container {
        .review-type-container {
          + .review-type {
            margin-top: 95px;
          }
          display: flex;
          justify-content: space-between;
        }
        .review-type {
          + .review-type {
            margin-top: 0;
            margin-left: 70px;
          }
        }
        .badge-list {
          &__item {
            + .badge-list__item {
              margin-top: 60px;
            }
            .badge {
              &__name {
                height: 36px;
              }
            }
            .badge-benefit {
              margin: 20px 0 0 30px;
              &__item {
                .condition {
                  display: inline-block;
                }
              }
            }
          }
          &.badge-list--special {
            padding-left: 150px;
            &__item {
              border: 1px solid red;
              .badge-benefit {
                margin: 20px 0 0 50px;
              }
            }
          }
        }
      }
    }
  }
}

// 팝업
// =============================================================================
// 개인정보 수집 및 이용 동의
@import '../../components/modal/customer/inquiry-agree.scss';
// 주문 조회
@import '../../components/modal/customer/order-search.scss';