@import '_variables.scss';
@import '_mixins.scss';
@import '../../components/sprites/sprite-common.scss';

// 가입 단계
.shell-main__step {
  position: absolute;
  top: 122px;
  left: 10px;
  right: 10px;
  padding: 8px 0 7px;
  box-sizing: border-box;
  .step__count {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    font-size: 14px;
    font-family: $font-gotham;
    font-weight: $font-gotham-book;
    line-height: 16px;
    color: transparent;
    vertical-align: middle;
    transform: translateY(-50%);
    .count__number {
      position: absolute;
      top: 0;
      &.count__number--now {
        left: 0;
        color: #000;
      }
      &.count__number--total {
        right: 0;
        color: #919191;
      }
    }
  }
  .step__guide {
    margin: 0 16px;
  }
  + .main-header .main-header__comment {
    margin-top: 75px;
  }
  .progress {
    display: flex;
    .progress__item {
      flex: 1;
      padding-top: 1px;
      height: 0;
      overflow: hidden;
      background-color: #ff781e;
      box-sizing: content-box;
      &.active {
        ~ .progress__item {
          background-color: #e6e6e6;
        }
      }
    }
  }

  @at-root {
    .shell-main--member-row #{&} {
      @include mq('desktop') {
        top: 166px;
        width: 50%;
        max-width: 600px;
        left: auto;
        left: 50%;
        .step__count {
          width: 470px;
          left: auto;
          right: 15px;
        }
        .step__guide {
          width: 438px;
          float: right;
          margin-right: 32px;
        }
        + .main-header .main-header__comment {
          margin-top: 60px;
        }
      }
    }
  }
}

// 약관 동의
.agreement {
  &__header {
    position: relative;
    padding-right: 30px;
    .agreement-check-all {
      .checkbox {
        &:checked ~ .name {
          font-weight: 500;
        }
      }
      .name {
        font-family: $font-noto-sans;
        font-weight: 300;
        color: #000;
        line-height: 20px;
      }
    }
    .policy-toggle-button {
      position: absolute;
      top: 0;
      right: 0;
      text-indent: 100%;
      line-height: 2;
      white-space: nowrap;
      overflow: hidden;
      width: 20px;
      height: 20px;
      outline: 0;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include sprite($common-arrow-down-dropdown-small);
      }
      &.active:before {
        @include sprite-position($common-arrow-up-dropdown-small);
      }
    }
  }
  &__body {
    display: none;
  }
  .policy {
    margin-top: 12px;
    padding: 10px 0 0;
    border-top: 1px solid #000;
    &__item {
      position: relative;
      padding: 5px 30px 5px 0;
      &.policy__item--indent {
        padding-left: 10px;
      }

      .policy__name {
        .name {
          font-family: $font-noto-sans;
          font-weight: 300;
        }
      }
      .policy-view-button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        &.button {
          font-size: 12px;
          padding: 5px 0 5px 5px;
          font-weight: 300;
          text-decoration: underline;
          color: #919191;
          outline: 0;
        }
      }
    }
  }
}

// 마케팅 수신 동의
.agreement-marketing {
  &__header {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: $color-text-point;
    text-align: center;
  }
  &__body {
    margin-top: 10px;
    border-top: 1px solid $color-line-border;
    padding-top: 15px;
    .policy {
      &__item {
        position: relative;
        padding: 5px 30px 5px 0;
        .policy__name {
          .checkbox {
            &:checked ~ .name {
              font-weight: 500;
            }
          }
          .name {
            font-family: $font-noto-sans;
            font-weight: 300;
            color: #000;
            line-height: 20px;
          }
        }
        .policy-view-button {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);

          &.button {
            font-size: 12px;
            padding: 5px 0 5px 5px;
            font-weight: 300;
            text-decoration: underline;
            color: #919191;
            outline: 0;
          }
        }
      }
    }
    .policy-comment {
      margin-top: 5px;
      font-size: 12px;
      font-weight: 300;
      line-height: 20px;
      color: $color-text-primary;
    }
  }
}

// 개인정보 유효기간 설정
.privacy_expiry_date {
  &__title {
    font-size: 14px;
    line-height: 22px;
    color: $color-text-emphasize;
  }
  &__content {
    margin-top: 3px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: $color-text-primary;
  }
  .form-block {
    margin-top: 30px;
  }
}

// 비밀번호 입력 유효성 체크
.validate-list {
  padding: 6px 0 0 10px;
  &__item {
    + .validate-list__item {
      margin-left: 14px;
    }
    display: inline-block;
    white-space: nowrap;
    font-size: 11px;
    font-weight: 300;
    line-height: 16px;
    color: $color-text-disabled;
    &.valid {
      color: $color-text-emphasize;
    }
    &.invalid {
      color: $color-text-error;
    }
  }
}

// SNS 연결
.sns-connect {
  &__text {
    padding-top: 10px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: $color-text-point;
    text-align: center;
  }
  &__title {
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: #000;
    text-align: center;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    + .sns-connect__item {
      margin-left: 10px;
    }
    .button {
      position: relative;
      display: block;
      height: 40px;
      text-align: center;
      color: #fff;
      width: 100%;
      .svg-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        color: #fff;
      }
      &.button--naver {
        background-color: #00c73c;
      }
      &.button--kakao {
        background-color: #fae000;
      }
      &.button--facebook {
        background-color: #1a72eb;
      }
    }
  }
}

// 부가 요소
.member-util {
  margin-top: 20px;
  .member-util__help {
    text-align: right;
    .button {
      position: relative;
      padding-right: 20px;
      font-size: 12px;
      font-weight: 300;
      color: $color-text-primary;

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        @include sprite($common-arrow-right-link);
      }
      &:hover {
        color: $color-text-emphasize;
        &:after {
          @include sprite-position($common-arrow-right-link-over);
        }
      }
    }
    + .member-util__sns {
      margin-top: 50px;
    }
    + .member-util__signup {
      margin-top: 30px;
    }
  }
  .member-util__signup {
    margin-top: 20px;
  }
  @at-root {
    .shell-main--member-row #{&} {
      @include mq('desktop') {
        .member-util__help {
          + .member-util__signup {
            margin-top: 40px;
          }
        }
      }
    }
  }
}

// 폼 공통
.member-form {
  .member-form__field {
    + .member-form__field {
      margin-top: 10px;
    }
    + .member-form__field--2 {
      margin-top: 20px;
    }
    + .member-form__submit {
      margin-top: 30px;
    }
    + .member-form__notice {
      margin-top: 40px;
    }
  }
  .member-form__agreement {
    + .member-form__field {
      margin-top: 50px;
    }
    + .member-form__agreement {
      margin-top: 20px;
    }
  }
  .member-form__submit {
    .form-button {
      font-weight: 500;
    }
  }
  .member-form__notice {
    .rules {
      &__item {
        + .rules__item {
          margin-top: 5px;
        }
        padding-left: 12px;
        font-size: 12px;
        line-height: 18px;
        font-family: $font-noto-sans;
        font-weight: 300;
        color: #919191;
        &:before {
          display: inline-block;
          content: '-';
          text-indent: -10px;
        }
      }
    }
    .rules-comment {
      margin-top: 20px;
      padding-left: 14px;
      font-size: 12px;
      line-height: 18px;
      font-family: $font-noto-sans;
      font-weight: 300;
      color: #919191;
      &:before {
        display: inline-block;
        content: '※';
        text-indent: -13px;
      }
    }
  }

  .form-block {
    display: flex;
    &__field {
      width: 100%;
      + .form-block__field {
        margin-left: 6px;
      }
      &.form-block__field--gender {
        flex: 0 0 106px;
        width: 106px;
      }
      &.form-block__field--domain {
        flex: 0 0 167px;
        width: 167px;
      }
      &.form-block__field--phone1 {
        flex: 0 0 90px;
        width: 90px;
      }
      &.form-block__field--button {
        flex: 0 0 106px;
        width: 106px;
        text-align: right;
      }
    }
    // SMS 인증 - 번호 입력
    &--sms-auth {
      .countdown-text {
        padding: 10px 0 0 10px;
        font-family: $font-noto-sans;
        font-size: 12px;
        font-weight: 300;
        color: $color-text-primary;
        em {
          font-style: normal;
          color: $color-text-emphasize;
        }
        &.countdown-text--error {
          position: relative;
          &:before {
            content: "\00a0\00a0";
          }
          .timeout {
            position: absolute;
            left: 10px;
            font-size: 11px;
            color: #f00;
            white-space: nowrap;
          }
        }
      }
      .time-extension-button {
        margin: 10px 10px 0 0;
        font-family: $font-noto-sans;
        font-size: 12px;
        font-weight: 300;
        line-height: 16px;
        color: $color-text-emphasize;
        border-bottom: 1px solid $color-line-emphasize;
        outline: 0;
      }
    }
  }

  // 간편 회원 가입
  &-group {
    .member-form {
      .member-form__field-hr {
        margin-top: 40px;
        border-top: 1px solid $color-line-border;
        padding-top: 40px;
      }
      + .member-form {
        margin-top: 50px;
      }
    }
    @include mq('desktop') {
      display: flex;
      justify-content: space-between;
      .member-form {
        width: 470px;
        .member-form__field-hr {
          display: none;
          + .member-form__agreement {
            margin-top: 50px;
          }
        }
        + .member-form {
          margin-top: 0;
        }
      }
    }
  }

  @at-root {
    .shell-main--member-row #{&} {
      @include mq('desktop') {
        .member-form__field {
          + .member-form__notice {
            margin-top: 30px;
          }
        }
        .member-form__notice {
          + .member-form__submit {
            margin-top: 50px;
          }
        }
      }
    }
  }
}


// .main-visual {
//   height: 200px;
//   background-color: rgba(244, 0, 0, 0.1);
//   + .main-content {
//     margin-top: 0;
//   }
//   @at-root {
//     .shell-main--member-row #{&} {
//       @include mq('desktop') {
//         width: 470px;
//         height: 556px;
//         opacity: 0.48;
//         background-color: #000000;
//         + .main-content {
//           padding-top: 0;
//         }
//       }
//     }
//   }
// }
.main-header {
  margin: 0 10px;
  padding-top: 20px;
  color: #000;
  font-family: $font-noto-sans;
  &__title {
    font-size: 14px;
    font-weight: 300;
  }
  &__comment {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
  }
  &__comment-sub {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: $color-text-primary;
  }
  &.main-header--full {
    padding-top: 50px;
    .main-header__title {
      font-size: 24px;
      line-height: 34px;
      font-weight: 500;
      text-align: center;
    }
  }


  @at-root {
    .shell-main--member-row #{&} {
      @include mq('desktop') {
        margin: 0;
        padding-top: 0;
        &__title {
          font-size: 18px;
        }
        &__comment {
          margin-top: 60px;
          font-size: 34px;
          line-height: 44px;
        }
        &__comment-sub {
          margin-top: 20px;
        }
      }
    }
    .shell-main--member-column #{&} {
      @include mq('desktop') {
        padding-top: 0;
        margin-right: 0;
        margin-left: 0;
        + .main-content {
          margin-top: 60px;
        }
      }
    }
  }
}
.main-content {
  margin: 50px 10px 0 10px;
  @at-root {
    .shell-main--member-row #{&} {
      @include mq('desktop') {
        width: 470px;
        margin: 0;
        padding-top: 80px;
      }
    }
    .shell-main--member-column #{&} {
      @include mq('desktop') {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}

@include mq('desktop') {
  .shell-main--member {
    margin-left: auto;
    margin-right: auto;
    padding: 160px 15px 0;
    max-width: 1200px;
    box-sizing: border-box;

    &.shell-main--member-row {
      display: flex;
      justify-content: space-between;
    }
  }
}


// 회원 가입
// =============================================================================
.main-content.main-content--signup {
  max-width: 470px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
}
.signup-intro {
  margin-top: -20px;
  &__benefits {
    .benefits__list {
      display: flex;
      justify-content: space-around;
    }
    .benefits__item {
      position: relative;
      padding-top: 48px;

      &__icon {
        .signup-cash {
          display: inline-block;
          position: relative;
      
          svg {
            z-index: 1;
            position: relative;
          }
      
          &__group {
            position: absolute;
            top: 10px;
            left: 10px;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            overflow: hidden;
          }
      
          &__list {
            animation: anime-signup-cash 3s cubic-bezier(0.6, 0.48, 0.59, 0.94) infinite;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin: 0;
            padding: 0;
            background-color: #fff;
            list-style: none;
            user-select: none;
          }
      
          &__item {
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
            line-height: 34px;
            overflow: hidden;
            text-align: center;
            color: $color-text-emphasize;

            @for $i from 0 to 10 {
              &:nth-child(#{$i}) {
                transform: translateY(#{($i - 1) * 30}px);
              }
            }
          }
        }
        .signup-coupon {
          display: inline-block;
          position: relative;
      
          svg {
            z-index: 1;
            position: relative;
          }
      
          &__group {
            position: absolute;
            top: 14px;
            left: 8px;
            width: 30px;
            height: 23px;
            overflow: hidden;
          }
      
          &__list {
            animation: anime-signup-coupon 3s cubic-bezier(0, 0.63, 1, 1) infinite;
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 23px;
            margin: 0;
            padding: 0;
            background-color: #fff;
            list-style: none;
            user-select: none;
          }
      
          &__item {
            position: absolute;
            top: 0;
            left: 0;
            width: 33px;
            height: 23px;
            color: #000;
            font-size: 18px;
            line-height: 26px;
            overflow: hidden;
            text-align: center;

            @for $i from 0 to 22 {
              &:nth-child(#{$i}) {
                transform: translateY(#{($i - 1) * 23}px);
              }
            }
          }
        }
        .signup-return-coupon {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
        }
        @keyframes anime-signup-cash {
          0%, 25% {
            transform: translateY(0);
          }
          70% {
            transform: translateY(-210px);
          }
          90% {
            transform: translateY(-235px);
          }
          100% {
            transform: translateY(-240px);
          }
        }
      
        @keyframes anime-signup-coupon {
          0%, 45% {
            transform: translateY(0);
          }
          70%{
            transform: translateY(-425px);
          }
          80%{
            transform: translateY(-445px);
          }
          90%{
            transform: translateY(-455px);
          }
          100% {
            transform: translateY(-460px);
          }
        }
      }


      // .sprite-common {
      //   position: absolute;
      //   left: 50%;
      //   top: 0;
      //   transform: translateX(-50%);
      // }
      > span {
        display: block;
        text-align: center;
        font-size: 12px;
        line-height: 16px;
        font-weight: 300;
        color: $color-text-emphasize;
      }
    }
  }
  &__submit {
    margin-top: 70px;
  }
  @include mq('desktop') {
    &__submit {
      margin-top: 50px;
    }
  }
}

// 회원 가입 완료
// =============================================================================
.message-card {
  padding: 20px 0 70px 0;
  &__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: $color-text-emphasize;
    text-align: center;
    .title__text {
      display: block;
      text-align: center;
    }
  }
  &__text {
    padding-top: 20px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: $color-text-emphasize;
    text-align: center;
    .title__text {
      display: block;
      text-align: center;
    }
  }
  &__body {
    margin-top: 40px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    .box {
      width: 250px;
      margin: 0 auto;
      padding: 28px 46px 28px 20px;
      box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
      background-color: #fff;
      box-sizing: border-box;
      .info {
        display: table;
        + .info {
          margin-top: 6px;
        }
      }
      .info__label {
        display: table-cell;
        min-width: 80px;
      }
      .info__value {
        display: table-cell;
        color: $color-text-emphasize;
      }
    }
  }
  @include mq('desktop') {
    padding-top: 0;
    &__title {
      font-size: 34px;
      line-height: 44px;
      .title__text {
        display: inline-block;
      }
    }
    &__text {
      + .message-card__body {
        margin-top: 90px;
      }
    }
    &__body {
      margin-top: 50px;
      .box {
        width: 375px;
        padding: 27px 53px 28px 48px;
      }
    }
  }
}

.main-content--signup-complete {
  .message-card {
    &__icon {
      .signup-complete {
        position: relative;
        width: 80px;
        margin: 0 auto;
        &__firework {
          position: absolute;
          top: 0;
          left: 0;
          transform-origin: bottom;
        }
      }
    }
    &__title {
      padding: 10px 0;
      font-size: 14px;
      line-height: 14px;
    }
  }
  .subscribe {
    max-width: 470px;
    margin: 0 auto;
    text-align: center;
    &__title {
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      color: $color-text-emphasize;
    }
    &__guide {
      margin: 4px 0 30px;
      font-size: 12px;
      font-weight: 300;
      line-height: 18px;
      color: $color-text-primary;
      a {
        color: $color-text-point;
        font-weight: 500;
        text-decoration: underline;
      }
    }
  }

  @include mq('desktop') {
    margin-top: 0;
    .message-card {
      &__title {
        padding: 20px 0 0;
        font-size: 18px;
        line-height: 18px;
      }
    }
    .subscribe {
      &__guide {
        margin-bottom: 40px;
      }
    }
  }
}
// 회원 가입 오류
// =============================================================================
.main-content.main-content--signup-error {
  .member-form,
  .member-util {
    max-width: 470px;
    margin-right: auto;
    margin-left: auto;
  }
  @include mq('desktop') {
    margin-top: 0;
  }
}

// 팝업
// =============================================================================
.modal {
  // 휴면 해제 안내
  &.modal--reactivated-account {
    .message {
      .message__text + .message__text {
        margin-top: 20px;
      }
    }
  }
  // 비밀번호 변경 안내
  &.modal--expired-password {
    .text-button-group {
      margin-top: 20px;
    }
    @include mq('desktop') {
      .text-button-group {
        margin-top: 30px;
      }
    }
  }
  // 아이디 찾기 / 비밀번호 재설정 - 계정선택
  &.modal--find-account-list {
    .select-account {
      &__title {
        margin-bottom: 20px;
        font-family: $font-noto-sans;
        font-size: 20px;
        line-height: 30px;
        font-weight: 300;
        color: #000;
      }
      &__list {
        max-height: 320px;
        overflow: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
      }
      &__item {
        padding: 20px;
        border: 1px solid #c9c9c9;
        + .select-account__item {
          margin-top: 10px;
        }
        &.active {
          border-color: #000;
        }
      }
      .account {
        position: relative;
        &__info {
          &__item {
            + .account__info__item {
              margin-top: 5px;
            }
          }
          .info {
            font-size: 14px;
            font-weight: 300;
            &__label {
              width: 60px;
              display: inline-block;
              white-space: nowrap;
              color: #919191;
              vertical-align: middle;
            }
            &__value {
              display: inline-block;
              color: #000;
              vertical-align: middle;
            }
          }
        }
        &__radio {
          position: absolute;
          top: 50%;
          right: 30px;
          transform: translateY(-50%);
        }
      }
      @include mq('desktop') {
        &__title {
          font-size: 24px;
          line-height: 44px;
          font-weight: 500;
        }
      }
    }
  }
  // 마케팅 정보 수신 동의
  &.modal--agreement-marketing {
    .modal__footer {
      margin-top: 0;
    }
    .terms-agreement {
      &__box {
        height: 110px;
        overflow: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        font-size: 12px;
        line-height: 22px;
        font-weight: 300;
        padding: 10px;
        color: #717171;
        background-color: #f8f8f8;
        box-sizing: border-box;
      }
      &__form {
        margin-top: 26px;
        display: flex;
        justify-content: space-between;
      }
      @include mq('desktop') {
        &__form {
          margin-top: 30px;
        }
      }
    }
  }
  // 약관 보기
  &.modal--policy-view {
    .modal__footer {
      margin-top: 5px;
    }
    .policy {
      &__content {
        overflow: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        font-size: 12px;
        line-height: 22px;
        font-weight: 300;
        box-sizing: border-box;
        height: 220px;
        padding: 10px;
        color: #717171;
        background-color: #f8f8f8;
      }
    }
    @include mq('desktop') {
      .modal__header {
        .modal__header__title {
          line-height: 34px;
        }
      }
    }
  }
  // 탈퇴 회원
  // &.modal--withdrawn-member {}
}
