@import '_variables.scss';
@import '_mixins.scss';
@import '../../components/sprites/sprite-common.scss';
@import '../../components/sprites/sprite-order.scss';


.main-header {
  position: relative;
  &__title {
    padding: 10px 0 0;
    color: $color-text-emphasize;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
  }
  &__btn-back {
    position: absolute;
    top: 5px;
    left: 2px;
    width: 40px;
    height: 40px;

  }
  @include mq('desktop') {
    &__title {
      margin-bottom: 100px;
      font-size: 24px;
      line-height: 34px;
      text-align: left;
    }
    &__btn-back {
      display: none;
    }
  }
}

.order-wrap {
  position: relative;
  margin-top: 65px;
  .question-mark {
    display: inline-block;
    margin-left: 4px;
    border: 0 none;
    background-color: transparent;
    text-indent: 100%;
    line-height: 2;
    white-space: nowrap;
    overflow: hidden;
    outline: 0;
    @include sprite($common-question-small);
    vertical-align:-4px;
  }
  .title-bx {
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-solid-emphasize;
    .title {
      color: $color-text-emphasize;
      font-size: 14px;
    }
  }
  .form-flex {
    display: flex;
  }
  // 쇼핑백, 주문서, 주문완료 공통 PC WEB
  @include mq('desktop') {
    .product-wrap {
      position: relative;
      width: 770px;
      .all-delete {
        display: flex;
        align-items: center;
        position: static;
        height: 60px;
        margin: 0 0 10px;
        padding: 0;
        background-color: #f8f8f8;
        border-bottom: 0 none;
        .form-checkbox {
          width: 40px;
          text-align: center;
          .name {
            line-height: 14px;
            &:before {
              margin-right: 0;
            }
            .text{
              display: none;
            }
          }
        }
        &__select-delete {
          top: auto;
          bottom: 0;
        }
        &__title-bx {
          display: block;
          span {
            display: inline-block;
            color: $color-text-emphasize;
            font-size: 12px;
            text-align: center;
          }
          .title-info {
            width: 330px;
          }
          .title-price {
            width: 180px;
          }
          .title-add {
            width: 140px;
          }
          .title-delete {
            width: 60px;
          }
        }
      }
      .product-list {
        margin: 0 0 20px;
        li {
          display: flex;
          align-items: center;
          overflow: hidden;
          margin-top:20px;
          .product-checkbox {
            width: 40px;
            text-align: center;
            .form-checkbox {
              position: relative;
              top: auto;
              left: auto;
            }
          }
          .top-area {
            position: absolute;
            top: 0;
            left: 50px;
            margin-bottom: 0;
            .today-special-time {
              width: 310px;
              margin: 0;
            }
          }
          .product-detail {
            width: 340px;
            margin-top: 30px;
            padding-left: 10px;
            &__detail-info {
              width: 210px;
              .price-bx {
                display: none;
              }
            }
          }
          .price-bx.web-price {
            display: block;
            width: 180px;
            text-align: center;
            .product-price {
              margin-bottom: 10px;
              .sale-price {
                font-size: 12px;
              }
              .button-price-info {
                margin-left: 0;
                vertical-align:-4px;
              }
              .tx-family-price {
                margin-top: 4px;
                font-size: 12px;
                line-height: 18px;
              }
            }
            .real-price {
              margin-bottom: 4px;
              font-size: 12px;
            }
            .tx-family-price {
              font-size: 11px;
            }
          }
          .button-opt-buy {
            display: block;
            width: 140px;
            margin: 0;
            text-align: center;
            .form-button {
              display: inline-block;
              width: 90px;
              height: 20px;
              margin-bottom: 5px;
              font-size: 11px;
              line-height: 19px;
              &:first-child {
                margin: 0 0 5px;
              }
            }
          }
          .product-delete {
            position: relative;;
            top: auto;
            right: auto;
            width: 70px;
            text-align: center;
            .sprite-common-close-layer {
              @include sprite($common-close-layer-small);
            }
          }
        }
        .select-price {
          margin: 20px 0 50px;
          padding-bottom: 20px;
          border-bottom: 1px solid $color-grey-01;
          font-size: 14px;
        }
      }
    }
    .mnodr-total {
      width: 270px;
      height: 100%;
      margin:0;
      margin-left: 130px;
      padding-bottom: 124px;
      .mnodr-text {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
      }
      .select-total-price {
        display: none;
      }
      .coupon-mileage-text {
        display: none;
      }
      .button-bx {
        position: relative;
        right: auto;
        bottom: auto;
        left: auto;
        width: 270px;
      }
    }
    .delivery-info {
      width: 770px;
      margin: 0;
      .delivery-form {
        @include self-clear;
        .delivery-bx-left {
          float: left;
          width: 370px;
        }
        .delivery-bx-right {
          float: right;
          width: 370px;
          .form-address {
            margin-top: 0;
          }
        }
      }
      .shop-pickup {
        padding-top: 30px;
        .button-map-view {
          margin-bottom: 60px;
        }
        .spaceh-text-1 {
          margin-bottom: 10px;
          font-size: 18px;
          line-height: 18px;
        }
        .spaceh-text-2 {
          width: 100%;
          margin-bottom: 30px;
          font-size: 14px;
        }
        .visit-member-info {
          display: flex;
          justify-content: space-between;
          width: 770px;
          .info-name {
            width: 370px;
          }
          .info-phone {
            width: 370px;
          }
        }
        .spaceh-pickup-benefit {
          margin-bottom: 20px;
          .title {
            margin-bottom: 30px;
            font-size: 18px;
            line-height: 18px;
          }
          .pickup-benefit-list {
            flex-wrap: nowrap;
            li {
              flex: none;
              width: 80px;
              margin: 0 0 40px 50px;
              &:first-child {
                margin: 0 0 40px 20px;
              }
            }
          }
        }
        .shop-pickup-note {
          dt {
            font-size: 14px;
          }
        }
      }
    }
  }
}

// 전체삭제 및 상단 타이틀
.all-delete {
  position: relative;
  margin: 0 10px 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-solid-emphasize;
  .form-checkbox {
    .name {
      color: $color-text-emphasize;
    }
  }
  &__select-delete {
    position: absolute;
    top: 0px;
    right: 0;
    width: 80px;
    height: 30px;
    background-color: $color-white;
    border-radius: 2px;
    border: solid 1px $color-black;
  }
  &__title-bx {
    display: none;
  }
}

// 상품 리스트
.product-list {
  margin: 0 10px 20px;
  li {
    position: relative;
    margin-top: 10px;
    padding-bottom: 29px;
    border-bottom: 1px solid $color-grey-01;
    &:first-child {
      margin-top: 0;
    }
    .form-checkbox {
      position: absolute;
      top: 0;
      left: 0;
      vertical-align: top;
    }
    .top-area {
      display: flex;
      justify-content: space-between;
      position: relative;
      height: 20px;
      margin-bottom: 20px;
      .today-special-time {
        display: inline-block;
        width: 100%;
        height: 20px;
        margin: 0 50px;
        padding: 0 10px;
        background-color: $color-orange-keycolor;
        color: $color-text-white;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
      }
    }
    .product-detail {
      display: flex;
      margin-top: 20px;
      &__thmb-img {
        width: 80px;
        flex: 0 0 80px;
      }
      &__detail-info {
        width: 100%;
        margin-left: 10px;
        font-size: 12px;
        line-height: 18px;
        .brand-name {
          margin-bottom: 2px;
          color: $color-text-emphasize;
          font-weight: 500;
        }
        .product-name {
          margin-bottom: 2px;
          color: $color-text-emphasize;
        }
        .product-opt {
          margin-bottom: 14px;
        }
        .point-delivery {
          .point-delivery__bx{
            color: $color-text-emphasize;
            font-size: 12px;
            font-weight: 300;
            .tx-color-orange {
              color: $color-text-point;
              font-weight: 500;
            }
            .tx-color-gray {
              color: $color-text-primary;
            }
          }
        }
      }
    }
    .price-bx {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .product-price {
        .sale-price {
          color: $color-text-emphasize;
          font-size: 14px;
          font-weight: 500;
        }
        .tx-family-price {
          margin-top: 4px;
          font-size: 12px;
          line-height: 18px;
        }
      }
      .real-price {
        font-size: 14px;
        font-weight: 500;
        .sale {
          color: $color-text-point;
        }
      }
    }
    .price-bx.web-price {
      display: none;
    }
    .button-opt-buy {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      .form-button{
        height: 30px;
        font-size: 12px;
        font-weight: 300;
        line-height: 30px;
        &:first-child {
          margin-right:5px;
        }
      }
      .button-combined {
        position: relative;
        &:before{
          content: '';
          display: inline-block;
          margin-right: 6px;
          @include sprite($order-combined-shape);
        }
      }
    }
    .product-delete {
      position: absolute;
      top: -10px;
      right: -10px;
      background-color: transparent;
      border: 0 none;
    }
  }
  .select-price {
    margin: 20px 0 60px;
    color: $color-grey-02;
    font-size: 12px;
    text-align: center;
  }
}


// 결제 예정 금액
.mnodr-total {
  position: relative;
  margin: 0 10px;
  .mnodr-tit {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-solid-emphasize;
    color: $color-text-emphasize;
    font-size: 14px;
    font-weight: 500;
  }
  .mnodr-bx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__tit {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      color: $color-text-emphasize;
      font-size: 12px;
      font-weight: 300;
      line-height: 34px;
      .ex-text {
        color: $color-text-primary;
        font-size: 12px;
      }
    }
    &__price {
      width: 145px;
      text-align: right;
      color: $color-text-emphasize;
      font-size: 12px;
      font-weight: 500;
      line-height: 34px;
    }
  }
  .total-price {
    margin: 20px 0 0;
    padding-top: 20px;
    border-top: 1px solid $color-grey-01;
    .mnodr-bx {
      .mnodr-bx__tit{
        font-size: 14px;
      }
      .mnodr-bx__price {
        color: $color-text-point;
        font-size: 14px;
      }
      &:last-child {
        margin-bottom: 60px;
      }
    }
  }
  .mnodr-text{
    margin-bottom: 47px;
    li {
      position: relative;
      padding: 0 0 0 10px;
      margin-top: 10px;
      font-size: 12px;
      font-weight: 300;
      line-height: 18px;
      &:first-child {
        margin-top: 0;
      }
      &:before{
        position: absolute;
        content: '';
        left: 0;
        top: 7px;
        width: 2px;
        height: 2px;
        background-color: $color-grey-02;
      }
    }
  }
  .mnodr-bx.select-total-price {
    .mnodr-bx__tit {
      font-size: 16px;
      line-height: 16px;
    }
    .mnodr-bx__price {
      color: $color-text-point;
      font-size: 16px;
      line-height: 16px;
    }
  }
  .button-bx {
    position: fixed;
    z-index: 20;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .coupon-mileage-text {
    position: relative;
    margin-bottom: 60px;
    padding: 0 0 0 10px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    &:before{
      position: absolute;
      content: '';
      left: 0;
      top: 7px;
      width: 2px;
      height: 2px;
      background-color: $color-grey-02;
    }
  }
}

// 배송 정보
.delivery-info {
  margin: 0 10px;
  .accordion__title {
    button {
      width: 100%;
      padding-bottom: 15px;
      text-align: left;
    }
    &:before {
      content: '';
      right: 0;
      margin-top: -10px;
      @include sprite($common-arrow-down-accordion-large);
    }
  }
  .accordion__content {
    display: block;
  }
  .tablist {
    margin-bottom: 30px;
    button {
      position: relative;
    }
  }
  .delivery-link {
    margin-bottom: 30px;
    text-align: right;
    .link {
      display: inline-block;
      min-width: 80px;
      height: 30px;
      padding: 0 5px;
      border: 1px solid $color-solid-emphasize;
      color: $color-text-emphasize;
      font-size: 12px;
      line-height: 30px;
      text-align: center;
      text-decoration: none;
      + .link {
        margin-left: 4px;
      }
    }
  }
  .delivery-form {
    .input-block {
      width: 100%;
      margin-bottom: 10px;
    }
    .form-phone {
      margin-bottom: 10px;
      .form-select {
        flex: 0 0 90px;
        width: 90px;
      }
      .form-phone-input {
        margin: 0 0 0 10px;
      }
    }
    .member-info {
      margin-bottom: 4px;
      color: $color-text-emphasize;
      font-size: 14px;
      em {
        margin-right: 10px;
        color: $color-text-point;
        font-style: normal;
        font-weight: 500;
      }
      .num {
        position: relative;
        margin-left: 6px;
        padding-left: 7px;
        &:before {
          content: '';
          position: absolute;
          top: 2px;
          left: 0;
          width: 1px;
          height: 14px;
          background-color: $color-grey-01;
        }
      }
    }
    .real-address {
      margin-bottom: 40px;
      color: $color-text-primary;
      font-size: 14px;
      line-height: 24px;
    }
    .form-address {
      .address-search {
        flex: 0 0 106px;
        width: 106px;
        margin-left: 10px;
      }
    }
    .check-field {
      margin: 20px 0 40px;
      .name {
        color: $color-text-emphasize;
      }
    }
    .delivery-requst-select {
      select:required:invalid {
        color: #999;
        option {
          color: $color-text-emphasize;
          option[value=""][disabled] {
            display: none;
          }
        }
      }
      .direct-message-bx {
        margin-top: 10px;
        .direct-message {
          height: 100px;
          color: $color-text-emphasize;
          resize: none;
          &::placeholder {
            color: $color-text-emphasize;
          }
        }
      }
    }
  }
  .shop-pickup {
    .button-map-view {
      width: 100%;
      height: 50px;
      margin-bottom: 30px;
      background-color: $color-solid-white;
      border: 1px solid $color-line-emphasize;
      text-align: center;
      &:before {
        content: '';
        display: inline-block;
        @include sprite($order-rocation-info);
        vertical-align: -3px;
      }
    }
    .spaceh-text-1 {
      margin-bottom: 20px;
      color: $color-text-emphasize;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
    }
    .spaceh-text-2 {
      width: 258px;
      margin: 0 auto 18px auto;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
    }
    .visit-member-info {
      margin-bottom: 40px;
      .input-block {
        margin-bottom: 10px;
      }
      .form-flex {
        .form-select {
          flex: 0 0 90px;
          width: 90px;
        }
        .input-block {
          width: 100%;
          margin-left: 6px;
        }
      }
    }
    .spaceh-pickup-benefit {
      .title {
        margin-bottom: 20px;
        color: $color-text-emphasize;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
      }
      .pickup-benefit-list {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        li {
          position: relative;
          flex: 0 0 33.333333%;
          margin: 0 0 40px;
          .icon-benefit  {
            display: inline-block;
            margin-bottom: 10px;
          }
          .icon-benefit-1 {
            @include sprite($order-pickup-benefit-1);
          }
          .icon-benefit-2 {
            @include sprite($order-pickup-benefit-2);
          }
          .icon-benefit-3 {
            @include sprite($order-pickup-benefit-3);
          }
          .icon-benefit-4 {
            @include sprite($order-pickup-benefit-4);
          }
          .icon-benefit-5 {
            @include sprite($order-pickup-benefit-5);
          }
          .icon-benefit-6 {
            @include sprite($order-pickup-benefit-6);
          }
          .text {
            display: block;
            color: $color-text-emphasize;
            font-size: 12px;
            line-height: 14px;
          }
        }
      }
    }
    .shop-pickup-note {
      margin-bottom: 80px;
      dt {
        margin-bottom: 18px;
        color: $color-text-emphasize;
        font-size: 12px;
        font-weight: 500;
      }
      dd {
        position: relative;
        margin-bottom: 6px;
        padding-left: 10px;
        font-size: 12px;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 7px;
          width: 2px;
          height: 2px;
          background-color: #919191;
        }
      }
    }
  }
}

// 쇼핑백 없을 때
.empty-shoppingback {
  margin-top: 56px;
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
    @include sprite($common-icon-shoppingback);
  }
  .empty-text {
    margin-bottom: 10px;
    color: $color-text-emphasize;
    font-size: 14px;
    line-height: 14px;
  }
  .whis-text {
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 18px;
  }
  .form-button {
    width: 165px;
    height: 40px;
    font-size: 12px;
    line-height: 38px;
  }
  @include mq('desktop') {
    .empty-text {
      font-size: 18px;
      line-height: 20px;
    }
    .whis-text {
      margin-bottom: 60px;
      font-size: 14px;
    }
    .form-button {
      width: 370px;
    }
  }
}

// 주문서
.order-sheet {
  .layer-speech-bubble {
    display: block;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 110px;
    height: 22px;
    padding: 0 7px;
    background-color: $color-orange-keycolor;
    border-radius: 2px;
    color: $color-text-white;
    font-size: 12px;
    &:before {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      border-top: 8px solid $color-solid-point;
      border-right: 5px solid transparent;
      border-bottom: 0 solid transparent;
      border-left: 5px solid transparent;
    }
  }
  .order-product {
    .accordion__item {
      margin: 0 10px 60px;
    }
    .accordion__title {
      border-bottom: 2px solid $color-solid-emphasize;
      button {
        width: 100%;
        padding-bottom: 15px;
        text-align: left;
      }
      &:before {
        content: '';
        right: 0;
        margin-top: -10px;
        @include sprite($common-arrow-down-accordion-large);
      }
    }
    .accordion__content {
      display: block;
      border-top: 0 none;
    }
    .product-th {
      display: none;
    }
  }

  .benefit-payment {
    margin: 0 10px;
    .title-bx {
      margin-bottom: 20px;
    }
    .sale-benefit {
      margin-bottom: 60px;
      .title-bx {
        .button-coupon-change {
          position: absolute;
          top: 0;
          right: 0;
          padding: 3px 8px;
          background-color: $color-solid-white;
          border: 1px solid $color-solid-default;
          color: $color-text-primary;
          font-size: 12px;
          font-weight: 300;
        }
      }
      .benefit-bx {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__tit {
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 0;
          color: $color-text-emphasize;
          font-size: 12px;
          font-weight: 300;
          line-height: 34px;
        }
        &__price {
          width: 150px;
          text-align: right;
          color: $color-text-point;
          font-size: 12px;
          font-weight: 500;
          line-height: 34px;
        }
      }
      .mileage-bx {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid $color-grey-01;
        .benefit-bx {
          margin-bottom: 10px;
          &__price {
            color: $color-text-emphasize;
          }
        }
        .check-bx {
          margin-bottom: 20px;
          .form-radio {
            .radio {
              &:checked {
                + .name:before{
                  @include sprite-position($order-radio-on);
                }
              }
            }
            .name {
              color: $color-text-emphasize;
              font-size: 12px;
              &:before {
                @include sprite($order-radio);
              }
            }
          }
          .mileage-text {
            margin-left: 30px;
            font-size: 12px;
          }
        }
        .my-mileage {
          margin-bottom: 10px;
          font-size: 12px;
        }
        .use-mileage {
          .mileage-inp {
            width: 100%;
          }
          .all-use {
            flex: 0 0 106px;
            width: 106px;
            margin-left: 10px;
          }
        }
      }
    }
    .payment-method {
      position: relative;
      .family-member {
        margin-bottom: 30px;
        text-align: center;
        .form-radio {
          margin-bottom: 10px;
          .radio {
            &:checked {
              + .name {
                border: solid 1px $color-solid-point;
                color: $color-text-point;
              }
              + .name:before{
                @include sprite-position($order-check-on);
              }
            }
          }
          .name {
            width: 257px;
            height: 30px;
            border-radius: 2px;
            border: solid 1px $color-grey-01;
            font-size: 12px;
            line-height: 30px;
            &:before {
              @include sprite($order-check);
            }
          }
        }
        .family-text {
          font-size: 12px;
        }
      }
      .title-bx {
        margin-bottom: 30px;
      }
      .select-payment {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-flow: row wrap;
        margin-bottom: 30px;
        li {
          position: relative;
          width: calc(50% - 3px);
          margin-bottom: 6px;
          .form-radio {
            width: 100%;
            height: 86px;
            .radio {
              left: 0;
              &:checked {
                + .name {
                  border: 1px solid $color-line-emphasize;
                }
              }
            }
            .name {
              width: 100%;
              height: 86px;
              border: 1px solid $color-line-border;
              color: $color-text-emphasize;
              text-align: center;
              line-height: 86px;
              box-sizing: border-box;
              &:before {
                content: none;
              }
              .icon-payment {
                display: inline-block;
                margin-right: 6px;
                vertical-align: middle;
              }
              .icon-payment-1{
                @include sprite($order-payment-1);
              }
              .icon-payment-2{
                @include sprite($order-payment-2);
              }
              .icon-payment-3{
                @include sprite($order-payment-3);
              }
              .icon-payment-4{
                @include sprite($order-payment-4);
              }
            }
          }
        }
      }
    }
    .cash-receipt {
      .title {
        margin-bottom: 20px;
        color: $color-text-emphasize;
        font-size: 14px;
        font-weight: 300;
      }
      .check-receipt {
        margin-bottom: 20px;
        .form-radio {
          .radio {
            &:checked {
              + .name:before{
                @include sprite-position($order-radio-on);
              }
            }
          }
          .name {
            color: $color-text-emphasize;
            &:before {
              @include sprite($order-radio);
            }
          }
          + .form-radio {
            margin-left: 30px;
          }
        }
      }
      .form-flex {
        margin-bottom: 30px;
        .form-select {
          flex: 0 0 90px;
          width: 90px;
        }
        .input-block {
          width: 100%;
          margin-left: 6px;
        }
      }
      .receipt-text {
        margin-bottom: 30px;
        font-size: 12px;
        font-weight: 300;
        li {
          position: relative;
          padding: 0 0 0 10px;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 7px;
            width: 2px;
            height: 2px;
            background-color: #919191;
          }
          &:first-child {
            margin-bottom: 6px;
          }
        }
      }
      .form-business-num {
        margin-bottom: 30px;
      }
    }
    .check-next-payment {
      margin-bottom: 60px;
      padding-bottom: 30px;
      border-bottom: 1px solid $color-grey-01;
      .name {
        color: $color-text-emphasize;
      }
    }
    .check-agree {
      margin-bottom: 30px;
      color: $color-text-emphasize;
      .name {
        color: $color-text-emphasize;
      }
      .agree-view-button {
        margin-left: 15px;
        padding: 5px 0;
        color: #919191;
        font-size: 12px;
        font-weight: 300;
        text-decoration: underline;
        outline: 0;
      }
    }
  }
  // 주문서 PC WEB
  @include mq('desktop') {
    .order-product {
      width: 770px;
      .accordion__item {
        margin: 0 0 60px;
      }
      .accordion__title {
        display: none;
      }
      .product-th {
        display: flex;
        align-items: center;
        height: 60px;
        background-color: #f8f8f8;
        span {
          color: $color-text-emphasize;
          font-size: 12px;
          text-align: center;
        }
        .title-info {
          width: 570px;
        }
        .title-price {
          width: 200px;
        }
      }
      .product-list {
        .product-detail {
          width: 570px;
          padding: 0;
          &__detail-info {
            width: 300px;
          }
        }
      }
      .price-bx.web-price {
        width: 200px;
      }
    }
    .mnodr-total {
      width: 270px;
      margin-left: 130px;
    }
    .benefit-payment {
      width: 770px;
      .sale-benefit {
        .benefit-bx {
          &__tit {
            font-size: 14px;
            font-weight: normal;
          }
          &__price {
            font-size: 14px;
          }
        }
        .mileage-bx {
          .check-bx {
            .form-radio {
              .name {
                font-size: 14px;
                font-weight: normal;
              }
            }
            .mileage-text {
              font-size: 14px;
              font-weight: normal;
            }
          }
          .my-mileage {
            font-size: 14px;
            font-weight: 300;
          }
        }
      }
      .payment-method {
        .desktop-layout {
          display: flex;
          .check-receipt {
            height: 50px;
            line-height: 50px;
          }
          .form-phone, .form-business-num {
            width: 467px;
            margin-left: 40px;
          }
        }
      }
    }
  }
}

// 주문 완료
.order-complete {
  .complete-bx {
    margin: 56px 10px 60px;
    text-align: center;
    &:before {
      content: '';
      display: inline-block;
      margin-bottom: 20px;
      text-align: center;
      @include sprite($order-delivery-complete);
    }
    .complete-text {
      margin-bottom: 10px;
      color: $color-text-emphasize;
      font-size: 14px;
      line-height: 14px;
    }
    .delivery-text {
      width: 276px;
      margin: 0 auto 60px auto;
      font-size: 12px;
      line-height: 18px;
    }
    .order-detail-bx {
      padding-top: 20px;
      border-top: 1px solid #ededed;
      .order-detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__tit {
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 0;
          color: $color-text-emphasize;
          font-size: 12px;
          font-weight: 300;
          line-height: 34px;
          text-align: left;
        }
        &__price {
          width: 150px;
          color: $color-text-emphasize;
          font-size: 12px;
          font-weight: 500;
          line-height: 34px;
          text-align: right;
        }
      }
    }
  }
  .delivery-info {
    margin-bottom: 60px;
    .title-bx {
      margin-bottom: 20px;
      .delivery-info-change {
        position: absolute;
        top: 0;
        right: 0;
        padding: 3px 7px;
        background-color: $color-solid-white;
        border: 1px solid $color-line-default;
        color: $color-text-primary;
        font-size: 12px;
      }
    }
    .real-address {
      margin-bottom: 0;
    }
  }
  .product-wrap {
    margin: 0 10px;
    .title-bx {
      .title {
        display: inline-block;
      }
      .product-arrive {
        display: inline-block;
        margin-left: 8px;
        color: $color-text-point;
        font-size: 14px;
      }
    }
    .product-list {
      li {
        padding-bottom: 20px;
      }
    }
  }
  .button-wrap {
    display: flex;
    justify-content: space-between;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    &__normal {
      display: inline-block;
      width: 100%;
      height: 50px;
      background-color: $color-solid-white;
      border: 1px solid $color-line-emphasize;
      box-sizing: border-box;
      color: $color-text-emphasize;
      font-size: 14px;
      line-height: 48px;
      text-align: center;
      text-decoration: none;
    }
    .button-black {
      background-color: $color-solid-emphasize;
      color: $color-text-white;
    }
  }
  @include mq('desktop') {
    .complete-bx {
      width: 770px;
      margin: 0 0 100px;
      .order-detail-bx {
        .order-detail {
          &__tit {
            font-size: 14px;
          }
          &__price {
            font-size: 14px;
          }
        }
      }
    }
    .mnodr-total {
      width: 770px;
      margin: 0;
      padding: 0;
      .mnodr-bx {
        &__tit {
          font-size: 14px;
          .ex-text {
            font-size: 12px;
          }
        }
        &__price {
          font-size: 14px;
        }
      }
    }
    .delivery-right {
      width: 227px;
      margin-left: 130px;
    }
    .delivery-info {
      width: 100%;
      margin-bottom: 50px;
    }
    .product-wrap {
      width: 100%;
      margin: 0;
      .product-list {
        margin: 0 0 40px;
        li {
          .product-detail {
            width: 100%;
            margin-top: 0;
            padding-left: 0;
            &__detail-info {
              width: 100%;
            }
          }
        }
      }
    }
    .button-wrap {
      display: block;
      position: relative;
      right: auto;
      bottom: auto;
      left: auto;
      &__normal {
        margin-bottom: 10px;
      }
    }
  }
}

@include mq('desktop') {
  .shell-main--order {
    margin-left: auto;
    margin-right: auto;
    padding: 100px 15px 0;
    max-width: 1200px;
    box-sizing: border-box;
  }
  .order-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1170px;
  }
}