@import '_variables.scss';
@import '_mixins.scss';
@import '_swiper.scss';
@import '_ui-slider.scss';
@import '_aos.scss';
@import '../../components/sidebar/index.scss';
@import '../../components/sprites/sprite-common.scss';
@import '../../components/navigation/list-category.scss';

.is-desktop .shell-main--outlet .category-navigation {
  margin-top: 60px;
}

// 아울렛관
.shell-main--outlet {
  padding-top: 60px;
  .main-header {
    position: relative;
    &__title {
      padding: 15px 0 0;
      color: $color-text-emphasize;
      font-size: 18px;
      font-weight: 300;
      text-align: center;
    }
    &__btn-back {
      position: absolute;
      top: 5px;
      left: 2px;
      width: 40px;
      height: 40px;
  
    }
  }
  .product-list-option {
    margin-top: 60px;
  }
  .product-list-container {
    .product-list {
      + .banner {
        margin-top: 60px;
      }
    }
    .banner {
      + .product-list {
        margin-top: 60px;
      }
    }
  }
  .thumbnail-slider {
    margin-top: 65px;
  }
  @include mq('desktop') {
    .main-header {
      &__title {
        font-size: 24px;
        line-height: 34px;
      }
      &__btn-back {
        display: none;
      }
    }
  }
}
