{% extends 'blank.njk' %}

{%block css%}
<link rel="stylesheet" href="{{ '/asset/css/common.css' | url }}">
<link rel="stylesheet" href="{{ '/asset/css/guide.css' | url }}">
<style>
.wrapper {
  height: 100%;
}
</style>
{% endblock%}

{% block content %}
<div class="wrapper">
  <article class="guide-list">
    <h2 class="guide-list__title"><span class="guide-list__title__name">Hazzys</span> 목록</h2>
    <ul class="guide-list__gnb">
      <li class="guide-list__gnb--active">
        <a href="#">작업목록</a>
      </li>
      <li>
        <a href="/guide/index.html">코딩가이드</a>
      </li>
    </ul>
    <ul class="guide-list__tab-page">
      <li><a href="#p1">공통</a></li>
      <li><a href="#p2">메인</a></li>
      <li><a href="#p3">회원가입/로그인</a></li>
      <li><a href="#p4">전시/상품</a></li>
      <li><a href="#p5">주문/결제</a></li>
      <li><a href="#p6">마이페이지</a></li>
      <li><a href="#p7">검색</a></li>
      <li><a href="#p8">고객센터</a></li>
      <li><a href="#p9">아울렛관</a></li>
      <li><a href="#p10">기획전</a></li>
      <li><a href="#p11">이벤트</a></li>
      <li><a href="#p12">메일템플릿</a></li>
    </ul>
    <h3 class="guide-list__toggle open" id="p1">공통</h3>
    <div class="giude_sub">
      <table class="guide-list__tbl-style guide-list__tbl-style--sorttable">
        <caption>
          퍼블리싱 작업목록을 파일명과 완료일자로 보여주는 표
        </caption>
        <colgroup>
          <col style="width: 3%" />
          <col style="width: 25%" />
          <col style="width: 25%" />
          <col style="width: 20%" />
          <col style="*" />
        </colgroup>
        <thead>
          <tr>
            <th scope="col"><span>No</span></th>
            <th scope="col"><span>1Depth</span></th>
            <th scope="col"><span>2Depth</span></th>
            <th scope="col">
              <span>파일명<br />[화면코드]</span>
            </th>
            <th scope="col">기타</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>GNB</td>
            <td></td>
            <td><a href="/guide/layout/header.html" target="_blank" title="">header</a></td>
            <td></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Footer</td>
            <td></td>
            <td><a href="/guide/layout/footer.html" target="_blank" title="">footer</a></td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Layout</td>
            <td></td>
            <td><a href="/guide/layout/index.html" target="_blank" title="">index</a></td>
            <td></td>
          </tr>
          <tr>
            <td>4</td>
            <td>공통 팝업</td>
            <td></td>
            <td><a href="/pages/common/common-modal.html" target="_blank" title="">common-modal</a></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3 class="guide-list__toggle" id="p2">메인<span class="guide-list__toggle__sub">main</span></h3>
    <h3 class="guide-list__toggle open" id="p3">회원/로그인<span class="guide-list__toggle__sub">member</span></h3>
    <div class="giude_sub">
      <table class="guide-list__tbl-style guide-list__tbl-style--sorttable">
        <caption>
          퍼블리싱 작업목록을 파일명과 완료일자로 보여주는 표
        </caption>
        <colgroup>
          <col style="width: 3%" />
          <col style="width: 25%" />
          <col style="width: 25%" />
          <col style="width: 20%" />
          <col style="*" />
        </colgroup>
        <thead>
          <tr>
            <th scope="col"><span>No</span></th>
            <th scope="col"><span>1Depth</span></th>
            <th scope="col"><span>2Depth</span></th>
            <th scope="col">
              <span>파일명<br />[화면코드]</span>
            </th>
            <th scope="col">기타</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>로그인</td>
            <td></td>
            <td><a href="/pages/member/login.html" target="_blank" title="">login</a></td>
            <td>기획서 버전 v0.8 (4/16 퍼블완료)</td>
          </tr>
          <tr>
            <td>2</td>
            <td>로그인 > SNS 아이디 연결</td>
            <td></td>
            <td><a href="/pages/member/social-account.html" target="_blank" title="">social-account</a></td>
            <td>기획서 버전 v0.8 (4/16 퍼블완료)</td>
          </tr>
          <tr>
            <td>3</td>
            <td>로그인 > 아이디/비밀번호 찾기</td>
            <td></td>
            <td><a href="/pages/member/find-password.html" target="_blank" title="">find-password</a></td>
            <td>기획서 버전 v0.8 (4/16 퍼블완료)</td>
          </tr>
          <tr>
            <td>4</td>
            <td>로그인 > 비밀번호 변경</td>
            <td></td>
            <td><a href="/pages/member/change-password.html" target="_blank" title="">change-password</a></td>
            <td>기획서 버전 v0.8 (4/16 퍼블완료)</td>
          </tr>
          <tr>
            <td>5</td>
            <td>회원가입</td>
            <td></td>
            <td><a href="/pages/member/signup.html" target="_blank" title="">signup</a></td>
            <td>기획서 버전 v0.8 (4/16 퍼블완료)<br>(퍼블 최종 수정일 6/7)</td>
          </tr>
          <tr>
            <td>6</td>
            <td>회원가입 > STEP1</td>
            <td></td>
            <td><a href="/pages/member/signup-step-1.html" target="_blank" title="">signup-step-1</a></td>
            <td>기획서 버전 v0.8 (4/16 퍼블완료)</td>
          </tr>
          <tr>
            <td>7</td>
            <td>회원가입 > STEP2</td>
            <td></td>
            <td><a href="/pages/member/signup-step-2.html" target="_blank" title="">signup-step-2</a></td>
            <td>기획서 버전 v0.8 (4/16 퍼블완료)</td>
          </tr>
          <tr>
            <td>8</td>
            <td>회원가입 > STEP3</td>
            <td></td>
            <td><a href="/pages/member/signup-step-3.html" target="_blank" title="">signup-step-3</a></td>
            <td>기획서 버전 v0.8 (4/16 퍼블완료)</td>
          </tr>
          <tr>
            <td>9</td>
            <td>회원가입 > 간편 회원가입</td>
            <td></td>
            <td><a href="/pages/member/easy-signup.html" target="_blank" title="">easy-signup</a></td>
            <td>기획서 버전 v0.8 (4/16 퍼블완료)</td>
          </tr>
          <tr>
            <td>10</td>
            <td>회원가입 완료</td>
            <td></td>
            <td><a href="/pages/member/signup-complete.html" target="_blank" title="">signup-complete</a></td>
            <td>기획서 버전 v0.8 (4/16 퍼블완료)</td>
          </tr>
          <tr>
            <td>11</td>
            <td>회원가입 > 인증완료 > 헤지스닷컴 가입회원</td>
            <td></td>
            <td><a href="/pages/member/signup-error-1.html" target="_blank" title="">signup-error-1</a></td>
            <td>기획서 버전 v0.8 (4/16 퍼블완료)</td>
          </tr>
          <tr>
            <td>12</td>
            <td>회원가입 > 인증완료 > LF Members 가입회원</td>
            <td></td>
            <td><a href="/pages/member/signup-error-2.html" target="_blank" title="">signup-error-2</a></td>
            <td>기획서 버전 v0.8 (4/16 퍼블완료)</td>
          </tr>
          <tr>
            <td>13</td>
            <td>본인인증</td>
            <td></td>
            <td><a href="/pages/member/self-certify-1.html" target="_blank" title="">self-certify-1</a></td>
            <td>기획서 버전 v1.2 (6/8 페이지 추가)</td>
          </tr>
          <tr>
            <td>14</td>
            <td>본인인증 > 정보입력/약관동의</td>
            <td></td>
            <td><a href="/pages/member/self-certify-2.html" target="_blank" title="">self-certify-2</a></td>
            <td>기획서 버전 v1.2 (6/8 페이지 추가)</td>
          </tr>
          <tr>
            <td>15</td>
            <td>본인인증 > 가입완료</td>
            <td></td>
            <td><a href="/pages/member/self-certify-3.html" target="_blank" title="">self-certify-3</a></td>
            <td>기획서 버전 v1.2 (6/8 페이지 추가)</td>
          </tr>
          <tr>
            <td>99</td>
            <td>로그인/회원가입 레이어 팝업</td>
            <td></td>
            <td><a href="/pages/member/layer-popup.html" target="_blank" title="">layer-popup</a></td>
            <td>(6/8 레이어 팝업 수정)</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3 class="guide-list__toggle open" id="p4">전시/상품 <span class="guide-list__toggle__sub">detail</span></h3>
    <div class="giude_sub">
      <table class="guide-list__tbl-style guide-list__tbl-style--sorttable">
        <caption>
          퍼블리싱 작업목록을 파일명과 완료일자로 보여주는 표
        </caption>
        <colgroup>
          <col style="width: 3%" />
          <col style="width: 25%" />
          <col style="width: 25%" />
          <col style="width: 20%" />
          <col style="*" />
        </colgroup>
        <thead>
          <tr>
            <th scope="col"><span>No</span></th>
            <th scope="col"><span>1Depth</span></th>
            <th scope="col"><span>2Depth</span></th>
            <th scope="col">
              <span>파일명<br />[화면코드]</span>
            </th>
            <th scope="col">기타</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>상품상세</td>
            <td></td>
            <td><a href="/pages/product/detail.html" target="_blank" title="">detail</a></td>
            <td>기획서 버전 v0.7 (4/27 퍼블완료)</td>
          </tr>
          <tr>
            <td>2</td>
            <td>상품 목록 - 대카테고리</td>
            <td></td>
            <td><a href="/pages/product/list.html" target="_blank" title="">list</a></td>
            <td>기획서 버전 v0.3 (5/13 퍼블완료)</td>
          </tr>
          <tr>
            <td>3</td>
            <td>상품 목록 - 중카테고리</td>
            <td></td>
            <td><a href="/pages/product/list-depth2.html" target="_blank" title="">list-depth2</a></td>
            <td>기획서 버전 v0.3 (5/13 퍼블완료)</td>
          </tr>
          <tr>
            <td>4</td>
            <td>상품 목록 - 소카테고리</td>
            <td></td>
            <td><a href="/pages/product/list-depth2.html" target="_blank" title="">list-depth3</a></td>
            <td>기획서 버전 v0.3 (5/13 퍼블완료)</td>
          </tr>
          <tr>
            <td>5</td>
            <td>상품 목록 - 세카테고리</td>
            <td></td>
            <td><a href="/pages/product/list-depth4.html" target="_blank" title="">list-depth4</a></td>
            <td>기획서 버전 v0.3 (5/13 퍼블완료)</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3 class="guide-list__toggle open" id="p5">주문/결제<span class="guide-list__toggle__sub">order</span></h3>
    <div class="giude_sub">
      <table class="guide-list__tbl-style guide-list__tbl-style--sorttable">
        <caption>
          퍼블리싱 작업목록을 파일명과 완료일자로 보여주는 표
        </caption>
        <colgroup>
          <col style="width: 3%" />
          <col style="width: 25%" />
          <col style="width: 25%" />
          <col style="width: 20%" />
          <col style="*" />
        </colgroup>
        <thead>
          <tr>
            <th scope="col"><span>No</span></th>
            <th scope="col"><span>1Depth</span></th>
            <th scope="col"><span>2Depth</span></th>
            <th scope="col">
              <span>파일명<br />[화면코드]</span>
            </th>
            <th scope="col">기타</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>쇼핑백</td>
            <td></td>
            <td><a href="/pages/order/shoppingbag.html" target="_blank" title="">shoppingbag</a></td>
            <td>기획서 버전 v0.9 (5/24 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>2</td>
            <td>쇼핑백 > 상품이 없을 경우</td>
            <td></td>
            <td><a href="/pages/order/empty-shoppingbag.html" target="_blank" title="">empty-shoppingbag</a></td>
            <td>기획서 버전 v0.9 (5/24 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>3</td>
            <td>주문서 > 배송정보 입력</td>
            <td></td>
            <td><a href="/pages/order/order-delivery.html" target="_blank" title="">order-delivery</a></td>
            <td>기획서 버전 v0.9 (5/24 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>4</td>
            <td>주문서 > 결제하기</td>
            <td></td>
            <td><a href="/pages/order/order.html" target="_blank" title="">order</a></td>
            <td>기획서 버전 v0.9 (5/24 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>5</td>
            <td>주문결제 완료</td>
            <td></td>
            <td><a href="/pages/order/order-complete.html" target="_blank" title="">order-complete</a></td>
            <td>기획서 버전 v0.9 (5/24 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>99</td>
            <td>주문 레이어 팝업</td>
            <td></td>
            <td><a href="/pages/order/order-layer-popup.html" target="_blank" title="">order-layer-popup</a></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3 class="guide-list__toggle open" id="p6">마이페이지<span class="guide-list__toggle__sub">mypage</span></h3>
    <div class="giude_sub">
      <table class="guide-list__tbl-style guide-list__tbl-style--sorttable">
        <caption>
          퍼블리싱 작업목록을 파일명과 완료일자로 보여주는 표
        </caption>
        <colgroup>
          <col style="width: 3%" />
          <col style="width: 25%" />
          <col style="width: 25%" />
          <col style="width: 20%" />
          <col style="*" />
        </colgroup>
        <thead>
          <tr>
            <th scope="col"><span>No</span></th>
            <th scope="col"><span>1Depth</span></th>
            <th scope="col"><span>2Depth</span></th>
            <th scope="col">
              <span>파일명<br />[화면코드]</span>
            </th>
            <th scope="col">기타</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>마이페이지 메인</td>
            <td></td>
            <td><a href="/pages/mypage/main.html" target="_blank" title="">main</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>2</td>
            <td>나의 쇼핑 내역 - 주문/배송 조회</td>
            <td>목록</td>
            <td><a href="/pages/mypage/order-list.html" target="_blank" title="">order-list</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>3</td>
            <td>나의 쇼핑 내역 - 주문/배송 조회</td>
            <td>목록 없음</td>
            <td><a href="/pages/mypage/order-list_no-data.html" target="_blank" title="">order-list_no-data</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>4</td>
            <td>나의 쇼핑 내역 - 취소/교환/반품</td>
            <td>목록</td>
            <td><a href="/pages/mypage/order-list-claim.html" target="_blank" title="">order-list-claim</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>5</td>
            <td>나의 쇼핑 내역 - 취소/교환/반품</td>
            <td>목록 없음</td>
            <td><a href="/pages/mypage/order-list-claim_no-data.html" target="_blank" title="">order-list-claim_no-data</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>6</td>
            <td>나의 쇼핑 내역</td>
            <td>주문 상세 내역</td>
            <td><a href="/pages/mypage/order-detail.html" target="_blank" title="">order-detail</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>7</td>
            <td>나의 쇼핑 내역</td>
            <td>주문 상세 내역 - 부분 취소</td>
            <td><a href="/pages/mypage/order-detail-cancel.html" target="_blank" title="">order-detail-cancel</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>8</td>
            <td>나의 쇼핑 내역</td>
            <td>주문 상세 내역 - 부분 반품</td>
            <td><a href="/pages/mypage/order-detail-return.html" target="_blank" title="">order-detail-return</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>9</td>
            <td>나의 쇼핑 내역</td>
            <td>주문 상세 내역 - 부분 교환</td>
            <td><a href="/pages/mypage/order-detail-exchange.html" target="_blank" title="">order-detail-exchange</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>10</td>
            <td>나의 쇼핑 내역</td>
            <td>주문 취소</td>
            <td><a href="/pages/mypage/order-cancel.html" target="_blank" title="">order-cancel</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>11</td>
            <td>나의 쇼핑 내역</td>
            <td>주문 취소 완료</td>
            <td><a href="/pages/mypage/order-cancel-complete.html" target="_blank" title="">order-cancel-complete</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>12</td>
            <td>나의 쇼핑 내역</td>
            <td>주문 취소 내역</td>
            <td><a href="/pages/mypage/order-cancel-detail.html" target="_blank" title="">order-cancel-detail</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>13</td>
            <td>나의 쇼핑 내역</td>
            <td>반품 신청</td>
            <td><a href="/pages/mypage/order-return.html" target="_blank" title="">order-return</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>14</td>
            <td>나의 쇼핑 내역</td>
            <td>반품 신청 완료</td>
            <td><a href="/pages/mypage/order-return-complete.html" target="_blank" title="">order-return-complete</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>15</td>
            <td>나의 쇼핑 내역</td>
            <td>반품 내역</td>
            <td><a href="/pages/mypage/order-return-detail.html" target="_blank" title="">order-return-detail</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>16</td>
            <td>나의 쇼핑 내역</td>
            <td>교환 신청</td>
            <td><a href="/pages/mypage/order-exchange.html" target="_blank" title="">order-exchange</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>17</td>
            <td>나의 쇼핑 내역</td>
            <td>교환 신청 완료</td>
            <td><a href="/pages/mypage/order-exchange-complete.html" target="_blank" title="">order-exchange-complete</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>18</td>
            <td>나의 쇼핑 내역</td>
            <td>교환 내역</td>
            <td><a href="/pages/mypage/order-exchange-detail.html" target="_blank" title="">order-exchange-detail</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>

          <tr>
            <td>00</td>
            <td>나만의 혜택</td>
            <td>쿠폰</td>
            <td><a href="/pages/mypage/benefit-coupon.html" target="_blank" title="">benefit-coupon</a></td>
            <td>기획서 버전 v1.1 (5/20 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>00</td>
            <td>나만의 혜택</td>
            <td>쿠폰 - 목록 없음</td>
            <td><a href="/pages/mypage/benefit-coupon_no-data.html" target="_blank" title="">benefit-coupon_no-data</a></td>
            <td>기획서 버전 v1.1 (5/20 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>00</td>
            <td>나만의 혜택</td>
            <td>마일리지</td>
            <td><a href="/pages/mypage/benefit-mileage.html" target="_blank" title="">benefit-mileage</a></td>
            <td>기획서 버전 v1.1 (5/20 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>00</td>
            <td>나만의 혜택</td>
            <td>마일리지 - 목록 없음</td>
            <td><a href="/pages/mypage/benefit-mileage_no-data.html" target="_blank" title="">benefit-mileage_no-data</a></td>
            <td>기획서 버전 v1.1 (5/20 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>00</td>
            <td>나만의 혜택</td>
            <td>나의 배지</td>
            <td><a href="/pages/mypage/benefit-badge.html" target="_blank" title="">benefit-badge</a></td>
            <td>기획서 버전 v1.1 (5/20 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>00</td>
            <td>쇼핑 태그</td>
            <td>위시리스트</td>
            <td><a href="/pages/mypage/shopping-wishlist.html" target="_blank" title="">shopping-wishlist</a></td>
            <td>기획서 버전 v1.1 (5/20 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>00</td>
            <td>쇼핑 태그</td>
            <td>위시리스트 - 목록 없음</td>
            <td><a href="/pages/mypage/shopping-wishlist_no-data.html" target="_blank" title="">shopping-wishlist_no-data</a></td>
            <td>기획서 버전 v1.1 (5/20 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>00</td>
            <td>쇼핑 태그</td>
            <td>최근 본 상품</td>
            <td><a href="/pages/mypage/shopping-recent.html" target="_blank" title="">shopping-recent</a></td>
            <td>기획서 버전 v1.1 (5/20 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>00</td>
            <td>쇼핑 태그</td>
            <td>최근 본 상품 - 목록 없음</td>
            <td><a href="/pages/mypage/shopping-recent_no-data.html" target="_blank" title="">shopping-recent_no-data</a></td>
            <td>기획서 버전 v1.1 (5/20 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>00</td>
            <td>쇼핑 태그</td>
            <td>내 상품평 - 상품평 작성</td>
            <td><a href="/pages/mypage/shopping-review.html" target="_blank" title="">shopping-review</a></td>
            <td>기획서 버전 v1.1 (5/20 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>00</td>
            <td>쇼핑 태그</td>
            <td>내 상품평 - 상품평 작성 - 목록없음</td>
            <td><a href="/pages/mypage/shopping-review_no-data.html" target="_blank" title="">shopping-review_no-data</a></td>
            <td>기획서 버전 v1.1 (5/20 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>00</td>
            <td>쇼핑 태그</td>
            <td>내 상품평 - 상품평 작성 - 폼</td>
            <td><a href="/pages/mypage/shopping-review-write.html" target="_blank" title="">shopping-review-write</a></td>
            <td>기획서 버전 v1.1 (5/20 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>00</td>
            <td>쇼핑 태그</td>
            <td>내 상품평 - 내가 쓴 상품평</td>
            <td><a href="/pages/mypage/shopping-review-history.html" target="_blank" title="">shopping-review-history</a></td>
            <td>기획서 버전 v1.1 (5/20 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>00</td>
            <td>쇼핑 태그</td>
            <td>내 상품평 - 내가 쓴 상품평 - 목록없음</td>
            <td><a href="/pages/mypage/shopping-review-history_no-data.html" target="_blank" title="">shopping-review-history_no-data</a></td>
            <td>기획서 버전 v1.1 (5/20 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>00</td>
            <td>쇼핑 태그</td>
            <td>재입고 알림 내역</td>
            <td><a href="/pages/mypage/shopping-restock-push.html" target="_blank" title="">shopping-restock-push</a></td>
            <td>기획서 버전 v1.1 (5/20 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>00</td>
            <td>쇼핑 태그</td>
            <td>재입고 알림 내역 - 목록없음</td>
            <td><a href="/pages/mypage/shopping-restock-push_no-data.html" target="_blank" title="">shopping-restock-push_no-data</a></td>
            <td>기획서 버전 v1.1 (5/20 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>00</td>
            <td>쇼핑 태그</td>
            <td>내 문의 내역 - 상품 문의</td>
            <td><a href="/pages/mypage/shopping-qna-product.html" target="_blank" title="">shopping-qna-product</a></td>
            <td>기획서 버전 v1.1 (5/20 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>00</td>
            <td>쇼핑 태그</td>
            <td>내 문의 내역 - 상품 문의 - 목록없음</td>
            <td><a href="/pages/mypage/shopping-qna-product_no-data.html" target="_blank" title="">shopping-qna-product_no-data</a></td>
            <td>기획서 버전 v1.1 (5/20 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>00</td>
            <td>쇼핑 태그</td>
            <td>내 문의 내역 - 1:1</td>
            <td><a href="/pages/mypage/shopping-qna.html" target="_blank" title="">shopping-qna</a></td>
            <td>기획서 버전 v1.1 (5/20 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>00</td>
            <td>쇼핑 태그</td>
            <td>내 문의 내역 - 1:1 - 목록없음</td>
            <td><a href="/pages/mypage/shopping-qna_no-data.html" target="_blank" title="">shopping-qna_no-data</a></td>
            <td>기획서 버전 v1.1 (5/20 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>00</td>
            <td>나의 정보 - 회원 혜택</td>
            <td>WHITE</td>
            <td><a href="/pages/mypage/member-benefit-white.html" target="_blank" title="">member-benefit-white</a></td>
            <td></td>
          </tr>
          <tr>
            <td>00</td>
            <td>나의 정보 - 회원 혜택</td>
            <td>BLUE</td>
            <td><a href="/pages/mypage/member-benefit-blue.html" target="_blank" title="">member-benefit-blue</a></td>
            <td></td>
          </tr>
          <tr>
            <td>00</td>
            <td>나의 정보 - 회원 혜택</td>
            <td>RED</td>
            <td><a href="/pages/mypage/member-benefit-red.html" target="_blank" title="">member-benefit-red</a></td>
            <td></td>
          </tr>
          <tr>
            <td>00</td>
            <td>나의 정보 - 회원 혜택</td>
            <td>PURPLE</td>
            <td><a href="/pages/mypage/member-benefit-purple.html" target="_blank" title="">member-benefit-purple</a></td>
            <td></td>
          </tr>
          <tr>
            <td>00</td>
            <td>나의 정보 - 회원 혜택</td>
            <td>BLACK S</td>
            <td><a href="/pages/mypage/member-benefit-black-s.html" target="_blank" title="">member-benefit-black-s</a></td>
            <td></td>
          </tr>
          <tr>
            <td>00</td>
            <td>나의 정보 - 회원 혜택</td>
            <td>BLACK R</td>
            <td><a href="/pages/mypage/member-benefit-black-r.html" target="_blank" title="">member-benefit-black-r</a></td>
            <td></td>
          </tr>
          
          <tr>
            <td>00</td>
            <td>나의 정보 - 배지 혜택</td>
            <td>회원 배지</td>
            <td><a href="/pages/mypage/member-benefit-badge-member.html" target="_blank" title="">member-benefit-badge-member</a></td>
            <td></td>
          </tr>
          <tr>
            <td>00</td>
            <td>나의 정보 - 배지 혜택</td>
            <td>구매 배지</td>
            <td><a href="/pages/mypage/member-benefit-badge-shopping.html" target="_blank" title="">member-benefit-badge-shopping</a></td>
            <td></td>
          </tr>
          <tr>
            <td>00</td>
            <td>나의 정보 - 배지 혜택</td>
            <td>리뷰 배지</td>
            <td><a href="/pages/mypage/member-benefit-badge-review.html" target="_blank" title="">member-benefit-badge-review</a></td>
            <td></td>
          </tr>
          <tr>
            <td>19</td>
            <td>나의 정보 - 내 정보 변경</td>
            <td>비밀번호 확인</td>
            <td><a href="/pages/mypage/member-password-confirm.html" target="_blank" title="">member-password-confirm</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>20</td>
            <td>나의 정보 - 내 정보 변경</td>
            <td>내 정보 변경</td>
            <td><a href="/pages/mypage/member-my-info.html" target="_blank" title="">member-my-info</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>21</td>
            <td>나의 정보 - 내 정보 변경</td>
            <td>내 정보 변경 - 이름/휴대전화 변경</td>
            <td><a href="/pages/mypage/member-my-info-modify.html" target="_blank" title="">member-my-info-modify</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>22</td>
            <td>나의 정보 - 내 정보 변경</td>
            <td>본인 휴대전호 인증</td>
            <td><a href="/pages/mypage/member-sms-verification.html" target="_blank" title="">member-sms-verification</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>23</td>
            <td>나의 정보 - 내 정보 변경</td>
            <td>본인 휴대전화 인증 &gt; 아이디+비밀번호 재확인</td>
            <td><a href="/pages/mypage/member-password-confirm-2.html" target="_blank" title="">member-password-confirm-2</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>24</td>
            <td>나의 정보 - 내 정보 변경</td>
            <td>비밀번호 변경</td>
            <td><a href="/pages/mypage/member-change-password.html" target="_blank" title="">member-change-password</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>25</td>
            <td>나의 정보 - 회원 탈퇴</td>
            <td>회원 탈퇴</td>
            <td><a href="/pages/mypage/member-withdraw.html" target="_blank" title="">member-withdraw</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>26</td>
            <td>나의 정보 - 배송지 관리</td>
            <td>배송지 관리</td>
            <td><a href="/pages/mypage/member-shipping-address.html" target="_blank" title="">member-shipping-address</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>27</td>
            <td>나의 정보 - 배송지 관리</td>
            <td>배송지 관리 - 배송지 없음</td>
            <td><a href="/pages/mypage/member-shipping-address_no-data.html" target="_blank" title="">member-shipping-address_no-data</a></td>
            <td>기획서 버전 v0.6 (4/28 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>99</td>
            <td>마이페이지 레이어 팝업</td>
            <td></td>
            <td><a href="/pages/mypage/layer-popup.html" target="_blank" title="">layer-popup</a></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3 class="guide-list__toggle open" id="p7">검색<span class="guide-list__toggle__sub">search</span></h3>
    <div class="giude_sub">
      <table class="guide-list__tbl-style guide-list__tbl-style--sorttable">
        <caption>
          퍼블리싱 작업목록을 파일명과 완료일자로 보여주는 표
        </caption>
        <colgroup>
          <col style="width: 3%" />
          <col style="width: 25%" />
          <col style="width: 25%" />
          <col style="width: 20%" />
          <col style="*" />
        </colgroup>
        <thead>
          <tr>
            <th scope="col"><span>No</span></th>
            <th scope="col"><span>1Depth</span></th>
            <th scope="col"><span>2Depth</span></th>
            <th scope="col">
              <span>파일명<br />[화면코드]</span>
            </th>
            <th scope="col">기타</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>검색결과</td>
            <td></td>
            <td><a href="/pages/product/search.html" target="_blank" title="">search</a></td>
            <td>기획서 버전 v0.2 (5/13 퍼블완료)</td>
          </tr>
          <tr>
            <td>2</td>
            <td>검색결과 - 없음</td>
            <td></td>
            <td><a href="/pages/product/search-nodata.html" target="_blank" title="">search-nodata</a></td>
            <td>기획서 버전 v0.2 (5/13 퍼블완료)</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3 class="guide-list__toggle open" id="p8">고객센터<span class="guide-list__toggle__sub">customer</span></h3>
    <div class="giude_sub">
      <table class="guide-list__tbl-style guide-list__tbl-style--sorttable">
        <caption>
          퍼블리싱 작업목록을 파일명과 완료일자로 보여주는 표
        </caption>
        <colgroup>
          <col style="width: 3%" />
          <col style="width: 25%" />
          <col style="width: 25%" />
          <col style="width: 20%" />
          <col style="*" />
        </colgroup>
        <thead>
          <tr>
            <th scope="col"><span>No</span></th>
            <th scope="col"><span>1Depth</span></th>
            <th scope="col"><span>2Depth</span></th>
            <th scope="col">
              <span>파일명<br />[화면코드]</span>
            </th>
            <th scope="col">기타</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>고객센터 메인</td>
            <td></td>
            <td><a href="/pages/customer/main.html" target="_blank" title="">main</a></td>
            <td>기획서 버전 v0.3 (6/2 퍼블완료)</td>
          </tr>
          <tr>
            <td>2</td>
            <td>고객센터</td>
            <td>FAQ</td>
            <td><a href="/pages/customer/faq.html" target="_blank" title="">faq</a></td>
            <td>기획서 버전 v0.3 (6/2 퍼블완료)</td>
          </tr>
          <tr>
            <td>3</td>
            <td>고객센터</td>
            <td>1:1 문의</td>
            <td><a href="/pages/customer/inquiry.html" target="_blank" title="">inquiry</a></td>
            <td>기획서 버전 v0.3 (6/2 퍼블완료)</td>
          </tr>
          <tr>
            <td>4</td>
            <td>고객센터</td>
            <td>공지사항</td>
            <td><a href="/pages/customer/notice.html" target="_blank" title="">notice</a></td>
            <td>기획서 버전 v0.3 (6/2 퍼블완료)</td>
          </tr>
          <tr>
            <td>4</td>
            <td>고객센터</td>
            <td>회원 혜택 - 등급별 혜택 안내</td>
            <td><a href="/pages/customer/benefit.html" target="_blank" title="">benefit</a></td>
            <td>기획서 버전 v0.3 (6/2 퍼블완료)</td>
          </tr>
          <tr>
            <td>5</td>
            <td>고객센터</td>
            <td>회원 혜택 - 헤지스 배지 안내</td>
            <td><a href="/pages/customer/benefit-badge.html" target="_blank" title="">benefit-badge</a></td>
            <td>기획서 버전 v0.3 (6/2 퍼블완료)</td>
          </tr>
          <tr>
            <td>99</td>
            <td>고객센터 레이어 팝업</td>
            <td></td>
            <td><a href="/pages/customer/layer-popup.html" target="_blank" title="">layer-popup</a></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3 class="guide-list__toggle open" id="p9">아울렛관<span class="guide-list__toggle__sub">outlet</span></h3>
    <div class="giude_sub">
      <table class="guide-list__tbl-style guide-list__tbl-style--sorttable">
        <caption>
          퍼블리싱 작업목록을 파일명과 완료일자로 보여주는 표
        </caption>
        <colgroup>
          <col style="width: 3%" />
          <col style="width: 25%" />
          <col style="width: 25%" />
          <col style="width: 20%" />
          <col style="*" />
        </colgroup>
        <thead>
          <tr>
            <th scope="col"><span>No</span></th>
            <th scope="col"><span>1Depth</span></th>
            <th scope="col"><span>2Depth</span></th>
            <th scope="col">
              <span>파일명<br />[화면코드]</span>
            </th>
            <th scope="col">기타</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>아울렛관 메인</td>
            <td></td>
            <td><a href="/pages/outlet/main.html" target="_blank" title="">main</a></td>
            <td></td>
          </tr>
          <tr>
            <td>2</td>
            <td>상품 목록 - 2depth</td>
            <td></td>
            <td><a href="/pages/outlet/list-depth2.html" target="_blank" title="">list-depth2</a></td>
            <td>기획서 버전 v0.3 (5/31 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>3</td>
            <td>상품 목록 - 3depth</td>
            <td></td>
            <td><a href="/pages/outlet/list-depth2.html" target="_blank" title="">list-depth3</a></td>
            <td>기획서 버전 v0.3 (5/31 기획서 업데이트)</td>
          </tr>
          <tr>
            <td>4</td>
            <td>상품 목록 - 4depth</td>
            <td></td>
            <td><a href="/pages/outlet/list-depth4.html" target="_blank" title="">list-depth4</a></td>
            <td>기획서 버전 v0.3 (5/31 기획서 업데이트)</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3 class="guide-list__toggle open" id="p10">기획전<span class="guide-list__toggle__sub">promotion</span></h3>
    <div class="giude_sub">
      <table class="guide-list__tbl-style guide-list__tbl-style--sorttable">
        <caption>
          퍼블리싱 작업목록을 파일명과 완료일자로 보여주는 표
        </caption>
        <colgroup>
          <col style="width: 3%" />
          <col style="width: 25%" />
          <col style="width: 25%" />
          <col style="width: 20%" />
          <col style="*" />
        </colgroup>
        <thead>
          <tr>
            <th scope="col"><span>No</span></th>
            <th scope="col"><span>1Depth</span></th>
            <th scope="col"><span>2Depth</span></th>
            <th scope="col">
              <span>파일명<br />[화면코드]</span>
            </th>
            <th scope="col">기타</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>기획전 리스트</td>
            <td></td>
            <td><a href="/pages/promotion/promotion-list.html" target="_blank" title="">promotion-list</a></td>
            <td>기획서 버전 v0.2 (5/28 퍼블완료)</td>
          </tr>
          <tr>
            <td>2</td>
            <td>기획전 타입 A</td>
            <td></td>
            <td><a href="/pages/promotion/promotion-type-a.html" target="_blank" title="">promotion-type-a</a></td>
            <td>기획서 버전 v0.2 (6/8 페이지 추가)</td>
          </tr>
          <tr>
            <td>3</td>
            <td>기획전 타입 B</td>
            <td></td>
            <td><a href="/pages/promotion/promotion-type-b.html" target="_blank" title="">promotion-type-b</a></td>
            <td>기획서 버전 v0.2 (5/28 퍼블완료)</td>
          </tr>
          <tr>
            <td>4</td>
            <td>기획전 타입 C</td>
            <td></td>
            <td><a href="/pages/promotion/promotion-type-c.html" target="_blank" title="">promotion-type-c</a></td>
            <td>기획서 버전 v0.2 (5/28 퍼블완료)</td>
          </tr>
          <tr>
            <td>5</td>
            <td>기획전 타입 D</td>
            <td></td>
            <td><a href="/pages/promotion/promotion-type-d.html" target="_blank" title="">promotion-type-d</a></td>
            <td>기획서 버전 v0.2 (5/28 퍼블완료)</td>
          </tr>
          <tr>
            <td>6</td>
            <td>기획전 타입 E</td>
            <td></td>
            <td><a href="/pages/promotion/promotion-type-e.html" target="_blank" title="">promotion-type-e</a></td>
            <td>기획서 버전 v0.2 (5/28 퍼블완료)</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3 class="guide-list__toggle open" id="p11">이벤트<span class="guide-list__toggle__sub">event</span></h3>
    <div class="giude_sub">
      <table class="guide-list__tbl-style guide-list__tbl-style--sorttable">
        <caption>
          퍼블리싱 작업목록을 파일명과 완료일자로 보여주는 표
        </caption>
        <colgroup>
          <col style="width: 3%" />
          <col style="width: 25%" />
          <col style="width: 25%" />
          <col style="width: 20%" />
          <col style="*" />
        </colgroup>
        <thead>
          <tr>
            <th scope="col"><span>No</span></th>
            <th scope="col"><span>1Depth</span></th>
            <th scope="col"><span>2Depth</span></th>
            <th scope="col">
              <span>파일명<br />[화면코드]</span>
            </th>
            <th scope="col">기타</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>이벤트 리스트</td>
            <td></td>
            <td><a href="/pages/event/event-list.html" target="_blank" title="">event-list</a></td>
            <td>기획서 버전 v0.3 (5/25 퍼블완료)</td>
          </tr>
          <tr>
            <td>2</td>
            <td>이벤트 투표 </td>
            <td></td>
            <td><a href="/pages/event/event-detail-vote.html" target="_blank" title="">event-detail-vote</a></td>
            <td>기획서 버전 v0.3 (5/25 퍼블완료)</td>
          </tr>
          <tr>
            <td>3</td>
            <td>이벤트 댓글 </td>
            <td></td>
            <td><a href="/pages/event/event-detail-reply.html" target="_blank" title="">event-detail-reply</a></td>
            <td>기획서 버전 v0.3 (5/25 퍼블완료)</td>
          </tr>
          <tr>
            <td>4</td>
            <td>이벤트 참여 </td>
            <td></td>
            <td><a href="/pages/event/event-write.html" target="_blank" title="">event-write</a></td>
            <td>기획서 버전 v0.3 (5/25 퍼블완료)</td>
          </tr>
          <tr>
            <td>5</td>
            <td>이벤트 참여완료 </td>
            <td></td>
            <td><a href="/pages/event/event-complete.html" target="_blank" title="">event-complete</a></td>
            <td>기획서 버전 v0.3 (5/25 퍼블완료)</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3 class="guide-list__toggle open" id="p12">메일템플릿</h3>
  </article>
  <div class="go-top" onclick="window.scrollTo(0,0);">TOP</div>
</div>
{% endblock %}

{%block js%}
<script>
	$(document).on("click",'.guide-list__toggle',function(){
		$(this).toggleClass("open");
	})
</script>
{% endblock%}