---
layout: 
title: 퍼블리싱 리스트
---
<link rel="stylesheet" href="{{ '/asset/css/common.css' | url }}">
<link rel="stylesheet" href="{{ '/asset/css/guide.css' | url }}">
<article class="guide-list">
  <h2 class="guide-list__title"><span class="guide-list__title__name">Hazzys</span> 목록</h2>
  <ul class="guide-list__gnb">
    <li class="guide-list__gnb--active">
      <a href="#">작업목록</a>
    </li>
    <li>
      <a href="#">코딩가이드</a>
    </li>
  </ul>
  <ul class="guide-list__tab-page">
    <li><a href="#p1">공통</a></li>
    <li><a href="#p2">메인</a></li>
    <li><a href="#p3">회원가입/로그인</a></li>
    <li><a href="#p4">전시/상품</a></li>
    <li><a href="#p5">주문/결제</a></li>
    <li><a href="#p6">마이페이지</a></li>
    <li><a href="#p7">검색</a></li>
    <li><a href="#p8">고객센터</a></li>
    <li><a href="#p10">메일템플릿</a></li>
    <li><a href="#p9">기획전</a></li>
  </ul>
  <h3 class="guide-list__toggle open" id="p1">공통</h3>
  <div class="section">
    <table class="guide-list__tbl-style guide-list__tbl-style--sorttable">
      <caption>퍼블리싱 작업목록을 파일명과 완료일자로 보여주는 표</caption>
      <colgroup>
        <col style="width:3%"/>
        <col style="width:25%"/>
        <col style="width:25%"/>
        <col style="width:20%"/>
        <col style="*"/>
      </colgroup>
      <thead>
        <tr>
          <th scope="col"><span>No</span></th>
          <th scope="col"><span>1Depth</span></th>
          <th scope="col"><span>2Depth</span></th>
          <th scope="col"><span>파일명<br/>[화면코드]</span></th>
          <th scope="col">기타</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>GNB</td>
          <td>GNB</td>
          <td><a href="#" target="_blank" title="">화면코드</a></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Action Bar</td>
          <td>최근 본 상품</td>
          <td><a href="#" target="_blank" title="">화면코드</a></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Footer</td>
          <td>Footer</td>
          <td><a href="#" target="_blank" title="">화면코드</a></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h3 class="guide-list__toggle open" id="p2">메인</h3>
  <div class="section">
    <table class="guide-list__tbl-style guide-list__tbl-style--sorttable">
      <caption>퍼블리싱 작업목록을 파일명과 완료일자로 보여주는 표</caption>
      <colgroup>
        <col style="width:3%"/>
        <col style="width:25%"/>
        <col style="width:25%"/>
        <col style="width:20%"/>
        <col style="*"/>
      </colgroup>
      <thead>
        <tr>
          <th scope="col"><span>No</span></th>
          <th scope="col"><span>1Depth</span></th>
          <th scope="col"><span>2Depth</span></th>
          <th scope="col"><span>파일명<br/>[화면코드]</span></th>
          <th scope="col">기타</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>홈</td>
          <td></td>
          <td><a href="#" target="_blank" title="">화면코드</a></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h3 class="guide-list__toggle open" id="p3">회원/로그인<span class="guide-list__toggle__sub">member</span></h3>
  <div class="section">
    <table class="guide-list__tbl-style guide-list__tbl-style--sorttable">
      <caption>퍼블리싱 작업목록을 파일명과 완료일자로 보여주는 표</caption>
      <colgroup>
        <col style="width:3%"/>
        <col style="width:25%"/>
        <col style="width:25%"/>
        <col style="width:20%"/>
        <col style="*"/>
      </colgroup>
      <thead>
        <tr>
          <th scope="col"><span>No</span></th>
          <th scope="col"><span>1Depth</span></th>
          <th scope="col"><span>2Depth</span></th>
          <th scope="col"><span>파일명<br/>[화면코드]</span></th>
          <th scope="col">기타</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>로그인</td>
          <td></td>
          <td><a href="/pages/member/login.html" target="_blank" title="">login</a></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>로그인 > SNS 아이디 연결</td>
          <td></td>
          <td><a href="/pages/member/social-account.html" target="_blank" title="">social-account</a></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>로그인 > 아이디/비밀번호 찾기</td>
          <td></td>
          <td><a href="/pages/member/find-password.html" target="_blank" title="">find-password</a></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>로그인 > 비밀번호 변경</td>
          <td></td>
          <td><a href="/pages/member/change-password.html" target="_blank" title="">change-password</a></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>회원가입</td>
          <td></td>
          <td><a href="/pages/member/signup.html" target="_blank" title="">signup</a></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>회원가입 > STEP1</td>
          <td></td>
          <td><a href="/pages/member/signup-step-1.html" target="_blank" title="">signup-step-1</a></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>회원가입 > STEP2</td>
          <td></td>
          <td><a href="/pages/member/signup-step-2.html" target="_blank" title="">signup-step-2</a></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>회원가입 > STEP3</td>
          <td></td>
          <td><a href="/pages/member/signup-step-3.html" target="_blank" title="">signup-step-3</a></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>회원가입 > 간편 회원가입</td>
          <td></td>
          <td><a href="/pages/member/easy-signup.html" target="_blank" title="">easy-signup</a></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>회원가입 완료</td>
          <td></td>
          <td><a href="/pages/member/signup-complete.html" target="_blank" title="">signup-complete</a></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>회원가입 > 인증완료 > 헤지스닷컴 가입회원</td>
          <td></td>
          <td><a href="/pages/member/signup-error-1.html" target="_blank" title="">signup-error-1</a></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>회원가입 > 인증완료 > LF Members 가입회원</td>
          <td></td>
          <td><a href="/pages/member/signup-error-2.html" target="_blank" title="">signup-error-2</a></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h3 class="guide-list__toggle" id="p4">전시/상품</h3>
  <h3 class="guide-list__toggle open" id="p5">주문/결제</h3>
  <h3 class="guide-list__toggle open" id="p6">마이페이지</h3>
  <h3 class="guide-list__toggle open" id="p7">검색</h3>
  <div class="section">
    <table class="guide-list__tbl-style guide-list__tbl-style--sorttable">
      <caption>퍼블리싱 작업목록을 파일명과 완료일자로 보여주는 표</caption>
      <colgroup>
        <col style="width:3%"/>
        <col style="width:25%"/>
        <col style="width:25%"/>
        <col style="width:20%"/>
        <col style="*"/>
      </colgroup>
      <thead>
        <tr>
          <th scope="col"><span>No</span></th>
          <th scope="col"><span>1Depth</span></th>
          <th scope="col"><span>2Depth</span></th>
          <th scope="col"><span>파일명<br/>[화면코드]</span></th>
          <th scope="col">기타</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>검색어 입력</td>
          <td></td>
          <td><a href="#" target="_blank" title="">화면코드</a></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>검색어 입력시(L)</td>
          <td>자동완성</td>
          <td><a href="#" target="_blank" title="">화면코드</a></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>검색결과</td>
          <td></td>
          <td><a href="#" target="_blank" title="">화면코드</a></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>추천검색어</td>
          <td><a href="#" target="_blank" title="">화면코드</a></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>연관검색어</td>
          <td><a href="#" target="_blank" title="">화면코드</a></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>검색결과 없음</td>
          <td><a href="#" target="_blank" title="">화면코드</a></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>상세검색(L)</td>
          <td>상세검색</td>
          <td><a href="#" target="_blank" title="">화면코드</a></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>검색결과 없음</td>
          <td><a href="#" target="_blank" title="">화면코드</a></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h3 class="guide-list__toggle open" id="p8">고객센터</h3>
  <h3 class="guide-list__toggle open" id="p9">메일템플릿</h3>
  <h3 class="guide-list__toggle open" id="p10">기획전</h3>
</article>