<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }} · {{ site.title }}{% else %}{{ site.title or site.name}}{% endif %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="{{ description or site.description }}">
    <meta property="og:url" content="{{ site.url | url }}">
    <meta property="og:type" content="{{ site.type }}">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:image" content="{{ site.image }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="unsafe-url">
    <!-- 공통 CSS -->
    <link rel="stylesheet" href="{{ '/asset/css/common.css' | url }}">
    <!-- 개별 CSS -->
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <div class="app">
      {% include "header/default.njk" %}
      {% include "navigation/default.njk" %}
      {% block content %}
        {{ content | safe }}
      {% endblock %}
      {% block sidebar %}
      {% endblock %}
      {% include "footer/default.njk" %}
    </div>
    <a href="#top" class="top-button">페이지 상단으로 이동</a>
    {% block modal %}
    {% endblock %}
    <script src="{% webpack 'vendor.js' %}"></script>
    <script src="{% webpack 'ui.js' %}"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>
