@import '../sprites/sprite-common.scss';

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;

  > .video {
    position: relative;
    width: 100%;
    vertical-align: top;
  }
  .video-controller {
    position: absolute;
    bottom: 0;
    left: 0;
    .button {
      text-indent: 100%;
      line-height: 2;
      white-space: nowrap;
      overflow: hidden;
      &.button--toggle {
        @include sprite($common-video-pause);
        @at-root {
          .is-paused#{&} {
            @include sprite($common-video-play);
          }
        }
      }
    }
  }
}
